[2022-05-04 18:48] rpaik opened #4494 "Epic: Databricks data warehouse support"
- [x] Integration with Databricks.
- [ ] Export bucket feature for enhanced pre-aggregations support.

[2022-05-04 18:53] rpaik opened #4495 "Epic: Caching performance"
- [ ] Big rollups
- [ ] Caching concurrency improvements

[2022-05-04 18:56] rpaik opened #4496 "Epic: Dynamic schema"
- [ ] DRIVER reference for meta schema access
- [ ] Cube Meta Access in queryRewrite

[2022-05-04 20:04] magno32 opened #4497 "dev Docker Image missing redshift driver"
**Describe the bug**
When trying to run the latest build, I am unable to connect to redshift, with a missing dependency error.

[code]

Looks like https://github.com/cube-js/cube.js/blob/d40d13b0a80cd65b27337e87a523314af585dbc6/packages/cubejs-docker/dev.Dockerfile

Has omitted the redshift driver package.

**To Reproduce**
Run the dev image while using the redshift driver.  In my case, I am activ

[2022-05-05 00:19] rpaik commented on #4493
@paveltiunov here's the Q2 epic for SQL API. Please feel free to edit or add your thoughts here...

[2022-05-06 06:29] ovr commented on #4497
Hello @magno32,

Thank you for submitting the issue. Fix will be available in the next upcoming release.

[2022-05-06 11:37] ovr commented on #4474
Tested & Fixed in `v0.29.56`.

[2022-05-06 11:37] #4474 closed

[2022-05-06 14:21] HardRock4Life commented on #3448
@PieterVanZyl-Dev
Right, it worked! Thank you!

[2022-05-07 04:39] magno32 opened #4505 "Redshift Driver Requires aws api key and secret"
**Describe the bug**
The Redshift driver forces the population of the `CUBEJS_DB_EXPORT_BUCKET_AWS_KEY` and `CUBEJS_DB_EXPORT_BUCKET_AWS_SECRET`.

This is useful in development, however, during deploy that information is available to the sdk under the hood.  I didnt see the same behavior with the `CUBESTORE_S3_BUCKET` and `CUBESTORE_S3_REGION` settings, those work as expected.

I think the relevan

[2022-05-07 20:04] magno32 commented on #4505
Another issue:

https://github.com/cube-js/cube.js/blob/bef623f1d76f934c9469ffca0523ecb32988ec18/packages/cubejs-redshift-driver/src/RedshiftDriver.ts#L127-L129

See example: https://docs.aws.amazon.com/redshift/latest/dg/r_UNLOAD.html#unload-usage-notes

[code]

Redshift also allows providing a role ARN for the `UNLOAD` directive.  In our use-case, this is how we provide credentials to the `UNLOA

[2022-05-08 18:55] lvauvillier opened #4506 "cubesql (pg): can't use with Trino"
**Describe the bug**
I'm not able to connect using the new sqlapi (using postgres) with trino (https://trino.io/).

**To Reproduce**

Cubejs config:

[code]

Trino Config:

[code]
## Errors:

### `pg_catalog.current_schemas(boolean)` is not accessible

`current_schemas(boolean)` is already implemented but not accessible using the `pg_catalog` schema. All system types and function needs to be acces

[2022-05-09 12:20] khozzy commented on #3611
@paveltiunov does it mean that each model/cube needs its Dbt metrics separately?

[2022-05-09 19:34] paveltiunov commented on #4454
@chiragsrvstv Thanks for posting this! As a workaround, you can remove `Events.avgCO2` from the measures list.

[2022-05-10 12:10] johanjvrens commented on #3906
+ 1 [Grafana](https://grafana.com/)

[2022-05-10 22:13] ianschmitz commented on #4387
Can confirm i'm experiencing the same behavior. The where clause for the time dimension is not applied when using the GraphQL API.

[2022-05-11 05:15] guangzh3n commented on #3059
Hi, any update for this?

I am using 0.29.37, but memory still not release.

![image](https://user-images.githubusercontent.com/37389809/167773994-93dcbf43-afbf-4965-b52d-d514810ab387.png)

[2022-05-11 06:03] ryanpei commented on #4495
- https://github.com/cube-js/cube.js/pull/4297
- https://github.com/cube-js/cube.js/pull/4379
- https://github.com/cube-js/cube.js/pull/4500

[2022-05-12 05:24] 7vikpeculiar opened #4524 "Using Datablending with Cube SQL API"
**I want to plot two metrics that are present in separate cubes in the same chart, with SQL API**

In the docs about  [Data Blending](https://cube.dev/docs/schema/advanced/data-blending) it is mentioned in the end that
"Provided we have the aforementioned tables `OnlineOrders` and `RetailOrders` let's assume that we want to chart those measures together and see how they correlate. You can simply p

[2022-05-12 14:53] MrKotov commented on #1927
@paveltiunov Is there any chance for the issue gets included in the 2022 Roadmap?

[2022-05-12 15:47] emahuni commented on #2562
I've this exact problem, exactly! It seems like documentation is lacking this example. It'd be great if someone can add a dynamic schema generation for joins as well. The problem seem to come from the fact that we can't refer to Cubes here someone as we do statically.

[2022-05-14 15:32] lvauvillier commented on #4506
Ok, I see cubesql is moving to postgres protocol. I updated the test using the new postgres:

Cubejs config:

[code]

Trino Config:

[code]

Trino command:
[code]

Cubejs logs
[code]

[2022-05-15 17:06] paveltiunov commented on #4445
For those who migrating from earlier versions workaround is to keep only one `primaryKey: true` per cube.

[2022-05-15 17:15] mfulop opened #4536 "api-gateway: TS compilation error (files missing from NPM package)"
**Describe the bug**
The API Gateway npm package is missing files from src/types. [The source folder](https://github.com/cube-js/cube.js/tree/master/packages/cubejs-api-gateway/src/types) includes several .d files which are missing from the published package, causing compilation errors in TS environments.

**Version:**
0.29.57

[2022-05-16 06:13] jaehyeongchoe opened #4538 "Typos in Dockerfile"
In dev.Dockerfile at line 12
[code]
There is  "\" at the and of rm command
So Env RUSTUP_HOME is not applied.

Also, it is tiny, though

In latest.Dockerfile at line 21 and latest-alpine.Dockerfile at line 18
in comment
`buld -> build`

[2022-05-16 10:39] ivan-vdovin commented on #4524
Hi @7vikpeculiar and thanks for posting this one!
It's not supported right now but it's in our long-term roadmap afaik.

[2022-05-16 17:07] eugene1g commented on #4536
Yep, all `*.d.ts` files are not included in the `dist` bundle (see https://www.unpkg.com/browse/@cubejs-backend/api-gateway@0.30.2/dist/src/types/) and only `enum.ts` exists.

Typescript does not copy `.d.ts` files during the build process because it does not transpile them. The solution is to either copy those files manually (during the build), or rename them to `.ts` so `tsc` picks them up.

[2022-05-17 14:30] reify-thomas-smith commented on #4468
Yes, I am interested in working on this issue.

[2022-05-17 14:32] #4461 closed

[2022-05-17 18:46] tsummerl opened #4552 "devDependencies vs dependencies"
Hi!

I have a question regarding why are cube.js packages installed under devDependencies instead of dependencies and why this is a requirement? What does this break if I install under dependencies?

Thanks in advance!

[2022-05-17 20:27] magno32 opened #4554 "Broken Links on Docs"
All of the links pointing to https://cube.dev/docs/@cubejs-client-core  are currently dead on the docs page.  This happened recently, was able to use them last week.

[2022-05-19 06:53] ryanpei opened #4559 "Error msg to warn me not to give `set` queries a value"
**Is your feature request related to a problem? Please describe.**

When I first use `set` operator in my query, I did not know it was null check (https://cube.dev/docs/query-format#set). So when I pass a `value` for this, I would expect an error message telling me this.

**Describe the solution you'd like**
If I query with `set` operator and I pass in a `value` with it, I would like Cube to retur

[2022-05-19 13:18] MouadBH opened #4562 "Can't import a variable from other file"
**Describe the bug**
I tried to import a variable from other javascript file to the file of my cube, but  I faced this problem while when I used `import`, photo of the error below.

**To Reproduce**
I followed the instructions in this link [https://cube.dev/docs/schema/reference/execution-environment#import-export](https://cube.dev/docs/schema/reference/execution-environment#import-export)

**Expe

[2022-05-19 15:29] ashwanisinghh opened #4563 "Query is matching with preaggregation in which dimension doesn't exist"
**Describe the bug**
I have created a preagg with set measures & dimensions. But when I am querying the data with filter on dimension which doesn't exist in preaggregation, it throws error that column does not exist.

**To Reproduce**
Steps to reproduce the behavior:
create preaggregation with 1 measure & 1 dimension without any timeDimension
Then create a query for that preagg with 1 additional f

[2022-05-19 16:46] reify-thomas-smith opened #4565 "Support percents that are not multiplied by 100."
Generally, I want to handle formatting in the front-end code, not in Cube. For instance, if I want to display a number as a percentage in a table, then Cube will provide a ratio measure, and I'll turn it into a percentage string in the table column definition using Intl.NumberFormat. In particular, I expect Cube to provide a raw ratio, not a ratio multiplied by 100. This is consistent with the beh

[2022-05-20 03:33] alippai opened #4566 "Apache Arrow Flight as datasource and API"
Arrow Flight protocol would be nice both as a datasource and as an API for downstream clients.

Some useful links:
https://github.com/apache/arrow-rs/issues/1413
https://arrow.apache.org/blog/2019/10/13/introducing-arrow-flight/
https://github.com/apache/arrow-rs/tree/master/arrow-flight

Why?
It's faster, likely it'll be a great standard. It might make possible adding eg. Datafusion or simple par

[2022-05-20 09:20] BSuthar712 opened #4567 "Integrate this playground in my existing react/next js project"
**Trying to integrate this project into my existing next js project**

I can see in the description we can just embed components that the playground project provides into our existing one.
could you please provide a detailed guide to do so?

I tried to follow the readme file but It is not working!
https://github.com/cube-js/cube.js/tree/master/packages/cubejs-playground

Thanks a lot in advance!

[2022-05-20 13:27] ivan-vdovin commented on #4567
Hi @BSuthar712 !
First of all, let me recommend migrating your Express-based deployment of Cube to Docker. Embedding Cube within Express is not recommended because it might lead to various issues. Please see this [blog post](https://cube.dev/blog/cubejs-loves-docker/) for details. Also, there’s a [migration guide](https://cube.dev/docs/configuration/overview#migrating-from-express-to-docker).

As

[2022-05-20 13:39] julio-burgos opened #4570 "Unsopprted react 18 strictmode"
**Describe the bug**
Hooks that use useEffect such as useCubeQuery, does not update correctly isMounted.current when using strictmode.

**To Reproduce**
Steps to reproduce the behavior:
1. Use latest version of "@cubejs-client/react"
2. Wrap the app with  React.StrictMode

**Expected behavior**
A clear and concise description of what you expected to happen.

**Minimally reproducible Cube Schema**

[2022-05-20 14:15] guilherme-moneri commented on #4201
I'm having some problems with this. When using a boolean operator in the query filter, the members seem to vanish from the query parameter passed on the **/load** and **/dry-run** requests and I get the error `"Invalid query format: child \"filters\" fails because [\"filters\" at position 0 does not match any of the allowed types]"`.

This is the filter I'm using:
`[
            {
              an

[2022-05-20 14:25] ThomasKientz commented on #4201
@guilherme-moneri You are not missing something. My guess is that `AffiliatesPrograms.programsId` doesn't exist (look for a typo maybe?).

[2022-05-20 14:46] guilherme-moneri commented on #4201
@ThomasKientz If I don't use the **and** operator it works as intended though. Like this
`filters: [
            {
              member: "AffiliatesPrograms.programsId",
              operator: "equals",
              values: [
                this.partnerId
              ]
            }
          ]`

[2022-05-20 16:02] BSuthar712 commented on #4567
Hi @ivan-vdovin
Thanks a lot for your response.

I am not trying to use that in express.
I am trying to embed this in my next js application. Basically, in react js.
Could you please help me out with this?

Thanks a lot in advance!

[2022-05-20 16:42] unsay opened #4571 "MSSQL driver fails as result of SQL API applying constraints?"
**Log failure**

[code]

**Version:**
0.30.4

**Additional context**

The addition of constraints in cubesql eeb42bec4d8635a647c638857bfa12f5f3518f1c seems to prevent the MSSQL driver from working via the sqlapi. Best I can grok is it relies introspection of `INFORMATION_SCHEMA` and its ilk for integrity.

While not an inherent issue with cubesql, it seems to be incomplete implementation of the MS

[2022-05-20 17:08] #4495 closed

[2022-05-21 16:52] MarkLyck commented on #4398
@paveltiunov any plans on adding this? Being able to use variables is essential to being able to use this in production.

[2022-05-23 11:15] ashwanisinghh commented on #4563
@ivan-vdovin any status on this please

[2022-05-23 11:51] ivan-vdovin commented on #4562
Hey @MouadBH ,
Have you tried to use exactly the same folder? I would like to know if it works at all for you

[2022-05-23 12:17] ivan-vdovin commented on #4566
Thanks for the great question!
As far as I know, it's not in the roadmap for now but let's keep this one open so the dev team can take a closer look.

[2022-05-23 17:57] ovr commented on #4571
Hello @unsay,

As I can see from the query, you are trying to connect PowerBI via SQL API; is it correct?

If yes, We have already implemented a fix in the PR: https://github.com/cube-js/cube.js/pull/4579. It will be available in the next release.

Thanks

[2022-05-23 18:16] unsay commented on #4571
@ovr, you are correct. Thank you. I'll watch for the release and follow-up as necessary.

[2022-05-23 19:39] nimblestart opened #4585 "connect to MS SQL server using windows authentication and get an error (ConnectionError: Login failed. The login is from an untrusted domain and cannot be used with Integrated authentication))"
I'm trying to connect to MS SQL server using windows authentication and get an error, below is my setup, can I get help for this issue.

**.env file**
CUBEJS_DB_HOST=//removed for the post
CUBEJS_DB_NAME=<YOUR_DB_NAME>
CUBEJS_DB_PORT=<YOUR_DB_PORT>
CUBEJS_DB_USER=<YOUR_DB_USER>
CUBEJS_DB_PASS=<YOUR_DB_PASS>
CUBEJS_DB_DOMAIN=<YOUR_DB_DOMAIN>
CUBEJS_DEV_MODE=true
CUBEJS_DB_TYPE=mssql
CUBEJS_API_SECR

[2022-05-24 09:47] #4554 closed

[2022-05-24 09:54] hassankhan commented on #4554
Hi @magno32, should be fixed now, thanks for reporting 👍

[2022-05-24 19:12] ataft opened #4595 "information_schema views and constraint_column_usage"
When connecting our BI tool (FlexIt Analytics) to Cube (as Postgres), our tool attempts to query both the `information_schema.views` and `information_schema.constraint_column_usage` tables for view and constraint discovery, but both tables are not found. I realize that views and column constraints are not applicable to Cube, but many BI tools will attempt to discover these. Do you plan on making t

[2022-05-25 01:19] #4505 closed

[2022-05-25 08:05] ivan-vdovin commented on #4552
Hi @tsummerl !
What do you mean by requirement here? You should be able to install cube as a dependency for your project.
Sharing an example for your project will let me be more specific.

[2022-05-26 12:11] buntarb commented on #4566
Hi, @alippai. This is an excellent point, and we have already discussed it a few times. But unfortunately, we do not have enough capacity to implement it right now. At the same time, we are open to contributions from the community side. So if you feel that you want to help us with this improvement, you are welcome to contribute. Feel free to ping me if you decide to; I will be glad to discuss the

[2022-05-26 13:14] okankaraduman opened #4603 "Joining Across Different Databases - Connection Refused"
**Describe the bug**

I am trying to join data with different databases.(Apache Druid and PostgreSQL). When I create cube.js for defining database drivers ,  it starts to give me a `cube_1  | Error: connect ECONNREFUSED 127.0.0.1:5432` error which is pointing nothing.

I can query PostgreSQL tables separately but not the Druid ones.

**Expected behavior**

I should be able to query and join data f

[2022-05-26 14:11] vprus opened #4604 "missing data is always forced to 0"
Since commit https://github.com/cube-js/cube.js/pull/3664/files if a pivot does not have any values for particular combination of dimensions, '0' is returned. This is suboptimal, because in a number of contexts, missing data and zero have different meaning. For example, I use cubejs to visualize certain business predictions, where missing data can indicate a technical problem, while "0" indicates

[2022-05-27 13:59] ivan-vdovin commented on #4603
Hi @okankaraduman!
This error says that Cube can't connect to your DB for some reason. Have you tried to use Druid as a single DB or connect directly?

[2022-05-27 14:06] ivan-vdovin commented on #4201
Hi @guilherme-moneri !
Could you open a new issue? Please make sure to attach your schema files and your query.

[2022-05-27 14:06] #4201 closed

[2022-05-27 17:00] okankaraduman commented on #4603
Hello @ivan-vdovin ,

Druid itself works fine when it's single DB.

[2022-05-29 03:54] Stainless5792 opened #4613 "Docker Compose deploy failed with "Error: dbType, apiSecret are required option(s)""
**Describe the bug**
Follow the official doc ["running in production" section ](https://cube.dev/docs/caching/running-in-production) with the docker compose, just copy the docker-compose file content, then bring it up and got "Error: dbType, apiSecret are required option(s)"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'official doc ["running in production" section ](https://cube.de

[2022-05-30 08:54] ThomasKientz opened #4614 "/cubejs-api/v1/sql : cast parameters are included in returned SQL which is not valid."
With Clickhouse.

This http query to `/cubejs-api/v1/sql` for the query :

`{"dimensions":["ReseauFactureReseauCoverage.annee"],"filters":[{"member":"ReseauFactureReseauCoverage.annee","operator":"equals","values":["2019"]}],"limit":10000}`

returns the following SQL

This part is not valid SQL  :

I guess it comes from :

https://github.com/cube-js/cube.js/blob/e8c72d630eecd930a8fd36fc52f9b594a45

[2022-05-31 04:51] manan-sc commented on #3370
@paveltiunov - Is addressing this bug on the roadmap?

[2022-05-31 08:26] nassima-creator commented on #3520
issue still persist (trying with ElasticSearch 7.15)

[2022-05-31 14:21] ovr commented on #4571
@unsay Did you have a chance to try it with the latest version? Thanks

[2022-05-31 14:55] unsay commented on #4571
I was able to connect to the SQL API, through received other errors, haven't explored it much. Here's a current error. I'll explore more in a few hours.

[code]

[2022-06-01 05:06] paveltiunov commented on #4538
@jaehyeongchoe Does it fail for you? If so could you please provide an error message?

[2022-06-01 05:14] paveltiunov commented on #1029
Querying partitioned rollups without time dimensions has been implemented in the latest version.

[2022-06-01 05:14] #1029 closed

[2022-06-01 05:17] paveltiunov commented on #1797
Please see https://github.com/cube-js/cube.js/blob/master/CONTRIBUTING.md#implementing-a-driver

[2022-06-01 05:17] #1797 closed

[2022-06-01 05:22] #3329 closed, assigned to nobody

[2022-06-01 05:26] paveltiunov commented on #3434
Please see https://github.com/cube-js/cube.js/blob/master/DEPRECATION.md for deprecation notices.

[2022-06-01 05:26] #3434 closed

[2022-06-01 05:35] #3878 closed

[2022-06-01 05:37] #4317 closed

[2022-06-01 08:13] ivan-vdovin commented on #4613
Hi @Stainless5792 !
Could you try the following guide to run Cube in dev mode and set up a DB connection before moving to prod setup?
[https://cube.dev/docs/getting-started/docker/compose](https://cube.dev/docs/getting-started/docker/compose)

[2022-06-01 08:31] vasilev-alex commented on #4604
Hi @vprus!

Yeah, we missed that part out. But reverting this will cause a breaking change, which we only can do in the next minor release.

[2022-06-01 08:59] Stainless5792 commented on #4613
Hi @ivan-vdovin , I've tried the dev mode and it does can work, but not for the prod setup.

[2022-06-01 09:31] vprus commented on #4604
Thank you, as soon as it is fixed eventually, I'll be happy, no rush.

[2022-06-01 11:49] ivan-vdovin commented on #4603
Could you share your config for this single DB case?
I don't see any DB params except the URL for Druid in the attached config. Could you try using DB params like user and pass explicitly for Druid driver there?

[2022-06-01 12:24] vprus opened #4649 "Configurable global default for refreshKey"
Unless I specify refreshKey for a particular code, it defaults to 2 minutes for BQ and to 10 seconds for other databases. That is really wasteful in our case. We update analytics once a day, to hitting database after 10 seconds is not necessary, a refreshKey of 'every 1 hour' will be more useful. I can change it for each cube, but this is tedious and error-prone work.

I would like a way to specif

[2022-06-01 12:35] vprus opened #4650 "Customize which queries are refreshed"
We are using CubeJS based analytics with a number of users, and as of right now, Redis stores about 1000 saved query results.
Some of these queries are very common - e.g. total orders per day - I would like them to auto-refresh. Some of them are very special - the number of orders delivered to the North Pole via albatross delivery. Nobody will run it again.

Right now, I have two options:
- Don't

[2022-06-01 12:38] #4595 closed

[2022-06-01 12:46] ovr commented on #4506
Implemented ✅

Implemented ✅

Will be supported in the near time.

[2022-06-01 16:17] paveltiunov commented on #4649
Hey @vprus ! Have you considered introducing constant and importing it everywhere? https://cube.dev/docs/schema/advanced/export-import#top

[2022-06-01 16:21] paveltiunov commented on #4650
@vprus Redis is not supposed to be refreshed on a scheduled basis and Cube will never refresh data queries in Redis unless those are requested. If you're looking for a scheduled cache refresh you actually need to use pre-aggregations. Have you considered using pre-aggregations?

[2022-06-01 18:36] #4124 closed

[2022-06-01 21:29] paveltiunov commented on #4251
@chuski1212 We have this issue here #4118

[2022-06-01 21:29] #4251 closed

[2022-06-01 21:33] paveltiunov commented on #3370
Moving conversation to #3777

[2022-06-01 21:33] #3370 closed

[2022-06-01 21:33] paveltiunov commented on #4359
Moving conversation to #3777

[2022-06-01 21:33] #4359 closed

[2022-06-02 13:41] rawpixel-vincent opened #4679 "Mysql Driver: query parameter 'totaltrue'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Minimally reproducible Cube Schema**

[2022-06-02 13:46] rawpixel-vincent opened #4680 "Mysql Driver: query parameter `total:true` fail when used with offset > 0"
**Describe the bug**
With Mysql driver,
When using the query parameter `total: true` in addition of a positive offset the query generated is malformed,
LIMIT token is missing from sql query.

**To Reproduce**
Steps to reproduce the behavior:
Use `total: true` with a positive `offset` in the query client parameters

**Expected behavior**
Correctly formed sql query.

**Minimally reproducible Cube Sc

[2022-06-02 15:42] ivan-vdovin commented on #4679
Duplicated #4680

[2022-06-03 16:09] chiragsrvstv commented on #4454
Does that mean calculating the average manually based on `sum` and `count`?

[2022-06-04 07:38] lewisosborne opened #4707 "Utilise database comments on tables (and fields) to populate descriptions in Cube"
**Problem**

When generating a schema in Cube, is it possible to leverage the existing database table & columns' comments to populate the descriptions parameter on cubes? I’m a big fan of descriptions within the database (I generate these via dbt) and an example I have is pictured below (a Redshift table DDL):

<img width="966" alt="Screenshot 2022-06-03 at 00 42 51" src="https://user-images.githu

[2022-06-04 16:16] #3449 closed

[2022-06-06 11:01] ovr commented on #4506
<img width="484" alt="image" src="https://user-images.githubusercontent.com/572096/172148519-c47542f2-c9a3-4f61-bed5-1db9917aee71.png">

✅

I am going to close this issue because all issues were resloved.

[2022-06-06 11:01] #4506 closed

[2022-06-07 06:55] ivan-vdovin commented on #4552
It allows using third-party dependencies and at the same time uses Cube dependencies from docker image. So it’s a way not to clash Cube dependencies in a docker image and in node_modules in production environments.

[2022-06-07 06:55] #4552 closed

[2022-06-07 09:49] System-Glitch opened #4722 "Crash: Cannot read property 'callback' of undefined at normal_reply (Redis)"
**Describe the bug**

We have deployed Cube JS on Google Cloud Run using the official docker image. We use the most basic cube setup (no cube store, no pre-aggregations, etc, as we are using cube as a query builder mostly). We use a redis cache (also deployed on GCP). The Cube instance randomly crashes very often with the following error:

[code]
The only env variable related to Redis in our confi

[2022-06-07 12:52] ranjeetranjan opened #4727 "Table name with aggregated creating an issues"
**Describe the bug**
We use Postgress. When we have aggregated in the table its giving an error.
**Error**

`You requested hidden member: 'aggregated_conversions_by_minute_aggregated_default_event_day__'. Please make it visible using `shown: true`. Please note primaryKey fields are `shown: false` by default: https://cube.dev/docs/schema/reference/joins#setting-a-primary-key.`

**To Reproduce**
Ste

[2022-06-07 17:08] b-jan opened #4730 "`shown: false` does not behave the same for `QueryBuilder` in `prod` and `dev` environment"
**Describe the bug**
A measure with `shown: false` cannot be used in a `QueryBuilder` in `prod` environment

**To Reproduce**
Steps to reproduce the behavior:
1. Create a measure with `shown: false`
2. Use in frontend (I use vue.js) a `QueryBuilder` component and call the matching query dynamically
3. See the following error only using cube in `prod` mode

`TypeError: Cannot read properties of und

[2022-06-07 17:11] b-jan commented on #4730
I also found that `shown` and `visible` are similar. There is no mention about it in the documentation.

https://cube.dev/docs/schema/reference/measures#shown

[2022-06-08 05:18] plazasnico opened #4732 "Cube store exited on startup"
**Describe the bug**
I try to use cubejs with an express app, but when I try to run my app I have an error to start the cube store. I thought that could be a problem with my firewall, so I add the rule to port 0.0.0.0:3030 but that didn't work.

Error querying db: scheduler-516efeae-0d74-41e6-8a33-bb8ea1a43e03
{}
Error: Cube Store exited with 1 on startup.
    at QueryQueue.parseResult (/home/prue

[2022-06-08 06:49] pandamien opened #4733 "PrestoDdb/PrestoDriver: Storage schema reading not supported while loading DB schema in Cubejs Playground"
### Description
We are running a self hosted Cube Js with Docker-compose. The datasource is a prestodb cluster with a master and 2 workers
the presto-server version is  [ 0.26 ](https://repo1.maven.org/maven2/com/facebook/presto/presto-server/0.26/presto-server-0.26.tar.gz)
The error happens right after the connection stage, in the playground it fails to load the database schemas.
the connection i

[2022-06-09 12:34] ovr commented on #4732
Hello @plazasnico ,

Can you stop Cube.js, and try to run:

[code]

Do you see any errors in the output?

Thanks

[2022-06-09 22:35] reify-jorge-david-fernandez opened #4746 "rollupJoin gives general message not indicative of actual error"
**Describe the bug**
I'm following the examples to join two cubes from two different datasources provided [here](https://github.com/cube-js/cube.js/blob/master/examples/recipes/joining-multiple-databases-data/schema/Products.js). After setting up all the preAggregation and combinedRollups I'm still getting the error ```{"type":"UserError","error":"To join across data sources use rollupJoin with Cu

[2022-06-09 23:14] joeledwards commented on #4722
We are observing the same issue in AWS Lambda on 0.26

Have you tried switching to the ioredis driver to see if the issue persists?

[2022-06-10 03:16] kodeine opened #4747 "helm charts registry"
Hello,

Is there a repository where helm charts are hosted and can be used?

[2022-06-10 04:51] plazasnico commented on #4732
I ran it and notice that the problem is my OS (CentOs7), since it hasn't the version `GLIBCXX_3.4.21′ and it is only built-in from CentOS 8, so I try to resolve this updating the lib.

`/lib64/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found`

I will notify you when I achieve it.

Thanks

[2022-06-10 08:27] b-jan commented on #4730
Using the same query elsewhere (not in query builder) is working.

[2022-06-10 08:59] System-Glitch commented on #4722
Hi @joeledwards , thank you very much for the suggestion. I deployed with `CUBEJS_REDIS_USE_IOREDIS=true` and will monitor the logs closely to see if the problem persists.

[2022-06-10 09:34] #4722 closed

[2022-06-10 13:40] zinychz commented on #4680
@ivan-vdovin , fixed in v0.30.19

[2022-06-10 18:12] kodeine commented on #222
@dlariosuniandes @joseabraham @shinebayar-g
Guys, were you able to make it work with mongo bi ?

[2022-06-10 18:13] kodeine commented on #222
@hassankhan this is kinda old ticket and we're still facing issues connecting to mongo bi, can you please help. also the helm charts for SSL values are wrong too. I'll push a PR for that shortly.

[2022-06-11 19:16] joeledwards commented on #4722
Glad that helped a bit. I think tuning the timeout could help for ioredis, though I haven't attempted that myself, so I don't know whether the option is exposed.

[2022-06-12 16:10] DhanushNehru opened #4753 "Mongodb array handling in cube js"
Using mongosqld we used to generate the schema based on mongodb documents and query using cube js. Cube is able to handle and filter data over strings, numbers etc. But when it comes to handle arrays cube returns the data in form of separate documents

Eg) Consider the below document
 { _id: 1, name:"User1", subjects:["Physics","Maths","English"]

When i generate a schema using mongosqld and query

[2022-06-13 13:21] emahuni commented on #438
yeah, surely this is one big issue I am having with CubeJs, it goes the wrong way, especially if there are 2 joins that are correct for different scenarios. EG: toPhone and fromPhone are cubes that both join to a Phone Cube, but we want to join through toPhone at some point and fromPhone at some. Influencing this at query time like the author of the thread suggested is exactly how this can be simp

[2022-06-13 13:37] maatumo opened #4755 "Docs, Minor: Curl command on the REST-API docs fails"
## Docs URL
https://cube.dev/docs/rest-api#api-reference-v-1-load
<img width="590" alt="スクリーンショット 2022-06-13 22 37 18" src="https://user-images.githubusercontent.com/8266590/173366119-bafdb5b5-4f8f-4f36-b3b2-4ba7dd41c818.png">

## Issue description
The POST curl command fails

[code]

execution env:
-  macOs 12.3.1
-  curl 7.79.1

## For improvement
Perhaps the command supposed to be
[code]

[2022-06-14 07:05] schlechtOptimiziert opened #4758 "DevExpress Dashboard component returns an error"
**Description**
We tried to connect to cubes SQL/PostgreSQL API via a DevExpress Dashboard component.

**Error**
It returned following error message:
![image](https://user-images.githubusercontent.com/107460536/173512887-072ffc29-ad96-4791-8101-e5d59212a220.png)

[2022-06-14 16:22] paveltiunov commented on #4758
Hey @schlechtOptimiziert ! Could you please try the latest version to see if the issue still persists?

[2022-06-15 07:11] puzpuzpuz opened #4761 "QuestDB error while loading DB schema"
**Describe the bug**

[code]

[code]

**To Reproduce**

Use the Docker image to connect to a QuestDB instance.

**Expected behavior**
No error.

**Version:**
0.30.20, QuestDB 6.4+

**Additional context**
`sys.column_versions_purge_log` system table was introduced in QuestDB 6.4. So, as a temporary workaround, users should use QuestDB 6.3.x.

[2022-06-16 05:36] #4680 closed

[2022-06-16 05:42] paveltiunov commented on #4727
Hey @ranjeetranjan ! You're hitting Postgres column name length limits. Please use https://cube.dev/docs/schema/reference/cube#sql-alias.

[2022-06-16 05:42] #4727 closed

[2022-06-16 05:49] paveltiunov commented on #4614
Hey @ThomasKientz ! Its expected behavior as SQL returned by this endpoint is parameterized. Not all databases support parameterized/prepared statements so those `?` will be replaced by the driver before sending to the database in some cases.

[2022-06-16 05:54] #4214 closed

[2022-06-16 10:59] Koh-Meta opened #4764 "FILTER_PARAMS with expression issue"
**Describe the bug**
FILTER_PARAMS with expression not working with list of data

**To Reproduce**
Steps to reproduce the behavior:
1. I have added this into my Cube's sql generation
![image](https://user-images.githubusercontent.com/107404257/174054409-a9a18db3-ee0f-4e15-a6c9-6f4619c4d206.png)
2. In the Cube request payload, I have passed in two BranchId
![image](https://user-images.githubusercon

[2022-06-16 17:43] #4732 closed

[2022-06-17 09:52] ivan-vdovin commented on #4764
Hi @Koh-Meta and thank you for a detailed report!
When you specify several values in the filter it turns into IN operator in the final SQL and it isn’t supported for decimal. As a workaround, this dimension can be cast to string. Could you try that and let us know, please?

[2022-06-17 12:26] schlechtOptimiziert commented on #4758
Hey @paveltiunov ! Yes the Problem still comes up. I used the latest tag to ensure it is the latest, but still.
![image](https://user-images.githubusercontent.com/107460536/174297885-5c4a3e85-7261-4210-92bb-47446dfaacac.png)

[2022-06-17 14:22] igorlukanin commented on #3906
[Beekeeper](https://www.beekeeperstudio.io)—thanks, @sspaeti!

[2022-06-17 14:36] igorlukanin commented on #4614
Hey @ThomasKientz 👋 Would it make sense, for data scientists, to use the [SQL API](https://cube.dev/blog/expanded-bi-support) and query Cube instead of raw data sources? Please feel free to tune in for the [workshop](https://cube.dev/events/sql-api/) I'm doing next week.

[2022-06-17 17:16] ivan-vdovin commented on #4747
Hi @kodeine !
Are you looking for this example?
[https://github.com/cube-js/cube.js/tree/master/examples/helm-charts](https://github.com/cube-js/cube.js/tree/master/examples/helm-charts)

[2022-06-17 17:20] ivan-vdovin commented on #4753
Hi @DhanushNehru !
The solution here should be to unnest these fields. Have you tried that?

[2022-06-20 10:45] Gabriel-META opened #4776 "Cube.js generated Prestodb query always cast 'number' data type to 'double' data type regardless of actual data type"
**Describe the bug**
Dimension filter with integer value always being casted to 'double' when Cube.js generate Prestodb query.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dimension with 'Number' data type
2. Use 'Filter Params' in 'sql' parameter of cube definition to inject filter values into Prestodb query
3. Call Cube.js API and filter by dimension created in step 1 with list

[2022-06-20 12:12] stefanocascavilla opened #4778 "Cube pre aggregations with export bucket strategy still create tables in the data warehouse"
**Describe the bug**
We are using the pre aggregations with Cube leveraging AWS Redshift as the data warehouse. We tried the export bucket strategy to implement the pre aggregations, and it should export the data from Redshift to S3, then move the data from S3 to Cube Store.
The issue is that it still uses a pre-aggregation schema to first create the tables on Redshift, then it UNLOADS the data fr

[2022-06-20 12:31] DhanushNehru commented on #4753
Hi @ivan-vdovin
Even if we unnest fields, the output of the cube query seems to be a string & we get the similar output as shown above.

Especially when we do a pagination based on array field we don't get the output as expected.

[2022-06-21 01:26] bong-sc commented on #4418
I no longer see the error in v0.30.8.

[2022-06-21 01:26] #4418 closed

[2022-06-21 12:53] AyHaski opened #4781 "@cubejs-client/vue Using boolean operators in filters without builderProps/builder template returns errors"
**Describe the bug**
When using the boolean logical operators in the filters and no builderProps like setFilter is used, the and/or part of the query will not be resolved correctly.
When the builderProps are used setMember/addMember is called, where then and/or is parsed through the resolveMembers function.

https://github.com/cube-js/cube.js/blob/0fa29952982e48ce1360d063d866dca6e74aecb7/packages/

[2022-06-21 14:26] mjstephenson72 commented on #3777
It appears that the underlying Arrow issue has been resolved ... are there plans to update the packaged arrow codebase in cube to include this fix?  https://github.com/apache/arrow-datafusion/pull/1618

[2022-06-22 12:27] tannirusrinivas commented on #3595
Hi,

Can anyone post oracle driver code in cube.js file

[2022-06-23 09:42] shivam145 commented on #3520
i had made changes as present in @gabri94 's PR and also added a small tweak in one of the line as shown below and it worked for me in version 7.14.1

`const props = mappings.body[index].mappings.properties || {};`

[2022-06-23 11:50] ivan-vdovin commented on #4733
Hi @pandamien and thanks for posting!
Could you confirm user permissions allow to read schema tables?

[2022-06-23 14:28] aquiles419 opened #4794 "full cube store storage"
**Problem**

Over time, CubeJs takes up the storage space and doesn't clean up older information, so we don't have enough space for storage. Is there any setting for automatic cleaning of pre-aggregations?

used version 0.29

[2022-06-23 20:14] tchell opened #4797 "Dedicated Refresh Workers Don't Automatically Refresh Pre-Aggregations"
When setting up a dedicated refresh worker as defined in the documentation [1](https://cube.dev/docs/deployment/overview#refresh-worker), [2](https://cube.dev/docs/deployment/production-checklist#set-up-refresh-worker), [3](https://cube.dev/docs/deployment/platforms/docker#configuration) it seems like all that is needed for the refresh worker to refresh pre-aggregations is to define a cubejs serve

[2022-06-23 21:36] ovr commented on #4794
@aquiles419 Cube cleans orphaned/unused pre-aggregations at the end of doing pre-aggregations. Probably, somewhere there is an error that blocks the cleanup of it. Do you see any errors? What database do you use for pre-aggregations?

Thanks

[2022-06-23 21:59] aquiles419 commented on #4794
the errors I have are query construction and timeout in the cubestore, I use postgres database and redis in the application!

erro:
{"message":"Error refreshing pre-aggregation","error":"Error:Error during create table ....

[2022-06-23 22:31] paveltiunov commented on #4797
Hey @tchell ! This one has been fixed in the latest versions. `CUBEJS_SCHEDULED_REFRESH_DEFAULT` is always `true` by default.

[2022-06-23 22:31] #4797 closed

[2022-06-24 08:31] b-jan commented on #3586
Hello @bgiles28 @igorlukanin , it is still an issue.

I cannot use quarters and years for preaggregations. Most of my queries are returning errors due to this.

When do you plan to work on a fix?

[2022-06-24 11:30] lordk911 opened #4801 "try with playground and securityContext faild"
I just want to test Authorization , I start cube.js with CUBEJS_DEV_MODE=true , and edit  playground security Context with json:
[code]

and then I got the token: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2NTU5NzgyMzgsImV4cCI6MTY1NjA2NDYzOCwidXNlcl9pZCI6ImFiYyJ9.-Rb2CY5XGb0kpkH0a4QKpqQr-rrvL-6TvgGlxpAKjE4`

when I try with rest-api ,

[code]

 I got
`{"error":"TypeError: Cannot read propert

[2022-06-24 15:34] tchell commented on #4797
Ahhh ok apologies. Guess I missed it in the changelog. Thanks for responding!

[2022-06-24 18:19] barrazastark opened #4806 "Is there a way to abort/cancel a query execution from client ?"
Is the a way to pass a unique identifier to my queries ?

Is there a way to cancel/abort a query execution ?

I would like to have something like

`cubeApi.load(query)...` and in some moment `cubeApi.cancelQuery(queryId)...`

[2022-06-24 21:39] paveltiunov commented on #4806
Hey @barrazastark ! There's no way to cancel the query from the client-side. Orphaned queries that aren't waited on by the client will be canceled automatically after `orphanedTimeout` https://cube.dev/docs/config#queue-options.

[2022-06-24 21:39] #4806 closed

[2022-06-24 21:46] #4746 closed

[2022-06-24 21:46] #4603 closed

[2022-06-24 21:47] #4562 closed

[2022-06-24 21:48] #4538 closed

[2022-06-24 21:48] #4747 closed

[2022-06-24 21:50] paveltiunov commented on #4567
@BSuthar712 Playground embedding is possible but not supported by the Cube team. Please feel free to provide PRs with fixes.

[2022-06-24 21:50] #4567 closed

[2022-06-24 21:58] #4472 closed

[2022-06-24 22:00] paveltiunov commented on #4437
@robd003 Are you building a custom image on top of Cube one?

[2022-06-24 22:01] #4245 closed

[2022-06-24 22:01] #4173 closed

[2022-06-24 22:44] robd003 commented on #4437
I was building dev builds of Cube

[2022-06-25 10:12] b-jan commented on #3586
@paveltiunov I can help to contribute, if you help me a little bit.

[2022-06-25 23:07] paveltiunov commented on #4794
@aquiles419 It means your deployment is unstable. You'd need to fix these errors first.

[2022-06-25 23:07] #4794 closed

[2022-06-25 23:10] #4171 closed

[2022-06-25 23:12] paveltiunov commented on #4404
Implementation progress is available here #3906

[2022-06-25 23:12] #4404 closed

[2022-06-26 02:31] paveltiunov commented on #4764
@Koh-Meta Every filter value is passed to `filter` function as separate params. So you can do something like
[code]

[2022-06-26 02:31] #4764 closed

[2022-06-26 02:37] paveltiunov commented on #3752
Please see #3906 for progress.

[2022-06-26 02:37] #3752 closed

[2022-06-26 02:43] #3907 closed

[2022-06-26 04:30] lordk911 commented on #4801
I know the reason , the playground "Edit Security Context" function did't use the CUBEJS_API_SECRET value which is in .env file to generate API token

[2022-06-26 17:13] paveltiunov commented on #4199
This is duplicate of #573

[2022-06-26 17:13] #4199 closed

[2022-06-26 17:24] paveltiunov commented on #3976
@mklishevych Most likely you're looking for https://cube.dev/docs/config#options-reference-extend-context.

[2022-06-26 17:24] #3976 closed

[2022-06-26 17:40] paveltiunov commented on #3795
@kaja78 Not reproduced on the latest version with schema and query you provided.

[2022-06-26 17:40] #3795 closed

[2022-06-26 17:42] paveltiunov commented on #4585
@nimblestart MSSQL domain authentication isn't part of open source.

[2022-06-26 17:42] #4585 closed

[2022-06-26 17:45] paveltiunov commented on #4129
@wenerme https://cube.dev/docs/config#context-to-orchestrator-id is missing in your configuration.

[2022-06-27 03:34] ejabu opened #4808 "Need base Path for health-checks"
**Is your feature request related to a problem? Please describe.**

Hi I am currently deploying Cubejs behing Nginx Proxy so I should add prefix path to the Node.
As the basePath configuration works very well for `/v1/load`, I could not hit health-checks related endpoint, since the Nginx controller will re-route the request incorrectly.

**Describe the solution you'd like**
I was wondering, could

[2022-06-27 05:54] tyronedougherty opened #4809 "Support "minute" as a granularity option for pre-aggregations"
**Is your feature request related to a problem? Please describe.**
My application is highly real time. Users want to be able to verify that events are coming in very close to when they happen.

Currently, the smallest granularity for pre-aggregations is an `hour` (see docs [here](https://cube.dev/docs/schema/reference/pre-aggregations#parameters-granularity)). This means that users are not able to

[2022-06-27 06:53] molchanovdp opened #4810 "CubeStore: Error during planning: Can't find index to join table dev_pre_aggregations"
When connecting two data sources and trying to get data using preaggregations, an error occurs:
`Error processing HTTP command: Internal: Error during planning: Can't find index to join table dev_pre_aggregations.alarm_alarm_rollup_wfzx1zll_qud4mj14_1hbij0b on alarm__employee_id. Consider creating index: CREATE INDEX alarm_alarm_rollup_wfzx1zll_qud4mj14_1hbij0b_alarm__employee_id ON dev_pre_aggreg

[2022-06-27 09:40] #4810 closed

[2022-06-27 10:02] bigdatawonders opened #4811 "Security Context does not convert text value to JSON"
**Describe the bug**
I am trying to use security context with Cognito and JWT. As per your documentation we generate JWT. The response is like:

` "user": "{\"company_id\":\"moleculedata\",\"user_id\":\"5badab3e-1e5d-4414-8a80-269fdaf2ff8e\",\"roles\":[\"user\"]}"`

similar to example in the documentation [https://cube.dev/docs/security/jwt/aws-cognito]

<img width="585" alt="Screenshot 2022-06-27

[2022-06-27 12:13] #4761 closed

[2022-06-27 13:02] angelocavallo opened #4813 "No data available before "buildRangeStart" date value"
When I query data older than my "buildRangeStart" value, Cube always returns me 0 as a response.

I'm facing this problem in version 0.28+ since I was able to create on-demand pre-aggregations by simply querying older data in version 0.27.x.

My pre-aggregation configuration was the same for all my tests:

`{
			type: `rollup`,
			measureReferences: [...measures],
			dimensionReferences: [...dimen

[2022-06-27 13:48] IntuzMayankP opened #4814 "Issue with QuestDB query with multiple filter option (Error : exception in function factory)"
**Describe the bug**
Hi CubeDev Team,
I got the issue in filtering the data while run the graph view.
I have tried with given "operators" like Equals, Contains, etc.
When I try to filter the one dimension with multiple values.
Example :
Dimension : sn
SoC is the attribute value
I need to show SoC values of thingId = MP2250005, multiple Sn(MP225000501, MP225000502,...)
I get error while try to filt

[2022-06-27 13:49] IntuzMayankP commented on #4814
https://app.slack.com/client/TC0C1HURK/threads

Chat thread history with the Cubdev team

[2022-06-28 11:13] buntarb commented on #4813
@paveltiunov, how do you think it is a regression or were there significant changes that could cause this issue?

[2022-06-28 13:02] vkruoso opened #4822 "support for SingleStore as external database"
For people that already have SingleStore in the infrastructure, it would be great to use it as an external database to avoid having to maintain CubeStore as an extra component.

As the external database already supports MySQL, and SingleStore being protocol compatible with it, the solution probably lies on details related to the way tables/indexes are created and eventually SQL syntax. I've tried

[2022-06-28 13:18] ovr commented on #4571
@unsay Could you give a try with the latest release? It should display errors correctly. Thanks!

[2022-06-28 20:04] rpaik commented on #3586
👋 @b-jan thanks for reaching out. What type of help are you looking for to get started?

Also adding @cristipp to the discussion.

[2022-06-28 20:29] paveltiunov commented on #4822
Hey @vkruoso ! I guess we're open to this community contribution! Would really love to see it! The only thing, we're on a path to the full deprecation of non Cube Store external data stores as integration features go beyond just SQL storage and querying engine. Given that we'd consider this component community supported so you'd need to keep up with breaking changes of external database API change

[2022-06-28 20:40] #4813 closed, assigned to nobody

[2022-06-28 20:42] paveltiunov commented on #4809
@tyronedougherty Hey Tyrone! `minute` and seconds are actually supported. We need to fix the docs.

[2022-06-28 20:44] #4781 closed

[2022-06-28 20:48] paveltiunov commented on #4753
@DhanushNehru Please see https://stackoverflow.com/questions/59826986/cube-js-how-to-join-two-tables-created-from-mongodb-arrays on how to work with nested documents.

[2022-06-28 20:48] #4753 closed

[2022-06-28 20:49] paveltiunov commented on #4808
@ejabu It was done for security reasons so as not to expose the base path which is usually exposed publicly. We can consider separate path option for that.

[2022-06-28 21:03] cortegaunam commented on #3866
I have the same problem when trying to create an app with VUE from playground, apparently the problem has not been solved.

[2022-06-28 21:25] reify-thomas-smith commented on #4369
I am interested in working on this issue. However, it is probably blocked until some more work is done on the build system, starting with #4541.

[2022-06-29 02:47] tyronedougherty commented on #4809
Thanks @paveltiunov that's awesome to hear!

[2022-06-29 03:02] tyronedougherty opened #4825 "Is it possible to store pre-aggregations and remove the source data after some period of time?"
**Problem**

In my use case, I have billions of logs of event data. After some period of time, this raw data builds in costs and becomes less valuable to store indefinitely. Currently, we delete these logs after 12 months have passed.

I want to be able to aggregate this raw data into metrics and store these aggregated metrics indefinitely, even after the raw data has been deleted.

Is it possible

[2022-06-29 08:54] ovr commented on #4758
@schlechtOptimiziert Could you give a try with `v0.30.28`? We fixed an issue with extended query for PostgreSQL protocol.

Thanks

[2022-06-29 09:45] ivan-vdovin commented on #4825
Hi @tyronedougherty !
I would like to know more about your tech stack and your current setup so I can be more specific.

[2022-06-29 13:18] vkruoso commented on #4822
Hi @paveltiunov, thanks for the fast response. Can you elaborate more on the features CubeStore has beyond what you mentioned? I think it interacts with object store for some operations other than query execution, but I'm not sure. Even with deprecation I think it is cool to keep community support on it!

[2022-06-29 16:31] vasilev-alex commented on #4730
@b-jan normally, invisible members are not supposed to be discovered at all. If you need similar behavior (e.g. you want to filter some members on the client) you can try to use the `meta` property

[2022-06-29 16:31] #4730 closed

[2022-06-29 22:23] tyronedougherty commented on #4825
Hi @ivan-vdovin!

At a high level our tech stack is:

* The raw event data exists in AWS S3
* We have both [transition actions](https://docs.aws.amazon.com/AmazonS3/latest/userguide/lifecycle-transition-general-considerations.html) and [lifecycle actions](https://docs.aws.amazon.com/AmazonS3/latest/userguide/lifecycle-expire-general-considerations.html) enabled on the S3 buckets to:
  * Make it ch

[2022-06-30 00:30] paveltiunov commented on #4822
@vkruoso I don't have a full list in hand. We need to do a better job to document it. But on top of my mind, those that are nonbreaking are batching, export bucket imports, and count distinct approx / HLL support. Those which are breaking are unbounded rolling window queries and rollup joins. There is also lambda view support coming soon which also be breaking.

[2022-06-30 11:10] atomlab commented on #3525
This Is not cube developer responsibility. I expected that cube mysql driver support all mysql auth protocols. I my case is not downgrading security but bug in cube.

[2022-07-01 06:38] #3492 closed

[2022-07-01 06:38] #3476 closed

[2022-07-01 06:39] #3442 closed

[2022-07-01 06:40] #3323 closed

[2022-07-01 06:42] paveltiunov commented on #3168
https://github.com/cube-js/cube.js/blob/master/packages/cubejs-testing/test/smoke-tests.ts great starting point for writing a basic integration test.

[2022-07-01 06:42] #3168 closed

[2022-07-01 06:46] #4117 closed

[2022-07-01 06:48] #3863 closed

[2022-07-01 06:57] paveltiunov commented on #3448
We have added multiple fixes that help with this issue but Cube Store still shouldn't be run for production workloads on Windows machines.

[2022-07-01 06:57] #3448 closed

[2022-07-01 06:58] #3437 closed

[2022-07-01 06:58] #3286 closed

[2022-07-01 07:06] paveltiunov commented on #3671
@deekshith-elear There's an unsubscribe method returned in the result object of `load()` method. We need to document it. cc @hassankhan .

[2022-07-01 07:10] paveltiunov commented on #3839
@wgalecki You can add or remove the pre-aggregations definition from cube based on security context using dynamic schemas https://cube.dev/docs/schema/advanced/dynamic-schema-creation#dynamic-schema-creation

[2022-07-01 07:10] #3839 closed

[2022-07-01 09:37] schlechtOptimiziert commented on #4758
![image](https://user-images.githubusercontent.com/107460536/176868858-2dd31fb2-021a-465d-b272-4ae4518b45f1.png)
![image](https://user-images.githubusercontent.com/107460536/176868933-dc07c71c-b32b-4615-81b1-59402d732ef3.png)
Na, didn't seem to work, but at least it is an other error. Progress.

[2022-07-01 13:37] kaja78 opened #4841 "Creation of index for PostgreSQL rollup pre-aggregation fails"
**Describe the bug**
Indexes in PostgreSQL rollup pre-aggregation fail to build. Invalid non-existing table name is generated into CREATE INDEX SQL statement. Same problem exists for external and internal pre-aggregations. Looks like the content and structure version is doubled in target table name.
If no sqlAlias for rollup pre-aggregation is specified, it is working as expected.

Sample CubeJS e

[2022-07-02 00:47] paveltiunov commented on #4841
@kaja78 Storing pre-aggregations in Postgres isn't supported anymore. Please consider using Cube Store.

[2022-07-02 00:47] #4841 closed

[2022-07-02 01:05] paveltiunov commented on #4055
@shaikwasef This is not a bug but expected behavior. Pre-aggregation is not matched because there're multiplied measures. Please see https://cube.dev/docs/caching/pre-aggregations/getting-started#ensuring-pre-aggregations-are-targeted-by-queries-selecting-the-pre-aggregation.

[2022-07-02 01:05] #4055 closed

[2022-07-03 06:44] bigdatawonders commented on #4811
Input:
`{
  "at_hash": "FkqAAbkX9Garhan3zhhBlw",
  "sub": "5badab3e-1e5d-4414-8a80-269fdaf2ff8e",
  "email_verified": true,
  "iss": "https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_dZvHo3PPP",
  "cognito:username": "5badab3e-1e5d-4414-8a80-269fdaf2ff8e",
  "origin_jti": "c973190a-0dcb-4518-b820-d64f40d550c6",
  "aud": "5raa2u4emlrq8h7uvu2fg3rdd4",
  "event_id": "8d8e866f-8751-44a7-b21

[2022-07-04 22:23] paveltiunov commented on #3867
Hey @yosi-codefresh ! Currently, if you have pre-aggregation in place your Cube Store should be 100% available. If it's unavailable it'll throw an error. Postgres usage as an external database is deprecated. Please consider using Cube Store.

[2022-07-04 22:23] #3867 closed

[2022-07-04 22:53] paveltiunov commented on #4027
@JoeMoggridge Could you please try with latest version? Most likely it should be fixed. If not you can try to reproduce in Cube Cloud and share deployment with us so we can take a look at the data.

[2022-07-04 22:53] #4027 closed

[2022-07-04 22:56] #457 closed

[2022-07-04 22:57] paveltiunov commented on #457
@lvauvillier This is another type of query. Makes sense to create a separate issue if it's still outstanding.

[2022-07-04 22:59] #2651 closed

[2022-07-04 23:00] paveltiunov commented on #3330
Should be fixed in latest version.

[2022-07-04 23:00] #3330 closed

[2022-07-04 23:02] paveltiunov commented on #2567
Please consider using client-side date formatting instead.

[2022-07-04 23:02] #2567 closed

[2022-07-04 23:04] paveltiunov commented on #3637
This way of embedding Cube inside of the express app isn't supported anymore by the core team. Please consider providing PR if it's still an issue.

[2022-07-04 23:04] #3637 closed

[2022-07-04 23:06] paveltiunov commented on #2534
It's indeed based on heuristics. Please feel free to adjust the rules by providing PR.

[2022-07-04 23:08] paveltiunov commented on #678
Should be fixed in the latest version.

[2022-07-04 23:08] #678 closed

[2022-07-04 23:20] paveltiunov commented on #3758
@olejeglejeg Rewriting queries for ClickHouse isn't on our roadmap currently but please feel free to provide PRs for that. We have this experimental flag `rewriteQueries: true`. This improvement I believe should be part of that feature.

[2022-07-04 23:27] paveltiunov commented on #4008
It seems to be examples and docs dependency. Can't find it in the production server-side code base. Doesn't seem to be an issue. We'll update it during routine dependabot updates.

[2022-07-04 23:27] #4008 closed

[2022-07-04 23:34] #3209 closed

[2022-07-04 23:42] paveltiunov commented on #3908
@squidsoup I can confirm this isn't a supported use case. Please feel free to provide PR for it.

[2022-07-04 23:45] paveltiunov commented on #4614
@ThomasKientz You need to substitute `?` with params according to SQL rules of specific dialect.

[2022-07-04 23:45] #4614 closed

[2022-07-04 23:46] #4139 closed

[2022-07-04 23:47] paveltiunov commented on #4051
@Eywek Yep. It's average on subquery. Please see `averageDealsAmount` definition here https://cube.dev/docs/schema/fundamentals/additional-concepts#subquery.

[2022-07-04 23:47] #4051 closed

[2022-07-04 23:49] paveltiunov commented on #4091
Let's merge it with #3799

[2022-07-04 23:49] #4091 closed

[2022-07-04 23:54] paveltiunov commented on #4613
@Stainless5792 Provided configuration isn't sufficient to run production deployment. We should make it clear in docs. cc @hassankhan

[2022-07-04 23:56] #4801 closed

[2022-07-05 00:07] paveltiunov commented on #3903
@Pavel-Deryagin Data blending through union is the best practice for such types of data modeling problems both in terms of performance for modern cloud data warehouses and data modeling outcomes.

[2022-07-05 00:07] #3903 closed

[2022-07-05 00:13] #4138 closed

[2022-07-05 00:15] paveltiunov commented on #994
@DmytroShyshko You need to calculate `originalSql` for every possible input node id. Basically, you'd need to materialize whole tree.

[2022-07-05 00:15] #994 closed

[2022-07-05 00:30] paveltiunov commented on #4825
Hey @tyronedougherty ! You can build such a system using incremental pre-aggregations https://cube.dev/docs/schema/reference/pre-aggregations#incremental. Data beyond `updateWindow` would never update and even if it's dropped from the data source it'll live within Cube Store. Please see https://cube.dev/docs/caching/running-in-production on how to set up its storage. However not having data for re

[2022-07-05 00:31] #4825 closed

[2022-07-05 01:45] pandamien commented on #3510
Hi guys, @paveltiunov
i'm still facing this issue so would like to know what would be the solution in this case, if you are self hosting cubejs and doesn't S3, GCS or MInio ? does it mean you cannot build pre-aggregations using cubestore(local dir)? any thought would be really helpful, thanks.

[2022-07-05 16:02] #4809 closed

[2022-07-05 16:02] hassankhan commented on #4809
Thanks for reporting the issue @tyronedougherty 👍

[2022-07-05 16:03] #4755 closed

[2022-07-05 16:03] hassankhan commented on #4755
Thanks for reporting the issue @maatumo 👍

[2022-07-05 16:57] hassankhan commented on #4129
Thanks for reporting @wenerme 👍 Fixed in #4760

[2022-07-05 16:57] #4129 closed

[2022-07-05 20:11] paveltiunov commented on #3583
@rccoe Yep. You can use `COMPILE_CONTEXT` as a workaround. But let's reopen and track `unsafeValue` for `FILTER_PARAMS` here

[2022-07-05 20:18] paveltiunov commented on #3611
@khozzy You can configure it using `cubePerMetric` option:
[code]

[2022-07-05 20:18] #3611 closed

[2022-07-05 20:19] rccoe commented on #3583
Can you provide an example of how COMPILE_CONTEXT can be used?

Another thing to remember is that BQ driver is going to be generating the SQL, where the inner query might need to be MySQL or PostgreSQL (or other), so generated inner code might break if you can't adjust the driver

[2022-07-05 20:57] kmclaugh commented on #1927
@paveltiunov sweet! if you have a quick preview of how it works that would be most helpful.

[2022-07-05 23:09] inventionlabsSydney commented on #1927
@paveltiunov
If you can provide me the commit's for this - I will happily write the documentation.

[2022-07-06 00:41] tyronedougherty commented on #4825
Thanks for your response @paveltiunov 😄

That makes sense. Do most Cube users keep their raw records forever? What is best practice?

[2022-07-06 00:53] paveltiunov commented on #4825
@tyronedougherty For event-based systems you'd usually end up with hot and cold storage. For cold S3 storage, you can use something like https://aws.amazon.com/s3/storage-classes/glacier/. You'll use it only in case of schema changes. Or you can just end up with a retention data policy so you never allow to query beyond your data retention period. It can be configured using https://cube.dev/docs/s

[2022-07-06 03:13] chaos87 opened #4849 "Dbt Integration: Get dbt metric description populated in measures description"
Hi there👋,

Thanks a lot for the integration with dbt project.

As of now it is possible to get dbt metric name, sql and the underlying model.

I would like to get the description attribute for a dbt metric mapped to a measure description.

[2022-07-06 08:05] vasilev-alex commented on #4105
@pierre-H does it work with `pivotConfig.fillMissingDates = false`?

[2022-07-06 08:59] #4137 closed

[2022-07-06 09:52] ovr commented on #4758
1. SQL API follows PostgreSQL 14 spec, and there is no column called `proisagg` (it was removed in PostgreSQL 11). You need to upgrade the library (driver).

2. Related to the second query, it's a bug.

[2022-07-06 12:34] buntarb commented on #1927
@inventionlabsSydney, you can look at tests from [here](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-testing/test/driver-test-suite.ts#L80) to get how it works.

[2022-07-06 15:28] ar-ms opened #4853 "Using where clause on a date field"
**Problem**

Hey folks 👋 ! Is there a way of querying a table using SQL with a where clause, date >= '2022-07-05' for example ?

I connected metabase to cube.js using the postgres connector, cube is plugged into BigQuery.

**Related Cube.js schema**
[code]

**Metabase query**

[code]

And got the following error message:
[code]

The [docs](https://cube.dev/docs/backend/sql#querying-fundamentals-fi

[2022-07-06 23:45] tyronedougherty commented on #4825
Thanks @paveltiunov your insights are greatly appreciated 😄

Have a great day!

[2022-07-07 11:28] sergio-ferreira-jscrambler opened #4869 "Dashboard App iframe does not load when it is behind a load balancer"
**Describe the bug**
We have a self-hosted cube.js playground deployed internally, in which we've created a Dashboard App. However, after starting the dashboard, a blank page appears.

![image](https://user-images.githubusercontent.com/97523204/177761178-64afa0bb-1b32-4673-a703-97f9d0770877.png)

When accessing the URL of the dashboard directly, it loads correctly.

After some digging, I've found

[2022-07-08 08:56] agnesesim opened #4878 "Error when using rollup pre aggregations"
Premises: I'm using cube js legacy version running on node js and in dev mode (i'm using only the playground localhost). The power shell that is running cube is started in admin mode. The DB linked to cube is MSSQL and the user used to query the database has db_owner role.

When I try to build a pre-aggregation I get this error:

`Error: Internal: File 4-7ixtwe0p.chunk.parquet can't be listed afte

[2022-07-08 18:55] paveltiunov commented on #3583
@rccoe Typical usage would be
[code]

[2022-07-08 18:59] rccoe commented on #3583
Got it, Thanks @paveltiunov . To clarify, that would mean you would need a context per-organization, right? One couldn't put other filters in there ever.

[2022-07-08 19:08] paveltiunov commented on #4878
@agnesesim Your cluster is most likely misconfigured. Please check your Cube Store storage configuration: https://cube.dev/docs/deployment/overview#cube-store-storage.

[2022-07-08 19:41] paveltiunov commented on #4869
@sergio-ferreira-jscrambler Cube playground isn't designed to be served in production behind the load balancer. The open-source playground is just for local development purposes. Please consider building a separate frontend app that embeds all of that features and is hosted separately. If you need this for developer collaboration please consider using Cube Cloud. For internal use you can also cons

[2022-07-08 19:43] paveltiunov commented on #4853
@ar-ms We're working on Metabase support right now. More info here #3906 .

[2022-07-10 22:01] hassankhan commented on #2204
Resolved by https://github.com/cube-js/cube.js/pull/2859

[2022-07-10 22:01] #2204 closed

[2022-07-11 10:02] chaos87 commented on #3906
+1 Google Datastudio

[2022-07-11 10:10] agnesesim commented on #4878
Thank you for your answer!
I tried to set both CUBESTORE_DATA_DIR and CUBESTORE_REMOTE_DIR (in the .env file) but it seems like the program ignore them and keep using the default meta store directory.
I saw in the docs that cube store is intended to work especially with external buckets like AWS or Google, but i noticed also that there is a possibility to use a local directory (as a "remote direct

[2022-07-11 10:56] Muhamed-M opened #4886 "Cube.js This week/This month"
Is it possible to calculate some metrics (count, sum) for a specific time period like Today/This Week/This Month/Last Month in Cube.js. Is rollingWindow what I need? I tried it but it doesn't return me right data.

To be more descriptive I will use Orders table as an example.

I have simple Orders table in which I have product_id, product_name, created_at columns. On frontend i need to create anal

[2022-07-11 10:58] agnesesim commented on #2938
Same here

[2022-07-11 16:22] reify-thomas-smith opened #4889 "Support multiple CubeProviders"
**Is your feature request related to a problem? Please describe.**

I have a React application that needs to query two different cube services. However, the `<CubeProvider>` component only supports specifying a single Cube service, and if `<CubeProvider>`s are nested, then only the innermost client object will be available.

**Describe the solution you'd like**

Add an optional `name` prop to `<Cu

[2022-07-11 22:17] tanvi-cota opened #4892 "Typing errors in @cubejs-client/core: "^0.30.29""
Upgraded to latest version of @cubejs-client/core": "^0.30.29"
On building it, it gives following typing error :

`node_modules/@cubejs-client/core/index.d.ts:838:21 - error TS1110: Type expected.

838       ? Dimension | `${Dimension & string}.${Granularity & string}`
[code]

[2022-07-12 03:07] paveltiunov commented on #4892
cc @reify-thomas-smith

[2022-07-12 03:08] paveltiunov commented on #4889
Hey @reify-thomas-smith ! Could you please elaborate on your use case? Why do you need to query multiple Cube services?

[2022-07-12 07:42] alisymebv opened #4895 "Can't connect to Dashboard App on localhost:3000 when using Docker image"
**Describe the bug**
Following the guide to get started with Docker, I'm getting as far as _starting_ the Dashboard App (I've tried a few from template gallery and the same problem) when I see that localhost:3000 isn't available and shows nothing, despite an app being created there.

Logs
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps on Getting Started with Docker
2

[2022-07-12 07:50] nymo commented on #4892
Can confirm same error...breaks my production deployment.

[2022-07-12 10:50] ovr commented on #4886
Hey!

For this week you can use (PostgreSQL variant):

[code]

For example, for last N days you can use (PostgreSQL variant):

[code]

Thanks

[2022-07-12 12:05] ThomasKientz commented on #4614
@paveltiunov is there any way to get the final the SQL query via the api ? If not, why not provide such api (any technical reasons I am missing ? ), would you be open to a PR for this ? (should it fix the current one or add a new API ? )

[2022-07-12 12:53] ThomasKientz commented on #4801
@lordk911 how did you solve it ?

[2022-07-12 14:04] Martelloti commented on #4895
Also worth noting that some previous versions such as v0.30.0 and v0.27.0 have the same error, while versions older than that return different errors before getting in to that page.

[2022-07-12 16:35] vasilev-alex commented on #4892
Thanks @reify-thomas-smith

@tanvi-cota I don't think we're going to support the older TypeScript versions, so the best option for you would be either to upgrade to a newer TS version or keep using the compatible `@cubejs-client/core` of **v0.29**

[2022-07-12 16:35] #4892 closed

[2022-07-12 18:30] mikulskibartosz opened #4900 "[Firebolt] The Firebolt driver should start the Firebolt engine if it isn't running"
When the Firebolt engine isn't running, Cube returns error 404 and cannot perform any queries. The driver should start the engine automatically when Cube performs a query.

**Describe the solution you'd like**
Cube Firebolt driver should start the Firebolt engine automatically before sending a query.

**Additional context**

Steps to reproduce the issue:

1. Configure a connection to Firebolt.
2.

[2022-07-13 07:27] Muhamed-M commented on #4886
Thanks, but I'm using MySql and timeDimensions cant help me because I also need to preserve other metrics so I would need multiple queries and that would complicate things for me because I need to be able to filter data in table.

[2022-07-13 07:59] zeokz opened #4902 "Stop DB Query"
As documented [here](https://cube.dev/docs/rest-api#prerequisites-continue-wait), when a CubeJS Query that takes a bit long for it to complete, the `CubeJS Client` & `CubeJS Server` make use the `ContinueWait` long polling mechanisms to keep the request alive. I would like to know whether there is some kind of a `timeout` configuration that makes it possible to configure the CubeJS server so that

[2022-07-13 12:06] Muhamed-M commented on #4886
I solved it this way:
[code]

[2022-07-13 13:51] samtjo opened #4904 "useCubeQuery hook does not work with React 18"
**Describe the bug**
The `useCubeQuery` hook from the `@cubejs-client/react` package doesn't work with React 18.

**To Reproduce**
I've forked the React sandbox from the [Cubejs React docs](https://cube.dev/docs/frontend-introduction/react#introduction-for-react-developers) and updated it to use React 18 here: https://codesandbox.io/s/cube-js-react-client-forked-dplyu5?file=/src/index.js

Other th

[2022-07-13 23:22] elhe26 commented on #3906
+1 Google Sheets

[2022-07-14 16:07] orenklein opened #4912 "fill missing dates with other values than zero"
**Is your feature request related to a problem? Please describe.**
When executing resultset.series(), `fillMissingDates` is true by default, and the values of the missing dates are filled with 0.
In some scenarios, I have a data with 0 as values, and it makes it hard to identify which is actual date and which is missed date in the result.
An ability to set the missing date's value to null or to -1

[2022-07-14 21:58] musharma888 commented on #3906
please add a connector for thoughtspot

[2022-07-15 10:34] rajanjha786 commented on #43
Hello
I'm getting a somewhat similar error
IN value and list items must be the same type: varchar

I'm querying Athena using boto3
`Query: SELECT a.column1 FROM ABC a WHERE a.column1 IN ('abc', 'xyz')`

python: 3.8
boto3: 1.24.30

Is there any updates ?

[2022-07-15 12:02] ivan-vdovin commented on #4902
Hi @zeokz !
Hace you tried to update CUBEJS_DB_QUERY_TIMEOUT to check if it helps here?
https://cube.dev/docs/reference/environment-variables#cube-store

[2022-07-15 12:11] buntarb commented on #4895
@igorlukanin, could you please assist with this?

[2022-07-17 12:07] igorshmukler opened #4930 ""Unable to start Cube Store" with Athena and in-memory cache"
**Describe the bug**
OrchestratorApi.executeQuery() errs causing the "Unable to start Cube Store" error and a failed refresh

**To Reproduce**
Steps to reproduce the behavior:
1. Build cube v0.30 with `CUBEJS_DB_TYPE=athena`, `CUBEJS_JDBC_DRIVER=athena`, `CUBEJS_EXTERNAL_DEFAULT=true`, `CUBEJS_SCHEDULED_REFRESH_DEFAULT=true`, `CUBEJS_DEV_MODE=true` and `CUBEJS_CACHE_AND_QUEUE_DRIVER=memory`.
2. Se

[2022-07-17 23:33] paveltiunov commented on #4895
@alisymebv Have you tried to expose 3000 port for your docker container?

[2022-07-18 03:26] PedramMarandi opened #4931 "Measure character(s) is being trimmed | measure name changes"
**Describe the bug**
I have a measure name called `job_order_free_form_total_sub_total` and my Cube name is `FreeFormItemSalesReport`.
When I query for `FreeFormItemSalesReport.job_order_free_form_total_sub_total` I receive the below error

[code]

However, if I change the measure name to `job_order_free_form_total_sub_tota` and query for `FreeFormItemSalesReport.job_order_free_form_total_sub_tota

[2022-07-18 07:29] ThomasKientz opened #4932 "Add an endpoint to get final SQL query (not parameterized)"
**Is your feature request related to a problem? Please describe.**
The endpoint `/cubejs-api/v1/sql` returns a parameterized query which is of no use.

**Describe the solution you'd like**
An endpoint that returns the final SQL request ready to be pasted in DB ide (to debug and test).

**Describe alternatives you've considered**
Manually replace the `?` with filters value but it is error prone and

[2022-07-18 07:53] alisymebv commented on #4895
My update is that I added -p 4000:4000 to the docker run command detailed here and it worked

https://cube.dev/docs/getting-started/docker

(Note the documentation didn't initially include -p 4000:4000 so thanks for the update there)

[2022-07-18 10:54] Muhamed1889 opened #4934 "Data filters with Cube.js"
**What is the best way to implement filters with Cube.js**

I have select inputs with few options and I want to get different data based on option selected.
Currently I do it by overwriting same query with filters I want and I'm calling function for getting data again.
Is there a better solution to do this? Currently it works but if I want to do more filtering at the same time and combine filters

[2022-07-18 11:35] ivan-vdovin commented on #4931
Hi @PedramMarandi !
It can be source DB limitation. Could you share your DB type?

[2022-07-18 11:35] #4930 closed

[2022-07-18 11:36] PedramMarandi commented on #4931
I'm using Postgres version 12

[2022-07-18 11:40] ivan-vdovin commented on #4931
It should be Postgres limitation. Could you try using shorter names?
`dentifier length	63 bytes	can be increased by recompiling PostgreSQL`
https://www.google.com/search?q=postgres+max+length+of+table+column&oq=postgres+max+[…]69i57j33i160l2j33i22i29i30.12089j0j7&sourceid=chrome&ie=UTF-8

[2022-07-18 14:10] PawlikMateusz commented on #222
@kodeine  Do you use a kind of sidecar in your environment for eg. a setup with Kubernetes + Linkerd2/Istio?
I had to add the certificate to MongoBI as mentioned in https://stackoverflow.com/questions/58868085/cube-js-error-ssl-is-required-when-using-cleartext-authentication-using-mongod/58869914#58869914
Additionally, I had to add pod annotations like this:
cubejs-api+cubejs-referesh-worker pods:

[2022-07-18 15:11] kodeine commented on #222
I was able to fix this, did have to update helm chart. My issue was mongobi wasnt using ssl so once that was done and fixing of chart, everything worked

[2022-07-19 06:58] PawlikMateusz commented on #222
Small update, in the case o service mesh and sidecar containers it's even better to switch MongoBi to port 3306, then istio/linkerd will automatically know how to handle this kind of traffic (server-speak-first protocol)

[2022-07-19 07:41] #4902 closed

[2022-07-19 09:14] gkorland opened #4941 "Add support for Redis as a Database connection"

[2022-07-19 12:14] parkerself22 commented on #4536
@buntarb Any timeline on this getting fixed?

[2022-07-19 16:48] Martelloti opened #4945 "Not being able to create pre aggregations on reports with filter parameters"
**Describe the bug**
My cube requests that have filter_params fields seem to run fine until I add a pre-aggregation to the cube. When it happens, the SQL that would create the pre-aggregation simply ignores the filter_params and returns a general error.

**To Reproduce**
Simply try to create a report with a filter parameter in a case where the 1 = 1 (that happens when the filter is not set) and th

[2022-07-19 17:34] Martelloti opened #4946 "Does Cube have a way to test syntax for new schemas before deploying them?"
**Problem**

I'd like to know if is there a possibility to use something related to Linter so that we can test a schema (alongside a sample payload) before deploying it. Our use case would be disposing our infrastructure to an outside client that would deploy its own schemas, but we wanted to make sure they would work before deploying them.
[code]

[2022-07-19 18:11] Martelloti commented on #4895
In my case (using docker-compose), adding the 3000 now led me to another error type:

![image](https://user-images.githubusercontent.com/30840991/179819770-bd768b19-f15f-4f2a-bfe8-706bfbd3b8bd.png)

(almost all of the dashboard options lead to this)

[2022-07-19 19:29] paveltiunov commented on #4889
@reify-thomas-smith That makes sense! Do you have any proposal on how API should look like in this case?

[2022-07-19 19:33] reify-thomas-smith commented on #4889
Yeah, just add an optional `name` prop to `CubeProvider`, and have `useCubeQuery` and such accept a string for the `client` option. I have a PR I've been sitting on because I haven't had time to look at updating docs (or testing it at all), but it should clarify the proposal: #4947.

[2022-07-19 19:33] paveltiunov commented on #4931
@PedramMarandi You can also use https://cube.dev/docs/schema/reference/cube#sql-alias

[2022-07-19 19:33] #4931 closed

[2022-07-19 19:49] paveltiunov commented on #4878
@agnesesim It's exactly the type of error you'd see if underlying storage doesn't provide the required consistency guarantees. Please consider using distributed FS instead.

[2022-07-20 08:21] lewisosborne commented on #4849
+1 - and descriptions for all dimensions also

[2022-07-20 11:23] ivan-vdovin commented on #4946
Hi @Martelloti !
Schema validation won't let you adding nonexisting fields and will fail during parsing. I have to notice that using linter with dynamic schemas with async requests will be hard to implement. Could you add share more details on your expectations here?

[2022-07-20 11:27] IntuzMayankP commented on #4814
@paveltiunov
is there any update on this.?

[2022-07-20 11:57] seredayav opened #4950 "Can't connect to Superset using SQL API (docker)"
Hi,
I'm trying to connect Superset to Cube js using new SQL API (Supetset and Cube js are in docker containers)

Cube js docker-compose:
[code]

.env file:
[code]

and schema:
[code]

and trying to connect to superset.
![image](https://user-images.githubusercontent.com/73606224/179977556-dd644a4b-94ec-464f-a565-436e94f84d1e.png)

Can't understand, what database name I need to paste.

When I'm tryi

[2022-07-20 12:07] ivan-vdovin commented on #4945
Hi @Martelloti !
AFAIK it's expected with such schema. In the following example it work because buildRangeStart and buildRangeStart properties are used with time dimension:
https://cube.dev/docs/recipes/incrementally-building-pre-aggregations-for-a-date-range#data-schema

[2022-07-20 22:06] ovr commented on #4950
Hello @seredayav,

What Superset version do you use?

Most probably, this error was caused by the new Superset version (they started to use tables/functions that we still don't support). I recommend downgrading Superset's version before we will support unsupported features from this query.

Thanks

[2022-07-21 07:31] seredayav commented on #4950
Yes, I've used last version. Will try previous versions. Thank you for your answer!

[2022-07-21 11:39] ivan-vdovin commented on #4934
Hey @Muhamed1889
I can see that it's not Cube but more of a JS related question. Also there are not best practices and you can use any convenient approach for using JS objects as query obj here is just a JS object.

[2022-07-21 12:02] Muhamed1889 commented on #4934
Thanks

[2022-07-21 14:16] vasilev-alex commented on #4308
Closing it as it doesn't seem to be an issue

[2022-07-21 14:16] #4308 closed

[2022-07-21 14:53] nayakravi opened #4971 "Clickhouse adapter hardcodes start of week to Monday when the "week" granularity is specified for a time dimension"
Currently, when you compose a query such as the following on a cube over a Clickhouse database:
[code]

It generates a SQL Query of the form:

[code]
Notice the `toMonday` function in the query. This is hardcoded [here](https://github.com/cube-js/cube.js/blob/d7255d754350d433b3efdf568ae20f324f577d3d/packages/cubejs-schema-compiler/src/adapter/ClickHouseQuery.js#L53).

Ideally this should be locale

[2022-07-21 18:33] Martelloti opened #4973 "How do I make the scheduledRefresh parameter work?"
**Problem**

I am trying to test some possibilities where the pre-aggregation is always created at the moment of an API request, and from the documentation the scheduledRefresh set to false seems to be the best option. But when I analyze the logs and response time, it looks like Cube isn't "forcing" a new version of the pre-aggregation to be generated (for both rollup or rollupjoins). Am I misunde

[2022-07-21 21:42] paveltiunov commented on #4971
@nayakravi I guess it's a duplicate of #177. I believe we just need to support `sundayWeek` granularity here.

[2022-07-21 21:42] #4971 closed

[2022-07-22 07:04] Muhamed-M opened #4987 "Query total: true doesn't work -- Cube Store support"
**Describe the bug**
I'm trying to implement pagination on table and I'm doing it with limit and offset, but I also need a total number of rows so that pagination can work correctly. I implemented it my way, but it's a little bit slow. I was looking for best practices and I saw that you recently added a way to do it and it's not documented yet. I looked at tests and figured out how to use, but it

[2022-07-22 08:45] shaikwasef commented on #4973
@Martelloti  can you kindly share the docker config file ? Correct me if I'm wrong , but you want the pre-aggregations to be built only for when the API is triggered right ?

[2022-07-22 09:16] shaikwasef commented on #4055
@paveltiunov As seen in the screenshot attached the pre-aggregations matching is not skipped in absence of the filters even though non-additive measures are being referenced. Kindly let me know if I should attach a new example.

[2022-07-22 13:51] ivan-vdovin commented on #4987
Hi @Muhamed-M
Could you share full error here please?
Also do you use pre-aggs in this case?

[2022-07-22 14:00] ivan-vdovin commented on #4973
@Martelloti
Could you share your Cube version please?
Hvae you tried using something earlier than 0.30.34 or adding env var CUBEJS_PRE_AGGREGATIONS_BUILDER=true?

[2022-07-22 14:03] Muhamed-M commented on #4987
Error:
[code]
I'm using pre-aggs

[2022-07-22 16:11] ovr commented on #4950
@seredayav

What version did you use? I tried Superset 2.0, but I could not find that query. Did you use the open source version or Preset.io?

Thanks

[2022-07-24 02:42] paveltiunov commented on #4987
@Muhamed-M `total` query isn't supported in Cube Store yet.

[2022-07-25 10:12] shubhamgoswamiofficial opened #4993 "How to cancel / abort pending cubejs api request in react client ?"
I am working with Cube.Js in react. When i am changing the the route (Navigating to another page), I need to cancel the running (Pending) request. How can we achieve this. Do Cube.js has any provision to cancel pending API requests?

Thanks in advance.

[2022-07-25 13:18] #4950 closed

[2022-07-26 05:48] #4904 closed

[2022-07-26 11:24] Josh-a-e opened #5001 "Pulumi provider"
**Is your feature request related to a problem? Please describe.**
I want to easily, reliably and systematically deploy cube.dev configuration from source control.

**Describe the solution you'd like**
A Cube.dev pulumi provider to get added to the registry https://www.pulumi.com/registry/

**Describe alternatives you've considered**
Bash scripts / cli stuff that I'm currently investigating to shi

[2022-07-26 11:40] ivan-vdovin commented on #4993
Hi @shubhamgoswamiofficial
There is no easy way to fo that right now. Could you elaborate on your use case here please?

[2022-07-26 21:04] chargartenrga opened #5003 "New Schema files not picked up by Cube"
**Describe the bug**
We are currently deployed to cube in ECS, and, using EFS to mount cube schemas to our containers. At times, we have added cube schemas, and, not been able to retrieve them via the cubejs-api/v1/meta endpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploying to Docker, mount a volume at /cube/conf/schema.
2. Run the Docker stack.
3. Add a schema to the volume.
4.

[2022-07-28 05:20] rpaik commented on #3059
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:21] rpaik commented on #663
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:22] rpaik commented on #2314
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:22] rpaik commented on #3962
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:23] rpaik commented on #3275
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:24] rpaik commented on #1032
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:26] rpaik commented on #564
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:28] rpaik commented on #1779
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:30] rpaik commented on #2321
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:31] rpaik commented on #2573
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 05:31] rpaik commented on #2337
👋 a quick reminder that we will be replacing Redis with Cube Store as announced in this [blog post](https://cube.dev/blog/replacing-redis-with-cube-store).

[2022-07-28 10:25] igorlukanin opened #5015 "Make scheduledRefreshTimeZones aware of the security context"
**Is your feature request related to a problem? Please describe.**
Currently, [`scheduledRefreshTimeZones`](https://cube.dev/docs/config#options-reference-scheduled-refresh-time-zones) accepts an array of time zones. Thus, in a multitenant context, pre-aggregations for all tenants will be multiplied by the number of specified time zones.

**Describe the solution you'd like**
`scheduledRefreshTimeZ

[2022-07-28 13:29] flydev-fr commented on #1166
I will try to take time to make that as it's begin to be heavily required. Is there someone already working on the Svelte implementation ?

[2022-07-28 13:30] ivan-vdovin commented on #5003
Hey @chargartenrga
Have you tried to rerun cube after that?

[2022-07-28 13:45] smoorthyk opened #5018 "TypeConverting circular structure to JSON error when configuring two dataSources"
**Describe the bug**
I am configuring two dataSources - Mongo and Postgres - on my cubejs. When running any query on the Playground after configuration, the error message reads as below

TypeError: Converting circular structure to JSON
    --> starting at object with constructor 'Timeout'
    |     property '_idlePrev' -> object with constructor 'TimersList'
    --- property '_idleNext' closes the

[2022-07-29 05:20] paveltiunov commented on #5003
@chargartenrga You need to define `schemaVersion`. Please see https://cube.dev/docs/schema/advanced/dynamic-schema-creation#usage-with-schema-version.

[2022-07-29 05:23] paveltiunov commented on #5018
@smoorthyk Please use new `driverFactory` format that returns `DriverConfig` object https://cube.dev/docs/config#driver-factory

[2022-07-29 05:24] paveltiunov commented on #4993
@shubhamgoswamiofficial Please see #4806

[2022-07-29 05:24] #4993 closed

[2022-07-29 05:30] paveltiunov commented on #4946
@Martelloti Simplest way to do it is to run schema compilation. Cube Cloud does it on every change you make during your development process to show you errors if there're any.

[2022-07-29 05:31] paveltiunov commented on #4853
@ar-ms Database support has been shipped.

[2022-07-29 05:31] #4853 closed

[2022-07-29 05:32] #4869 closed

[2022-07-29 05:42] paveltiunov commented on #4814
@puzpuzpuz You may probably want to give an update here.

[2022-07-29 09:59] puzpuzpuz commented on #4814
@IntuzMayankP could you share the query that gets generated? It should be in both cube and QuestDB logs.

[2022-07-29 13:41] chargartenrga commented on #5003
Thanks for the response, @paveltiunov! I see those docs there, but, not understanding really what that `schemaVersion` function is doing.

[2022-07-30 15:07] ydennisy commented on #227
hey @paveltiunov I have been looking into Cube and one thing that worries me is running into any limitations with things such as BQ arrays etc, is that a possibility or due to the fact we can use raw SQL to create cubes that should not be the case?

[2022-08-01 11:39] bluestarfish-t1d opened #5039 "runningTotal on Athena with granularity not working"
**Describe the bug**
Running a query with a runningTotal measure and a time dimension with granularity set on Athena results in an error:

`Error: SYNTAX_ERROR: line 1:3737: '>=' cannot be applied to timestamp, varchar(23)`

This error occurs in the generated SQL's ON clause (LEFT JOIN to the generated time series), where the date range start date is inserted as a varchar and not converted to a ti

[2022-08-01 12:15] javiramos1 commented on #3777
@paveltiunov has this been incorporated into the cube js fork?

[2022-08-01 15:20] rpaik opened #5042 "Epic: Replace Redis with Cube Store"
Currently, Cube relies on Redis for in-memory caching and queue management, and this is inefficient and not scalable. Redis cluster coordination consumes a lot of resources under the high load and becomes the bottleneck to scaling the API concurrency.

Cube Store will replace Redis for in-memory caching and queue management and you will find more details in this [blog post](https://cube.dev/blog/r

[2022-08-01 15:24] rpaik opened #5043 "Epic: Streaming pre-aggregations"
Currently, pre-aggregations are limited to batching data, and it is almost impossible to design efficient pre-aggregations for real-time data.

In the first phase of streaming pre-aggregations we will support kSQL as a data source, and pre-aggregation will subscribe to changes from kSQL. The major difference from traditional pre-aggregations is that streaming pre-aggregations are push-based vs. pu

[2022-08-01 16:07] rpaik opened #5044 "Epic: Build metrics in Cube data model"
Cube allows to define the foundation of the data model through cube objects and joins between them, but it currently lacks a framework to define metrics as a second layer on top of the data model. While it is possible now to expose cubes through the SQL API, it is not yet sufficient to support the internal BI (metrics) use cases.

This epic will introduce a way to build metrics in the Cube data mo

[2022-08-01 16:15] rpaik opened #5045 "Epic: Add YAML support"
We learned that a Javascript-centric data model can be a big adoption blocker for data engineers.  This Epic will introduce YAML-based runtime and data modeling to increase the Cube adoption by data engineers.

In the future, we may look into adding other languages such as Python.

[2022-08-02 08:44] puzpuzpuz commented on #4814
@IntuzMayankP there seems to be a bug around bind variables used in `IN ()` operator on `STRING` column in QuestDB. I'll submit a patch to fix the issue. In the meanwhile, `SYMBOL` type seems to work fine for me. Could you try changing `thing_id` and `SN` columns' types to `SYMBOL`?

[2022-08-02 11:18] ivan-vdovin commented on #5039
Hi @bluestarfish-t1d and thanks for the report!
Could you please sign up with free [Cloud deployment](https://cube.dev/cloud) where it can be reproduced so we can take a closer look there? It will help us get more details much faster

[2022-08-03 05:16] schlechtOptimiziert commented on #4758
*Description*
Hi,

so I reached out to DevExpress and it seems to work fine for them now.
The Ticket: [Cube.js and DevExpress BI](https://supportcenter.devexpress.com/ticket/details/t1103065/cube-js-and-devexpress-bi)

I tried to connect it to Cube.js but that did not seem to work 100%. It found the Table but not the rows.

*What I did*
![image](https://user-images.githubusercontent.com/107460536/

[2022-08-03 10:56] bluestarfish-t1d commented on #5039
Hi @ivan-vdovin
Thanks for the reply. I do have access to a free cube cloud account, but cannot do a setup with Athena as the data source since Athena does not fall on AWS free tier and my production Athena runs in a private VPC.

The problem seems to be with the Athena driver, when the cube call (json) is translated to Athena SQL and the call refers to a cube measure of type runningTotal with a d

[2022-08-03 12:57] ArthurHSUflow opened #5056 "Drill down for queries with "compareDateRange""
Hi !

We've been developping an embedded analytics module based on cube, with an extensive use of drill down.
While it's working fine for most queries, it's not yet supported for queries with a date range comparison (and we plan to use it quite a lot)

For instance, the graph below is made from a comparison with a compare date range.
![image (1)](https://user-images.githubusercontent.com/91897860/

[2022-08-03 17:59] paveltiunov commented on #227
@ydennisy Hey Dennis! Yep. Exactly! As you can write SQL in cubes, it gives you an opportunity to flatten your arrays in whatever way you want.

[2022-08-03 22:17] chargartenrga commented on #5003
Nevermind, this has resolved our issue.

[2022-08-03 22:17] #5003 closed

[2022-08-04 05:34] shaikwasef commented on #4055
@paveltiunov Can you please reopen this ticket

[2022-08-04 18:53] aaronovz1 commented on #58
Can anyone confirm this works with TimescaleDB? I'm guessing certain things like `time_bucket` syntax wouldn't work out of the box

[2022-08-05 03:57] paveltiunov commented on #5039
@bluestarfish-t1d We're going to deprecate `runningTotal` soon. Please use `rollingWindow` instead: https://cube.dev/docs/schema/reference/measures#rolling-window.

[2022-08-05 12:39] juandiegocastrillon opened #5065 "Typescript compile fails when importing @cubejs-client/core v0.29.54"
**Describe the bug**
I have a react typescript web application. I'm getting the following typescript compile tsc error when importing any version beyond v0.29.54 of @cubejs-client/core likely due to [this change](https://github.com/cube-js/cube.js/pull/4446). To fix, I had to downgrade to an earlier version.
tsc version 4.6.2
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Import @cube

[2022-08-05 14:37] reify-thomas-smith commented on #5065
Looks like probably some versions of tsc are able to infer that the constraint is met but others aren't. PR #5067 should fix it. I'll check for any other similar constraints that might fail for similar reasons.

[2022-08-05 14:49] reify-thomas-smith commented on #5065
N.B. #4369 might help catch these sorts of bugs.

[2022-08-05 21:21] oskarabc commented on #3906
Nice @rpaik Big big vote up for Google Sheets! Very happy to help test and think through workflow. Over at CodeSandbox we're frequently building Dashboards in Apache's superset and the operations team needs a little more flex sometimes, so we're now copying data, instead of using either connected sheets or stream it in some other form.

[2022-08-06 09:13] kaizendae commented on #3906
+1 on datastudio

[2022-08-06 16:48] paveltiunov commented on #5065
@reify-thomas-smith Thanks for fixing that!

[2022-08-07 15:41] #5065 closed

[2022-08-08 03:14] xushuaitiger opened #5071 "Is Developer Playground available when running in production mode? how to visit it?"
**Problem**

Developer Playground is available on http://localhost:4000 when Cube.js is run in [development mode]

[2022-08-08 03:35] trantuancnt opened #5072 "TypeError: Cannot read property 'testConnection' of undefined at CubejsServerCore.getDriver"
**Describe the bug**

Error while loading DB schema
TypeError: Cannot read property 'testConnection' of undefined at CubejsServerCore.getDriver (/cube/node_modules/@cubejs-backend/server-core/src/core/server.ts:850:20) at processTicksAndRejections (internal/process/task_queues.js:95:5) at /cube/node_modules/@cubejs-backend/server-core/src/core/DevServer.ts:108:22 at /cube/node_modules/@cubejs-back

[2022-08-08 11:22] vasilev-alex commented on #3834
Closing this as it has been fixed

[2022-08-08 11:22] #3834 closed

[2022-08-08 11:29] vasilev-alex commented on #3954
@amiya-elear, you don't need to pass any additional params (`queryType=multi`) while using Cube SDK as it's done automatically for you.

[2022-08-08 11:29] #3954 closed

[2022-08-08 11:32] vasilev-alex commented on #3458
@ntma yes, it's intentional. However, you can disable the default heuristics, or even pass your own if you need so using the `stateChangeHeuristics` prop.

[2022-08-08 11:32] #3458 closed

[2022-08-08 11:34] vasilev-alex commented on #5071
hey @xushuaitiger!

It is disabled in production mode and only available during development

[2022-08-08 11:34] #5071 closed

[2022-08-08 11:36] yosi-codefresh opened #5073 "Support Pre-aggregation incremental refreshKey with different time dimension than cube timeDimension"
**Is your feature request related to a problem? Please describe.**
When using incremental pre aggregation building, with update window, we are forced to use the "official" time dimension of the cube(Lets call it "start_time". This is good for most cases, but when i want to import old data with old "start_time" i can't pre-aggregate it and i'm forced to change the refresh key manually.
this is beca

[2022-08-08 12:35] lyogev opened #5074 "DBT integration fails when no model is present in the metric"
**Describe the bug**
Tried to use the DBT integration with the following code:
[code]

And got the following failure
[code]

This is due to the following code https://github.com/cube-js/cube.js/blob/794708e7ea3d540afdd86c58b32bab1c6a0d89c4/packages/cubejs-dbt-schema-extension/src/Dbt.ts#L150

It requires a model present in the metric to parse it.

However, model is not a required field, check out

[2022-08-08 12:41] ivan-vdovin commented on #5072
Hi @trantuancnt
Could you upgrade Cube version to latest to check if it helps. Also I would like to check if it's not the case when dataSource = default. could you add else for the second condition to make sure?

[2022-08-09 03:06] trantuancnt commented on #5072
Thank @ivan-vdovin, After upgrade Cube version 0.30.44 and add config datasource = default to file config cube.js then Cube worked.

[2022-08-09 10:39] #5072 closed

[2022-08-09 10:40] #5039 closed

[2022-08-09 21:25] josx opened #5082 "@cubejs-client/vue3: [Vue warn]: Property "removeOffset" was accessed during render but is not defined on instance."
**Describe the bug**
Every time you use **query-builder** you get a annoying warning in browser console.

**To Reproduce**
Using component <query-builder>

**Expected behavior**
Not show any warning on browser console

**Version:**
**0.29.23**

**Additional context**
Also is happening in Last version

[2022-08-09 21:50] josx opened #5084 "@cubejs-client/vue3: [Vue warn]: Property "setQuery" was accessed during render but is not defined on instance"
**Describe the bug**
Every time you use query-builder you get a annoying warning in browser console.

**To Reproduce**
Using component <query-builder>

**Expected behavior**
Not show any warning on browser console

**Version:**
0.29.23

**Additional context**

Also is happening in Last version.

There is not any documentation about **setQuery** on [builderSlot](https://cube.dev/docs/@cubejs-client

[2022-08-10 07:21] #5082 closed

[2022-08-10 13:26] ivan-vdovin commented on #5084
@vasilev-alex WDYT of this one?

[2022-08-10 16:15] buntarb commented on #573
Hi, @maxgrv. I've merged https://github.com/cube-js/cube.js/pull/5078 and released 0.30.46 with these changes. This issue is fixed. Could you please check it?

[2022-08-10 16:15] #573 closed

[2022-08-10 17:17] #3827 closed

[2022-08-10 20:31] JPHaus commented on #5044
Hi @rpaik, do you have thoughts on being able to import [dbt metrics](https://docs.getdbt.com/docs/building-a-dbt-project/metrics) into cube?

[2022-08-11 18:27] archiewood opened #5095 "error: unexpected error on the SQL API side, please check your deployment logs"
**Version:**
<img width="501" alt="image" src="https://user-images.githubusercontent.com/58074498/184212683-b961bc4a-440f-494b-974c-e0cd07e19b0f.png">

**Additional context**
- I am trying to use [Evidence](evidence.dev/), a BI tool to connect to Cube.js.
- Under the hood, evidence uses the npm pg package (https://www.npmjs.com/package/pg)
- **It generally works (which is great)**
- However, when

[2022-08-11 18:30] archiewood commented on #3906
+1 for [Evidence](https://evidence.dev/)

[2022-08-12 04:45] ojhaujjwal opened #5096 "MergIng the critical and high vulnerability dependencies"
Thank you for this awesome tool.

**Problem**
Just doing a quick yarn audit in the repo, I got this:
<img width="470" alt="image" src="https://user-images.githubusercontent.com/4995501/184285330-2e0fb1c9-3824-4db6-92d3-688edeaf3fbe.png">

I am slightly concerned by the number of high and critical issues. I am not complaining since this is an open source tool and this is freaking awesome. I am only

[2022-08-12 12:00] ovr commented on #5095
Hello @archiewood ,

Could you please try with latest version?

Thanks

[2022-08-12 13:43] archiewood commented on #5095
Sure, how do I update the version?
(Currently using cube cloud)

<img width="539" alt="image" src="https://user-images.githubusercontent.com/58074498/184366169-7d5e2078-e5a0-45be-b5a8-9175e1c24bc7.png">

Do I need to install locally

[2022-08-12 15:37] rpaik commented on #5044
Thanks @JPHaus...

@paveltiunov can you share your thoughts on @JPHaus questions 👆?

[2022-08-13 05:54] rpaik commented on #5044
@JPHaus actually, have you seen this [blog post](https://cube.dev/blog/dbt-metrics-meet-cube)?

[2022-08-15 05:56] paveltiunov commented on #5096
We’re periodically reviewing audit reviews for the open source images and merging the most critical fixes. For some of the dependencies where we consider risk low or surface of attack really small, we can decide not to merge those fixes. On the other hand, if you're looking to resolve these security issues from a compliance standpoint, please consider contacting our sales team https://cube.dev/con

[2022-08-15 06:05] ojhaujjwal commented on #5096
Thanks for the reply @paveltiunov. Closing the issue for now.

[2022-08-15 06:05] #5096 closed

[2022-08-15 06:33] paveltiunov commented on #5095
@archiewood You can try right now as the stable version was updated in Cube Cloud.

[2022-08-15 06:44] paveltiunov commented on #5074
Hey @lyogev ! Indeed this type of metric isn't supported yet. Could you please share your dbt project and elaborate on your use case?

[2022-08-15 09:25] johanjvrens commented on #4437
In the Docker image, I see the node version is: ENV NODE_VERSION=14.18.2
This version is in maintenance mode: https://nodejs.org/en/about/releases/ maybe bump to newer Node16 or 18 as they are active and current?

[2022-08-15 15:48] archiewood commented on #5095
Thanks.
<img width="492" alt="image" src="https://user-images.githubusercontent.com/58074498/184667915-5494edde-1c23-4185-b759-1ae636acea63.png">

Yes, I just tried it and received the same error.

One thing that confuses me is that my running query turns up in the Cubecloud query logs, but the one that fails does not:

My two queries:
<img width="283" alt="image" src="https://user-images.githubus

[2022-08-15 16:34] stkerr commented on #1433
I believe part of the issue here is related to this line in the ClickHouse [documentation](https://clickhouse.com/docs/en/sql-reference/statements/select/join/#on-section-conditions):

`If a condition refers columns from different tables, then only the equality operator (=) is supported so far.`

Presumably the query generator would need to be updated to respect that restriction.

[2022-08-15 16:38] ovr commented on #5095
There is no cube or table from the information schema called `not_a_real_table`.

Probably, we should return specific PostgreSQL code for this case, but it's not a high-priority task. Do I miss something?

Thanks

[2022-08-15 16:57] archiewood commented on #5095
thanks for the quick followup @ovr

Yes - I purposely broke the query for example purposes.
The same thing will happen if I make any SQL syntax error (which is a pretty common occurrence when developing SQL how picky the language is about `,` etc)

I guess the point is that I would expect some fail state to be returned so I can handle it in my application, and prompt the user to fix their query, r

[2022-08-15 22:59] ovr commented on #5095
@archiewood

After a short review, I've found what is going wrong. It's a Cube Cloud bug. I've created an issue, it will be fixed in the near time (I cannot provide ETA, but I will write down a message in this issue).

The bug is caused by the Terminate message, which the client sends to the release connection. Cube Cloud has a SQL router that works as ingress to proxy traffic to specific deployme

[2022-08-16 03:40] EzraTsai opened #5102 "How can I get all schema relationship with Cube.js ?"
Do we have any method to get all defined schema relationship at front-end? For example, if I defined two schemas and added a joins for schema. Can I have an api or any way to show these two schema relationship at front-end?

[code]

My point is, if we have a lot of schemas, how can user know which two or three or more schema can be used in a query. I see it will show an error like, "Error: Can't f

[2022-08-16 10:32] ivan-vdovin commented on #5102
Hi @EzraTsai ,
You must be looking for meta endpoint:
https://cube.dev/docs/rest-api#v-1-meta

`connectedComponent` should help identify joined cubes as it has the same value for two cubes, then there is at least one join path between them.

[2022-08-16 14:10] guangyuchendice commented on #4252
I faced the same problem but in RedShift data warehouse. It does not support adding prefix/subfolder under an S3 bucket in .env file. If you tried hard-coded the path after the bucket name it will have errors like:
InvalidBucketName: Bucket name shouldn't contain '/', received (your wrong path here)

[2022-08-16 16:18] #5102 closed

[2022-08-16 18:19] dosky01 opened #5105 "Error: EROFS: read-only file system, mkdir '/cube/conf/schema'"
Hi,
I have this error Error: EROFS: read-only file system, mkdir '/cube/conf/schema'
After finish to add trino module in the image
Please help me,
I followed this link https://www.npmjs.com/package/trino-cubejs-driver/v/1.0.0 to add module

[2022-08-16 23:22] tchell opened #5109 "Segment filter is incorrectly generated when querying pre-aggregation with rollingWindow measure"
**Describe the bug**
When querying a pre-aggregation for a `rollingWindow` measure and trying to filter on a segment the sql generated uses the `sql` attribute from the segment instead of the proper column name in the pre-aggregation. Removing the segment allows proper sql generation and so does switching to a non-`rollingWindow` measure that is defined in the same pre-aggregation.

**To Reproduce

[2022-08-17 19:06] Larissa-Rocha opened #5113 "Invalid or out-of-range datetime '9999-12-31 00:00:00'"
**Describe the bug**
We are experiencing an odd behavior when a timestamp column has a value equals '9999-12-31 00:00:00'. This is error in cube server:

**To Reproduce**
Steps to reproduce the behavior:
1. Run `SELECT TIMESTAMP '1999-12-31 00:00:00'` and see that it works
2. Run `SELECT TIMESTAMP '9999-12-31 00:00:00'` and see the error

**Expected behavior**
Return the value '9999-12-31 00:00:00

[2022-08-18 06:25] xushuaitiger commented on #3611
as I added a dbt.js with the content "
iimport Dbt from '@cubejs-backend/dbt-schema-extension';

asyncModule(async () => {
  const { MyNewProjectOrdersFiltered } = await Dbt.loadMetricCubesFromDbtProject('path/to/dbt/project, { toExtend: ['MyNewProjectOrdersFiltered'] }); // toExtend can be used to select cubes for extending. Other cubes will be evaluated unconditionally.

  cube('OrdersFiltered',

[2022-08-18 08:58] ivan-vdovin opened #5114 "Support adding prefix/subfolder under an S3 bucket for Redshift"
**Is your feature request related to a problem? Please describe.**
Ccube does not support adding prefix/subfolder under an S3 bucket in .env file. If you try to hard-code path after the bucket name it will have errors like:
InvalidBucketName: Bucket name shouldn't contain '/', received (your wrong path here)

**Describe the solution you'd like**
Maybe to have CUBEJS_DB_EXPORT_BUCKET changed to CUB

[2022-08-18 08:59] ivan-vdovin commented on #4252
Added a separate issue for Redshift #5114

[2022-08-18 10:58] buntarb commented on #5113
@Larissa-Rocha, does it works for you with previous versions?

[2022-08-18 11:20] ivan-vdovin commented on #5109
Hi @tchell and thanks for the report!
Could you please confirm if it used to work with older Cube version or not?
cc: @buntarb

[2022-08-18 11:26] ivan-vdovin commented on #5105
Hi @dosky01,
Have you managed to resolve that?
It's possible that your volumes are misconfigured but it's hard to say for sure. Could you please contact package maintainer for additional details?

[2022-08-18 11:28] ivan-vdovin commented on #5113
Hi @Larissa-Rocha ,
Could you please share exact steps to reproduce that?
We need more info to be able to help here.

[2022-08-18 14:15] Larissa-Rocha commented on #5113
@buntarb I haven't used any previous versions, just 0.30.47

[2022-08-18 14:43] Larissa-Rocha commented on #5113
Hi @ivan-vdovin, I think I forgot to mention that I'm using the Cube SQL API, so to reproduce that you just need run query number 2, in my case I have used Apache Superset as BI tool

[2022-08-18 14:57] GUISSEBOCAR opened #5115 "dashboard-app filter bug"
Hi
I integrated the Vue 2 dashboard into our platform (it works) but I have a little problem with the filters.

if I add for example 2 filters and remove 1 afterwards, the dashboard does not load.

I also tested with

https://vue-query-builder-demo.cube.dev/#/

I have the same problem

[2022-08-18 15:07] tchell commented on #5109
I haven't seen it work with a previous version no. I was just trying to implement it for the first time when I ran into the issue.

[2022-08-18 15:46] aayush801 commented on #43
Any fixes to this ?

[2022-08-18 15:46] buntarb commented on #5113
@Larissa-Rocha, is it a query over the pre-aggregations, or are you querying the data source?

[2022-08-18 17:32] josx opened #5117 "Package cannot install on node > v14 with npm but works for yarn"
**Describe the bug**
With node 16.x you get errors on install.

**To Reproduce**
1. `git clone repo`
2. `npm install`
3.

[code]

**Expected behavior**
Clear installation without errors.

**Version:**
master branch

**Fix nvm use 14*

[2022-08-18 18:22] Larissa-Rocha commented on #5113
@buntarb I'm querying the data source, there's a 'end date column' where the value is '9999-12-31 00:00:00' by default when there's no end date

[2022-08-18 21:29] ovr commented on #5117
Hello!

Hmm, interesting to see that `yarn` allows to install it. I approve, that right now; it's not possible to use `npm`.

I recommend you use `yarn` for now before we will align our dependencies to the correct versions.

Thanks

[2022-08-18 21:34] ovr commented on #5113
It's a SQL API bug, I will prepare a fix for that.

[2022-08-18 22:54] ovr commented on #5113
I've prepared the PR https://github.com/cube-js/cube.js/pull/5122 which will handle panics as errors back to the client instead of panicking and closing the connection.

Related to this error. It cannot be stored and I don't think that there are plans to implement it, because there are limitions in:

1. Apache Arrow stores `Timestamp` as i64
2. Rust's Chrono library uses i64.

Why it panics:

[cod

[2022-08-19 01:49] josx commented on #5117
You can use `npm`  with `node 14.x` or  `pnpm`

[2022-08-19 05:39] lyogev commented on #5074
Hi @paveltiunov just check out DBT's own example project:
https://github.com/dbt-labs/jaffle_shop_metrics/

Basically they've added support for something they call expression metrics
Check it out here
https://docs.getdbt.com/docs/building-a-dbt-project/metrics#expression-metrics

[2022-08-19 09:38] #5084 closed

[2022-08-19 23:29] tomtrustwave commented on #3252
Hi @JoshMentzer. How is this ticket going? I've also run into the problem when trying to calculate sums with a group by. As the original poster said, it appears the wrong alias is used for the group by expression when the query has dimensions in addition to the aggregate measure.

[2022-08-20 01:44] chaos87 commented on #5074
Hey @paveltiunov

This is also an issue for me.
I have a use case where one metric `active users` is coming from a dim_users and another `sessions` is coming from a fact_events.
I want to calculate a sessions per user ratio of the 2 metrics. I defined in dbt this metric type as expression.

Thanks

[2022-08-20 15:44] paveltiunov commented on #5113
@Larissa-Rocha Could you please share the place where superset introduces this date? Which version do you use?

[2022-08-22 09:06] KoflerStefan opened #5133 "Timezone calculations for MSSQL incorrect/not applied"
**Describe the bug**
When trying to query data including a timezone and a timeDimension with mssql the timezone is not applied to the timeDimension.

**To Reproduce**
Query:
[code]
Cube:
[code]

**Expected behavior**

Timestamp for timeDimension fields should be converted according to timezone. For the example above I would expect data in response to be
[code]
but is
[code]
instead

**Version:**
T

[2022-08-23 01:41] igorshmukler opened #5141 "Add support for filters to accept operator 'in'"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, Cube.JS supports several operators, starting with `equals`. It is possible to build `IN` using `OR` as:
[code]

**Describe the solution you'd like**
I would Cube.JS would also support:
[code]
It could/should be mapped to SQL `IN

[2022-08-23 01:57] paveltiunov commented on #5141
@igorshmukler It's supported by `equals` operator. Please see https://cube.dev/docs/query-format#equals.

[2022-08-23 01:57] #5141 closed

[2022-08-23 02:17] #4946 closed

[2022-08-23 02:18] paveltiunov commented on #5074
@lyogev @chaos87 Would these metrics defined for the same model or for different ones?

[2022-08-23 05:31] chaos87 commented on #5074
In my case it comes from 2 distinct models

[2022-08-23 14:37] Tonkonozhenko opened #5143 "Athena connection error if there're too many tables"
**Describe the bug**
I tried to run poc with CubeJS and Athena:

Stacktrace on Playground (after 15 minutes):
[code]

**To Reproduce**
Basic installation with next docker-compose
[code]

[2022-08-24 02:50] tonyabracadabra opened #5150 "Translating SQL dialect"
Can cube be used for translating sql from one dialect to another with its semantic layer?

[2022-08-24 08:10] ivan-vdovin commented on #5150
Hi @tonyabracadabra
Could you describe your use case to be more specific, please?

[2022-08-25 15:07] KoflerStefan opened #5162 "Granularity 'Week' incorrect for MSSQL"
**Describe the bug**
Using granularity 'week' in query on mssql returns timestamps for mondays, but data is actually from [sunday-saturday].

e.g. data from sunday 2022-08-21 will be returned with timestamp 2022-08-22 (monday) implicitly stating start of week aggregation is monday

**To Reproduce**
Query:
[code]

Cube:
[code]

**Expected behavior**
data from a sunday should:
* be included in times

[2022-08-26 12:17] Larissa-Rocha commented on #5113
Hi @ovr, thank you for your quick reply, that workaround did work for me!

[2022-08-26 12:22] Larissa-Rocha commented on #5113
Hi @paveltiunov, I'm sorry if I wasn't clear, Superset does not introduce this date, this date is stored in my database, I'm using Superset just to run the query in SQL Lab.

[2022-08-26 13:48] NikKomarov opened #5170 "SQl API. Clickhouse as internal db. Max(timeDimension) creates wrong query."
**Failed SQL**
`select max(InvoiceDateTime) from sales`

**Version:**
0.30.28

**Additional context**
We have clickhouse database with 'sales' table. It contains InvoiceDateTime column.
Dimension is configured like below
[code]

Selecting max() on this dimension results in `2022-08-01 00:00:00.000000` (start of the month)
Query, that goes to clickhouse

[code]

 On the other hand, query below retu

[2022-08-26 14:01] ChrisLahaye commented on #2920
I believe OP is using self-hosted Cube in their cloud, not Cube's cloud.

The industry standard for monitoring is Prometheus. It would be nice to have some Prometheus metrics exposed by Cube.js and Cubestore to monitor health and performance, e.g. number of queries, query duration, slow query counter, etc.

@paveltiunov Could we please reopen this feature request for monitoring and observability i

[2022-08-26 18:05] paveltiunov commented on #2920
@ChrisLahaye Cube Cloud has on-prem version

[2022-08-27 07:54] ChrisLahaye commented on #2920
@paveltiunov I think writing logs and analyzing those to compute your metrics introduces a lot of unnecessary overhead. You will have to stay in-sync with the log messages and formats used in the main project and potentially apply parsing and pattern matching.

A better solution would be to add dedicated but optional Prometheus instrumentation (prom-client) in the main project so metrics can be ea

[2022-08-27 13:00] davidfrisch opened #5174 "Schema Compiler - Column names in Hebrew"
**Describe the bug**
When generating my cube with the schema compiler, column names in Hebrew letters are trimmed and a empty key dimension is generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a schema with the schema compiler in localhost:4000/playground with Hebrew column names.
2. You'll notice that generated dimensions key's that suppose to have Hebrew letters are empty

[2022-08-28 03:34] paveltiunov commented on #2920
@ChrisLahaye Thanks for such detailed feedback! The thing is for most Cube metrics and traces you'd need to aggregate and analyze logs from multiple Cube API nodes and refresh workers. So you'd need to analyze data from the whole Cube cluster in order to get any insights. You also would need to aggregate those and join together to analyze query trace spans due to idempotency of query queue. So it'

[2022-08-28 05:13] paveltiunov commented on #5170
Hey @NikKomarov ! There's currently no way to query max time dimension through Cube API, and SQL API applies this heuristic to fulfill some of the BI queries. We can definitely improve this heuristic query. However, I'm curious to hear what kind of problem you are trying to solve. Could you please elaborate on why do you need to fetch the max time dimension?

[2022-08-28 07:43] ChrisLahaye commented on #2920
@paveltiunov

I understand that. Prometheus is perfectly capable and successfully being used in distributed architectures as well. In Prometheus you can define jobs that define the targets whose metrics you want to scrape. These targets can be discovered by various service discovery methods. Metrics are automatically labeled with target properties like the namespace, container, instance, etc.

Whe

[2022-08-28 10:51] devops-cloudbit opened #5175 "Error during create table"
Hi,
I am running cube in proudction mode using this docker-compose stack:

`
version: '2.2'

services:
  cube_api:
    restart: always
    image: cubejs/cube:v0.30.56
    ports:
      - 4000:4000
    env_file: .env
    volumes:
      - .:/cube/conf
    depends_on:
      - cubestore_worker_1
      - cubestore_worker_2
      - cube_refresh_worker
      - redis

  cube_refresh_worker:
    restart: al

[2022-08-28 16:54] paveltiunov commented on #5175
@devops-cloudbit Your docker-compose configuration is incorrect. `CUBESTORE_REMOTE_DIR ` should point to the same physically accessible path from the router and worker nodes. But it isn't designed for production usage unless you're hosting the whole cluster on one machine. Please see https://cube.dev/docs/caching/running-in-production#storage.

[2022-08-28 16:59] paveltiunov commented on #481
@JFCeron and whoever is stuck with this issue, please post your use cases here. We can discuss workarounds, if any and it'll help properly design this feature.

[2022-08-28 17:16] paveltiunov commented on #5074
@chaos87 It means it's a data blending use case that most likely should be done through `UNION ALL` instead of `JOIN`. I'm curious to see how dbt_metrics handles that.

[2022-08-28 17:20] paveltiunov commented on #5143
@Tonkonozhenko Do you think your token has expired? We definitely should handle this error better.

[2022-08-28 17:26] Tonkonozhenko commented on #5143
@paveltiunov definitely no.

[2022-08-28 17:26] Tonkonozhenko commented on #5143
I believe it's because we have too many tables

[2022-08-28 17:28] paveltiunov commented on #5174
Hey @davidfrisch ! Thanks for posting it! Cube Schema doesn't allow to have non-ASCII characters in member names, so the schema generator tries to convert them to ASCII characters. What do you think will be the best way to convert those to ASCII characters?

[2022-08-28 17:30] paveltiunov commented on #5143
@Tonkonozhenko Do you mean it was trying to fetch schema for 15 minutes and then failed with this error message?

[2022-08-28 17:47] Tonkonozhenko commented on #5143
@paveltiunov exactly

[2022-08-29 01:45] rongfengliang commented on #2920
@ChrisLahaye  I think you can still use express Prometheus middleware. and we can easily integrate any express Prometheus  middleware (express-prom-bundle,@apio/express-prometheus,express-prometheus-middleware). and we can also do some extensions for cube.js  (https://cube.dev/docs/config)

[2022-08-29 05:53] NikKomarov commented on #5170
@paveltiunov Short answer: just because we can)))

Long answer: we provide out clients with sql api, it seems to be very convenient way of intergrating data in their BI systems. But we cannot stop them from using sql api as usual sql))) Tbh, I've read about limitations of sql api and gave clients feedback that aggr. functions work only on measures, but decided to create issue, because i'm sure sql

[2022-08-29 10:16] devops-cloudbit commented on #5175
Hi @paveltiunov thank you for your response.
I changed my docker compose configuration to this one:

[code]

as suggested in the running-in-proudction article.

Why do we need remote dir and s3 bucket?
The remote dir is on the local machine? it shouldn't be mounted to an s3 bucket?

thanks

[2022-08-29 11:44] devops-cloudbit commented on #5175
Hi @paveltiunov
this is my up-to-date docker compose stack:

[code]

but I still get this error in my website when trying to fetch data from cube:

`Access to XMLHttpRequest at 'https://xxxx/cubejs-api/v1/load?query=%7B%22measures%22%3A%5B%22Customer.rollingCount%22%5D%2C%22timeDimensions%22%3A%5B%7B%22dimension%22%3A%22Customer.createdAt%22%2C%22dateRange%22%3A%5B%222022-08-22%22%2C%222022-08-29%

[2022-08-29 12:23] #5162 closed

[2022-08-29 12:33] KoflerStefan commented on #5162
Hi @ivan-vdovin,
Thanks for your answer,

I understand that datefirst is not supported/needs an extra feature request - but is it really expected that the datapoint with timestamp 2022-08-21 (sunday) is returned with ```[
  {
    "CrossingEvents.timestamp.week": "2022-08-22T00:00:00.000",
    "CrossingEvents.timestamp": "2022-08-18T22:00:00.000",
    "CrossingEvents.count": 1
  }
]``` -> timestamp

[2022-08-29 13:52] keatmin opened #5176 "Cubestore: Allow STS to be used in AWS to assume role instead of only access key + secret key/instance metadata"
**Is your feature request related to a problem? Please describe.**
Current implementation for S3 [credentials](https://github.com/cube-js/cube.js/blob/master/rust/cubestore/cubestore/src/remotefs/s3.rs#L54-L55) in Cubestore are only via long term access key + secret key pair or ec2 instance metadata. AWS users using EKS usually prefer to use short term temporary security credentials via STS to aut

[2022-08-29 15:05] keatmin commented on #5176
Hmm, closing for now as [it seems to be implemented in rust-s3 already](https://github.com/durch/rust-s3/blob/44f21c4d589f88b9d65fe2796cf48caea978b9eb/aws-creds/src/credentials.rs#L282-L285).

[2022-08-29 15:05] #5176 closed

[2022-08-30 04:51] matthewstrasiotto commented on #3680
Looks like there's this floating around:

https://www.npmjs.com/package/@hao360/eslint-plugin-cube

https://www.npmjs.com/~handoing published by this person, apparently

Unfortunately, I can't see a repo, and documentation is scarce (And in chinese).

[2022-08-30 04:53] matthewstrasiotto commented on #25
Related (Client linting support) #3680

[2022-08-30 06:30] zeokz opened #5178 "Refresh Worker Configuration - Docker Compose"
I followed the steps documented [here](https://cube.dev/docs/deployment/overview#deployment-overview) to create my own docker-compose.yml file for my CubeJS environment and ended up with the following file:

[code]

However, although it looks like it is connecting to the DB and attempting to create the Partitioned tables in the `prod_pre_aggregations` schema, when I check the DB, I don't see them.

[2022-08-30 09:14] zeokz commented on #5178
Also note that the CubeJS Store generated the Parquet files.

![image](https://user-images.githubusercontent.com/109206867/187398774-eb0ba43c-9917-40b7-a004-07d72635c93c.png)

[2022-08-30 10:24] davidfrisch commented on #5174
Thank you for your reply.

I believe that restricting to only ASCII characters restricts access to multi-languages like Hebrew, Russian or Japanese letters.

Perhaps moving to Unicode would be a solution. What do you think about it?

I was considering adding a parameter in the cube.js file. That will specify the language for each DB source.

[code]

[2022-08-30 10:25] davidfrisch commented on #5174
Thank you for your reply.

I believe that restricting to only ASCII characters restricts access to multi-languages like Hebrew, Russian or Japanese letters.

Perhaps moving to Unicode would be a solution. What do you think about it?

I was considering adding a parameter in the cube.js file. That will specify the language for each DB source.

 return new POSTGRESQL({
        server:"localhost",

[2022-08-30 11:48] devops-cloudbit commented on #5175
@paveltiunov do you have any insights regarding the issue I raised?
Thank you

[2022-08-30 11:51] mematthew opened #5179 "Time dimension, without timezone"
**Problem**
I have a time dimension as per below and in the DB Postgres, the data type is a timestamp. Somehow the query sent from CubeJS is creating the query and appending ' timestamptz'. This is causing partitions and indexes to be ignored. Is there a way to stop CubeJS from appending ' datatype conversion' phrase ?

**Related Cube.js schema**
[code]

**Related Cube.js generated SQL**

[code]

[2022-08-30 14:38] davidfrisch opened #5181 "Cube Server - Big Data - 4000 schema cubes"
**Describe the bug**
I have 4000 schemas cube in my schema folder. When I start the cube server, after 2min I get the following error.

![Untitled](https://user-images.githubusercontent.com/22705945/187465291-4ba41621-c166-46b6-b8c8-7ad77a87e5c9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Have 4000 schema cubes in your schema folder
2. Start the cube engine
3. Wait until the error t

[2022-08-31 05:45] zeokz commented on #5178
I managed to store the cache data in the source database by setting the `external` property of my aggregation to `false`. However, CubeJSv0.30.60 is still unable to understand that I have pre-aggregations. I'm still receiving the following error:

[code]

I cannot replicate this on v0.29.57, however for some reason when I use 0.29.57 the refresh worker doesn't generate the pre-aggregations unless,

[2022-08-31 05:51] zeokz commented on #5178
The only way I am able to get data is by setting both the `rollupOnlyMode` & `externalRefresh` to `false` (As far as I know these should be false by default). When I do this however, the pre-aggregated tables are recreated. As one can see from the screenshot below:

![image](https://user-images.githubusercontent.com/109206867/187603792-969c7e1c-d7ec-4bdc-ac48-1b59b1128f9a.png)

[2022-08-31 08:51] devops-cloudbit opened #5203 "Error in production mode"
Hi,
when I am in DEV_MODE = true, I have no problem querying the cube.
However, when I am in proudction mode, when I try to reach the cube I get '502 bad gateway' error.

this is my docker compose stack:
[code]

but I still get this error in my website when trying to fetch data from cube:

`Access to XMLHttpRequest at 'https://xxxx/cubejs-api/v1/load?query=%7B%22measures%22%3A%5B%22Customer.rollin

[2022-08-31 19:57] devops-cloudbit commented on #5203
Hi guys,
the problem was that I needed to indicate that my cache will be the cube store and not Redis.
I had to add this to my .env file: CUBEJS_CACHE_AND_QUEUE_DRIVER=memory.

It is written here and I missed it
https://cube.dev/docs/deployment/production-checklist#set-up-redis-running-without-redis

Good luck to everyone.

[2022-08-31 19:57] #5203 closed

[2022-08-31 21:05] mihaiiova commented on #1927
nice job! thank you. I've tested it with /load and works like a charm.

But I can't figure it out how to make it work with query-builder (vue, latest version). I receive null (same value w/ and w/o total: true). Am I missing something or should I wait for an update?

[2022-09-01 09:03] PatrykM11 opened #5217 "I can't see some columns"
I have a database in postgres (22mln rows and 17 columns) and when I use Cube.js i can see one column in measures and 10 columns in dimensions.

Btw I dropped 2 columns to see if i will be able to see 2 others but it did not happen and now there is 8 columns in dimensions.

[2022-09-01 10:26] ivan-vdovin commented on #5217
Hi @PatrykM11
I have to take a look at your schema first for more details.
Could you sign up with free [Cloud deployment](https://cube.dev/cloud) where it can be reproduced so we can take a closer look there?

[2022-09-01 13:56] NikKomarov opened #5219 "Sql api. How one can hide specific cube?"
**Problem**

I want to remove cubes from sql api, but leave it visible via rest api.
In other words, remove some cubes from result of query
[code]
Is there any way to do it?

[2022-09-01 14:58] dker92 commented on #3716
@paveltiunov Any news? I have the same use case

[2022-09-01 15:33] dker92 opened #5220 "Measure geo distance dynamicaly"
**Problem**

I need to calculate distance between two geo point , one from the position of the user who must pass its position dynamically
and my establishment tavke . How can I replace in my measure my second  ST_POINT by a variable ?
**Related Cube.js schema**
[code]

**Related Cube.js generated SQL**

[2022-09-04 17:53] paveltiunov commented on #5179
@mematthew You can use https://cube.dev/docs/schema/reference/cube#filter-params to hint Postgres optimizer here.

[2022-09-04 17:58] paveltiunov commented on #5178
@zeokz Could you please share your Cube data schema? Logs from your refresh worker instance would also be helpful.

[2022-09-04 19:48] paveltiunov commented on #5117
By default, `yarn` should be used to build Cube. Please feel free to provide PR with a fix if you find out how to fix it for `npm`.

[2022-09-06 07:33] mematthew commented on #5179
yes that did the trick

[2022-09-06 07:33] #5179 closed

[2022-09-06 08:20] inventionlabsSydney commented on #2965
We're also seeing this issue.

[2022-09-06 12:24] tonyabracadabra opened #5242 "How to query ratio by a dimension in cube?"
I have a column called `region` and I want to query the percentage for each region, the result would look like

[code]

I can definitely define a new cube just for getting the total amount of data, so the ratio = count(*) / the subquery for querying the total number of rows, but is there a better way for doing this without involving sub queries or new cube?

[2022-09-06 17:50] ivan-vdovin commented on #5217
Could you share schema files to I can make sure they are defined there?

[2022-09-07 02:08] dzvon commented on #5242
@ivan-vdovin

[2022-09-07 10:40] ivan-vdovin commented on #5242
Hi @tonyabracadabra
The approach you've mentioned should work. Another options is defining measures for all of the regions and adding separate measures to calculate percentage. Something like that:
  measures: {
    count: {
      type: `count`,
    },
    countTexas: {
      type: `count`,
      filters: [{ sql: `${CUBE}. region = 'Texas'` }],
    },
    percentageTexas: {
      type: `number`,

[2022-09-07 10:40] #5242 closed

[2022-09-07 13:15] vincent-benbria commented on #4473
I am also experiencing this oddball behaviour randomly:
[code]

Version: v0.30.60

[2022-09-07 23:48] iiq374 commented on #1387
This is definitely an issue when using Dynamic Schema where capitalised field values can appear in the Measure name

[2022-09-08 09:35] atakangameguru commented on #2074
Hi I have encountering same issue that @cadrogui has. I am using latest docker image of cubejs
![image](https://user-images.githubusercontent.com/110380663/189088438-a3d6e33a-4299-45d8-8f9f-29cd769dcb3c.png)
![image](https://user-images.githubusercontent.com/110380663/189088591-e4b5126c-df6c-4d0c-8972-1994cdd374ea.png)

[2022-09-08 10:32] johanjvrens commented on #5175
I have the exact same issue. What was the resolution to close this ticket?

[2022-09-08 11:41] johanjvrens opened #5262 "Documentation for Deployment are outdated for both Kubernetes and Docker"
First off, thank you for your awesome work done on this amazing product!

I struggle to follow the documentation for deployment as they are outdated for both kubernetes and docker. The examples that I could access like [kubernetes/cluster](https://github.com/cube-js/cube.js/tree/master/examples/kubernetes/cluster) are 11 months old and contain Enviroment variables that are either depricated or not

[2022-09-08 12:41] justusfowl opened #5263 "SQL API Encryption"
Dear all,

first of all let me thank you for providing such a great product, I really like cube-js.

I have a question on the SQL API:

I am currently trying to identify options how to encrypt the connection to the SQL API and wonder if people can share best practices on how to offer this API with TLS encryption.

I am thinking to offload the TLS of the TCP connection at a proxy (nginx) and forwar

[2022-09-08 18:32] TomMarquardt1 commented on #1879
Just ran into this where a measure is a number when it results from a direct query and a string when it is calculated from a pre-aggregation. I guess the solution for now is to apply "parseInt" in our UI to every number returned by Cube.

[2022-09-09 05:36] paveltiunov commented on #5263
@justusfowl Hey Justus! Connection encryption isn't part of an open source. If you're looking for encryption implementation for SQL API, you should consider using Cube Cloud.

[2022-09-09 05:39] justusfowl commented on #5263
Ok thanks - I really would, but due to data privacy constraints of clients this is not an option sadly. Do you plan to add this feature for the SQL API anytime in the future?

[2022-09-09 08:06] NikKomarov commented on #5263
@justusfowl you can take a look at pgbouncer.

[2022-09-09 08:22] justusfowl commented on #5263
Thanks @NikKomarov - I appreciate it!

[2022-09-09 12:39] ivan-vdovin commented on #5220
Hi @dker92
I would suggest doing that outside of Cube but looks like filter params can help here:
https://cube.dev/docs/schema/reference/cube#context-variables-filter-params

[2022-09-09 12:39] #5220 closed

[2022-09-10 22:11] davidfrisch commented on #5217
Hi @PatrykM11
How many of these fields are numbers ?

From my understanding, the cube schema compiler only generates string dimensions and do not specify which is a primary key automatically.

[2022-09-11 08:14] PatrykM11 commented on #5217
All missing columns are numerical, among those I can see, there is 1 numerical column.

Schema file look like this (missing columns are not defined).

cube(`Iowa`, {
  sql: `SELECT * FROM public.iowa`,

  preAggregations: {
    // Pre-Aggregations definitions go here
    // Learn more here: https://cube.dev/docs/caching/pre-aggregations/getting-started
  },

  joins: {

  },

  measures: {
    cou

[2022-09-11 08:32] anhtuanngtr opened #5277 "Custom type 'timestamptz' is not supported"
**Problem**

I'm using CubeJS connecting Postgres. When integrating Cube Store I got the error with timestamptz type of Postgres

For specific, inside the refresh worker
[code]

And in the router
[code]

Do you have any idea with it? Please help. Thanks

[2022-09-11 09:34] anhtuanngtr commented on #5277
I figured out the reason is that I misconfigured the timestamptz data type field inside dimensions instead of timeDimension.

[2022-09-11 09:34] #5277 closed

[2022-09-11 21:52] davidfrisch commented on #5217
Okay, so my hypothesis was correct.

Schema builder only generates automatically fields that are strings and will add the dimension of the primary key regardless it's type (however, you'll still have to add primarKey: true in the dimension object.

Until there's an improvement in the schema-compiler, you'll have to do it manually or do your own automation.

Please correct me @ivan-vdovin if I'm wr

[2022-09-12 03:43] paveltiunov commented on #5170
@NikKomarov Makes sense. Implementation of such a query requires an extension of the current query format, which will allow introspection queries on dimensions like min/max queries. Let's use this issue to keep track of it.

[2022-09-12 09:42] EzraTsai opened #5279 "Default TimeDimensions when Select Dimensions"
**Problem**

I'm wondering if we can given a default timeDimensions when only selecting dimensions in one query. I mean, it look like cube won't offer a timeDimensions automatically if I firstly choose dimensions. However, if I select measures at the beginning, it will automatically give the first timeDimensions which is defined in backend Schema.

Below are two example, we can clearly see timeDim

[2022-09-12 16:39] PatrykM11 commented on #5217
Okay, thank you

[2022-09-12 18:24] #4900 closed

[2022-09-13 02:47] iiq374 commented on #4387
We also see this behaviour.  It seems to behave correctly if the time dimension is included in the outputs - but this isn't always desired to have a grouping on the time dim

[2022-09-13 03:08] iiq374 commented on #4387
It would look like the easiest way to resolve this (although not 100% semantically correct) would be to allow an 'all' type for the TimeDimension:
https://github.com/cube-js/cube.js/blob/84e298ed06d6aa68735eecc61a311484eb9cf65b/packages/cubejs-api-gateway/src/graphql.ts#L87

Otherwise AFAIK the issue is caused by `getFieldNodeChildren` not returning the timeDimension - which means the filter never

[2022-09-13 11:33] nevnein opened #5289 "useCubeQuery returns stale result even if resetResultSetOnChange is set"
**Describe the bug**
Changing the query passed to useCubeQuery causes the latter to return the old value even if `resetResultSetOnChange` is set to `true`

**To Reproduce**
Steps to reproduce the behavior:
1. Create some query and pass it to useCubeQuery, then log both the query and the results, something like this
[code]

2. Change the query in any way, eg. user interaction
3. See logs

**Expecte

[2022-09-13 12:12] ivan-vdovin commented on #5219
@ovr wdyt?

[2022-09-13 14:24] nilansht opened #5296 "Issue Using FILTER PARAMS with SQL containing Boolean Operators ( IMP)"
The issue arises when we use filter params with a query which has boolean operators. It maps some kind of a strucutre for which filter params cannot be used in the cube.
For example
Using some cube with sql as

[code]
with a query that is build using boolean operators
[code]
this improper structure is not passed correctly in the sql statement which brings problems.

Expected should be direct usage

[2022-09-13 19:58] paveltiunov commented on #5219
@NikKomarov We're going to provide `shown` flag for cubes which can be used together with https://cube.dev/docs/config#check-sql-auth in order to provide desired behavior through dynamic schemas. Right now, you can achieve pretty same behavior by hiding all members of the specific cube.

It'd be done as part of #5044 .

[2022-09-14 14:33] tonyabracadabra opened #5303 "How can I dynamically generate schema that contains variables that refers to other measures / dimensions?"
Hi team, how can I dynamically generate schema that contains variables that refers to other measures / dimensions? For example, I have a measure defined with `"sql": "${count} / ${total} * 100"`, which refers to `count` and `total` variables respectively, but obviously the variables (`${ ... }`) wrapped within `""` could not be further parsed into meaningful sql since they are dynamically generate

[2022-09-15 18:58] frolovdev commented on #4536
@parkerself22 @eugene1g @mfulop

hi there, hope you're doing great; please check this out #5132 🙏

[2022-09-16 10:11] Hunqer commented on #5176
Hello @keatmin,
is that working for you? Or cubestore require some code changes to use ARN_ROLE?

[2022-09-16 17:20] chandrakantsn commented on #43
I am also facing the same issue, any fixes to this ?

[2022-09-17 05:06] wub commented on #329
Hey @hassankhan, was this still on the roadmap? Cheers!

[2022-09-18 08:18] mihaiiova opened #5316 "total number of rows available in QueryRenderer and QueryBuilder"
**Is your feature request related to a problem? Please describe.**
When building data tables with QueryRenderer and QueryBuilder it is necessary to have the total no. of rows available. It is available via /load, but it would make life much easier if its available via the front-end connectors.

**Describe the solution you'd like**
Total number of rows available in resultSet when using QueryRendere

[2022-09-19 12:34] ivan-vdovin commented on #5316
Hey @mihaiiova
It should be available in client:
https://cube.dev/docs/@cubejs-client-core#total

As for the further support we're open for contributions.

[2022-09-20 05:46] benswinburne commented on #307
In the absence of this, is there a current means by which to reference a Cube within a function outside the scope of a `cube()` i.e. if

[code]

[2022-09-21 09:29] Hankier opened #5330 "Use assume role - AWS_ROLE_ARN - instead of access/secret key"
**Problem**

Is it possible to use s3 in cubestore on eks with assume role instead of access/secret?
I see that implementation [of remoteS3](https://github.com/cube-js/cube.js/blob/master/rust/cubestore/cubestore/src/remotefs/s3.rs#L45) is checking for CUBESTORE_ prefixed values. There is nothing like CUBESTORE_AWS_ROLE_ARN or sth that would allow to use role instead of keys.

Tried to run those h

[2022-09-21 10:02] jinyangzhen commented on #3906
+1 Tableau
+1 googlesheet

[2022-09-21 15:30] lialzm opened #5335 "Connecting to Visualization Tools the label Attributes is not work?"
Hi
I set a label Attributes in dimensions,but when i Connecting to Metabase,this can't show

[2022-09-22 02:31] eslynunez commented on #2017
Additional work around to get the desired response is to access the `Response` object from the req `Request` object like so.

`req.res.status('401').json({ message: "unauthorized"})`

While this will return a desired response to user it unfortunately surfaces an additional error `Error: Cannot set headers after they are sent to the client`. Work around above doesn't block the request from terminat

[2022-09-22 07:23] vishwaschoudhary commented on #1849
The above mentioned issue is still causing trouble for me so for now i am re-assigning the values that are being returned as string to float using **parseFloat()** . It becomes a bit tedious to reassign the values again and again but that's a simple fix for it.

[2022-09-22 08:57] booyaa commented on #5176
Leaving this here for anyone else who comes across this issue.

TL;DR You can't use assumed roles in Cube Store (not until they add support for it)

The S3 library that Cube Store depends on does allow the use of an assumed role, but this still requires implementation on Cube Store.  The current credentials handler only supports access key: https://github.com/cube-js/cube.js/blob/master/rust/cubes

[2022-09-22 11:57] johanjvrens commented on #3906
+1 [DBeaver](https://dbeaver.io/) Universal Database Tool

[2022-09-22 12:00] johanjvrens commented on #4142
Any Updates on how to set the timezone for [SQL API](https://cube.dev/docs/backend/sql)

[2022-09-22 13:52] NikKomarov opened #5341 "How one can disable cache or preaggregation for large datasets?"
**Problem**

Sometimes users can run smth like 'Select many dimensions and metrics for long period ".
When it happens, huge portion of data is added to memory cache (we are still using redis, but I think problem will remain after adding cube store).

How we can disable adding result of query to cache by its size (e.g. 30 mb)?

[2022-09-23 13:59] josx commented on #5117
To avoid the errors using `npm` you can run `npm install --legacy-peer-deps` on `node > 14`

So Maybe it is usefull to add it in [CONTRBUTION](https://github.com/cube-js/cube.js/blob/master/CONTRIBUTING.md)

@paveltiunov If you agree i can do it.

[2022-09-23 14:57] eslynunez commented on #2017
Follow up!

setting the `initApp` express error middleware does not capture errors for custom error response.
[code]

Still think that providing access to the `Response` object in `checkAuth` would  be a better solution for returning a custom response.

I found another work around using `CubejsHandlerError` this returns the appropriate status code and an error message but only in a response format

[2022-09-23 18:11] benchoncy opened #5357 "UnhandledPromiseRejectionWarning on GraphQL query when using k8s ConfigMap for schema"
**Describe the bug**
When running cube in k8s and attaching the schema files through a `ConfigMap`, the below error is raised in the container, and no response is received.

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Deploy cube to k8s. I used the [example helm chart](https://github.com/cube-js/cube.js/tree/master/examples/helm-charts)
2. Create a schema as described in the [exa

[2022-09-26 02:36] chaos87 commented on #5074
@paveltiunov I get the same error as @lyogev when I define a dbt expression metric for a ratio metric based off two metrics coming from the same model

My dbt metrics.yml

[code]

I can try to block some time next month to work on a PR if it is possible (we need dbt for catalog of metrics in my company, Cube is for querying them on the fly)

[2022-09-26 14:52] booyaa commented on #4747
I think what @kodeine meant was that there should be an index.yaml see ([docs](https://helm.sh/docs/topics/chart_repository/#create-a-chart-repository)). This could be generated using the [helm repo](https://v3-1-0.helm.sh/docs/helm/helm_repo_index/) command but would require integration into your pipeline.

[2022-09-26 15:15] gizmodus commented on #5178
I have a similar problem. I upgraded the cube Docker setup from v0.27.7 to v0.30.75 and now get these error messages:

[code]

Herse is the docker-compose.yml:

[code]

The cube configuration looks like this:

[code]

The log of the refresh worker container looks unsuspicious to me:
[code]

[2022-09-26 17:40] benchoncy commented on #5357
I believe the root of this issue is with the Nexus node module, however, I think:
- Cube should provide a helpful error message in this case if possible.
- Remove the recommendation to use `ConfigMap` from the helm examples.

[2022-09-27 06:48] gizmodus commented on #5178
By the way, when setting `CUBEJS_DEV_MODE=true` it works.

[2022-09-27 14:42] kodeine commented on #4747
Thats correct @booyaa

[2022-09-27 16:15] yuraborue opened #5371 "Druid timezone issue"
**Describe the bug**
druid-driver, query with time dimension and timezone returns error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. make a query with time dimension and timezone
2. send request to load data api
3. 500 error in response

**Expected behavior**
1. 200 success in response

**Minimally reproducible Cube Schema**

Any druid schema with time dimensions

**Version:**
[co

[2022-09-27 17:47] hiratab commented on #3059
Is it solved when we set the Cube to use the Cube Store?
During my tests I can see that the memory still increasing over time even if I set Cube to work with Cube Store and an external Redis.

[2022-09-27 21:35] paveltiunov commented on #3059
@guangzh3n @hiratab By default Node.js won't be releasing most of RSS memory back to the operating system once allocated. So it'd usually be normal behavior. Are you expecting any OOM because of that? If so, please feel free to reproduce it in Cube Cloud https://cubecloud.dev/auth/signup. This will allow our engineering team to snapshot Cube memory in an environment precisely tweaked for productio

[2022-09-28 01:15] paveltiunov commented on #5330
There's PR for this already #4411 however, it's stale.

[2022-09-28 06:28] rh78 opened #5374 "Extension planner error"
**Describe the bug**
When querying Cube.js, we get a strange error (see below).
Locally (EXTERNAL = false), it works.
In Production (EXTERNAL = true => Cubestore used), it does not work.

**To Reproduce**
Steps to reproduce the behavior:
Not sure if it is related to just our schema, or some general bug.

**Error message*
[code]

**Expected behavior**
The query should execute successfully.

**Versi

[2022-09-28 06:53] rh78 commented on #5374
I can confirm that the issue occurs, when using pre-aggregations with Cubestore. If we use the source database (EXTERNAL = false), it also works in production.

[2022-09-28 20:07] frimuchkov opened #5383 "Endpoint with information about preagregtation status for security contexts"
It would be nice to have an endpoint where we will be able to request information about the current preaggregation status.

[2022-09-28 23:15] keatmin commented on #5176
@Hunqer yes it has been working for me. I was looking at the rust code of aws-creds, which is the library that is being used by cubestore and it seems like it [automatically](https://github.com/durch/rust-s3/blob/a513abc9dc6d9191f645efc5f722f84af85557bd/aws-creds/src/credentials.rs#L182) look for `sts_env` when you do `Credentials.new`. So as long as there's no env var that caused cubestore to be

[2022-09-28 23:37] keatmin commented on #5176
@booyaa I can assume role just fine with AWS_WEB_IDENTITY_TOKEN_FILE and AWS_ROLE_ARN via helm + EKS without the update. If you look into the rust-s3 code, it actually opt for STS before they use the access_key

[2022-09-29 08:39] icimidemirag opened #5385 "MongoDB connection error on cube.js playground"
Hi. I try connect to mongodb but I got "Error while loading DB schema Error: connect ENOENT 3307" error, altough I run mongosqld for mongobi. What should I do?

[2022-09-29 14:31] igorlukanin commented on #5383
@frimuchkov Which statuses are you interested in seeing when requesting this endpoint?

[2022-09-29 18:24] paveltiunov commented on #5374
Hey @rh78 ! Could you please post your Cube data schema?

[2022-09-29 20:30] pacofvf commented on #3906
@johanjvrens For DBeaver select postgres as the type of DB and you will be able to connect to it. The same applies to other DB IDEs like [Jet Brains Datagrip](https://www.jetbrains.com/datagrip/), [VS Code](https://github.com/microsoft/vscode-postgresql) and others.

[2022-09-30 22:06] kaydenvg commented on #4811
Hi, Any update on resolving this issue? Having the same problems in the pre-token lambda with cognito, the JSON object doesn't look correct on return.  ```
## - JWT passed to Cube (obtained from Cognito): {
  ...
  "cubejs": "\{org_id:\"...\"\}"  //-> JSON.stringify()'d object, as given by Cognito pre-token generation Lambda per the docs
}
==================================
## - Env:
CUBEJS_JWK_UR

[2022-10-02 10:42] VitaliyMF commented on #3906
I've tried to connect via Postgre protocol to the docker container 'cubejs/cube' (the latest image) from [SeekTable](https://www.seektable.com) (cubejs was configured for real PostgreSQL DB) but got this strange error on any query (even for just "select 1"):
[code]
SeekTable uses official Npgsql (.NET) driver.

[2022-10-03 06:19] rh78 commented on #5374
Here you go:

```cube(`Keywords`, {
  sql: `SELECT * FROM public."Events" WHERE "EventAction" = 'Search'`,

  preAggregations: {
    sHour: {
	  measures: [numberOfSearches],
	  dimensions: [portalUuid, eventLabel],
	  timeDimension: createdAt,
	  granularity: `hour`,
	  partitionGranularity: `day`,
	  refreshKey: {
		every: `1 hour`,
		incremental: true
	  },
	  indexes: {
		sHourPortalUuidIndex:

[2022-10-03 09:16] VitaliyMF commented on #3906
I've found the reason: Npgsql driver requires a special option in the connection string `Server Compatibility Mode=NoTypeLoading` (btw, it makes sense to mention about that for .NET users), when specified SeekTable was able to use Cube.js as a data source without problems; date-part dimenions (year/month/day) and report parameters (SQL filters) work just fine, so SeekTable can be considered as a p

[2022-10-04 12:22] abdel-87 opened #5420 "Cube SQL API not working with Metabase Model Filters and Parameter Field Filters"
Cube SQL API not working with Metabase Model String Filters and Parameter Field String Filters

Steps to reproduce the behavior in Ask A Question:
1. Assuming you already have a CubeJS Deployment enabled with SQL API. Open Metabase, connect to CubeJS with the provided (postgres) Credentials.
2. Click on Ask A Question. Put in Sum of Count at least, and then add a filter that is a String field, suc

[2022-10-04 18:37] kveber commented on #3358
Any news about it?

[2022-10-04 19:45] #5217 closed

[2022-10-05 08:29] rh78 commented on #5374
Hey - any update?

[2022-10-05 20:00] lsowen opened #5430 "Alternative to `checkSqlAuth`"
Currently, authentication for the SQL API is handled by implementing `checkSqlAuth(request, username)`, which, based on the user passed in returns the expected password and security context for the user (https://github.com/cube-js/cube.js/blob/074655ec57493b4ddf711d466749b82b46d87c42/docs/content/SQL-API/Authentication-and-Authorization.mdx).

Is there any interest in an alternative `checkSqlAuth(

[2022-10-07 06:09] Mutondi opened #5439 "@cubejs-client/ngx - Angular 14 IVY Support"
**Problem**

Good Day,

Has this library been upgraded to Angular 14, we have one project heavily reliant on this and experiencing serious optimization issues due to the library not being IVY compliant.

Do we have a solution/roadmap it would suck to have to replace this in production

[2022-10-07 08:29] yzn-h opened #5440 "arabic table names don't work"
**Describe the bug**
I'm using supabas, I have tables with arabic names like "حصص الاتقان", When I try to build a build a query i get this error
![Screenshot from 2022-10-07 11-22-35](https://user-images.githubusercontent.com/63852512/194507702-93016d9e-a35f-4f50-ba1a-72366e3e9ebe.png)

**To Reproduce**
I don't know if it the problem with PostgreSQL alone
Steps to reproduce the behavior:
1. make P

[2022-10-07 10:11] agodet opened #5441 "Connecting to dremio with DremioDriver"
**I have an HTTP 404 error code with axios when i'm connecting to dremio and accesss http://localhost:4000/#/schema**

there is my cube.js :

[code]

What i'm doing wrong ?

[2022-10-07 10:13] agodet commented on #5441
@buntarb ? @ovr ? have you got an idea ?

[2022-10-07 12:49] rascasse83 commented on #3051
There is quite a lot of overlap functionality wise between Dremio and Cube, as both act as a semantic layer decoupling the presentation layer from the data storage, and enforcing a security model too, at run-time.
Therefore for Cube.js to be considered a possible alternative to Dremio, it would need the ability to connect to data lakes.
Failing that, one could potentially implement a 2-tier semant

[2022-10-07 20:18] sacummings91 opened #5446 "Upgrading to typescript 4.8 makes tsc fail due to invalid cube types"
Some changes in typescript from 4.7 -> 4.8 are causing tsc to fail for some types within the cubejs-client/core project. This is blocking us from upgrading typescript to the latest version.

[code]

Steps to reproduce the behavior:
1. upgrade to typescript 4.8
2. run tsc
3. Should see error reported

[2022-10-08 00:08] paveltiunov commented on #5440
Let's discuss it here #5174

[2022-10-08 00:08] #5440 closed

[2022-10-08 00:10] paveltiunov commented on #5335
@lialzm I can confirm this isn't supported yet.

[2022-10-08 00:13] paveltiunov commented on #5374
@rh78 Which database do you use?

[2022-10-08 01:01] paveltiunov commented on #5303
@tonyabracadabra You can do that as follows:
[code]

[2022-10-08 03:55] paveltiunov commented on #5439
Hey @Mutondi ! This is outside of core team roadmap however feel free to provide PR for that!

[2022-10-08 04:40] Mutondi commented on #5439
Sure I will take this on

[2022-10-08 07:22] rongfengliang commented on #3051
@rascasse83  Yes,  but cube.js is mainly for bi,dremio for data lake query & semantic layer.  we can use cube.js  dremio driver connect dremio and do some  dashboard

[2022-10-08 14:03] ezequielpozzotromzo commented on #5374
Same issue here, at least on my local envs.

schema:

`
const {
  securityContext: { organization },
} = COMPILE_CONTEXT;

cube(`AlertTrends`, {
  sql: `
    SELECT
      id,
      due_date AS date,
      resolved_at,
      due_date,
      0 AS open_delta,
      1 AS past_due_delta,
      'Due' AS row_type
    FROM core_alertexecution due
    WHERE due_date IS NOT NULL AND
        (resolved_at IS

[2022-10-09 23:47] waveywaves opened #5449 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new cube.js contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for cube.js. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up a comple

[2022-10-10 12:40] buntarb commented on #5446
Hey, @sacummings91. Thanks for the report. We appreciate it. However, our current typescript version is ~4.1.5, and 4.8 is not officially supported. It would be great if you would fix an issue and send us a PR with the fix.

[2022-10-10 15:52] frimuchkov opened #5451 "Error when use word "term" in schema"
Hi!

In some cases, when we use field Report."adTerm" in reports, Cube say thant there is no Report."ad" (!) field.

Doesn't work:
[code]

Works fine:
[code]

Original query:
[code]

Error:
[code]

As you can see, there is no `report__ad_term` in error, but we have it in our Cube and if we use adTerm before campaign everething works fine.

[2022-10-10 16:37] frimuchkov commented on #5451
BTW, noticed, we don't use Report."adTerm" in in preaggregation

[2022-10-10 19:23] sacummings91 commented on #5446
Hey @buntarb, Just want to confirm that its understood that I am not trying to upgrade typescript in your cube repo. I am trying to upgrade typescript in my own project and its causing tsc to fail in my node_modules for cube.

If so, then yeah I can try to fix it for you guys. Is there a preferred way of contributing to cube projects? Or should I just clone it and cut a branch with the fix and pus

[2022-10-10 20:53] buntarb commented on #5446
@sacummings91, as far as I understood, some of our existing types don't work for the 4.8. But as long as we stay on 4.1, we can live with it. Right now, we don't plan to upgrade the TS version because it can cause massive refactoring (we are using monorepo). However, if you will fix these certain types from your site in a way it continues to work with both 4.1 and 4.8, we will merge your PR with p

[2022-10-11 10:24] thellimist commented on #4449
@ivan-vdovin would love to have support on this!

[2022-10-11 17:32] #5371 closed

[2022-10-12 16:12] paveltiunov commented on #5374
@rh78 Could you please also share the Cube query and generated SQL for Cube Store also?

[2022-10-12 21:02] Josh-a-e opened #5460 "Inconsistent error formats returned from cube cloud"
**Describe the bug**
Sometimes errors have an "error" property, sometimes they have a "message" property.

**Expected behavior**

A consistent attribute to denote the details of an error.

**Screenshots**

<img width="394" alt="Screenshot 2022-10-12 at 21 46 40" src="https://user-images.githubusercontent.com/2893877/195446860-49ef18e9-19f0-4e04-8e93-b4bc99e37798.png">

<img width="465" alt="image"

[2022-10-13 07:54] frimuchkov opened #5461 "Date doesn't work with equal"
Hi!

Looks like date doesn't work with an equal operator, only with `>=`, `<=`, and `between`:
![image](https://user-images.githubusercontent.com/19934346/195536201-23b37c12-fbb5-4c20-a8fc-6914e06ed508.png)

[2022-10-13 10:21] dhavalaprashanth opened #5462 "The Security Token included in the Request is Invalid"
**Problem**

I am trying to connect athena with ```Assume Role``` credentials . Assume role credentials are generating well and good but the problem is when i pass the secret key , accesskey, sessiontoken  from assume role credentials to athena I am getting an error saying
"The Security Token included in the Request is Invalid". I have the required permissions for assume role but i cant understand

[2022-10-13 10:41] yinkaihsu opened #5464 "DBT integration fails when metrics sql contains ".""
**Describe the bug**
When I use the DBT integration with the following code:
[code]

It will return error like below:

[code]

The `manifest.json` of dbt project would look like:
[code]

**Expected behavior**
I think this error happens because it wrongly treat "." as an element within the object, but instead it should be a `RECORD` column in BigQuery, which is like the dimension `"events.event_typ

[2022-10-13 15:03] rpaik commented on #438
Closing this issue as this can now be addressed with [Views](https://cube.dev/blog/introducing-views).

[2022-10-13 15:04] #438 closed

[2022-10-13 15:04] #1387 closed

[2022-10-13 15:05] #5219 closed

[2022-10-13 17:17] paveltiunov commented on #5374
@rh78 @ezequielpozzotromzo Should be fixed in the latest version. Could you please check?

[2022-10-13 17:17] #5374 closed

[2022-10-14 12:42] prochj51 opened #5467 "PreAggregation with segment behaves differently then non preaggregation"
**Describe the bug**
I implemented cube for my needs and it is returning correct values. I added preAggregation via Playground suggestion.
When I run my query with preaggregation, either return nonsense data for certain granularities or calculation fails completely on this error
`sql cannot represent '121383130843856.02' with scale 5 without loosing precision `

**To Reproduce**
Cube looks like th

[2022-10-15 16:31] Inoir commented on #4105
this issue seems to happen on every resultSet.
i.E if you use QueryBuilder and just change the order, the incoming data from network is correct sorted, the filledDates  i.e:`resultSet.categories(pivotConfig)`  isnt.

[2022-10-16 19:01] pm-hwks opened #5470 "Databricks connector issue"
**Describe the bug**
Databricks connector is not showing up in the developer playground.

**Troubleshooting level 1 :**
* provided the databricks connector configuration via environment variables in the docker run command.
`docker run -p 4000:4000 -p 3000:3000 \
  -v ${PWD}:/cube/conf \
  -e CUBEJS_DEV_MODE=true \
  -e CUBEJS_DB_TYPE=databricks-jdbc \
  -e CUBEJS_DB_NAME=yyyyyy \
  -e CUBEJS_DB_DA

[2022-10-16 21:35] manudc86 opened #5471 "Unable to connect Cube to an Oracle DB - neither from container, nor from Cube Cloud"
Hi! I am Manuel.

I am trying to create my first Cube deployment from scratch, connecting to an Oracle Database. I tried to connect to this database both from a locally hosted container that I've created following the steps in your docs (using docker-compose), and also I've tried to connect to this database from Cube Cloud. Either way, I get an error message, which is different for container and C

[2022-10-17 21:21] kandji-alex opened #5472 "Cubestore - ADD Snowflake Storage Integration to Access Amazon S3"
**Is your feature request related to a problem? Please describe.**
This is [barely documented at all](https://cube.dev/docs/config/databases/snowflake), but it seems Snowflake driver's S3 `Export Bucket` functionality currently works by:
1. Creating temp pre-agg tables in Snowflake (with `CREATE` commands)
2. Using a Snowflake `COPY` command to move this temp data into the S3 bucket you've specifi

[2022-10-18 13:49] fbvdka commented on #3906
I've tried to connect cube.js with Chartbrew (https://chartbrew.com/) using SQL API, but I obtain the following error :
[code]
It seems that Charbrew uses Sequelize to connect to a PostgreSQL DB.

[2022-10-18 17:02] VafinaIgoul opened #5479 "Joining Data from Multiple Data Sources— Clickhouse and Postgresql — join error"
**Describe the bug**
Joining Data from Multiple Data Sources— Clickhouse and Postgresql — join error

**To Reproduce**
Steps to reproduce the behavior:
1. Create CubeJs schema Employee — from Postgresql, Events — from Clickhouse
2. JsonQuery
   {
  "limit": 5000,
  "dimensions": [
    "Events.name",
    "Employee.personnel_id"
  ],
  "order": {
    "Employee.name": "asc"
  }
} - Join works correct

[2022-10-18 19:38] ovr commented on #5113
I am going to close this issue because it looks solved by the workaround.

Thanks

[2022-10-18 19:38] #5113 closed

[2022-10-18 19:39] ovr commented on #5095
Hello @archiewood ,

I am sorry for the late reply, but we delivered a fix for that.

Could give it a try?

Thanks

[2022-10-19 10:16] fbvdka commented on #5430
Totally in favor of this alternative!

[2022-10-19 21:47] kodeine commented on #4987
@paveltiunov so i am trying to use total as well for pagination needs and a table with pre aggregation gives error like above if total is true but if its set to false it works fine. Without pre aggregation it works fine. Any ideas for any alternatives we can use to get total until this issue is resolved?

[2022-10-20 14:50] AurelienConte opened #5506 "ElasticSearch 8.x support"
I want to integrate the ElasticSearch source to cube.dev but it seem to be not compatible with the latest version of Elastic (8.X)
There is any plan to support it ?

Thanks,

[2022-10-20 15:14] rh78 commented on #5374
OK will do ASAP.

[2022-10-21 02:01] kodeine commented on #1927
I think this is related to #4987
total: true does not work when cube has pre-agg's enabled.

[2022-10-21 06:22] mihaiiova commented on #4987
@kodeine, I currently do a second call with /load where I get the total from. I don't know if it helps speed things up, but I only use the dimensions, filters and timeDimensions from the initial query + limit of 2. I only take the total out of this second call.

[2022-10-21 11:29] #5117 closed

[2022-10-21 14:42] kodeine commented on #4987
@mihaiiova i understand but running multiple queries just to get total is not my preferred method.

[2022-10-24 03:21] paveltiunov commented on #5460
@Josh-a-e Hey Joshua! Could you please share which API you're calling and with what parameters?

[2022-10-24 03:29] paveltiunov commented on #5461
@frimuchkov You can use a single value for `timeDimension.dateRange` to achieve the desired result.

[2022-10-24 03:35] paveltiunov commented on #5467
@prochj51 This error means that there's a number outside of the decimal range. As a workaround, you can try to cast it to the float.

[2022-10-24 03:38] paveltiunov commented on #5470
@pm-hwks You should use jdk tag instead: https://hub.docker.com/r/cubejs/cube/tags.

[2022-10-24 03:40] paveltiunov commented on #5471
@manudc86 Could you please check the latest docker image to see if it was fixed?

[2022-10-24 11:17] fbvdka opened #5512 "Unable to connect Chartbrew to Cube SQL API"
Error when trying to connect Chartbrew to Cube SQL API

I've tried to connect cube.js with Chartbrew (https://chartbrew.com/) using SQL API, but I obtain the following error :
[code]
It seems that Charbrew uses Sequelize to connect to a PostgreSQL DB.

[2022-10-24 13:39] rahul-n18 commented on #3525
@maxacarvalho  why don't you try to reconfigure mysql server and change the Authentication?

have you tried that method using mysql Installer?
hope this helps :)

[2022-10-24 14:08] maxacarvalho commented on #3525
Hi @rahul-n18
Thanks for the suggestion, but that would mean that I'd have to lower the security on my DB server, that's not an option, I'm afraid.

[2022-10-24 15:42] Inoir opened #5515 "Documentation of MongoDB is invalid"
**Describe the bug**
Currently it doesnt mention SSL is required for MongoBI to run. Instead it says all SSL is optional.
As a lot people already mentioned in this post: https://github.com/cube-js/cube.js/issues/222 the only way to use MongoBI is with SSL enabled. Should be way more clear how you do this. i.E like this: https://stackoverflow.com/questions/58868085/cube-js-error-ssl-is-required-whe

[2022-10-25 09:23] prochj51 commented on #5467
It worked, thanks.

[2022-10-25 18:33] frimuchkov opened #5519 "Incorrect logic in LIKE in Cube SQL API"
**Describe the bug**
LIKE operator works as a regexp, not as LIKE

**To Reproduce**
Steps to reproduce the behavior:
1. Write a query like this `Report."campaign" LIKE '%Brand Awareness - SS 5_ Purchase - Full Price [CAMPAIGN]%'`
2. Call this query on data with preaggregations
3. Call this query on data without preaggregations
4. See different results (Cube doesn't parse `_`)

Problem with additio

[2022-10-26 01:55] DanlBradley commented on #5430
Agreed. I can see issues on Cube's end with suppliedPassword.

Another workaround would be to build some sort of functionality for hashing supplied passwords. Main point is we do not want to be storing cleartext passwords in our databases for cube multitenancy.

[2022-10-27 04:34] phohomi commented on #3906
Hi,

Is there work being done on a XMLA  connector or something similar?
Such an API would allow the BI tools to preserve the information as it is defined in the schema of the cube: the user would see dimensions instead of only columns.

In the issue below there is a reference to an XMLA project, but that is all that I can find:
https://github.com/cube-js/cube.js/issues/3752

[2022-10-27 09:18] b-jan opened #5524 "Abort / cancel previous cubejs requests made"
**THE PROBLEM**

On a page change, or a time filter change, we need to **abort / cancel previous cubejs requests made**.
Currently, there is no way to do it, and as a result you have to wait for every cubejs queries you made before resolving the new ones.

**THE SOLUTION**

As [you can do it with axios or fetch](https://stackoverflow.com/questions/50516438/cancel-previous-request-using-axios-with-

[2022-10-27 10:53] NikKomarov opened #5525 "SQL API perfomance problem"
**Good SQL**
`select * from dataset limit 100`

**Stacked SQL**
`select * from dataset limit 5000`
`select * from dataset`

**Underlying DBMS **
`clickhouse

**Version:**
cubejs/cube:v0.30.62

**Additional context**
Hi, guys! I found strange behaviour, sorry, cannot provide any screens, logs due to NDA, but will try to desribe it.
We use Clickhouse as DBMS and we have huge table of trancactions, s

[2022-10-27 14:29] Inoir opened #5527 "MongoBI connection throws warning (error soon)"
**Describe the bug**
Current connection with MongoBI is mapped to MySQL2 connection and throws errors

**To Reproduce**
Steps to reproduce the behavior:
1. Setup MongoBI project
2. Deploy on Kubernetes (? dunno if needed my env is like this)
3. Call /livez or /readyz endpoint
4.  Warning below

[code]

**Expected behavior**
No spam is happening

**Screenshots**
![Screenshot 2022-10-27 at 16 14 10]

[2022-10-27 15:15] yuraborue opened #5528 "Incorrect processing `_` and `%` symbols in contains/notContains filter for PrestoDB"
**Describe the bug**
`_` and `%` symbols don't work in contains/notContains filter for PrestoDB

**To Reproduce**
Steps to reproduce the behaviour:
1. Load data by query with filter
[code]
2. Check sql query in PrestoDb console, it contains
```LOWER("visitors".note) NOT LIKE CONCAT('%', LOWER('\\_') , '%') ESCAPE '\'```

**Expected behaviour**
Sql query should contain ```LOWER("visitors".note) NOT

[2022-10-27 19:41] Josh-a-e commented on #5460
Hey - sure, I'm just hitting the regular query endpoint using `cubeClient.load({ ... })` to poll cube cloud to discover whether or not my deployment has been completed yet.

[code]

I have this wrapped in a catch / retry loop, in which there is

[code]

[2022-10-27 19:47] exister opened #5532 "Corrupted message received by cubestore-router"
**Describe the bug**
I've followed docs and deployed cubejs and cubestore to k8s cluster.
During readinessProbe stage Api-server and refresh worker perform connection checks, which cause "Corrupted message" error in cubestore-router.

api-server logs
[code]

refresh-worker logs
[code]

cubestore-router logs
[code]

api-server env
[code]

refresh-worker env
[code]

cubestore-router env
[code]

cube

[2022-10-27 20:34] exister commented on #5532
Problem was, that I misunderstood which port should be set as `CUBEJS_CUBESTORE_PORT`, it should be cubsestore-router http port, not meta port.

Closing the issue.

[2022-10-27 20:34] #5532 closed

[2022-10-28 01:18] paveltiunov commented on #5525
@NikKomarov Could you please try the same query using REST API? Do you see the same problem?

[2022-10-28 14:01] kodeine opened #5536 "ParserError("Expected ',' or ')' after column definition"
Using prestodb with pre-aggregations i'm facing the following create table errors.

[code]

[2022-10-28 17:31] paveltiunov commented on #5524
@b-jan You can use https://cube.dev/docs/@cubejs-client-core#unsubscribe-obj-unsubscribe to `unsubscribe()` from listening upcoming results and stop long polling loop. It doesn't cancel query in db though. Please see #4806.

[2022-10-28 17:32] paveltiunov commented on #5536
@kodeine Most likely, there's a mismatch between Cube and Cube Store versions.

[2022-10-28 18:16] kodeine commented on #209
@bentesha is it possible to have rollingWindow return an array of values so this array could be used to plot a line chart. So it could be easily used like

<img width="809" alt="image" src="https://user-images.githubusercontent.com/8620059/198704951-59eee035-b1a0-4211-8c26-56e02afe4493.png">

[2022-10-28 19:05] kodeine commented on #5536
@paveltiunov i am using docker and on macbook pro m1 max.

[code]

[2022-10-28 19:11] kodeine commented on #5536
@paveltiunov i commented out cubestore and just kept cube api, im getting the same error,

[code]

[2022-10-28 21:40] sacummings91 commented on #5446
Hey @buntarb, I believe I've fixed the issue but I'm running into a blocker. I'm trying to push up a PR and getting a permissions issue. Any ideas what might be going wrong here?
![image](https://user-images.githubusercontent.com/29286028/198737483-9312a1e7-c299-4080-8294-a02a3aa23cdf.png)

[2022-10-29 12:46] Inoir commented on #5527
Would be nice to have an example how you guys would configure readyness/liveness probe in kubernetes.
My checks always fail, dunno if this happening cause of these warnings above. but after a period of time the pod always is unavailable and restarts, without any error on mongobi/cube.

[2022-10-30 23:10] paveltiunov commented on #5430
@lsowen @fbvdka @DanlBradley Thanks for providing the feedback! I think if we stick with cleartext auth for Postgres, we can provide such an option.

[2022-10-30 23:20] paveltiunov commented on #5150
@tonyabracadabra Yep. In some sense. But only from Postgres to data sources Cube supports.

[2022-10-30 23:20] #5150 closed

[2022-10-30 23:23] paveltiunov commented on #4987
This one should be fixed in the latest version.

[2022-10-30 23:23] #4987 closed

[2022-10-30 23:25] #4536 closed

[2022-10-30 23:30] paveltiunov commented on #4398
Graphql is community-contributed, so we're looking for contributors here. @lvauvillier this one seems to be popular if you have time by any chance.

[2022-10-30 23:32] paveltiunov commented on #4895
@Martelloti Please create another issue for that if you're still experiencing it.

[2022-10-30 23:32] #4895 closed

[2022-10-30 23:40] #5263 closed

[2022-10-30 23:46] paveltiunov commented on #5341
@NikKomarov There's no such feature currently, but we may consider adding it.

[2022-10-30 23:49] #5303 closed

[2022-10-31 00:27] lsowen commented on #5430
@paveltiunov are you open to contributions on this?  I would be willing to take a stab at implementing, but wanted to make sure there was interest in it.

[2022-10-31 00:52] paveltiunov commented on #5430
@lsowen Yep! Please feel free to provide PR for that!

[2022-10-31 01:25] lsowen commented on #5430
Awesome, I'll work on it over the next couple of weeks

[2022-10-31 07:05] b-jan commented on #5524
Thank you @paveltiunov
But because it does not cancel query in db, and because the concurrency of queries is limited, Ii takes a lot of time to get the results...

[2022-10-31 11:38] johhattingh opened #5540 "Serverless deployment on AWS"
Hi,

From the documentation, https://cube.dev/docs/deployment/platforms/serverless/aws, it seems like the serverless deployment method is being deprecated. Is there any new plans for a deployment of Cube.js going forward?

Thanks in advance.
Johan

[2022-10-31 14:53] bykof opened #5542 "Not Shown Fields are not accessable in Production Mode"
**Problem**

Hey Folks,
if I have a cube like this:

[code]

I can access the field `test` it in dev mode.
But if I try to access this field in prod mode, I get the error:

[code]

I thought `shown: true` exists to hide fields in the meta response, but still allow them to be queried.
There is also no hint on the page: https://cube.dev/docs/configuration/overview#development-mode

So my question is

[2022-10-31 21:48] paveltiunov commented on #5542
@bykof This is correct behavior. Fields aren't allowed to be queried through API when hidden.

[2022-10-31 21:53] paveltiunov commented on #5540
@johhattingh If you're looking for a serverless hosting experience, you can try out https://cube.dev/cloud. This is the only fully supported serverless hosting option at the moment. There are no plans to support other serverless deployment options using the efforts of the Core team in the future.

[2022-10-31 23:29] paveltiunov commented on #5524
@b-jan In practice, query cancellation isn't that reliable as a mechanism for controlling your app query throughput. Please consider using pre-aggregations if you're looking for a reliable way of isolating pressure on your source database from your downstream users.

[2022-11-01 06:39] bykof commented on #5542
But this is somehow not consistent behaviour. If I test my code with env variable `CUBEJS_DEV_MODE=true` the fields are exposed and the code works, if I switch this env they are hidden.

I would suggest rather make all fields accessable but trigger hide/show in the /meta endpoint or make all fields not accessable which are hidden in DEV_MODE=true and false.

[2022-11-01 08:55] carlonuccio opened #5547 "Bigquery Connection Service Account - Unexpected token '<', "<html> <h"... is not valid JSON"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Connection
2. Click on Bigquery
3. Upload Service Account
4. See error

**Expected behavior**
Get Datasets from BQ

**Version:**
Tested on 0.28.43, 0.31.8, 0.31.7.
Works only on 0.26.95

**Additional context**
Deploy on ECS Fargate.

Only 1 Task with:
1 container for API Instance
1 container for Refresh Worker

[2022-11-01 17:39] paveltiunov commented on #5542
@bykof Thanks for the feedback! We'll stick with the second option.

[2022-11-01 17:54] bykof commented on #5542
I hoped you would stick with the first option :D but anyway thank you for managing that! I appreciate your work!

[2022-11-01 18:13] #5542 closed

[2022-11-01 20:29] paveltiunov commented on #5547
@carlonuccio Could you please try to reproduce it in [Cube Cloud](https://cube.dev/cloud)? It's too little information to tell anything here.

[2022-11-02 04:48] gandronchik commented on #5519
Hello @frimuchkov. Thank you for this issue. We added it to backlog and I will notify you when it is done

[2022-11-02 04:50] gandronchik commented on #5512
Hello @fbvdka . Chartbrew has not supported by CubeSQL yet. We added it to backlog and I will notify you when it is supported.

[2022-11-02 09:04] carlonuccio commented on #5547
on Cube Cloud, it works.

Additional Context:

for Cube API Instance, I'm specifying the following variables:

[code]
In this way, it doesn't work.

If I don't specify CUBEJS_DB_TYPE, CUBEJS_DB_BQ_PROJECT_ID, CUBEJS_DB_BQ_CREDENTIALS, the initial page is the connection page. So click on BigQuery connection and try to install @cubejs-backend/bigquery-driver.
This is the log:

[code]

[2022-11-02 14:12] #1648 closed

[2022-11-02 14:13] hassankhan commented on #1648
Thanks for reporting this, @pierre-b!

[2022-11-02 19:19] xandercovert commented on #4811
Hey I have been experiencing the same issue. Is this planning on being resolved or should we explore alternatives to encoding the JSON information within the namespace?

[2022-11-03 00:51] pierre-b commented on #1648
Thanks @hassankhan for taking care of the ticket. keep going :)

[2022-11-03 05:35] #5470 closed

[2022-11-03 05:36] paveltiunov commented on #5462
@dhavalaprashanth Could you please reproduce this one in Cube Cloud so we can take a look?

[2022-11-03 05:38] paveltiunov commented on #5385
@icimidemirag Could you please try to reproduce it in Cube Cloud?

[2022-11-03 05:43] paveltiunov commented on #5547
@carlonuccio I guess you're trying to use Playground in a production environment which isn't possible with open source version of Cube. You can do it in Cube Cloud, however.

[2022-11-03 07:34] gandronchik commented on #5451
Hi @frimuchkov. I will investigate and come back soon. Thank you 🤝

[2022-11-03 09:29] waveywaves commented on #5449
I would like to work on this !

[2022-11-03 13:59] bykof commented on #5542
@paveltiunov I would discuss this topic once more.
So let's imagine if someone creates a dimension:
[code]

then the intention of the developer is that status is shown and accessable.
If someone uses `shown: false`, then I would expect, that status is still accessable but not shown in the meta fields because it's "hidden".
What the current implementation does is rather a `accessable: false` behavi

[2022-11-03 14:51] igorlukanin commented on #5542
Hey @bykof, thanks for elaborating. Could you please explain the use case?

It sounds a bit like "security through obscurity". You know that there's such dimension but decide to not expose it through the `/meta` API call. Why?

[2022-11-03 14:52] igorlukanin commented on #5542
However, I agree that `shown` is poor naming, we could improve that.

[2022-11-03 14:58] bykof commented on #5542
The usecase would be to render a dropdown list of dimensions and measures (like you do in the cube developer dashboard). But still have the possibility to query a specific dimension by it's name, because it is just "hidden".

Imagine you have a customer, orders, order-items, categories and products. You let the user build the query by him/herself. For example you have order.status but you don't wa

[2022-11-03 15:02] igorlukanin commented on #5542
@bykof It makes sense; thanks for explaining. There's a feature that is designed specifically for this use case: the [`meta` option](https://cube.dev/docs/schema/reference/dimensions#parameters-meta) in measures and dimensions. With that option, you're able to provide arbitrary information to the front-end side, e.g., rendering hints. What do you think?

[2022-11-03 15:38] mbkh68 commented on #1362
Having similar issue, but in my case, normal http request is validated with no issue, but websocket connections returns
`{messageId: 1, message: {error: "Not authorized"}, status: 403}`

[2022-11-03 15:40] mbkh68 commented on #1362
This not yet fixed?

[2022-11-03 16:58] paveltiunov commented on #5542
@bykof Do you want to be hidden in the playground or query builder? Are you embedding a playground somewhere in production?

[2022-11-03 20:31] bykof commented on #5542
@igorlukanin I think this would fix my problem for now.
Nevertheless I think that the naming could be changed from "shown" to "private" or "accessable"

@paveltiunov no I don't embed playground into production. I built such a query builder by myself.

[2022-11-04 03:40] buntarb commented on #5479
Hi, @VafinaIgoul. Thanks for the report.
Could you please confirm that this issue is reproducible with the 0.31.11 versions? I tried to do my best but couldn't reproduce this issue.

[2022-11-04 07:53] Shoti2313 commented on #3143
would love to have this too

[2022-11-04 09:15] aparfeno opened #5560 "cubestored"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-04 09:15] #5560 closed

[2022-11-04 10:01] mk-nuccioc commented on #5547
I'm using `CUBEJS_DEV_MODE: true`. Doesn't work on ECS Fargate?

[2022-11-04 14:12] aparfeno opened #5562 "Core dumped cubestore docker"
When running cubestore docker image, receive an immediate "Illegal instruction (core dumped)"

Runtime is a Ubuntu environment running as a Linux container in Proxmox v 7.1-12:

Proxmox: 7.1-12/b3c09de3
Linux 5.13.19-6-pve #1 SMP PVE 5.13.19-15 (Tue, 29 Mar 2022 15:59:50 +0200)

Linux Container:
Ubuntu
Linux  5.13.19-6-pve #1 SMP PVE 5.13.19-15 (Tue, 29 Mar 2022 15:59:50 +0200) x86_64 x86_64 x86_6

[2022-11-04 14:38] aparfeno opened #5563 "Separate database for preaggregations"
I am using CubeJS against read-only replica of the MS SQL database (I imagine it is a very common scenario).
Regardless of schema, the database is read-only, so CubeJS can not create temporary preaggreation tables.

I need a way to specify a database name (on the same server) for preaggregations. I tried  providing preaggregation schema with '.' in it (i.e. 'cubejsdb.preagg_schema') but got an err

[2022-11-04 15:30] rickyDeveloper opened #5564 "Queries are getting timing out when high load."
Hi,

We are currently using open source version of cube to serve data for our dashboards.
We have started 6 instances of cube and deployed it in-house on our GCP VMs.  These VMs are fronted by a Load Balancer which has a 30 seconds query execution time out.

Cube server connects to Snowflake data warehouse to extract data.
The query execution time on Snowflake is max 1-3 seconds.

When a lot of co

[2022-11-04 16:35] paveltiunov commented on #5564
@rickyDeveloper What are your concurrency settings? What Cube queue size do you see in logs? Could you please also share Cube API instance CPU usage?

[2022-11-04 16:37] paveltiunov commented on #5562
@aparfeno You need to use `non-avx` image tag.

[2022-11-04 16:38] paveltiunov commented on #5562
Duplicate of #3336

[2022-11-04 16:38] #5562 closed

[2022-11-04 16:41] paveltiunov commented on #5547
@mk-nuccioc Yep. Dev mode is supposed only for local development and shouldn't be used when deployed to a production environment.

[2022-11-04 16:47] shlok97 commented on #5564
Hi @paveltiunov,
Replying on the behalf of Vikas.
We are currently using the default concurrency settings and we have not changed them from our end. Hence it's 2 currently by default.
We have a set of 12 cube containers running in parallel which have load balanced amongst them. The Cube API's cpu usage reached around 180% max on the docker containers.
Also, I would need your help in finding the qu

[2022-11-04 16:48] rpaik opened #5565 "Epic: SQL API Improvements"
We will continue incrementally improving our SQL API to cover support BIs and more advanced features of specific BIs. Below are some improvements planned:

- Join support
- Tableau paging, and other production polishes
- Timezone support
- Observability tools support (e.g., Monte Carlo)

[2022-11-04 16:49] shlok97 commented on #5564
Also, the number of queries we were receiving was around 200 per minute - or 6-7 QPS.

[2022-11-04 16:56] rpaik opened #5566 "Epic: Read-only drivers"
Most of our drivers currently require write permissions to the source database in order to create temporary tables needed for bulk-exporting data. In Q4, we’re going to review which drivers could potentially be migrated to read-only mode and do the refactoring.

Our initial focus will be on Cloud data warehouses, but we'd welcome community feedback on which drivers you'd like to see prioritized.

[2022-11-04 17:07] rpaik opened #5567 "Epic: Improved configuration"
We are going to simplify some of the configuration steps, including:

- Date range (so you can do things like "last week," "last quarter," etc.)
- Dropping the requirement for selecting a default data source (esp. for multitenancy setup)
- ...

[2022-11-04 17:16] shlok97 commented on #5564
Thanks @paveltiunov for the quick response, what's the maximum value of CUBEJS_CONCURRENCY that you would recommend for us to set? Is there any side effects of setting a high number  (let's say 10) for that? We have queuing and horizontal scaling on snowflake so we can handle a higher load there.

[2022-11-04 17:26] rickyDeveloper commented on #5564
Thnx @paveltiunov for the details it helps.

One question -- what is the default `queue size` ?  We are not able to find it in docs.

Given that we don't see any logs for cube server, it would be helpful if you can share how to enable logging on cube server that we deployed on our VMs.

[2022-11-04 21:12] paveltiunov commented on #5564
@shlok97 @rickyDeveloper Upper limit for `CUBEJS_CONCURRENCY` is basically what your data warehouse can handle. Query queue size is limited by your Redis throughput and instances memory. There's no setting for it, but I won't recommend going over 100 queued queries at any time to avoid degraded performance. Please see https://cube.dev/docs/reference/environment-variables#general for logging levels

[2022-11-05 04:38] chaos87 commented on #5542
I have the same problem as @bykof

I am using `shown: false` to hide some dimensions from dropdowns on UI, and I use queryRewrite to parse the dimension + granularity chosen to then modify the dimensions array and possibly include the hidden dimensions

The code modification on v0.31.10 is breaking this behavior on my end

I would like the shown to behave like @bykof just said aka not in the respo

[2022-11-06 02:23] lsowen commented on #5430
Looks like this was originally implemented this way due to the MySQL cubesql API: https://github.com/cube-js/msql-srv/blob/e3010bd6680a89feff53bcd3f74afa21f5403f70/src/lib.rs#L559-L589

It looks like this will eventually be removed, but not sure the timeline.

[2022-11-06 09:29] fbvdka commented on #5430
Ok. But can we think of an evolution with checkSqlAuth(request, username, suppliedPassword) and keep the same behavior after (return password) ?
Here is an example with an authentication from systme like Keycloak:

[code]

[2022-11-07 02:05] Obi-Dann commented on #5542
According to the docs the `shown` parameter controls the visibility of the property, not whether the property is accessible via the API. If the intention is to make the property inaccessible, a better more descriptive name for the parameter should be used, using `shown` for this is misleading.
![image](https://user-images.githubusercontent.com/12251341/200211721-fe77d5d7-b291-45b5-bc65-ebba0f6f76c

[2022-11-07 10:08] GopalDev9 opened #5573 "Angular Dashboard is not getting created from Play ground"

[2022-11-07 10:10] GopalDev9 commented on #5573
![image](https://user-images.githubusercontent.com/110037246/200283972-811712ab-af46-46f7-915d-ff4dbec891d5.png)
it keeps on loading but not creating anything in my dashboard-app folder

[2022-11-07 21:20] buntarb commented on #5479
@VafinaIgoul, I'm wondering what your Clickhouse version is. Could you elaborate on this? I was not able to reproduce this issue on the latest Clickhouse. So, maybe this problem is related to this.

[2022-11-07 22:00] HrisIord opened #5580 "Joins in SQL query FROM clause are out of order and produce DB level error"
**Describe the bug**
After updating CubeJS to version 0.31.12 from version 0.30.4 running a query produces an SQL error. When examining the SQL produced, the `from` clause joins are being emitted in the wrong order and one of the joins is referencing a table that doesn't exist in the join path yet.

**To Reproduce**
The query:

[code]

Produces the following SQL:

[code]

This produces the followi

[2022-11-08 01:40] paveltiunov commented on #5580
Hey @HrisIord ! Order can play a role when you're including third-party cubes in the join condition, but I don't see this in your example. Is it simplified?

[2022-11-08 01:41] paveltiunov commented on #5564
@shlok97 Nope. It'll be just 8 if all of those are within the same cluster.

[2022-11-08 02:46] paveltiunov commented on #5563
@aparfeno I guess what you're looking for is `readOnly` mode. I prepared PR so MSSQL would be a `readOnly` data source by default.

[2022-11-08 05:05] #5573 closed

[2022-11-08 14:52] HrisIord commented on #5580
Hi @paveltiunov, thank you for the quick reply. I'm not entirely sure what you mean by "third-party cubes", could you maybe give an example? The example I provided is simplified, we have a fairly large schema. Also in case this is relevant, we don't have any cubes coming from sources outside out schema files.

[2022-11-08 15:35] #5181 closed

[2022-11-08 21:40] paveltiunov commented on #5580
@HrisIord By third-party, I mean cubes that will be referenced in join condition however will be neither of two joined cubes. For example:

[code]

[2022-11-08 21:41] paveltiunov commented on #5564
@shlok97 Are they using the same Redis, or you're benchmarking containers in dev mode?

[2022-11-08 21:56] HrisIord commented on #5580
The `LibraryTask` join in the `Task` cube has a filter on the security context but none of the other joins have any third-party cubes in their definitions. The full version of the mentioned join looks as follows:

[code]

[2022-11-08 22:16] paveltiunov commented on #5580
@HrisIord Could you please elaborate about `latest_task_verification` and `task_verification_status` dependencies? Why those should go exactly in this order? Providing full failing SQL would be helpful here.

[2022-11-09 02:29] paveltiunov commented on #4932
@tonyabracadabra It's outside of the core team roadmap for now, but please feel free to submit PR for that.

[2022-11-09 02:55] paveltiunov commented on #4811
Providing string claims is currently not supported by `CUBEJS_JWT_CLAIMS_NAMESPACE`. It seems the guide wasn't tested end-to-end.

[2022-11-09 02:56] paveltiunov commented on #4811
cc @hassankhan

[2022-11-09 03:21] paveltiunov commented on #4473
This error basically means that S3 fails to perform operation due to an internal server error. We should provide a better error message for that. Cube will do a retry for building this pre-aggregation in this case. Cube Store in Cube Cloud has an additional retry loop for such cases.

[2022-11-09 04:46] apotplant opened #5588 "Error: Cannot find module '/cube/conf/cube.js'"
I followed the [documentation](https://cube.dev/docs/getting-started/docker) to installing cubejs in docker and came across this issue. This is probably something I am missing. Could someone be able to point me in the right direction?

1. Installed Docker Desktop (Docker version 20.10.20, build 9fdeb9c)
2. Run command, `docker run -p 4000:4000 -p 3000:3000 -v ${PWD}:/cube/conf -e CUBEJS_DEV_MODE=t

[2022-11-09 10:14] prince-lumiq opened #5591 "Cube.js should acknowledge filter: tag in DBT Metrics when it transform DBT Metrics into its .js file."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-10 11:36] fd2533 opened #5599 "loadMetricCubesFromDbtCloud function fails due to metadata api incorrect response"
**Describe the bug**
Compilation error in cube cloud when trying to extend a cube created with the loadMetricCubesFromDbtCloud function.

It seems to be a problem with the DBT cloud metadata api response returning the same model for every single metric fetched.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement the @cubejs-backend/dbt-schema-extension (version 0.31.13)
2. Create a new

[2022-11-10 11:41] fd2533 opened #5600 "Query the DBT Metadata API at a jobID level"
**Is your feature request related to a problem? Please describe.**
Currently we can only query by jobID using `loadMetricCubesFromDbtCloud` function. We would like to be able to do it by runID as well (dbt supports it, see below screeenshot).

<img width="1370" alt="image" src="https://user-images.githubusercontent.com/33346354/201081400-356e28de-f1c7-42c1-ae87-6d1da8d5ca0a.png">

We would like to