[2021-04-20 19:03] rickj33 opened #2580 "chrono-node version 1.4.4 fails CVE-2021-23371 check. The fixed version is 2.2.4"
As part of our build process we run a security scan. Today one of cube.js dependencies was flagged.

[code]
I tried to install version 2.2.4, but it appears cube.js has a fixed dependency on version 1.4.4

[2021-04-20 20:51] imjared opened #2582 "Boolean filters in the Playground"
Hi Team,

I've added a dimension of type "boolean" in my Cube. I'm trying to determine if a group of people are users by asking cube if a User ID is or is not set.

[code]

**Related Cube.js generated SQL**

[code]

related:
- https://cube-js.slack.com/archives/CC0403RRR/p1618951100242500
- https://github.com/cube-js/cube.js/issues/1242#issuecomment-817815460

[2021-04-20 21:16] #2580 closed

[2021-04-21 06:03] paveltiunov commented on #2579
@rongfengliang Hey Rong! I agree that conditions may be too strict. We should check that granularities match in a broad sense: both should be empty or the same. Also blending query is not the same as multi querying. Blending queries should be against the same date interval. Current API doesn't support generic batch multi querying as of right now.

[2021-04-21 06:09] paveltiunov commented on #2534
@rongfengliang I see. Could you please provide the database schema and expected cube.js schema to be generated?

[2021-04-21 09:55] shakerrod opened #2584 "Realtime SQL query for MySQL"
Hi,
I looked at the implementation of the [realtime chart](https://github.com/cube-js/cube.js/blob/master/examples/real-time-dashboard/schema/Events.js) for MongoDB, but I can't figure out how to query MySQL database the same way.

Here is how I tried to recreate the schema for my page views

[code]

So the query looks like this:

[code]

And here is what it returns

![image](https://user-images.g

[2021-04-21 14:02] fabiosenracorrea opened #2589 "Redis parser inconsistencies: 'Unbalanced Quotes in request', 'unknown command `$52685`'"
**Describe the bug**
I've been facing some really inconsistent bugs with redis-parser lately on our application. The worst part is they seem to be happening at random, with no clear path to get it to reproduce.

We have a docker instance of cube running connected to Athena and 2 mysql databases (one for data, the other for pre-aggregations). We just launched our pre-aggregation patch, and are now

[2021-04-21 14:11] rongfengliang commented on #2589
try upgrade to latest version

[2021-04-21 14:55] fabiosenracorrea commented on #2589
@rongfengliang yeah i saw that at least the database pool error it seems to be corrected, right? I checked the docker version and the latested is still 0.26.100, im waiting on 101 to hit there to then upgrade the application. Do theses problems also get fixed there?

[2021-04-21 17:03] willyraedy opened #2592 "External storage of pre-aggregation throws when using Snowflake as a primary db"
**Describe the bug**
In order to create the external tables, the orchestrator queries Snowflake for the column names and types. This query returns no records due to a casing issue. Without columns, this causes a downstream syntax error when using MySQL and Postgres and a `Sort key size can't be 0 for default, columns: []` error in Cube Store.

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2021-04-21 17:21] fabiosenracorrea commented on #2589
@rongfengliang Update: bumping to latest version did **not** fix the unbalanced query issue. It is still happening at random to queries.

Haven't had a chance to experience the other 2 errors yet because it's still early on.

[2021-04-21 21:59] apuntovanini commented on #482
@towerpark @paveltiunov can you share an example of this?
I cracked my head on documentation (https://cube.dev/docs/direction-of-joins) to have "Customers with no orders" working example but cannot find a way to do so

[2021-04-22 00:43] rongfengliang commented on #2589
@fabiosenracorrea  which kind of redis you using (cloud, open source?)

[2021-04-22 00:45] rongfengliang commented on #2589
@fabiosenracorrea  this maybe help https://github.com/redis/redis/issues/2995

[2021-04-22 11:34] rongfengliang commented on #2534
@paveltiunov  this is  my table

[code]
but current with playground  only generated

[code]
c_last_review_date_sk  and others also  should be   included

[2021-04-22 12:49] fabiosenracorrea commented on #2589
@rongfengliang we are using aws' redis. And that issue you mentioned just says it's probably a client issue, like i'm reporting here

[2021-04-22 13:46] dependabot-preview[bot] opened #2594 "Dependabot needs permission to see favicons-webpack-plugin"
Dependabot couldn't resolve your project's dependencies as it couldn't access [favicons-webpack-plugin](https://github.com/Creatiwity/favicons-webpack-plugin).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/cube-js) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the

[2021-04-23 05:56] paveltiunov commented on #2589
Hey @fabiosenracorrea ! Which driver do you use? Do you use IO Redis or an ordinary one? Could you share environment variables you provide?

[2021-04-23 13:26] #2594 closed

[2021-04-23 13:46] ovr commented on #2592
I started to work on it.

[2021-04-23 16:11] #2592 closed

[2021-04-24 09:43] fastcode-inc commented on #1179
Hi,

Has this feature been included in any of the Q1, 2021 releases?

[2021-04-26 12:50] hassankhan commented on #1046
Hi @anismiles :wave:

Just wanted to follow up; we'd be delighted to review and merge a PR fixing this, if you can create one 😀

[2021-04-26 13:11] hassankhan commented on #1001
Hi @Ankcorn :wave:

Just wondering if this is still an issue for you? We've since overhauled the docs, including a new [Authentication section](https://cube.dev/docs/security). Would love to hear your feedback, if any 😀

[2021-04-26 13:44] Ankcorn commented on #1001
Nope! The new playground features totally take care of this in a better way than I came up with! :)

I am going to close this! 🥳
Thanks, Hassan

[2021-04-26 13:44] #1001 closed

[2021-04-26 13:55] fabiosenracorrea commented on #2589
Hey @paveltiunov! We do not use IO Redis, we use a simple ElasticCache with no TLS or password, and have been getting this 'unbalanced quotes at request' really often lately. Our version is 0.26.102 as of now and use an ENV like this:

[code]

[2021-04-26 14:13] hassankhan commented on #2441
Hi @Mozzarella123 :wave:

I had another question; could you confirm the issue persists for you on the latest release of Cube.js? There have been a lot of changes since v0.26.54, would be great to confirm that this is still an issue 😀

[2021-04-26 14:15] rongfengliang commented on #2589
try add NODE_DEBUG=redis . can view redis debug info .this maybe help these days i use this debug one redis like service bug

[2021-04-26 14:18] hassankhan commented on #2370
Hi @naveenann :wave:

Just wondering if you had gotten a chance to try @rongfengliang's driver?

[2021-04-26 14:36] hassankhan commented on #1742
Hi @nguyentrucxinh :wave:

Were you able to get this working using either @ovr's or @florian-fischer-swarm's suggestions?

[2021-04-26 14:45] hassankhan commented on #704
Closing this as we now have first-class support for Auth0: https://cube.dev/docs/security/jwt/auth0

[2021-04-26 14:45] #704 closed

[2021-04-26 14:45] Mozzarella123 commented on #2441
@hassankhan Hi, i think it still exists, because i wrote Dockerfile with copy of BaseDriver, where this method
https://github.com/cube-js/cube.js/blob/101e8dc90d4b1266c0327adb86cab3e3caa8d4d0/packages/cubejs-query-orchestrator/src/driver/BaseDriver.js#L168
was replaced by
[code]

[2021-04-26 14:46] hassankhan commented on #694
Hi @cd-romulus, we have a [`scheduledRefreshContexts`](https://cube.dev/docs/config#options-reference-scheduled-refresh-contexts) option in the `cube.js` configuration file, could you check and see if that works for you? Thanks in advance :raised_hands:

[2021-04-26 14:54] #325 closed

[2021-04-26 14:55] #321 closed

[2021-04-26 15:29] hassankhan commented on #263
Hi @ferrants :wave:

Just wondering if our recently introduced [`rollupJoin`](https://cube.dev/docs/pre-aggregations#rollup-join) might help with your use-case?

[2021-04-26 15:32] hassankhan commented on #600
Closing as duplicate of https://github.com/cube-js/cube.js/issues/1233

[2021-04-26 15:32] #600 closed

[2021-04-26 15:55] ferrants commented on #263
Not sure, my team is no longer using cube.js. I'll close this issue, it's not something I'm tracking anymore.

[2021-04-26 15:55] #262 closed

[2021-04-26 15:56] #266 closed

[2021-04-26 16:12] paveltiunov commented on #2441
Hey @Mozzarella123 ! Which database do you use as a source?

[2021-04-26 16:55] aishwaryapanchal opened #2609 "Number of redis connections exceeds 900 in multitenancy setup of Cube.js"
I have configured Redis cache with CUBEJS_REDIS_POOL_MAX=50 in a multitenancy setup of Cube.js.
Despite adding the above configuration, the number of Redis connections exceeds 900.

[2021-04-26 17:27] ovr commented on #2609
Hello @aishwaryapanchal ,

Yes, It's an issue. Thank you for submitting it.

Context:

Internally Cube.js instances `RedisPool` per `OrchestratorApi` instance, which causes a problem with multi-tenancy setup.

[2021-04-27 21:27] fabiosenracorrea commented on #2589
@rongfengliang still not a clue! Maybe i'll change the redis instance we are using to check if that solves it

[2021-04-28 00:02] JFCeron commented on #481
Hi. I'm facing a perfect use case for this (measure SQL should depend on a query parameter). Should I expect the feature to become available soon, or just build a workaround?

[2021-04-28 08:27] bilelsgh opened #2613 "Docker-compose with Cube.JS"
**Docker-compose with Cube.js**

Hey !
After having developped a complete application with Cube.JS I try to deploy it thanks to this docker-compose. When I start it I can go on the Playground but when I want to generate a chart I have the error "the relation public.users does not exist" !
I don't have this problem when I run the backend in local. The schema Users.js is auto-generated by cubejs wit

[2021-04-28 08:30] manikasharma70 commented on #1826
@vasilev-alex How can we use the same enhancement in the UI in dashboard-app using the QueryBuilder component in React-dashboard

[2021-04-28 08:35] #2613 closed

[2021-04-28 09:41] rsbh opened #2614 "The cube names generated by the cli are not sanitized."
**Describe the bug**
We have some tables in BQ in which the name is UUID. so it contains hyphen `-` and sometimes starts with a number. So the schema files generated by the cli will contain that as cube name.
Cube-server gives an error in parsing those schema files.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with UUID or any string with a hyphen
2. Create schema with cli

[2021-04-28 13:54] hassankhan opened #2618 "Migrate to AWS JavaScript SDK v3"
**Is your feature request related to a problem? Please describe.**
AWS has released a [newer version of their SDK](https://github.com/aws/aws-sdk-js-v3) which is far more lightweight.

Affected packages:
- [x] https://github.com/cube-js/cube.js/pull/3132
- [ ] `@cubejs-backend/serverless-aws`
- [ ] `@cubejs-backend/mysql-aurora-serverless-driver`

**Describe the solution you'd like**
Use the new S

[2021-04-28 18:11] igorlukanin opened #2621 "Developer Playground crashes on Cache / Pre-aggregations when a pre-aggregation is defined"
**Describe the bug**
In Developer Playground, the browser will show an error message and the page will crash if one builds a query and then navigates to `Cache` / `Pre-aggregations` when a pre-aggregation is defined. (If there're no pre-aggregations defined, an empty table is shown.)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Cube.js project from the attached sources.
2. Open th

[2021-04-29 02:16] rongfengliang opened #2625 "Error: Cannot find module 'request'"
**Describe the bug**

The "request" library is not installed automatically anymore.
But is a dependency of "request-promise".
Please install it with:
npm install request --save

    Error: Cannot find module 'request'
    Require stack:
    - /Users/dalong/mylearning/mygraalvm-cubejs/app/node_modules/request-promise/lib/rp.js
    - /Users/dalong/mylearning/mygraalvm-cubejs/app/node_modules/@cubejs

[2021-04-29 05:15] #2625 closed

[2021-04-29 06:41] paveltiunov commented on #2609
@aishwaryapanchal Cube.js indeed reserves a pool per tenant and we're most likely keep it this way. We'd need to properly document it though.

[2021-04-29 06:55] radiorz opened #2628 "I coundnt set two or more filters in our https://vue-query-builder-demo.cube.dev/"
**Describe the bug**
I coundnt set two or more filters in our  https://vue-query-builder-demo.cube.dev/
Example vue-query-builder get error (e.split is not a function) when adding filters more than one
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue-query-builder-demo.cube.dev/
2. Click on 'add filter'
3. Add a filter and save it
4. Add another filter and click 'save filter'

[2021-04-29 16:50] schoolytics-dev0 opened #2634 "Deprecation warning from Serverless Variables Resolver when deploying to GCP using serverless template"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. npm install -g serverless
2. npx cubejs-cli create -d bigquery -t serverless-google
3. serverless deploy -v
4. See warnings

**Expected behavior**
Should use self variable fine

**Version:**
0.27

[2021-04-29 17:12] #2621 closed

[2021-04-30 14:49] rongfengliang opened #2642 "Support S3-Compatible storage in Cube Store (such as Minio)"
**Describe the solution you'd like**

from doc && source code i know cubestore can use s3 as remotefs.  support  s3 compatibility storage maybe better (minio)

[2021-04-30 15:25] ovr commented on #2441
Hey all! Yes, it's a bug. I can reproduce it with MySQL 8. I am working on it.

[2021-05-02 01:25] rongfengliang opened #2646 "cubestore preAggregations Unsupported CAST from Utf8 to Timestamp(Nanosecond, None)"
**Describe the bug**

 Unsupported CAST from Utf8 to Timestamp(Nanosecond, None)

**Screenshots**

[code]
**Version:**
[e.g. 0.27.4 ]

some links https://github.com/apache/arrow/pull/9449

[2021-05-02 02:31] rongfengliang opened #2647 "cubestore support username & password auth ?"
**Problem**

 current from code && docs dons't seen any security conf for running  cubestore in production envirenment .

 cubestore support config auth token or with username & password running?

[2021-05-03 06:27] paveltiunov commented on #2646
Hey @rongfengliang ! We indeed need a better way of handling it. However, the issue origin is the lack of timestamp cast during rollup preparation. We actually want to avoid any implicit UTF8 to timestamp casts during query time as those are really slow. So you just need to add one in your time dimension `sql` in cube.js schema.

[2021-05-03 06:31] paveltiunov commented on #2647
@rongfengliang Yep. As of now, there are no security controls in Cube Store so it should be deployed only in secured environments. We have it only in Cube Cloud right now and we need to have something in open source as well.

[2021-05-03 12:57] rongfengliang commented on #2646
@paveltiunov  thanks , i have add time dimension sql in  cube.js schema . if i add time filter will cause this  problem

[2021-05-04 14:13] willhausman opened #2651 "JWK_URL in dev mode"
**Describe the bug**
When starting a cubejs server in dev mode, specifying `CUBEJS_JWK_URL` throws a prefetch error because the cert is self-signed.

Also, if I've specified a `CUBEJS_JWK_URL`, should `Warning. Option apiSecret is required in dev mode. Cube.js has generated it` really happen? I'm clearly not using an api secret.

**Expected behavior**
In dev mode, I should be able to use self-sign

[2021-05-04 14:24] hassankhan commented on #2634
Hi @schoolytics-dev0 :wave:

Thanks for posting this issue; we'd be more than happy to review and merge any PRs fixing this deprecation. The relevant part of the codebase can be found [here](https://github.com/cube-js/cube.js/blob/c21b5f7690d5de7570034449d24a7842dfd097c6/packages/cubejs-cli/src/templates.ts#L79-L143)

[2021-05-04 14:41] ovr commented on #2651
Hello @willhausman ,

It's just a warning, `apiSecret` is used inside the playground, which is available in dev mode.

[2021-05-04 15:47] willhausman commented on #2651
Thanks @ovr . That makes sense.

Further information for this issue.  I started to code a simple `rejectUnauthorized` resolution PR using `getEnv('devMode')`, but then realized I can directly set `NODE_TLS_REJECT_UNAUTHORIZED=0` in my development environment to bypass making code changes to cube.js.  This workaround allows me to move forward, although I believe a support option directly in cube.js

[2021-05-04 16:27] hassankhan commented on #2457
Closing as answered by @vasilev-alex

[2021-05-04 16:27] #2457 closed

[2021-05-04 16:53] paveltiunov commented on #2651
@willhausman Hey Will! Is it just for dev purposes or do you plan to use a self-signed certificate in production?

[2021-05-04 16:54] paveltiunov commented on #2646
@rongfengliang Could you please share your cube.js schema?

[2021-05-04 17:04] willhausman commented on #2651
Hey @paveltiunov, been a while. I hope you are well.  This is just for development and cicd pipeline automated tests.  Once in actual production, a "real" cert is used.

[2021-05-04 17:52] jdrake opened #2653 "Support HAVING in queries"
**Is your feature request related to a problem? Please describe.**
I want to be able to filter query results based on an aggregation.

**Describe the solution you'd like**
This would involve adding support for the `HAVING` clause, e.g. `HAVING sum(customer_count) > 100`.

**Describe alternatives you've considered**
N/A

**Additional context**
Stacktrace:
[code]

[2021-05-04 19:24] fabiosenracorrea commented on #2589
An update on this: It seems that changing our redis instance solved these problems (at least for now). I'm still not quite sure why it was happening but if anyone experiences this, might as well try an instance change!

[2021-05-04 23:30] rpaik commented on #1561
🙇 @MattGson for opening a [Discourse discussion](https://forum.cube.dev/t/docker-architecture-provides-bad-dx-from-github-issues/142). Will close the issue here...

[2021-05-04 23:30] #1561 closed

[2021-05-05 00:35] hassankhan commented on #1880
Hi @manickaws, just wanted to follow up and see if @rongfengliang's suggestion worked for you?

[2021-05-05 00:39] #1739 closed

[2021-05-05 00:39] #1738 closed

[2021-05-05 00:41] #1334 closed

[2021-05-05 00:44] hassankhan commented on #1434
Hi @SandeepVattapparambil :wave:

Did you get a chance to check the example linked by @vasilev-alex? 😀

[2021-05-05 00:46] hassankhan commented on #1410
Closing as duplicate of https://github.com/cube-js/cube.js/issues/1387

[2021-05-05 00:46] #1410 closed

[2021-05-05 00:51] hassankhan commented on #1016
Closing as answered by @vasilev-alex

[2021-05-05 00:51] #1016 closed

[2021-05-05 00:56] hassankhan commented on #764
Closing as `sqlAlias` can now be specified on pre-aggregation definitions: https://cube.dev/docs/pre-aggregations#naming

[2021-05-05 00:56] #764 closed

[2021-05-05 01:04] hassankhan commented on #604
Closing as the `CUBEJS_SSL_*` environment variables now support raw input as well as a path to the Pemfile/CA bundle.

[2021-05-05 01:04] #604 closed

[2021-05-05 01:52] rongfengliang commented on #2646
@i found this maybe caused by  data type mapper (create table in cubestore)

this is my schema

[code]

my tabel define

[code]

if i filter with myinfo is ok, startdate && insertdata will cause  convert exception

[2021-05-05 03:22] paveltiunov commented on #2646
@rongfengliang Gotcha. Generally speaking, Cube Store is designed to store rollups and not originalSql pre-aggregations. We're still going to support `originalSql` as intermediate step during rollup preparation but storing originalSql in Cube Store is out of our roadmap scope.

[2021-05-05 03:26] rongfengliang commented on #2646
@paveltiunov thanks !!!

[2021-05-05 03:35] #2646 closed

[2021-05-05 10:30] hassankhan commented on #1585
Closing as answered by @paveltiunov [here](https://github.com/cube-js/cube.js/issues/765#issuecomment-652609609).

[2021-05-05 10:30] #1585 closed

[2021-05-05 11:05] hassankhan commented on #1391
Hi @donge, you should be able to use the Alpine image available on Docker Hub. Thanks for posting the issue, marking as resolved.

[2021-05-05 11:05] #1391 closed

[2021-05-05 14:31] RusovDmitriy opened #2655 "Playground and slow render large SQL"
If you open the SQL section in the playground with a large SQL query, then the CPU utilized 100%, and the browser hangs.

[2021-05-05 16:03] SandeepVattapparambil commented on #1434
hello @hassankhan , yes i did check the example provided by @vasilev-alex , however, the example shows a query created manually. In my case, the query is a `drilldown` query, i am not sure how I can pass a `count` measure in that.

[2021-05-05 16:13] starsuit commented on #2653
🙋  I'm having the same issue

[2021-05-05 16:35] paveltiunov commented on #2653
@jdrake @starsuit Thanks for raising a hand here! We've already started to work on it.

[2021-05-05 17:44] sveisvei commented on #960
I have not had time to do this yet. If someone attempts this - be my guest. I will work on this eventually, if not.

[2021-05-05 18:27] root-io opened #2656 "Error: Cannot read property 'setLogger' of undefined"
**Describe the bug**
My logs are flooded with this error, it seems to be similar with #2431
Please tell me if you need me to paste the transpiled code for `QueryQueue.js`

[code]

[code]

**Version:**
@cubejs-backend/cubestore-driver 0.27.7
@cubejs-backend/postgres-driver 0.27.5
@cubejs-backend/server-core 0.27.7
@cubejs-backend/snowflake-driver 0.27.5
Node.js 14.16.1
macOS 11 (Big Sur)

**Additio

[2021-05-05 23:37] davefrancis commented on #573
I am also running into this issue when making queries that require a join. It only seems to occur when the join requires a distinct set of primary keys to be selected. The GROUP BY clause that is generated uses aliases from the inner subquery (the one that selects the distinct keys) and not the alias defined in the grouped query. Like the query posted by @maxgrv, the GROUP BY clause should contain

[2021-05-05 23:50] ack210 opened #2659 ""Cannot read property 'readOnly' of undefined" when creating mssql pre-agg"
When creating a rollup pre-aggregate from a mssql source, and a custom driver factory has not been defined (i.e., the SQL connection is configured via environment variables only), I receive the following error when attempting to define a rollup pre-aggregate:

    at MSSqlDriver.readOnly ([...]/@cubejs-backend/mssql-driver/driver/MSSqlDriver.js:103:26)
    at [...]/@cubejs-backend/query-orchestrat

[2021-05-06 02:43] dalmia opened #2660 "Unable to replicate "Vue Dashboard Tutorial Using Cube.js" with Vue3"
Hi everyone. Thank you for this amazing library. We were looking to add a dashboard to our application written in Vue3 and cubejs seems like the perfect fit.

**Describe the bug**
I am trying to replicate [this](https://cube.dev/blog/vue-dashboard-tutorial-using-cubejs/) tutorial on using CubeJS with Vue. I am able to get the desired results with Vue2 but unable to do so for Vue3. This is the erro

[2021-05-06 07:09] dylan-jumptech opened #2662 "Elasticsearch - json format is not compatible with open distro/aws es"
A recent change to conform with elaastic.co result formatting (to cope with json result) is not compatible with open distro/aws es sql result formatting. In open distro case, json formatting is more like the standard es result format whereas json format in elastic.co is more like a jdbc format.

This is the offending code.
https://github.com/cube-js/cube.js/blob/c1e25d7184c5ed63ba083da1cd9cf0f2111

[2021-05-06 07:20] #2662 closed

[2021-05-06 07:20] dylan-jumptech commented on #2662
Will reopen with other profile. Sorry

[2021-05-06 07:23] dylman79 opened #2663 "Elasticsearch - Result formatting differences"
A recent change to conform with elaastic.co result formatting (to cope with json result) is not compatible with open distro/aws es sql result formatting. In open distro case, json formatting is more like the standard es result format whereas json format in elastic.co is more like a jdbc format.

This is the offending code.
https://github.com/cube-js/cube.js/blob/c1e25d7184c5ed63ba083da1cd9cf0f2111

[2021-05-06 08:57] vasilev-alex commented on #2655
Closed by 32850086901c65a375e4aca625cc649956d6161f

[2021-05-06 08:57] #2655 closed

[2021-05-06 11:07] ovr commented on #2659
Hello @ack210 ,

Yes, you are right!

Thank you for submitting an issue 👍

[2021-05-06 11:16] hassankhan commented on #2663
Hi @dylman79, I think this might be a duplicate of https://github.com/cube-js/cube.js/issues/2370. Would you mind trying out @rongfengliang's OpenDistro driver (from [this comment](https://github.com/cube-js/cube.js/issues/2370#issuecomment-811073668)) and seeing if it works? Thanks in advance 😀

[2021-05-06 12:23] dylman79 commented on #2663
@hassankhan It is similar in that the issue there is the lack of functions in open distro in comparison to elastic.co. The driver looks like an exact copy of the driver as it was before the latest changes with a minor tweak to the result format and a change to the dialectClass. I think the approach should perhaps to keep the elastic search drivers together (at least for now), but separate the quer

[2021-05-06 16:16] sridhard opened #2666 "Getting the count/list of users who have not purchased a item"
Hi,

We have a use case where we want to show the count and the list of users who have signedup but not purchased any item.
Below is the sample SQL query for doing this:

`SELECT customers_id, customers_firstname, customers_lastname, customers_email_address
FROM customers
WHERE customers_id
NOT IN (
SELECT customers_id
FROM orders
)`

Can we support this kind of requirement using cubejs? if possib

[2021-05-06 16:24] sridhard opened #2667 "Support of dynamic filters"
Hi,

Ours is a edtech company. In our DB we have Courses, Categories etc. We want to apply filters for course or categories dimension.

course/categories values are not fix and we need to find the values from the DB itself with an sql query.
Also we want to use the cubeJS query builder.

1. Is there any way to query the values from DB and give as values to the filter? Can filter values can be take

[2021-05-06 17:11] #2659 closed

[2021-05-07 03:15] igorlukanin opened #2671 "Let Cube.js API report why a query doesn't match a pre-aggregations"
**Is your feature request related to a problem? Please describe.**
When a query doesn't match any pre-aggregation according to the [rollup selection rules](https://cube.dev/docs/pre-aggregations#rollup-rollup-selection-rules), it's often quite hard to understand why. The docs help, but a specific, concise note would help even more.

**Describe the solution you'd like**
Let Cube.js API report why a

[2021-05-07 04:19] rongfengliang commented on #2647
@paveltiunov  from cubestore source code && cubestore-driver i think this change maybe support basic auth

* cubestore

 https://github.com/cube-js/cube.js/blob/master/rust/cubestore/src/mysql/mod.rs#L228

[code]

* cubestore-driver  (from  build code not source code )

WebSocketConnection.js

[code]

driver:
CubeStoreDriver.js
[code]

alse maybe add env for enable auth (`CUBESTORE_AUTH_ENABLE`)

[2021-05-07 07:26] sveisvei opened #2672 "Improve request error contents"
**Is your feature request related to a problem? Please describe.**
Query errors from backend is missing from the error thrown via frontend code.

**Describe the solution you'd like**
Have added more context, e.g. add response from a `400` `Bad Request` to the error object ```{"error":"Data blending query granularities must match"}``` here https://github.com/cube-js/cube.js/blob/c21b5f7690d5de75700

[2021-05-07 18:38] craigbeck commented on #2017
Closed w #1962 ?

[2021-05-07 18:43] hassankhan commented on #2666
Hi @sridhard :wave:

Just to expand on what @rongfengliang said, Cube.js can absolutely fulfil those requirements as well as do much more. Please check the Getting Started section of the documentation and try starting a new project; you can also join our [Discourse forum](https://forum.cube.dev/) or our [Slack community](https://slack.cube.dev/) where you'll find be able to get support 😀

[2021-05-07 18:45] craigbeck opened #2675 "Incorrect http status from `EXECABORT` errors"
**Describe the bug**

Client receives a `400` status response (bad request) when performing a normal, valid request, that results in a `EXECABORT` error:
[code]

related stacktraces from server:
[code]

**To Reproduce**
n/a

**Expected behavior**

As this is a server issue, this should respond with a `500` error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versi

[2021-05-07 20:07] hassankhan commented on #2667
Hi @sridhard :wave:

This is definitely possible by using drilldowns, please [consult the docs](https://cube.dev/docs/drill-downs#top) for more information. I recommend joining our Discourse forum or our Slack community where you'll find be able to get support 😀

[2021-05-09 05:20] hedensky opened #2683 "Deploy Cubejs in iisnode on Windows Server"
Are there possibilities to host cubejs-server in iisnode on Windows server? Im not sure if it's posible.
I have no problem with vscode running locally.

Opening on server "http://localhost:89/node/cubejsExpress/cubejs-api/v1/meta" get the following error:
[code]
index.js
[code]

web.config
[code]

IIS
![image](https://user-images.githubusercontent.com/52086435/117560377-af0c4580-b063-11eb-93e1-ec1

[2021-05-10 05:03] sam-som commented on #24
This is for anyone who see this issue.
If your `cube.js` is in docker and your postgres is on host, you need to use `CUBEJS_DB_HOST=host.docker.internal`

[2021-05-10 09:15] gio8tisu opened #2685 "Set API secret from file"
**Problem**

Is it possible to set the DB password and secret key from a file?
Does setting the `CUBEJS_DB_PASS`/`CUBEJS_API_SECRET` env variables to a path work?

My use case is that I want to set the key using a docker secret.
If it is not possible, I guess it should be straightforward to "define" `CUBEJS_DB_PASS_FILE` and `CUBEJS_API_SECRET_FILE` to do so.

Thanks in advance!

[2021-05-10 14:32] flo-ff opened #2688 "Query with timeDimension "granularity: minute" and "dateRange: Today" produces bad SQL-query"
**Describe the bug**
When defining a measure with a rollingWindow, scoping the granularity to "minute" and dateRange to "Today" procues a query with date values that consists of a lot of duplicates and are incomplete;

**Measure**:
[code]

produces **SQL-query**

[code]
As you can see, the values which should cover every minute-interval inside the hour only cover the 5-6 minute interval and none e

[2021-05-10 16:34] hassankhan commented on #2688
Hi @flo-ff :wave:

Thanks for posting this issue and detailed reproduction steps 👍  Just wondering which database driver you're using in the above example

[2021-05-10 16:42] hassankhan commented on #2683
Hi @hedensky :wave:

Thanks for posting the issue 👍

Unfortunately I don't know much about IIS and/or hosting Cube.js on Windows Server, and I suspect its the same for most of Cube Dev. We'd love to know if you manage to get it working, it could be a great addition to our [Discourse forum](https://forum.cube.dev).

[2021-05-10 16:49] hassankhan commented on #2685
Hi @gio8tisu :wave:

Thanks for posting the issue 👍

Cube.js doesn't currently support reading those particular environment variables from a file; adding this would require changes inside the Cube.js Server package.

However, we don't recommend using `CUBEJS_API_SECRET` for production deployments; instead we suggest [using JWT-based authentication](https://cube.dev/docs/security) which is far more

[2021-05-11 06:41] flo-ff commented on #2688
Hi @hassankhan,

I'm using **Postgres**.

Cheers

[2021-05-11 10:10] ovr commented on #2675
Hello @craigbeck ,

1. Do you use a multi-tenancy setup? If yes, can you provide configuration?
2. Can you try to find an original issue with https://redis.io/commands/MONITOR?

Thanks

[2021-05-12 08:17] gio8tisu commented on #2685
Thanks for your answer @hassankhan . If you give me some guidelines I could help with adding this feature to the Cube.js server package (`CUBEJS_DB_PASS_FILE` would be very handy).

Could you elaborate on "using JWT-based authentication". We have a Django project with a user DB that uses [Simple JWT](django-rest-framework-simplejwt.readthedocs.io) for authentication, my idea was to share the secre

[2021-05-12 08:24] jasongi opened #2713 "Update configuration documentation to make it clear that queries are tracked"
**Describe the bug**
[The documentation here](https://github.com/cube-js/cube.js/blob/master/docs/content/Configuration/Config.md#telemetry) says:

However it is clear by inspecting the https://track.cube.dev/track calls that query information is sent under the page tracking call under the search property e.g

[code]

Either the documentation or tracking should be updated so they reflect each othe

[2021-05-12 10:08] donge opened #2717 "ungrouped tag is not adapted in Clickhouse schema compiler"
**Describe the bug**
`ungrouped` tag is not adapted in Clickhouse schema compiler

[code]

**To Reproduce**

1. connet with Clickhouse as database.
2. query with `ungrouped` tag.
3. monitor the log under dev mode.
[code]
4. the is still group clause

**Expected behavior**

I try fix this issue, and get the right clause.
[code]
**Screenshots**
If applicable, add screenshots to help explain your pro

[2021-05-12 10:10] hassankhan commented on #2717
Hi @donge :wave:

Thanks for posting the issue 🖐️ I've assigned it to you, looking forward to seeing a PR 😄

[2021-05-12 10:13] jasongi commented on #2713
Also, perhaps more importantly, the telemetry variable doesn't seem to stop tracking (at least for me).

[2021-05-12 16:04] paveltiunov commented on #2713
@jasongi Hey Jason! Thanks for pointing this out! Those two actually bugs. We'll fix them ASAP.

[2021-05-12 16:07] #2717 closed

[2021-05-12 17:04] hobojoe commented on #2070
@vasilev-alex any plans on this being implemented?

[2021-05-13 03:20] sam-som commented on #1123
Hello :)
I have created a PR to add `key-pair` authentication to `SnowflakeDriver.js` here.
Please take a look
https://github.com/cube-js/cube.js/pull/2724

[2021-05-13 04:01] rongfengliang opened #2725 "Dremio pre-aggregation download streaming support"
**Describe the bug**

i have one table has more than 500000 datas . config with preAggregations is too slow
and  always has `Error: Error: read ECONNRESET` and query db error

[2021-05-13 04:53] paveltiunov commented on #2725
@rongfengliang Could you please prove a little bit more info? What DB do you use as a source? Do you pre-aggregate using cube store?

[2021-05-13 04:58] rongfengliang commented on #2725
@paveltiunov  i have try  pre-aggregate with cubestore && sql database . my db is dremio . pre-aggregate config  as below
data is not too big (i try add some limit . with 100000 still has Error: read ECONNRESET)
[code]

[2021-05-13 05:07] rongfengliang commented on #2725
cube.js version 0.27.11

[2021-05-13 05:11] rongfengliang opened #2726 "Strict validatation for configuration add dialectFactory && externalDialectFactory"
**Is your feature request related to a problem? Please describe.**
sometimes is some driver has bug or we need add  myself driver allow add   dialectFactory && externalDialectFactory maybe
more flexibility

**Describe the solution you'd like**

 https://github.com/cube-js/cube.js/blob/master/packages/cubejs-server-core/src/core/optionsValidate.ts

add:
[code]

if  possible i will make pr

[2021-05-13 07:46] paveltiunov commented on #2725
@rongfengliang Currently not all database drivers support streaming and / or direct Cube Store ingestion. By default, driver will try to fetch the whole data set which can cause out of memory in case of data set is large. I believe there's paging support for dremio queries so streaming can be implemented. Here's a good starting point if you want to implement it for dremio: https://github.com/cube-

[2021-05-13 10:14] rongfengliang commented on #2725
@paveltiunov  ok,thanks !!!

[2021-05-13 10:14] #2725 closed

[2021-05-13 10:19] #2713 closed

[2021-05-13 12:41] #2726 closed

[2021-05-13 13:36] bgiles28 opened #2729 "Date casting in MSSQL leads to data being returned for wider time range than requested"
**Describe the bug**
When a query with a date range (e.g. `"dateRange": ["2021-01-01",  "2021-03-31"]`) in the time dimension gets made to MSSQL, the end date gets updated to be `2021-03-31T23:59:59.999` and the generated SQL query casts that value as `DATETIME`. The problem with this casting is that it actually results in the date being updated to `2021-04-01T00:00:00.000` which leads to an addit

[2021-05-13 13:44] #2609 closed

[2021-05-13 16:31] gitmepopcorn opened #2734 "Cubestore errors trying to list local files. Cubestore router waiting for lock forever!"
Hello,
We are deploying cubeJS (the main cubeJs Pod + worker in OpenShift

As you can see below, we have the main cube js Pod, the worker, redis, and 3 cubestore Pods (1 router + 2 workers), as we've tried to follow you [deployment guide](https://cube.dev/docs/caching/running-in-production#scaling).

[code]

`main-cubejs`, `worker-cubejs` and `redis` work great. The issue that we're seeing is with

[2021-05-13 18:09] #2688 closed

[2021-05-13 18:37] ovr commented on #2726
Hello @rongfengliang ,

Thank you for submitting the issue 🍰

Fixed & released in `v0.27.14`

Thanks

[2021-05-13 18:38] ovr commented on #2688
Hello @rongfengliang ,

Thank you for submitting the issue. Fixed & released in `v0.27.14`

Thanks

[2021-05-13 21:19] Spittal opened #2737 "CUBEJS_REDIS_URL Environment Variable is Not Applying"
**Describe the bug**
Hello, I've noticed that running CubeJS in docker with the docker image `cubejs/cube:v0.27.13-alpine` has a strange issue where the environment variable `CUBEJS_REDIS_URL` will not apply.

I can confirm by connecting into the docker container while it's running that the environment variable is set, and that the container itself is able to connect to the redis instance. As you

[2021-05-13 21:28] paveltiunov commented on #2734
Hey @gitmepopcorn ! Thanks for posting it! I wonder if it's because `"` quotes around `CUBESTORE_META_PORT` value? Could you please remove those and check?

[2021-05-14 05:20] rongfengliang commented on #2737
@Spittal use .env file

[2021-05-14 07:27] ilya-biryukov commented on #2734
Hi @gitmepopcorn!

We do rely on seeing `CUBESTORE_WORKERS` on workers too, I've sent a [PR](https://github.com/cube-js/cube.js/pull/2738) to update the docs, thanks.

`error while trying to list local files` suggests `CUBESTORE_DATA_DIR` does not exists. The default value is `$CWD/.cubestore/data`.
Do you have any messages of the form `Using existing metastore` or `Creating metastore from scratch

[2021-05-14 09:58] llezhava opened #2739 "fillMissingDates does not work when using compareDateRange"
Hello! thanks for the awesome library.

**Describe the bug**

When using `compareDateRange`, `fillMissingDates` does not work, on `chartPivot` and `tablePivot`.

The reason is, that after calling `normalizePivotConfig`, `x` property is always more, than 1, which causes `fillMissingDates` to be ignored.

For parameters:

when calling `normalizePivotConfig` with parameters:
[code]
it returns:
[code]

[2021-05-14 09:59] llezhava commented on #2739
For those, who might have similar issue, I wrote this helper

[code]

[2021-05-14 10:56] gitmepopcorn commented on #2734
Hi @paveltiunov
Thanks for that. The `"` around the name of the Env Var is just how we have it in Helm, so that the templating works, but the actual env var in the Pod doesn't have extra quotes:
[code]

[2021-05-14 10:57] gitmepopcorn commented on #2734
Hi @ilya-biryukov,
Thanks for clearing that up and updating the docs! I did think I should provide `CUBESTORE_WORKERS` to the workers too but wasn't sure until you said it.
When I do, I no longer get the `ERROR [cubestore::cluster] No select workers specified` on the workers.

Problems I discovered (and solved) related the volume:
- each cubestore pod was mounting a *different* volume. I've now ma

[2021-05-14 13:19] vasilev-alex commented on #2672
Closed by #2703

[2021-05-14 13:19] #2672 closed

[2021-05-14 14:52] angelo-cavallo opened #2748 "Continue wait when using three filters with 10 values each"
If I add 3 or more filters to a query, each one with 10 values, It seems that cube can't return a result set (it keeps returning a "Continue wait" error). If I add only 2 filters, it works correctly no matter how many values I specify.
I'm using version 0.27.14 and I already built my pre-aggregations in Cube Store.

I've verified that all the query members are in the pre-aggregation, and that the

[2021-05-14 15:17] #2456 closed

[2021-05-14 15:52] gitmepopcorn commented on #2734
We see some errors:

- in the cubestore router:
[code]
We also see the router restarting a few times, which are probably because of this.

Also the cubestore router seems to try to connect to a MySQL db, even though I am passing `CUBEJS_DB_TYPE=mssql` (`main-cubejs` and `worker-cubejs` seem to understand that variable).
[code]

- And in the cubestore workers, if I `grep -i error` we see a bunch of

[2021-05-17 10:07] #2739 closed

[2021-05-17 12:20] ilya-biryukov commented on #2734
This happens if you send http requests to the metastore port.
This may happen if you set `CUBEJS_EXT_DB_PORT` to the same value as the metastore port. Maybe that's the case?

CubeStore actually does not connect to any DB. The MySQL server mentioned in the logs is run by CubeStore, it's a server implementing MySQL-compatible protocol so we can play with CubeStore DB during development via the `mysq

[2021-05-17 14:49] dennislapchenko opened #2761 "GCS Service Account key as mounted file for CubeStore"
**Is your feature request related to a problem? Please describe.**
Currently Cube.js allows providing GCP key via base64 encoded string or path to file (`CUBEJS_DB_BQ_CREDENTIALS `, `CUBEJS_DB_BQ_KEY_FILE`). CubeStore needs to allow same approach

**Describe the solution you'd like**
Environment variable like `CUBESTORE_GCS_KEY_FILE`. Probably would want to turn `SERVICE_ACCOUNT_JSON` into `CUBEST

[2021-05-17 15:45] sam-som commented on #1123
Hello
Can i please get a CR on this PR? https://github.com/cube-js/cube.js/pull/2724
Thank you

[2021-05-17 15:54] TomFreudenberg opened #2763 "Setting from CUBEJS_JWK_KEY and CUBEJS_JWT_KEY fails"
Hi,

I checked this with latest release tag and from my point of view - still wrong.

The check of ENV type is not correct.

Check at:

https://github.com/cube-js/cube.js/blob/v0.27.14/packages/cubejs-backend-shared/src/env.ts#L220-L225

[code]

should be changed for `.asUrlString` and `.asString` as followed:

[code]

Currently you can't set a general KEY for microservice site to validate any JWT

[2021-05-17 16:02] ovr commented on #2748
Hello @angelo-cavallo ,

Can you provide logs from Cube.js?

Thanks

[2021-05-17 16:26] rpaik commented on #2683
👋 @hedensky, not sure if you have any updates on this but as suggested 👆, please feel free to start a discussion on the [Discourse forum](https://forum.cube.dev/) for other users who are on the Windows Server.

[2021-05-17 18:13] dylanfprice opened #2767 "Compression of response payloads"
I am currently driving a menu off the meta endpoint and the payload is ~1 MB and I expect it to grow quite a bit more. Compressing the response payload from the Cube API server would help my website load a lot faster.

**Describe the solution you'd like**
I can think of a couple ideas that would both be ideal for my use case:

- Add compression to the Cube API server such that a client sending `Ac

[2021-05-17 19:06] hedensky commented on #2683
Not yet, but I'm going to do it.
Thanks to both @hassankhan @rpaik !!

[2021-05-18 03:26] rongfengliang commented on #2767
@dylanfprice  one way is use nginx. another way is add express compress middware  （shrink-ray-current npm package）
demo code (use initApp for add middware)
index.js
[code]

cube.js
[code]
with shrink-ray-current  i have do some test is works well . you can have a try

[2021-05-18 10:14] vasilev-alex commented on #2767
@dylanfprice thanks for posting it here! However, as it can be easily done on the Nginx side (where you can use faster algorithms, such as Brotli) it doesn't make much sense to compress it on our side using middleware.

[2021-05-18 10:14] #2767 closed

[2021-05-18 10:33] ovr commented on #2767
@dylanfprice

Another moment: That Cube.js doesn't support HTTP 2 + TLS was removed (https://github.com/cube-js/cube.js/blob/master/DEPRECATION.md#cubejs_enable_tls), anyway you need to use a reverse proxy.

[2021-05-18 13:00] gah112 opened #2769 "Dependency issue with dynamic react demo"
Running the dashboard front-end demo via the playground throws the following error:

`Module not found: Can't resolve 'graphql' in '/cube/conf/dashboard-app/node_modules/@apollo/client/core'`

I am using the following:

- Docker image: `cubejs/cube:latest`
- React dynamic dashboard
- Rechart

[2021-05-18 13:35] hassankhan commented on #329
Hi all,

Just as an update, this issue is on our roadmap and we hope to have something ready this quarter.

[2021-05-18 14:18] #2548 closed

[2021-05-18 15:08] ovr commented on #2748
There is an error in Cube Store inside `PartionFilter`, assigned to @ilya-biryukov

![image](https://user-images.githubusercontent.com/572096/118676368-05b41500-b804-11eb-8573-697fbb9fae9a.png)

[2021-05-18 15:23] gcassarini commented on #2401
Hi @paveltiunov
We have the same need but with a slightly different use case.

We have a lot of cubes based on many tables that are refreshed by different background process in production.
All these processes runs with different scheduled time and what we would like to achieve is to have the possibility to trigger the refresh of the pre-aggregations of a specific cube right after the background jo

[2021-05-18 15:27] javiramos1 commented on #2401
Yes, for us is also really useful. We want to keep things in the cache as long as we can but still give the options to certain users to force a refresh.

[2021-05-18 19:26] dylanfprice commented on #2767
Thank you that makes sense. I am running the Cube server inside of a Kubernetes cluster and we have a service mesh which takes care of TLS and HTTP/2. It looks like it does have the capability to compress payloads so I am talking to our DevOps engineer about whether it makes sense to enable at the cluster level.

In the meantime, @rongfengliang's approach works (thanks!!). It appears the `initApp`

[2021-05-18 22:45] Spittal commented on #2737
Hey @rongfengliang thanks for the quick reply. We can certainly switch to move over to a `.env`. However, I wonder if it's possible to either fix this issue or document that in the Docker context shell environment variables don't work?

[2021-05-19 00:34] rongfengliang commented on #2767
i think current is safe . it's one server-core option

[2021-05-19 05:54] sam-som commented on #1123
Merged and released in https://github.com/cube-js/cube.js/releases/tag/v0.27.16
https://www.npmjs.com/package/@cubejs-backend/snowflake-driver/v/0.27.16

[2021-05-19 06:19] ryanpei commented on #2685
Hi @gio8tisu ,

Are you attempting a different means of JWT authentication to what we have described in here? https://cube.dev/docs/security.

Thanks for offering to help with this project! I'm honestly not sure about a `PASS_FILE`, as I don't think I've usually seen this way of passing this info. Most often it's an env variable either set at initialization or passed via like a Kubernetes secret.

[2021-05-19 08:31] lihan opened #2778 "CubeJS produces invalid SQL when using filters"
**Describe the bug**

IF `filters` in metrics are configured, then this error could trigger in BigQuery

`SELECT list expression references column <my_column> which is neither grouped nor aggregated `

Eg..
[code]
it will produce query like
[code]
which the field `type` is not grouped

## Updates

measurement definition

[code]

### Walkaround

* Develop the filter as segments

**Version:**
[e.g.

[2021-05-19 08:54] dennislapchenko commented on #2734
@ilya-biryukov [here](https://cube.dev/docs/caching/running-in-production#scaling) you guys dont use `CUBEJS_EXT_DB_PORT`, but only `CUBEJS_CUBESTORE_PORT` and its mapped to Meta port. I've had a discussion about it [in a thread in your slack](https://cube-js.slack.com/archives/CC0403RRR/p1621253440483600).
To re-iterate: Adding `CUBEJS_EX_DB_PORT` with cubestore's HTTP port (def 3030) does work.

[2021-05-19 08:55] manishgadhock-monotype commented on #2737
+1, Got this same issue

Error: Redis connection to 127.0.0.1:6379 failed - connect ECONNREFUSED 127.0.0.1:6379. I have set the value of the CUBEJS_REDIS_URL different IP.

CubeJs Server version : 0.26.102

[2021-05-19 09:08] ovr commented on #2737
[code]

It's not a correct value for CUBEJS_REDIS_URL, you should follow specification https://www.iana.org/assignments/uri-schemes/prov/redis

@Spittal

Can you try with `CUBEJS_REDIS_URL=redis://10.43.195.148:6379`?

Thanks

[2021-05-19 09:25] manishgadhock-monotype commented on #2737
@ovr Tried `CUBEJS_REDIS_URL=redis://<redis_ip>:6379`. Not working still have that same message.

`Error: Redis connection to 127.0.0.1:6379 failed - connect ECONNREFUSED 127.0.0.1:6379.`

[2021-05-19 09:40] gio8tisu commented on #2685
Thanks for your reply @ryanpei

The reason I would like to have the `_FILE` feature is that I want to use docker secrets (I'm not using kubernetes). Docker secrets don't support exposing the secret as env variables, this is done with a mounted file insead.
This type of configuration is supported on the official postgres docker image for example:
[code]

Temporarily I could set the password at init

[2021-05-19 09:45] igorlukanin opened #2779 "Support K8s-style health check endpoints for Cube Store nodes"
**Is your feature request related to a problem? Please describe.**
Cube supports [K8s-style health check endpoints](https://cube.dev/docs/deployment/production-checklist#set-up-health-checks) while Cube Store nodes don't. Hence, it's not easy to understand if the Cube Store cluster and individual nodes have initialized and started properly.

**Describe the solution you'd like**
Provide and documen

[2021-05-19 09:45] ovr commented on #2737
Attention: `CUBEJS_REDIS_URL` > `0.27`, `REDIS_URL` < `0.27`.

https://github.com/cube-js/cube.js/commit/b5e7099da90d0f8c6def0af648b45b18c1e56569

It's ok to pass the password in `CUBEJS_REDIS_PASSWORD`.

I tried it locally in docker-compose & local setup and It works. I don't have any ideas, why it's not working for you.

[2021-05-19 10:29] gitmepopcorn commented on #2734
@ilya-biryukov, @dennislapchenko
Thanks for this, I was indeed setting only `CUBEJS_CUBESTORE_PORT`.

Now I've set these 2 Env Vars in **all** Pods (main-cubejs, worker-cubes, cubestore-router, cubestore-worker-1, cubestore-worker-2):
[code]

As for the ports, these are the service ports (and they correspond to the same open ports on the Pods):
[code]

In terms of logs, the handshake fails:
When I

[2021-05-19 10:51] manishgadhock-monotype commented on #2737
@ovr Thanks, I think REDIS_URL < 0.27 worked for me. Although getting this error right now :

`ReplyError: Ready check failed: NOAUTH Authentication required.`

[2021-05-19 10:55] manishgadhock-monotype commented on #2737
My Bad. Was using CUBEJS_REDIS_PASSWORD instead of REDIS_PASSWORD. Thanks @ovr . All sorted for me.

[2021-05-19 14:39] mycahp opened #2780 "Angular 11 support"
**Is your feature request related to a problem? Please describe.**
On the install of CubeJS's ng package (@cubejs-client/ngx), Cube is requiring a dependency for Angular 10.0.5:

[code]

A `npm install --force` allows the package to be installed and everything appears to be working correctly.

Can the dependencies be changed to at least allow Angular 11 without requiring the use of `--force`? The

[2021-05-19 16:06] #2748 closed

[2021-05-19 16:07] ilya-biryukov commented on #2748
Thanks for reporting this. Should be fixed when https://github.com/cube-js/cube.js/commit/f6f09923c065ac6d2b97c5cbbe42958e51dab251 lands into the docker hub.

[2021-05-19 18:02] dennislapchenko commented on #2734
@gitmepopcorn I would advise you to check the slack thread for some info, since we're both trying exactly same setups in k8s, it might be of help.
https://cube-js.slack.com/archives/CC0403RRR/p1621253440483600

[2021-05-19 21:51] igorlukanin commented on #2778
It makes no sense to filter a measure with the `number` type. The filter was moved to a segment.

[2021-05-19 21:51] #2778 closed

[2021-05-20 09:56] igorlukanin opened #2785 "When run in Docker, Cube.js emits unnecessary error messages"
**Is your feature request related to a problem? Please describe.**
When Cube.js is run in Docker with an empty folder mounted and configured via environment variables:
- it complains that the `cube.js` file and the `schema` folder are missing
- it emits a lot of refresh scheduler errors

The absence of the `schema` folder prevents Cube.js from showing anything when you navigate to `localhost:4000`

[2021-05-20 09:57] bilelsgh opened #2786 "Security context with cubeJs.load"
**Security context with cubeJs.load**

I would like to add a security context based on "user_id" to my cube, so for that :
   - in a web server I create a token using the "user_id"
   - in the client I fetch it and store it in the localStorage
   - in my cube schema I add ```WHERE ${SECURITY_CONTEXT.user_id.filter(
    'user_id'
  )```

Now I have to pass the token to the http header when I make a

[2021-05-20 10:17] rongfengliang opened #2788 "Error: Cannot find module '@cubejs-backend/shared'"
**Describe the bug**

 @cubejs-backend/schema-compiler missing @cubejs-backend/shared in package.json

 ear and concise description of what you expected to happen.

**Screenshots**

![image](https://user-images.githubusercontent.com/2312287/118961972-7a6b8880-b997-11eb-9613-f2aedb0233a9.png)

**Version:**
[e.g. 0.27.15]

[2021-05-20 15:20] benswinburne opened #2792 "Playground UI Resets Order Constantly"
**Describe the bug**
Dragging a dimension/measure to a new order resets immediately

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the playground, add 3 measures/dimensions (maybe two but i haven't tried that)
2. Reorder the measures/dimensions
3. Observe it reset to default

**Expected behavior**
Retain order created by dragging.

**Screenshots**
![Screen Recording 2021-05-20 at 15 2

[2021-05-20 18:37] Spittal commented on #2737
Hey I should've mentioned in the original ticket, but I did try this as well.

As for > 27 using the env name `CUBEJS_REDIS_HOST` I can confirm the issue still exists. I've created a simple reproduction for this.

https://github.com/Spittal/cubejs-reproduciton-env

Just clone that repo, run `docker-compose up` then wait a few moments after the server boots up (about 15-30 seconds) and you should g

[2021-05-20 18:49] Spittal commented on #2737
Thanks for the help @ovr using `redis://` and upgrading to > 27 seems to have fixed the issue. Thanks. Might be worth documenting more clearly the need for `redis://` in the URL?

[2021-05-20 18:49] #2737 closed

[2021-05-20 19:46] ryanpei commented on #2685
Gosh, I didn't know Docker _only_ supports file format for Docker Secrets. Interesting.

Actually, if we add this to the project, I think we may consider supporting every cube env var in a file format. We may add some script like this https://github.com/docker-library/mysql/blob/master/template/docker-entrypoint.sh#L24-L43 to our Dockerfile.

Do you mind if we wait to see if others in the communit

[2021-05-20 19:58] ovr commented on #2788
Hello @rongfengliang ,

Good catch 👍  Fixed in https://github.com/cube-js/cube.js/commit/3467b4472e800d8345260a5765542486ed93647b#diff-f6e4a5552327e130224cbe8560aba23f947533db54134e6d3d3c3a9d0ff15448R45

Thanks

[2021-05-20 20:38] keydunov commented on #2786
Hi @bilelsgh,

It would be great to use [StackOverflow](https://stackoverflow.com/questions/tagged/cube.js) with `cube.js` for questions in the future.

Re: your question --

When you initiate a Cube.js client instance you pass a token to the `cubejs()` function. You don't need to directly modify the header. It will use this token to sign all future requests.

[code]

[2021-05-21 01:55] mgebeily commented on #960
Sorry for the delay. I took a first crack at removing moment and moment-range in the above PR. It was suspiciously straightforward. I ended up not using cube for my last project (though I'm really hoping to soon) so I'd really appreciate someone with domain knowledge dropping a review on it.

[2021-05-21 07:18] bilelsgh commented on #2786
Hi @keydunov ,

Thanks for your answer, next time I will ask it on Stackoverflow ;)

Have a nice day.

[2021-05-21 07:18] #2786 closed

[2021-05-21 08:48] manishgadhock-monotype commented on #2653
+1 waiting for this feature

[2021-05-21 11:27] mhd-adam opened #2797 "Hide measures or dimensions per user goups"
**Problem**
Hi guys, it has been a really great journey with CubeJS so far. I am wondering if there is a way to restrict access to measures based on user groups or any other criteria? For example, we have a cube with 5 measures, only 2 of them should be available for all users whereas the other 3 should be available to admin users only! My concern is that the `/meta` endpoint exposes all measures

[2021-05-21 12:40] ovr commented on #2763
Hello @@TomFreudenberg

Yes, it's a bug. We created this variable but We didn't ship it in any documentation. Probably, in the feature, we will replace `API_SECRET` with `CUBEJS_JWT_KEY `

[2021-05-21 12:48] #2763 closed

[2021-05-21 12:50] sveisvei opened #2799 "Docker image has CVEs"
**Describe the bug**
Trivy check fails on your docker image:

[code]

**To Reproduce**

`trivy image --exit-code 1 --severity HIGH,CRITICAL`

**Expected behavior**

Updated dependencies without known issues.

**Screenshots**

**Version:**
[e.g. 0.27.15]

**Additional context**

[2021-05-21 14:28] #2502 closed

[2021-05-21 14:55] ovr commented on #2799
Hello @sveisvei,

Thank you for submitting but all of them like a notice, because it's not possible to attack.

1. libx11, We don't use it at all, because it's a system library. Probably, it was not updated in the official node.js image.
2. Node deps:

Both `ws` and `lodash` are used in `hive-driver`.

1.  `lodash` is a super large package and it possible these functions are not used at all.

[cod

[2021-05-21 15:27] rongfengliang commented on #2797
@mhd-adam  i think you maybe need  multi-tenant setup

[2021-05-21 15:29] #2788 closed

[2021-05-21 15:51] mhd-adam commented on #2797
Thanks @rongfengliang , would it help in **hiding** the measures from `/meta` endpoint for a group of users?

[2021-05-21 15:56] rongfengliang commented on #2797
yes.

[2021-05-21 17:23] sveisvei commented on #2799
@ovr Thank you for responding. I agree, there is no real attack vector here.

The vector is that this is noise that might make us not spot real CVEs that might come down the line.

It is possible to "patch" the yarn lockfile to use newer version of lodash.

[2021-05-22 05:50] paveltiunov commented on #2797
Hey @mhd-adam ! This would be possible with #2145.

[2021-05-22 05:50] #2797 closed

[2021-05-22 10:18] mhd-adam commented on #2145
Thanks, my use case is I have internal and external user groups using the same cube instance and I need to hide sensitive measures from the external users.

[2021-05-22 12:49] jmadan commented on #1254
is there any update on this? I am facing the same issue where calculated measure are not being returned properly as part of pre-aggregation queries

[2021-05-24 11:58] RobWilliamBellamy opened #2809 "Snowflake driver error: cannot find module './dist/src'"
**Describe the bug**
Creating a project with the snowflake driver displays the error:

**To Reproduce**
Steps to reproduce the behavior:
1) Run: npx cubejs-cli create cube-snowflake -d snowflake

**Expected behavior**
Cube.js project with snowflake driver to be createfd

**Version:**
Latest

[2021-05-24 17:14] ovr commented on #2809
Hello!

Thank you for submitting an issue. Yeah, it's a bug.

Should be fixed in latest release `v0.27.19` https://github.com/cube-js/cube.js/commit/cd2c90f51bd02cd9b918c64e116207b75af95d3d

Thanks

[2021-05-24 17:39] #2792 closed

[2021-05-24 21:39] rpaik commented on #2204
@acham1, just following up. Are you still interested in working on this?

[2021-05-24 21:46] acham1 commented on #2204
Yes, so sorry! I'll pick it up during the coming long weekend.

[2021-05-25 02:05] RahaShafaei opened #2812 "In Code Reusability, the child cube cannot use the join defined in the father cube"
**Describe the bug**
In order to be able to get the number of "Node_child" based on the desktop, I have to include the desktop join in the child, otherwise it gives the error message that there is no path between these two cubes.

`cube(Desktops, {
  sql: SELECT * FROM Desktops,
	measures: {
    count: {
      type: count
    }
  },
  dimensions: {
    id: {
      sql: _id,
      type: string,

[2021-05-25 08:46] chamabreu opened #2814 "decompose() with compareDateRange in typescript"
**Problem**

How can i decompose my values from a query with a 'compareDateRange' timeDimension?

My query:
[code]
When i try to decompose() the resultSet in typescript, it returns a `Object | null`. Thats what the documentation says.
But isn't it actually an array?
https://cube.dev/docs/@cubejs-client-core#result-set-decompose
Here it's used with .forEach() but i can't do this in Typescript becau

[2021-05-25 20:23] FiveOFive commented on #138
I got hit with the ECONNREFUSED error for MongoDB because I was running cube js on my local Mac in a Docker container and trying to connect to mongodb bi locally at 127.0.0.1. Needed to use host.docker.internal - https://docs.docker.com/docker-for-mac/networking/

[2021-05-25 22:38] jmadan opened #2825 "CubeStore crashes while pre-aggregating to external Postgres DB or CubeStore"
Datasource: BigQuery
External Aggregation DB: Postgres
DataSource Size: 64GB approx
Query data size as per big query: 16GB approx

Pre-aggregation process goes on for good 15 minutes and then it crashes all of a sudden with the following error

`Error: Connection terminated unexpectedly
    at Connection.<anonymous> (/node_modules/pg/lib/client.js:132:73)
    at Object.onceWrapper (node:events:475

[2021-05-26 06:16] paveltiunov commented on #2825
Hey @jmadan ! Most likely you need to setup `CUBEJS_DB_BQ_EXPORT_BUCKET` and use it together with Cube Store. Postgres doesn't support it. Please see https://cube.dev/docs/connecting-to-the-database#notes-google-big-query.

[2021-05-26 10:16] vasilev-alex commented on #2780
hi @mycahp! Thanks for posting it here.

We're going to support the latest Angular version in the next minor release, as Angular 10, 11, and 12 are not backward compatible.

[2021-05-26 13:16] jmadan commented on #2825
@paveltiunov thanks for getting on this but the reason for choosing external pre-aggregation is to query BigQuery less often... with CubeStore and GCP Bucket....I would be constantly hitting BigQuery for every query.

[2021-05-26 16:04] mhd-adam opened #2829 "Custom HTTP Response Status"
**Problem**

Hello,
I am trying to find out a way to send custom HTTP response codes (like 400, or 403) when using the custom `checkAuth`. I tried a couple of ways inside the overridden function by `req.res.status(400)` but it seems to be not the right place to send custom responses from.
Example of what I tried:
[code]
Using the above way causes the server to shut down of this error
`Error [ERR_H

[2021-05-26 16:53] mhd-adam commented on #2829
Closing it as @rongfengliang suggestion works for me. It is not mentioned in the Docs though.

[2021-05-26 16:53] #2829 closed

[2021-05-27 00:00] davefrancis opened #2831 "Incorrect column type used for time dimensions when using MSSQL as an external preaggregation store."
**Describe the bug**
When using a `timeDimensionReference` in the pre-aggregation definition I am encountering this error: `RequestError: Cannot insert an explicit value into a timestamp column. Use INSERT with a column list to exclude the timestamp column, or insert a DEFAULT into the timestamp column.`

While debugging I've noticed that the table created in the external database uses a `timestam

[2021-05-27 01:34] mycahp commented on #2780
@vasilev-alex Wonderful news! Any idea on the release timeline for the next minor version?

[2021-05-27 01:58] #2667 closed

[2021-05-27 09:31] vasilev-alex commented on #2780
@hassankhan ^^ do we have a planned date?

[2021-05-27 11:25] #2660 closed

[2021-05-27 12:04] mhd-adam opened #2836 "SQL Injection"
**General Question**

I am just wondering whether CubeJs implementation is safe against SQL injections using the URL query parameter `query`? I tried to look into the documentation to read if it has been covered.

[2021-05-27 16:17] rongfengliang commented on #2836
cube.js use schema compile  and  sql query with buildparames  (like java preparestatment) . i think  cube.js is safe

[2021-05-27 17:31] mhd-adam commented on #2836
Thank you @rongfengliang! I think it is worth mentioning it in the documentation.

[2021-05-27 19:27] beefs opened #2843 "BigQuery driver error: cannot find module './dist/src'"
**Describe the bug**
Creating a project with the BigQuery driver displays the error:

**To Reproduce**
Steps to reproduce the behavior:
1. exec: npx cubejs-cli create cube-bigquery -d bigquery

**Expected behavior**
Cube.js project with bigquery driver to be created.

**Screenshots**
N/A

**Version:**
0.27.22

**Additional context**
No

[2021-05-27 21:17] #2809 closed

[2021-05-28 03:01] Vando-Lopes commented on #671
Could someone help me do this with React?

[2021-05-28 10:29] vasilev-alex commented on #2769
@gah112 should be fixed now. Could you please check it one more time?

[2021-05-28 10:29] #2769 closed

[2021-05-28 11:14] #2814 closed

[2021-05-28 12:42] ovr commented on #2843
Hello @beefs ,

Thank you for submitting an issue. Yes, it's a bug, fixed in `v0.27.23` via https://github.com/cube-js/cube.js/commit/8b8c10b94a99aca4ce26aab231d0379d434f88f6

[2021-05-28 12:42] #2843 closed

[2021-05-28 14:53] JoshMentzer opened #2852 "Cubestore: Divide by Zero Error on calculated measure"
**Describe the bug**
Calculated measure with a filter, which did work with external preaggregation using Postgres, now is throwing divide by zero error using Cubestore.

**To Reproduce**
Create two measures, using count type - measureA and measureB.   Setup a preaggregation on measureA and B.
Create third measure, measureC which is setup like so:
[code]
This results in:
[code]

**Expected behavior

[2021-05-28 16:51] keydunov commented on #2825
Hey @jmadan,

When you are using Cube Store queries don't hit the source database. They hit the aggregated data from Cube Store instead.

The bucket @paveltiunov mentioned above is used to export data from BigQuery and load it into the Cube Store in the background during either creation or refresh of the pre-aggregations.

[2021-05-28 22:42] saradharavi opened #2855 "Preaggregation table could not be found when queries are made. (postgres backend)"
**Describe the bug**
The preaggregation table for the postgres based schema are missing in some cases. and when attempting to query we see the following error message in the cubejs logs.
error: table "downmet_main20210527_c10ro1io_punrmxgc_1gb2ogu" does not exist
    at Parser.parseErrorMessage (/app/node_modules/pg-protocol/dist/parser.js:278:15)
    at Parser.handlePacket (/app/node_modules/pg-p

[2021-05-29 05:16] paveltiunov commented on #2852
@JoshMentzer Hey Josh! Thanks for posting this one! As for in many databases division by zero in Cube Store is actually an error. However, it supports `NULLIF()` function so the measure definition should look like:
[code]

[2021-05-29 10:02] manishgadhock-monotype opened #2856 "Log Level for CUBEJS_LOG_LEVEL is not working."
**Describe the bug**
I am trying to get only errors by setting CUBEJS_LOG_LEVEL=error but thats not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Cube JS basic app from CubeJS CLI
2. Set CUBEJS_DEV_MODE=false
3. Set CUBEJS_LOG_LEVEL=trace
4. Add this in cube.js file
    `module.exports = {
        logger: (msg) => {
              console.log(msg);
     }`
5. Try to run /cube

[2021-05-29 12:17] JoshMentzer commented on #2852
@paveltiunov Totally understood - wouldn't expect anything to be able to divide by zero; what I felt was odd was that the filter doesn't seem to exclude the 0's like it does when hitting the databases directly or when it was pre-agg'd in postgres instead of cubestore.  Either way, it works now w/ the case statement; I'll try NULLIF again to test out; that was one of my first workaround attempts an

[2021-05-29 12:18] #2852 closed

[2021-05-30 11:58] #2565 closed

[2021-05-31 10:54] #2831 closed

[2021-05-31 11:22] igorlukanin opened #2858 "No way to use pre-aggregations with MongoDB"
**Describe the bug**
Cube.js connects to MongoDB via its BI Connector which is accessed in the read-only fashion. That's why Cube.js is unable to store temporary tables when building pre-aggregations. So, it's also unable to determine the types of the values in the query result. This leads to no pre-aggregations possible when using MongoDB.

**To Reproduce**
1. Connect Cube.js to MongoDB
2. Enable

[2021-05-31 15:10] tuandiep1 opened #2861 "Bug on build query with hasMany relationship"
**Describe the bug**
I added sum measure to a entity and filter with some condition from the parent entity as a flow and got the error: "must appear in the GROUP BY clause or be used in an aggregate function".
The schemas as below:
InspectionViolationSanction =>(n : 1) => InspectionViolation => (n: 1) => Inspection => (1 : 1) => InspectionIndustry

**To Reproduce**

![image](https://user-images.gi

[2021-06-01 07:25] chamabreu opened #2866 "dateRange 'Next 7 days'"
**Describe the bug**
If I pass 'Next 7 days' into the dateRange in query, the response is not a range over the next 7 days but only the day IN 7 days.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a query like this:
[code]
2. Send the request to CubeJS Api and watch the resultset timeDimension array. It returns not a dateRange over 7 days but only the one day in 7 days:
[code]

**Exp

[2021-06-01 07:31] chamabreu commented on #2866
Just found a solution that works:
`'from now to 7 days from now'`
gives me the expected result of
`["2021-06-01T00:00:00.000", "2021-06-08T23:59:59.999"]`.

It's a solution, but I think 'Next 7 days' should work if 'Last 7 days' work, too.

[2021-06-01 07:48] nmathon opened #2867 "scheduledRefreshContexts: Scheduled aggregation query returns undefined"
**Describe the bug**
Scheduled aggregation queries returns the following error even when scheduledRefreshContexts are defined
Error: Not found: Table project:dataset.tablename_undefined was not found in location EU

**To Reproduce**
Steps to reproduce the behavior:
1. Define scheduledRefreshContexts
`
module.exports = {
    scheduledRefreshContexts: async () => [
      {
        securityContext: {

[2021-06-01 08:55] ilya-biryukov opened #2868 "cubestore: panic on Serde("i128 is not supported")'"
Happens during compaction with decimal columns.

[2021-06-01 08:59] SergiuszMinsk opened #2869 "Can't cleanup async effects using useCubeQuery hook"
**Describe the bug**
I'm using the useCubeQuery hook with React to make 4 requests on each of my pages. When I change the page from current to another one immediately, React tries to update the state of an already unmounted component in case of an incomplete request, it leads to a React warning:  ``` Warning: Can't perform a React state update on an unmounted component.```

**To Reproduce**
1. Go

[2021-06-01 09:42] #2628 closed

[2021-06-01 10:04] vasilev-alex commented on #2869
@SergiuszMinsk actually, we do have this check in place https://github.com/cube-js/cube.js/blob/d72baf4ef39d89be986f51941629def0975c989f/packages/cubejs-client-react/src/hooks/cube-query.js#L62

As I can see from the error message you've provided this warning comes from the `ResizeableChartContainer` component.

[2021-06-01 10:44] ilya-biryukov commented on #2868
fixed in a4eef83602734b1e6c59e0666822f9c80eed3a90

[2021-06-01 10:44] #2868 closed

[2021-06-01 11:31] SergiuszMinsk commented on #2869
@vasilev-alex, looks like this warning caused by another ```useEffect``` in the domain component (in my case inside of critical tickets where all async operation happens). Actually, I followed this pattern - https://github.com/cube-js/cube.js/blob/master/examples/highcharts/dashboard-app/src/components/Dashboard.js#L140

[2021-06-01 12:18] surajlifeean opened #2874 "Unable to create a cube project using npx in cli"
While I am trying to get a cube project created using npx and running the command
npx cubejs-cli create spark-cubejs -d mssql
in the terminal I am getting the issues specified below.

`- Installing server dependencies
npm WARN deprecated @hapi/joi@15.1.1: Switch to 'npm install joi'
npm WARN deprecated @hapi/bourne@1.3.2: This version has been deprecated and is no longer supported or maintained
np

[2021-06-01 12:24] vasilev-alex commented on #2869
@SeekingMeaning so, do you confirm that the warning comes from some other component and not from the `useCubeQuery` hook?

[2021-06-01 13:15] SergiuszMinsk commented on #2869
@vasilev-alex , yes, I confirm it as we have ```isMounted``` ref inside the ```useCubeQuery``` hook to prevent the state from the update in case of an unmounted component.

[2021-06-01 13:18] SergiuszMinsk commented on #2869
@vasilev-alex , I confirm it.

[2021-06-01 13:49] #2869 closed

[2021-06-01 15:56] ovr commented on #2874
Hello @surajlifeean,

"ECONNRESET" means the other side of the TCP conversation abruptly closed its end of the connection. I think there was a problem with GitHub. Can you try again? Thanks

I tried, works as expected.

![image](https://user-images.githubusercontent.com/572096/120354442-189e0d80-c30b-11eb-9a13-8dd2a7149ad7.png)

[2021-06-01 16:20] surajlifeean commented on #2874
Tried several times.. Issue persist. 😞

[2021-06-02 06:38] surajlifeean commented on #2874
This doesn't work. Can you suggest me something to troubleshoot better.

[2021-06-02 10:16] ilya-biryukov opened #2880 "Table kept even if import from create table fails"
[code]

Expected: first `create table` fails,  second succeeds.
Actual: second `create table` fails with `Unique constraint violation`.

This happens because we add the table entry into the metastore early in the process and do not clean it up if import fails.

[2021-06-02 13:46] rongfengliang commented on #2874
@surajlifeean  try disable install cubestore with `CUBESTORE_SKIP_POST_INSTALL=true  npx cubejs-cli create spark-cubejs -d mssql `

[2021-06-02 13:57] #2867 closed

[2021-06-02 14:04] mhd-adam opened #2885 "Catch responses being sent to the client"
**Problem**

I want to be able to hide CubeJs error messages and replace them with my custom messages. I am trying to hook up middleware to catch any errors before being sent to the client, but it does not seem to be the right way as it does not catch the error.

When I try to query a measure that is not listed in the data model
```query={"measures":["random_measure"]}```
it returns this response

[2021-06-02 14:09] #2880 closed

[2021-06-02 14:29] ilya-biryukov opened #2887 "Add 'coalesce' function to CubeStore"

[2021-06-02 15:34] surajlifeean commented on #2874
Is guess there is something wrong. I am getting this issue:
![image](https://user-images.githubusercontent.com/23061145/120509383-5c9f1a00-c3c0-11eb-999f-a228b7d85227.png)

[2021-06-02 15:39] ovr commented on #2874
@surajlifeean you can use `set CUBESTORE_SKIP_POST_INSTALL=true` before `npx cubejs-cli create spark-cubejs -d mssql`

[2021-06-02 17:02] chandlj commented on #2769
@vasilev-alex I have the same issue when trying to run any of the demos. Many of the dependencies are missing and even after spending several hours trying to install them all it doesn't work.

[2021-06-02 19:24] paveltiunov commented on #2852
@JoshMentzer Yep. It's a little bit tricky. As Cube Store is columnar storage that processes everything in batches and division is evaluated before `CASE` statement which is produced by the filter. It means it can't recover from an error even if the value is being filtered out. Workaround to this can be to have a measure filter inside `measureB` itself but best practice is to always use `NULLIF` f

[2021-06-03 06:14] surajlifeean commented on #2874
This worked for me. Thanks a lot :) . I was able to access the link from the browser and there is a proxy I am trying to use it in my office laptop for a project.  Can you please explain me the reason and how the solution you gave worked. I am new to this and would love to learn more and contribute to the cuje js community :)

[2021-06-03 12:29] #2874 closed

[2021-06-03 12:30] #2887 closed

[2021-06-03 20:57] zpencerq opened #2900 "Cross-partition Cubestore preAggregate queries are failing during planning."
**Describe the bug**
I have a rollup preAggregation of `{granularity: day, partitionGranularity: month, external: true}` with CubeStore configured with S3 storage (the upstream datasource is Snowflake). When querying with a filter on a particular day, everything works as expected.

However, if my query crosses a month boundary (for example, `timeDimension: dateRange: ["2021-03-20","2021-04-02"]`),

[2021-06-04 14:58] vasilev-alex commented on #2885
Hi @mhd-adam! What about customizing error messages on the client?

[code]

[2021-06-04 20:56] ovr commented on #2900
Hello @zpencerq ,

Could you try with `v0.27.30`? Should be fixed via https://github.com/cube-js/cube.js/commit/a99977a11a2ae3029d3c2436b7d1500f7186a687

Thanks

[2021-06-07 19:01] #2885 closed

[2021-06-08 06:44] ecolara3 opened #2919 "Generating schema files using Azure SQL Database, primary keys are not generated"
**Describe the bug**
When I generate Schemas against an Azure SQL Database, primary keys are not generated for any of the cubes

**To Reproduce**
Steps to reproduce the behavior:
1. Create Sample Azure SQL Database using Free Tier with Azure (simple instructions to create [here](https://www.sqlshack.com/create-an-azure-sql-database-with-built-in-sample-data/))
2. Create a local cube project (follo

[2021-06-08 06:51] rsbh opened #2920 "Monitoring support"
We are running multiple cube instances in our cloud and want to monitor them like other services.
Can we add support for statsd/new-relic or some similar services?

[2021-06-08 12:22] shiv-u commented on #24
In Ubuntu use the following command if you're using Docker -
[code]

[2021-06-08 16:40] root-io opened #2923 "Snowflake ReferenceError host is not defined"
**Describe the bug**
[code]

**Version:**
cubestore and cube docker images v0.27.30

**Additional context**
I'm passing something like below inside the driverFactory
[code]

I'm not sure but I think it works with snowflake-sdk 1.5.3 if you pin it manually. I opened a PR upstream, see: https://github.com/snowflakedb/snowflake-connector-nodejs/pull/158

[2021-06-09 01:23] mspiegel31 commented on #2858
is it expected that external pre-aggregations via cubestore or mysql would work with the current mongobi driver?

[2021-06-09 03:38] vignesh-123 opened #2926 "Cubestore trying to create tables in source database even with external set to true"
In my cube schema, I have mentioned that the cube js should use cubestore for pre-aggregations

[code]
I have also mentioned the Cubestore host while creating the docker
[code]

But even with this, the system is trying to create tables in elasticsearch's database instead of the cube store causing errors

[2021-06-09 08:06] igorlukanin commented on #2858
@mspiegel31 It's not, unfortunately, because Cube.js wouldn't build pre-aggregations with MongoDB as a data source.

[2021-06-09 12:23] mspiegel31 commented on #2858
I'm not familiar with cube's current ore aggregation implementation, but would that be an acceptable workaround? "Make MongoBI driver compatible with external preaggregations"?  As I understand it, CubeJS is tied pretty heavily to SQL syntax

[2021-06-09 18:47] kmgreen2 opened #2931 "Quantile Support for Pre-Aggregations"
**Is your feature request related to a problem? Please describe.**
Much of our aggregations are based on quantiles (e.g. 95p).  It is well-known that you cannot merge quantiles without having all of the original data, which prevents such aggregations in pre-aggregations.  It would be very nice to have pre-computed quantiles that can be merged, similar to counts, sums, etc.

First, does the communi

[2021-06-10 07:09] smartXJ opened #2933 "Connect multiple data sources using pre-Aggregation"
I have three data sources A, B, and C.
A has a farm table.
B has a pig table.
C has a sheep table.
The pig table and the sheep table correspond to each other through the farm and farm table ID fields.

now, I want to get the number of pigs and sheep on the farm in one query.
How to write pre-Aggregation?

[2021-06-10 13:28] viniciusrangelfp opened #2938 "Format time dimensions"
**Is your feature request related to a problem? Please describe.**
Cube could provide a date formatter, since we can throw the responsability of this to the database.
I don't think cube should allow format any fields, because this will cause some performance issues and the api it's pretty fast, but since dates could be easily formated in the query maybe we can create somethig.

**Describe the solu

[2021-06-10 13:55] mrawdon commented on #2534
I'm having the same problem, it seems like its caused by MEASURE_DICTIONARY.  If your columns don't match the expected naming conventions then it will ignore any numeric columns.   Is there any way to configure this?

https://github.com/cube-js/cube.js/blob/master/packages/cubejs-schema-compiler/src/scaffolding/ScaffoldingSchema.js#L5
https://github.com/cube-js/cube.js/blob/master/packages/cubejs-

[2021-06-10 14:22] #2785 closed

[2021-06-10 15:18] zpencerq commented on #2900
Works for me 👍

[2021-06-10 15:18] #2900 closed

[2021-06-10 15:54] joshhubers opened #2940 "TypeError: oldLogger is not a function"
**Describe the bug**
I just updated a project to version `0.27.30` from `0.23.14`

On startup I get the following exception:

[code]

**Expected behavior**
To startup without issue

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version:**
`0.27.30`

**Additional context**
Looks like this issue almost: https://github.com/cube-js/cube.js/issues/2431

[2021-06-11 06:52] nmathon opened #2942 "Mistake in the documentation : CUBEJS_DB_PULL_TIMEOUT"
**Describe the bug**

According to the code, the environment variable to set the DB timeout should be CUBEJS_DB_POLL_TIMEOUT but in the documentation CUBEJS_DB_PULL_TIMEOUT is written (POLL/PULL)
https://github.com/cube-js/cube.js/blob/6a7923de967abca3523887544f6a3c86d22647db/docs/content/Configuration/Environment-Variables-

**Version:**
0.27.30

[2021-06-11 09:59] PieterVanZyl-Dev commented on #1360
@paveltiunov

I'm wondering how to localize the labels (translate them)

and I'm unsure how to approach this

I have a solution for handling localization for the titles but not for the labels

I'm doing this in Angular with i18n which compiles everything at compile time (not run time translations)

[2021-06-11 13:37] ovr commented on #2940
@joshhubers Do you use an official docker image?

Thanks

[2021-06-11 14:13] hassankhan commented on #2942
Thanks for reporting the issue @nmathon 🙌

[2021-06-11 14:38] ilya-biryukov opened #2946 "Refresh AWS credentials upon expiration in CubeStore"
CubeStore only gets AWS credentials on first access to S3 and never refreshes them.
https://cube-js.slack.com/archives/C0206EXEVAS/p1623337012087400

[2021-06-11 18:02] rdwoodring opened #2948 "QueryBuilder makes filters unique by member rather than unique by a combination of member and operator"
**Describe the bug**
When using the QueryBuilder component the filters parameter passed to the render prop function makes filters unique by member, even though the backend querying supports multiple filters on the same member. The use case here would be filtering on something like "users company contains 'limited'" and "users company notContains 'cubilia'".

**To Reproduce**
Steps to reproduce the

[2021-06-11 19:02] paveltiunov commented on #2931
@kmgreen2 Hey Kevin! Thanks for posting this one! We're definitely willing to support quantiles in rollups. T-digest seems really promising! Thanks for sharing! In terms of changes, it'll require the support of downloading raw ungrouped data from a data source to Cube Store and prepare quantile aggregated sketches on Cube Store side. We're planning to support similar stuff for Postgres and MySQL H

[2021-06-12 16:41] igorlukanin commented on #83
I experienced this bug as well. The use case look very legitimate to me: I was creating the data schema for the tables from the TPC-H benchmark.

For the following table structure, I've got all columns in the data schema except for the `int64_field_0` and `int64_field_5`. The weird thing is that, indeed, I've got `double_field_7` in the schema:

[code]

I really think Cube.js should generate dimen

[2021-06-14 13:11] #2942 closed

[2021-06-14 14:34] bilelsgh opened #2953 "Pre-aggregation | Unsupported env variable: "jwkKey""
Hi everyone,

I added pre-aggregation to my cube and when I started `npm run dev` I was advised to install `@cubejs-backend/cubestore-driver` to use external pre-aggregation.
I did it running `npm i --save @cubejs-backend/cubestore-driver` and now when I run `npm run dev` I have an error I never have before : `Error: Unsupported env variable: "jwkKey"`.

Of course I checked my env variables and th

[2021-06-14 15:35] kmgreen2 commented on #2931
@paveltiunov Great!  Let me know if/how I can help :)

[2021-06-14 15:53] joshhubers commented on #2940
Hi @ovr,

This is not using the docker image, I found commenting out the logging configuration on the server core made the error go away. This is the logging config that I have temporarily removed just to get running:

[code]

We are using winston for logging if that makes a difference.

[2021-06-15 00:47] jmadan opened #2955 "RefreshWorker does not work for Cube query with FILTER_PARAMS"
**Describe the bug**
ScheduledRefreshWorker fails to pass FILTER_PARAMS value to Cube Query. It is undefined and is replaced by 1=1 in query.

To Reproduce
Steps to reproduce the behavior:

Create a cube that uses FILTER_PARAMS and preaggregations with scheduled refresh, e.g.:

[code]
In CubeJS set the
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the CubeJs Server
2. Let the

[2021-06-15 10:36] dlariosuniandes commented on #222
I keep getting my credentials rejected from Mongo Atlas after generating a test certificate. Am I doing something wrong?

[2021-06-15 10:39] dlariosuniandes commented on #222
Did you do something on CubeJS side my user credentials are being rejected after setting up the test certificate. What type of cluster do you have?

[2021-06-15 13:16] #2940 closed

[2021-06-15 15:46] igorlukanin opened #2959 "Queries with non-additive measures and segments wouldn't match pre-aggregations"
**Describe the bug**
According to the docs:

However, if such a query contains a segment, it won't match a pre-aggregation no matter what. Confirmed by @paveltiunov.

**Additional context**
Slack thread: https://cube-js.slack.com/archives/CC0403RRR/p1623224533165800?thread_ts=1623075780.111700&cid=CC0403RRR

[2021-06-15 16:21] paveltiunov commented on #2926
Hey @vignesh-123 ! Thanks for posting this! We'd need to make Elasticsearch as well as MongoDB drivers `readOnly` by default.

[2021-06-15 16:22] paveltiunov commented on #2920
Hey @rsbh ! Thanks for posting it! Could you please elaborate what kind of metrics do you want to track?

[2021-06-15 17:41] joshhubers commented on #2940
Thank you!

[2021-06-15 22:47] joshhubers opened #2963 "Google Big Query countDistinctApprox: Error: No matching signature for aggregate function SUM"
**Describe the bug**
I have a measure defined that uses the `type: countDistinctApprox` and a pre-aggregate defined that references this measure. Upon execution of a cube query I get the following error:

`Error: No matching signature for aggregate function SUM for argument types: BYTES. Supported signatures: SUM(INT64); SUM(FLOAT64); SUM(NUMERIC); SUM(BIGNUMERIC) at [2:151]`

In the generated sql

[2021-06-15 23:14] kmgreen2 commented on #2931
I'd like to help with this one.  I'll setup my dev environment this week (I'll follow https://github.com/cube-js/cube.js/blob/master/CONTRIBUTING.md) .  Any pointers would be much appreciated.

[2021-06-16 04:47] rpaik commented on #2931
Thanks, @kmgreen2. I assigned this issue to both you and @ilya-biryukov. Ilya will be making the necessary changes for Cube Store and will ping you once the work starts.

[2021-06-16 06:50] ricmatsui opened #2965 "Format all timestamps in query timezone"
**Is your feature request related to a problem? Please describe.**

Results with timestamps are inconsistently converted to the query timezone depending
on if it is used as a dimension, a time dimension, or a time dimension with granularity.

This makes presenting time data error-prone because it's unclear what timezone the data is formatted in since none of the results contain offsets.

**Describ

[2021-06-16 23:28] lucasortigoso opened #2970 "deprecated and missing variable - serverless template"
Hi there,

First, congratulations! Cube.js is a really amazing platform!

I found two issues on serverless.yml template:
- Missing variable CUBEJS_AWS_S3_OUTPUT_LOCATION
- Deprecated variable on line 107: REDIS_URL -> CUBEJS_REDIS_URL

https://github.com/cube-js/cube.js/blob/2c1e150ce70787381a34b22da32bf5b1e9e26bc6/packages/cubejs-cli/src/templates.ts#L107

I hope that helps the community!
Thanks!

[2021-06-17 06:23] PieterVanZyl-Dev opened #2971 "Localizing and Internalization of Labels for ng charts"
Problem: I cannot localize chart labels in cube js (titles can be localized)
How might I handle this for labels that need to be localized.
@paveltiunov

I'm wondering how to localize the labels (translate them)

and I'm unsure how to approach this

I have a solution for handling localization for the titles but not for the labels

I'm doing this in Angular with i18n which compiles everything at com

[2021-06-17 08:29] MarkGStacey commented on #2919
I'll note that this behaviour is also present in MS SQL server

[2021-06-17 09:18] igorlukanin commented on #2970
@lucasortigoso Thanks for reporting this!

[2021-06-17 14:57] flop1971 opened #2972 "Support for Cloud Object Storage?"
Hi,

How can I do connect to an Object Storage (i.e. https://www.ibm.com/cloud/object-storage) Repository with Cube.js?

Would it be possible to write a connector to pull the data from Object Storage or are connects available for SQL / NoSQL repos only?

Thanks
Jonathan

[2021-06-17 15:19] igorlukanin opened #2973 "In MySQL driver, freeing a connection wouldn't work after a query timeout"
**Describe the bug**
See Slack for context: https://cube-js.slack.com/archives/CC0403RRR/p1623942326412600?thread_ts=1623766932.341900&cid=CC0403RRR

[code]

[2021-06-17 16:54] vasilev-alex commented on #2971
Hi @PieterVanZyl-Dev! Are you talking about the Playground? Could you maybe share a screenshot/code snippet?

[2021-06-18 03:34] rsbh commented on #2920
Hey @paveltiunov,  I am looking for metrics like resource (IO, CPU, Memory) consumption, API throughout and latency etc.

[2021-06-18 04:16] HJ29 commented on #2855
Not sure the error i encountered is same.
I am using bigquery for db and external preaggregation db.
I only configure originalSql preaggregation, no rollup for now.
[code]
I get this error sometime, looks like it tries to query a preaggregation table which doesn't exist.
i can't find a clear pattern how it happens.

[2021-06-18 13:26] rongfengliang commented on #2972
@flop1971  for object storage use presto、trino、 dremio maybe easy . then we can use cube.js query data directly

[2021-06-18 18:40] joshhubers commented on #2963
This actually might just be a result of the query, it looks like other queries that use HLL_COUNT.INIT for aggregation are working fine. I ran a very basic query using `countDistinctApprox` and it used `APPROX_COUNT_DISTINCT`. I don't know enough about the realm to make definitive calls as to know actually which one is supposed to be executed.

[2021-06-18 18:40] #2963 closed

[2021-06-20 05:38] milo157 opened #2980 "Build a measure with complex SQL that references the start and end dates a user selects?"
**Problem**

Hi! Is there a way to build a measure with complex SQL that references the start and end dates a user selects?

I attached an image of my schema which is a DBT snapshot and I'm trying to reproduce the query of:

[code]

As you can see I am checking the conditions on two seperate time columns. It doesn't seem like this is possible in Cube but I could write the SQL as a measure, I'm jus

[2021-06-21 17:52] mfulop opened #2987 "CubeStore: rollupJoin aggregation error - requires index on foreign field?"
We are using CubeStore with GCS bucket, with BigQuery data. Given the below two cube definitions (cubes joined together), rollup pre-aggregations `byUpdatedAtDate` work correctly. However when trying to execute a query that would use the **rollupJoin** pre-aggregation `StatsAndAccountsByUpdatedAtDate`, the following error is returned:

_Error: Internal: Error during planning: Can't find index to j

[2021-06-21 18:18] #728 closed

[2021-06-22 06:42] atishayjainmono commented on #2858
@igorlukanin @mspiegel31
I have setup external db as `mysql` for pre-aggregation with `MongoBI` as source DB.
I was able to find pre-aggregated data in mysql, and also was able to query pre-aggregated data for certain period(14 days).
But beyond certain period, I was getting this [error](https://stackoverflow.com/questions/68018459/error-unable-to-detect-column-types-for-pre-aggregation-on-empty-v

[2021-06-22 06:55] #2971 closed

[2021-06-22 08:00] PieterVanZyl-Dev commented on #2971
I just realized the labels are coming from the data.

So to localize, I'd need to provide two queries, an english query (for example TitleEN) and an seperate query (with a column TitleAR) and then selectively decide which query to send depending on the user that is connected.

[2021-06-22 12:08] #2946 closed

[2021-06-23 02:54] paveltiunov commented on #2987
Hey @mfulop ! Could you please try to swap join condition:
[code]
instead of
[code]

[2021-06-23 06:19] ricmatsui commented on #1032
@ovr It seems like it's related to using the `redis` driver without an `error` listener since it states:

client will emit error when encountering an error connecting to the Redis server or when any other in Node Redis occurs. If you use a command without callback and encounter a ReplyError it is going to be emitted to the error listener.

The unhandled emitted error causes node to exit.

If we us

[2021-06-23 08:14] ilya-biryukov opened #2995 "Current time in CubeStore not taken into account for SQL cache"
**Describe the bug**
CubeStore caches results of SQL queries even if they change on each run.

**To Reproduce**
Run a query that depends on `now()` multiple times, e.g. `SELECT id, now() FROM s.Data`

**Expected**
On every run, the second column has some new (fixed) value.

**Actual**
The results get cached on the first run, do not change on subsequent runs

[2021-06-23 08:20] ecolara3 opened #2996 "Connecting to MSSQL with docker image needs ability to enable trustedconnection"
**Describe the bug**
When setting-up cube using docker and following the instructions, there is no ability to enable trusted connection without modifying the config files which are not available until after you connect to the DB.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions using a MSSQL database with trusted connection required ([tutorial](https://cube.dev/docs/gettin

[2021-06-23 11:46] gitmepopcorn commented on #2734
This was solved by the `CUBEJS_EXT_DB_PORT` Env Var. Thank you for the help!

[2021-06-23 11:46] #2734 closed

[2021-06-24 01:24] hassankhan commented on #2729
Fixed in https://github.com/cube-js/cube.js/pull/2988

[2021-06-24 01:24] #2729 closed

[2021-06-24 09:11] #2970 closed

[2021-06-24 13:36] PieterVanZyl-Dev commented on #2948
Caught this issue as well while trying to do the same with angular, works manually though.

[2021-06-25 08:46] ovr commented on #2953
Hello @bilelsgh,

I think this problem caused due lock files, some packages were not updated, but the server-core was updated, it's caused a problem with rename.

Can you try the latest version?

Thanks

[2021-06-27 02:45] paveltiunov commented on #2920
@rsbh I guess you're looking for a standard monitoring agent like Newrelic or Datadog when you deploy it in docker. No additional changes are required from Cube.js side.

[2021-06-27 02:57] paveltiunov commented on #2401
@gcassarini You can have a separate table where you track the progress of your background refresh processes one row per cube. Once the process has been finished it changes a single row in this table. This way you don't need to scan all the data and this status table can be relatively small. @javiramos1 Pretty the same approach can be used in your case.

I'll convert this issue to the enhancement a

[2021-06-27 05:40] rsbh commented on #2920
I think for new-relic, we need to add its JS sdk to cube.js. https://docs.newrelic.com/docs/agents/nodejs-agent/installation-configuration/install-nodejs-agent/

[2021-06-27 12:33] mfulop commented on #2987
Hello @paveltiunov ,

How could I miss this? I can confirm that with `${CUBE.owner} = ${Accounts._id}` it works and uses both preaggregations nicely:

[code]
Thanks!

[2021-06-27 17:03] mfulop opened #3012 "Measure value is returned as string when queried via cubestore"
**Describe the bug**
Given a numeric sum measure, returned as integer when querying normally, is returned as string when preaggregation is used for the query.

**To Reproduce**
The definition of the cube:
[code]
and query:
[code]

Returns numerical values for WebsiteVisits.pageviews without preaggregation:

[code]
... but returns them as string when preaggregation is used:
[code]

**Expected behav

[2021-06-28 04:50] HJ29 commented on #2955
not sure if this is just a typo when u are writing this issue.
you don't have "date" dimension, your time dimension is "orderDate"
change `FILTER_PARAMS.MyCube.date.filter("date")` to `FILTER_PARAMS.MyCube.orderDate.filter("orderDate")`

[2021-06-28 17:24] ovr commented on #3012
Hello @mfulop,

Cube Store returns numbers as a string and it's correct because it's not possible to use numbers for decimal/bigint due limitations in javascript language & JSON.

There is an issue for that https://github.com/cube-js/cube.js/issues/1879

Thanks

[2021-06-28 18:13] mfulop commented on #3012
Thanks, we will modify our system accordingly.

[2021-06-28 18:13] #3012 closed

[2021-06-28 20:57] enathaniel-ib opened #3022 "Dremio reserved keyword is not handled properly"
**Describe the bug**
We observed that if our cube contains Dremio reserved keyword, it is not being handled properly

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cube:
[code]
2. Observed the eval'ed SQL sent by Cube.js to Dremio
[code]
3. Result: we get the user we use to connect to DREMIO!

**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help expl

[2021-06-28 21:01] paveltiunov commented on #3022
@enathaniel-ib Hey Edwin! It should be referenced using `CUBE` https://cube.dev/docs/cube#members-and-referencing:
[code]

[2021-06-28 23:52] vkruoso opened #3023 "rollupJoin does not return data for week granularity"
**Describe the bug**
Using rollupJoin, it seems that the week granularity does not return any data.

**To Reproduce**
Create a rollupJoin with:
[code]
Try to query the data of last month with week granularity.

**Expected behavior**
Be possible to query data using week granularity.

**Version:**
0.27.42

[2021-06-29 07:15] ecolara3 commented on #2996
Thanks guy for looking into this!

[2021-06-29 08:01] ecolara3 commented on #2919
I pulled down the code and ran it locally to debug the situation and it seems to be working fine now. I am not sure what the issue was over the last few weeks, but this issue is resolved with the latest release 0.27.42

[2021-06-29 08:01] #2919 closed

[2021-06-29 08:18] igorlukanin opened #3025 "React client library hook for the /meta call"
**Is your feature request related to a problem? Please describe.**
How would one obtain the available query properties (e.g. measures, dimensions etc) using React?

**Describe the solution you'd like**
There's a meta() method on the cubejsApi and there's QueryBuilder in React, but... is a hook available?

**Describe alternatives you've considered**
—

**Additional context**
Source: https://cube-js

[2021-06-29 09:28] econtentmaps opened #3026 "ResultSet.chartPivot() doesn't return any counts when query granularity is set to "week""
**Describe the bug**
The chartPivot method doesn't return counts when the query's timeDimension granularity is set to week, even though counts are included in the API response.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a query (e.g.

[code]

2. Use chartPivot method on resultsSet and see the array items don't contain the count:

[code]

**Expected behavior**
I expect to see Tran

[2021-06-29 14:21] Alex-Yakubovsky opened #3028 "Allow Users to set URL Path Prefix for Developer Playground"
**Is your feature request related to a problem? Please describe.**
During local development we have many services running on a local k8s cluster. To prevent URL clashing, each service has its own URL prefix (e.g, `http://1.2.3.4/api/...`, `http://1.2.3.4/frontend-1/...`). I'm prefixing `cubejs` api calls with `http://1.2.3.4/cubejs/...` but the developer playground frontend has no ways to add a pr

[2021-06-29 14:44] vkruoso commented on #3026
I think this is exactly the issue I've opened yesterday. #3023 Will close that one in favor to this.

[2021-06-29 14:44] #3023 closed

[2021-06-29 14:55] vkruoso opened #3029 "rollupJoin measures are not considered when they are a SQL expression"
**To Reproduce**
Using a measure like this in a rollupJoin does not work:
[code]

**Expected behavior**
When the measure is an expression, but adheres to all requirements to be in a pre-aggregation query, like being addictive, it is expected that it will work like other measures that are not an expression.

**Version:**
0.27.42

**Additional context**
Seems that the code explicitly ignores express

[2021-06-30 00:50] enathaniel-ib commented on #3022
Verified using ${CUBE} works :).

[2021-06-30 00:50] #3022 closed

[2021-06-30 12:23] ovr opened #3032 "RedshiftDriver support UNLOAD (exportBucket) in readOnly mode"
Hello!

We started to support UNLOAD (exportBucket) in Redshift driver, but it's still limited and there are no support for readOnly mode.

Why?

Because We need column types for CSV, without it it's not possible to create a table in an external storage. In readOnly mode we dont create table before extraction and use original SQL, but there is no good way to do it.

Solution:

1. SELECT query with

[2021-06-30 12:23] hassankhan opened #3033 "Automatically retrieve Redshift cluster credentials"
**Is your feature request related to a problem? Please describe.**
Currently Redshift credentials must be supplied as `CUBEJS_DB_*` environment variables.

**Describe the solution you'd like**
Support retrieving database credentials automatically via `Redshift.getClusterCredentials()` from the AWS SDK.

**Additional context**
An old PR implementing this can be found here: https://github.com/cube-j

[2021-06-30 15:10] thekage91 opened #3035 "Uncaught Error: Uncaught (in promise): Error: The `apiUrl` option is required"
Hi,
I have a problem with CubeJs for Angular and I can't figure out how to resolve it.
I have imported CubeJsClientModule into my module and loaded the options in the forRoot method, see the code below.

[code]
The module is lazy loaded, so, CubeJS is loaded only when the user is authenticated and navigate to specific routes. I want to clarify that the problems still persist even if I import the C

[2021-06-30 19:02] ilya-biryukov commented on #2653
Fixed in https://github.com/cube-js/cube.js/commit/a020c070cea053983ccd28c5d47e3f805364b713

[2021-06-30 19:02] #2653 closed

[2021-06-30 19:34] thekage91 commented on #3035
I have an update and hope that this will help to understand the problem

If I try to hardcode  the JWT code directly into the forRoot method without loading it from localStorage everything works correctly. I think that the problem isn't the absence of the apiUrl parameters but the absence of the token parameter into the forRoot options.

This not works
[code]

This works
[code]

The token is in th

[2021-07-01 12:24] rongfengliang opened #3047 "Provider detail info abount log msg type"
**Is your feature request related to a problem? Please describe.**

current I write one simple cube.js  logger extension with `graylog` .but  cube.js logger msg has too many. not  better for

**Describe the solution you'd like**

maybe provide some doc about different `msg type`. especially  `msg type` belong to  which lifecycle of cube.js

[2021-07-01 16:52] loremaps opened #3048 "non-root user for cubestore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Follow [non-root user best practice](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user) for the docker image of cubestore.

**Describe the solution you'd like**
A clear and concise description of what you want

[2021-07-02 00:43] rongfengliang opened #3051 "Cubestore with external bucket support parquet file format"
**Is your feature request related to a problem? Please describe.**

current cubestore support external bucket witj csv file format . can support with parquet format directly

**Describe the solution you'd like**
we can config bucket file format. maybe we can directly write to cubestore parquet format storage ?

[2021-07-02 12:21] ovr commented on #3047
Hello @rongfengliang ,

We are planning to do changes to the logger and make it like any "standard" logger. There is not ETA for this issue.

Thanks

[2021-07-02 20:19] ifokeev opened #3059 "Cubejs server is not releasing memory"
**Describe the bug**
Cubejs is not releasing the memory because of some internal cache mechanics. I tried local/redis queues and it's pretty the same. Redis is not releasing the memory too (I gave cubejs own Redis server).

**To Reproduce**
Query the data all the time and work with cubejs quering big datasets (50K+ rows)

**Expected behavior**
I'm expecting releasing of the memory after the query/

[2021-07-03 18:52] mfulop opened #3060 "Typescript compilation error (cron-parser version mismatch)"
Since 0.27.4x, compilation of Typescript project including cubejs-backend fails with error:

[code]

The reason is that `@cubejs-backend/api-gateway@^0.27.46` depends on `cron-parser "^2.16.3"` while `@cubejs-backend/schema-compiler@^0.27.46` depends on `cron-parser "^3.5.0"`.

This can be worked around by forcing resolution of cron-parser v3.5.0 in package.json:
[code]

**Version:**
    "@cubejs-

[2021-07-03 20:33] hassankhan commented on #3059
Hi @ifokeev :wave:

Could you try updating to the latest version (v0.27.46 at time of writing)? Thanks in advance 😀

[2021-07-03 20:40] hassankhan commented on #2955
@jmadan Can you confirm if @HJ29's suggestion worked for you?

[2021-07-04 08:12] paveltiunov commented on #2987
@ilya-biryukov We need to fix this one on the Cube Store side.

[2021-07-05 08:44] #3060 closed

[2021-07-05 08:45] ovr commented on #3060
Hello @mfulop,

Thank you for submitting an issue! Fixed, will be released in the next version.

Thanks

[2021-07-06 07:57] ankesh1998 commented on #1188
Hi @paveltiunov,
Any update on, How we can use the context members?

[2021-07-06 16:34] JoshMentzer commented on #1387
We do this currently in our front end, allow people to rename measures and dimensions; just added an 'alias' key-value pair object to the query object which we strip prior to actually submitting to cube and then use again during visualization to replace column headers or series names, etc.  Would definitely use the functionality if it was base.

[2021-07-06 19:21] telunc commented on #1558
We ran into this issue with our Angular app. Our angular app initialize client in app.module with forRoot meaning that client is initialized once at start. In HttpTransport, `this.method = this.method || (url.length < 2000 ? 'GET' : 'POST');` the later url length logic will only get run once if method is undefined. Any request afterwards will be taken from `this.method`.

We can't pass in `POST` d

[2021-07-06 19:57] philippefutureboy commented on #1387
That's essentially what I do as well Python-side :)

[2021-07-08 08:49] #3026 closed

[2021-07-08 12:21] Arunkumar2609 opened #3078 "Dashboard app on docker dev deployment is not working"
Creating your own dashboard app on docker dev deployment is not working. Resulting module not found errors.

Steps to reproduce the behavior:
1. Get started with docker dev deployment
2. Create dashboard app from cube js playground

Error1:
Failed to compile.

./node_modules/react-chartjs-2/dist/index.modern.js
Module not found: Can't resolve 'chart.js' in '/cube/conf/dashboard-app/node_modules/re

[2021-07-09 03:06] HJ29 commented on #1879
I found that cubejs also cast NULL timestamp to 1970-01-01T00:00:00.000 when using preaggregation.
it will return null without preaggregation.

[2021-07-09 03:12] HJ29 commented on #1879
i found that cubejs cast NULL timestamp to 1970-01-01T00:00:00.000 when using rollup.
it return null correctly without rolllup

[2021-07-09 08:27] HJ29 opened #3081 "rollup join with time partition doesn't query time partition correctly"
**Describe the bug**
rollupJoin which joining 2 time partition rollup,
cubejs will query 1 rollup with correct time partition, and another rollup without time partition.

**To Reproduce**
Steps to reproduce the behavior:
1. create 2 cubes with time partition rollups,
for example, bill and item cube, item belongs to bill
2. create rollupJoin joining 2 rollups
3. query the rollupJoin, it will query

[2021-07-09 10:39] Arunkumar2609 commented on #3078
Any updates? @vasilev-alex

[2021-07-09 12:23] rdwoodring opened #3083 "TypeScript type for filters in Query are incorrect"
**Describe the bug**
The [Filter](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-client-core/index.d.ts#L711) type used in the [Query](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-client-core/index.d.ts#L768) type is a union of UnaryFilter and BinaryFilter, both of which support optional `and` and `or` keys; however, they also have other keys that are required, so

[2021-07-09 15:21] vasilev-alex commented on #3083
@rdwoodring thanks for posting it here. Would you mind creating a PR for that?

[2021-07-09 15:22] vasilev-alex commented on #3078
@Arunkumar2609 which dashboard is that?

[2021-07-09 15:42] vasilev-alex commented on #3078
@Arunkumar2609 should be fixed now. Could you test it again, please?

[2021-07-09 16:13] Arunkumar2609 commented on #3078
Still, having the same issue. Please find the screen captures.
[code]
![image](https://user-images.githubusercontent.com/44184569/125106893-cb793c80-e0fd-11eb-8a90-d5ac83e64c50.png)

![image](https://user-images.githubusercontent.com/44184569/125106783-adabd780-e0fd-11eb-8541-90e492fd6e64.png)

![image](https://user-images.githubusercontent.com/44184569/125106749-a1277f00-e0fd-11eb-9197-1655ee1812

[2021-07-09 20:10] rdwoodring commented on #3083
I should have some time to try and work on it this evening.

[2021-07-12 03:17] vignesh-123 commented on #1720
Hi
I have created a PR
[PR link](https://github.com/cube-js/cube.js/pull/2903
)
To solve this issue.
If anyone can check and approve it will go through

[2021-07-12 05:56] wdifruscio commented on #3078
Same issue for me (:

[2021-07-12 08:28] vominhtritiki opened #3094 "Single quoted string is expected but Value(Number(“0", false)) found"
**Describe the bug**
Cubejs execute pre-aggregations failed on druid database.  Cubestore throw an error "Single quoted string is expected but Value(Number(“0", false)) found "

**To Reproduce**
Steps to reproduce the behavior:
1. Get started with nodejs and connect to druid database.
2. Define schema.
[code]
3. Start on development mode.
4.  Execute a query on Playground
[code]
5. See error: ``Us

[2021-07-12 14:23] chenrui333 opened #3097 "[bug] missing darwin artifact in 0.27.50 release"
👋  it looks like `cubestored-x86_64-apple-darwin.tar.gz` is missed in the 0.27.50 release. Thanks!

relates to https://github.com/Homebrew/homebrew-core/pull/81082

[2021-07-12 14:34] chenrui333 commented on #3097
Now it is there, closing the issue.
![image](https://user-images.githubusercontent.com/1580956/125305864-b7e7f480-e2fc-11eb-89bc-6a9a454694d4.png)

[2021-07-12 14:34] #3097 closed

[2021-07-12 19:56] #3083 closed

[2021-07-12 21:01] denis-stafichuk-parsable opened #3100 "Cube Store doesn't support certain pre-aggregations"
**Describe the bug**
Cube Store doesn't support certain pre-aggregations:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/denis-stafichuk-parsable/cube-store-bug repo I created to demonstrate the issue
2. Run `docker compose up -d` to spin up cube.js backend and PostgreSQL
3. Run `curl 'http://localhost:4000/cubejs-api/v1/load?query=%7B%22measures%22%3A%5B%22J

[2021-07-13 05:46] rchkv commented on #2980
@milo157 thanks for asking!

This question was answered in [Slack](https://cube-js.slack.com/archives/CC0403RRR/p1624101153446500), so I close the issue.

[2021-07-13 05:47] #2980 closed

[2021-07-13 05:47] ryanpei commented on #2996
hello @ecolara3 - we have updated the workflow for Docker such that you can add a config file to your Docker's mount volume and have that applied to your cube API instance upon start-up. You can therefore skip this DB connection step in the UI if you have this configured in your `.env` file as you would with the node version.

Hope this works for you now! Let me know if otherwise.

[2021-07-13 06:04] ecolara3 commented on #2996
Hell yeah that works! Thanks a ton! Awesome framework btw!

[2021-07-13 06:15] rchkv commented on #2972
@rongfengliang, thanks for your answer!

@flop1971  Is this issue still actually? Do you need any further assistance? Feel free to follow up :slightly_smiling_face:
If the issue doesn't actually, could you please close it?
Thanks!

[2021-07-13 06:33] rchkv commented on #2920
Hey @flop1971 👋

Is the issue still actually? Do you need any further assistance? Feel free to follow up 🙂
If the issue doesn't actually, could you please close it?
Thanks!

[2021-07-13 06:33] rchkv commented on #2920
Hey @rsbh  👋

Is the issue still actually? Do you need any further assistance? Feel free to follow up 🙂
If the issue doesn't actually, could you please close it?
Thanks!

[2021-07-13 06:48] rsbh commented on #2920
Yes, i haven't able to get monitoring setup on cube.js instance. Can you guys recommend some way to get metrics from the server ?

[2021-07-13 07:30] rchkv commented on #2920
@paveltiunov, could you please recommend something?

[2021-07-13 07:39] rchkv commented on #2836
Hey @mhd-adam 🤗
Thanks for your suggestion!

@hassankhan, what do you think about it? :)

[2021-07-13 07:43] hassankhan commented on #2836
@rchkv Sounds good, adding it to the backlog

@mhd-adam Thanks for your suggestion :raised_hands:

[2021-07-13 11:17] #3100 closed

[2021-07-13 11:28] ovr commented on #3100
Hello @denis-stafichuk-parsable ,

Fixed & released in `v0.27.52`. Can you verify that it works for you?

Thanks

[2021-07-13 12:46] denis-stafichuk-parsable commented on #3100
Hey @ovr,

It's working now!

Thanks a lot for such a quick fix!

[2021-07-13 13:18] ilya-biryukov opened #3103 "AVG does not support IntDecimal(5)"
Steps to reproduce:
[code]
where `x` is of `decimal` type.

Expected: the query runs fine.
Actual: error from the issue title.

[2021-07-13 16:50] rpaik opened #3105 "Epic: Improve refresh worker for pre-aggregations"
Improve refresh worker to speed up the pre-aggregations build process.

Some of the work items include:

- [ ] Split refresh worker into two processes.
- [ ] Introduce per-DB-type defaults for refresh worker concurrency and pre-aggregation queue concurrency.
- [x] Rolling window support for pre-aggregation.

[2021-07-13 16:55] rpaik opened #3106 "Epic: New rollup pre-aggregations"
Facilitate defining new rollup pre-aggregations by working on:

- [ ] Iterate on the rollup designer.
- [ ] Improve error messages.
- [ ] Contribute to increased adoption of pre-aggregations by Cube.js users.

[2021-07-13 16:59] rpaik opened #3107 "Epic: Improve the user experience for big datasets"
Make additional investments to improve the user experience for big datasets such as Big Query, Redshift, Snowflake, etc.

Some of the work items include:

- [x] Prioritize features/bug fixes that are needed for big datasets.
- [x] Improve support for BigQuery/RedShift/Snowflake drivers.
- [x] [Cast all numerical values as strings](https://github.com/cube-js/cube.js/issues/1879).

[2021-07-13 20:53] ryanpei commented on #2996
great to hear, thank you for raising this issue!

[2021-07-13 22:14] #2996 closed

[2021-07-14 03:18] vominhtritiki opened #3109 "Druid driver not mapping "ILIKE" to "LIKE""
**Describe the bug**
Druid driver on version 0.27.49 throws an error ("Error: Encountered "ILIKE" at line 4, column 315...") when I execute a query with a string dimension in the filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with the Druid database.
2.  Create a cube with a string dimension (X).
3. Execute query with X dimension in the filter.
4. See an error.

**E

[2021-07-14 20:27] joshhubers opened #3110 "Subquery dimension throwing error in pre-aggregation"
**Describe the bug**
I'm trying to use a `subQuery` dimension in a `rollup` pre-aggregation, however when I add the dimension to the `dimensionReferences` array, I get the following error:

`
Internal: Execution error: Internal: Arrow error: External error: Arrow error: External error: Internal error: Unsupported GROUP BY type creating key Binary. This was likely caused by a bug in DataFusion's co

[2021-07-15 09:32] danidal opened #3111 "inDateRange with only one date not working as expected"
**Describe the bug**
As stated in the documentation ([operator inDateRange](https://cube.dev/docs/query-format#filters-operators-in-date-range)) _"If only one date specified the filter would be set exactly to this date"_.
Instead, it seems to consider the only date provided as a lower bound.

**To Reproduce**
[code]

**Expected behavior**
Same as
[code]
or
[code]

**Version:**
0.26.77

[2021-07-15 10:15] adnanrahic opened #3112 "docs(getting started): broken link to serverless deployment guide"
**Describe the bug**
The link to the serverless deployment guide from the Node.js getting started page is not working, and is showing this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cube.dev/docs/getting-started/nodejs
2. Click on the Deployment Guide link (https://cube.dev/docs/deployment#aws-serverless-deploy)
3. Nothing happens
4. See the error above and

[2021-07-15 13:23] #3112 closed

[2021-07-16 14:13] soniafaria commented on #2920
Hi, I was too trying to implement monitoring to my cube.js, I tried to use prom-client, allowing prometheus to scrape some metrics. But didn't succeed installing prom-client to cube.js, is there any impediment to install external dependencies in cube.js as in any other node.js application? If there is, is there any other way to allow prometheus to scrape metrics in cubejs? Thank you.

[2021-07-16 14:33] #152 closed

[2021-07-16 14:34] rongfengliang commented on #2920
@rsbh @soniafaria I write one simple demo with express Prometheus middleware https://github.com/rongfengliang/cube.js-prometheus may be useful

[2021-07-16 20:07] levenal commented on #329
What's the current ETA on resolution for this?

[2021-07-17 01:37] inventionlabsSydney commented on #1927
Just adding to this,
One way of tackling this would be to add a secondary "count" query which will allow you to customise the query for the rows returned.
This would be important when wanting to apply all the filters and other options you've selected in the query but not having a limit on the returned rows.

Make sense?

[2021-07-19 00:57] paveltiunov commented on #3109
Hey @vominhtritiki ! I can confirm Druid driver lacks like implementation. Looking forward to community contribution here!

[2021-07-19 01:22] paveltiunov commented on #3051
Hey @rongfengliang ! Thanks for posting it! Yep. We're considering having more different formats other than CSV to speed up ingestion. Could you please elaborate on your use case? What database do you use and why do you think you'll benefit from using parquet instead of CSV?

[2021-07-19 10:04] Arunkumar2609 commented on #3078
Any updates? @vasilev-alex

[2021-07-19 10:06] ilya-biryukov commented on #3094
Hi @vominhtritiki,

Could you run CubeStore with `CUBESTORE_LOG_LEVEL=trace` and send the logs it produces?
The bits we need to figure out what went wrong are the `INSERT` SQL statements that get sent before the error.

[2021-07-19 10:37] rongfengliang commented on #3051
we use parquet file as our data lake format so we want cubestore externel bucket can read parquet file directly

[2021-07-19 11:39] rchkv commented on #2683
Hey, @hedensky!

You can still start a discussion on the [Discourse forum](https://forum.cube.dev/). I close this issue 🙂
Thank you very much again!

[2021-07-19 11:39] #2683 closed

[2021-07-19 12:13] rchkv commented on #2666
Hi @sridhard 🙂

I hope you solved this issue. I close it, but if you need any further assistance, please reopen the issue and follow up. We'll be happy to help you!

[2021-07-19 12:13] #2666 closed

[2021-07-19 13:25] #2987 closed

[2021-07-19 16:03] acham1 opened #3125 "v0.28 Missing Required Partition Filter (BigQuery)"
**Describe the bug**
After upgrading to 0.28 we see queries against a [time-partitioned BigQuery table](https://cloud.google.com/bigquery/docs/querying-partitioned-tables#querying_partitioned_tables_2) fail with the error message:

[code]

There have been no code changes on our end, and the query works in `0.27`. Our application provides the required constraint on the timeDimension when it builds

[2021-07-19 18:42] jaipgit opened #3127 "Preaggregation in oracle database fails"
**Describe the bug**
When use oracle database - preaggregatoin script fails

**To Reproduce**

1. Connect oracle database
2. Create schema with 'preAggregations'
3. Run cube
4. See error

**Expected behavior**
Create schema dev_pre_aggregations in db and tables here

**Screenshots**
![image](https://user-images.githubusercontent.com/31743288/126210150-54be6af0-28cc-490e-bf81-cf8f627eb2a5.png)

**V

[2021-07-19 20:56] shadidchowdhury opened #3128 "Fails to parse ES query result"
**Describe the bug**
Cubejs fails to parse ES query result.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a valid cube schema connecting to AWS ES 7.7
2. Build a query using cubejs play ground with just measure and dimension
3. Run the query
4. See error

**Expected behavior**
Query result should be shown in chart.

**Screenshots**
Screen shot attached.
`
Error: Cannot read property

[2021-07-19 23:06] rdwoodring commented on #2948
@vasilev-alex is this something that needs some discussion and planning, or is this something you'd be looking for a PR on?

[2021-07-19 23:38] shadidchowdhury opened #3129 "Time range does not work with AWS ES (open distro)"
**Describe the bug**
Time range does not work with AWS ES

**To Reproduce**
Steps to reproduce the behavior:
1. Create a valid cube schema connected to AWS ES 7.7
2. Build a query with time range set to anything other than all time.
3. Run the query
4. See error

**Expected behavior**
Generate SQL should use a date function compatible with AWS ES as documented https://opendistro.github.io/for-elas

[2021-07-20 02:44] paveltiunov commented on #3125
@acham1 Hey Alan! Could you please share your cube.js schema?

[2021-07-20 03:22] paveltiunov commented on #3110
@joshhubers Hey Josh! Could you please share your cube.js schema?

[2021-07-20 03:25] paveltiunov commented on #3127
Hey @jaipgit ! I guess you're right. Would love to see community contributed fix here.

[2021-07-20 04:17] acham1 commented on #3125
@paveltiunov yep, the schema's like this:

[code]

[2021-07-20 04:20] acham1 commented on #3125
The query looks like this:

<details>

[code]

</details>

[2021-07-20 04:26] acham1 commented on #3125
The error logs like this:

<details>

[code]

</details>

[2021-07-20 04:27] joshhubers commented on #3110
Sure thing, here are the relevant snippits.

[code]

(Apologies for the strange formatting).

Where `MomentActions` has measures defined as (in a `MomentActions` cube definition):
[code]

And `MomentViews` has the following measure defined in it's cube:
[code]

Thank you!

And congrats on the latest round of funding!

[2021-07-20 04:36] acham1 commented on #3125
An example query that triggers the error looks like this:

<details>

[code]

</details>

[2021-07-20 08:17] vasilev-alex commented on #2948
@rdwoodring it's in the backlog, but we're open to accepting a PR, of course.

[2021-07-20 12:38] vasilev-alex commented on #3078
@Arunkumar2609 fixed. Tested it with the same set and it works for me. Could you please also confirm that?

[2021-07-20 16:10] ovr commented on #3094
Hello @vominhtritiki,

There was a problem with type recognition because Druid doesn't return metadata (types for columns) for queries and cube.js uses heuristics for type detection (there was a problem with 0).

https://github.com/cube-js/cube.js/pull/3126

Can you try with the latest release?

Thanks

[2021-07-20 16:17] ovr commented on #3129
Hello @shadidchowdhury,

Yes, It's a bug. There are two issues in the `ElasticSearchQuery` dialect with Open Distro:

1. It doesn't support `DATE_TRUNC`, but X-Pack supports it.
2. Cast `::datetime` is not supported.

Probably, it's required to create another dialect for Open Distro and fix this.

Thanks

[2021-07-20 19:17] paveltiunov commented on #3125
@acham1 I see. Starting 0.28 `buildRangeStart` and `buildRangeEnd` would be always triggered for partitioned rollups even if you don't use a scheduled refresh. Please set those correctly using https://cube.dev/docs/schema/reference/pre-aggregations#build-range-start-and-build-range-end. @hassankhan we need to document this.

[2021-07-21 07:32] PieterVanZyl-Dev opened #3139 "chartPivot() and Series() fails on data blended resultSet from cubejs client for ngx (Angular) Resultset is returned."
**Describe the bug**
When attempting to use datablending to get a resultset of multiple queries from different tables
(as is shown in [datablending](https://cube.dev/docs/data-blending))
Result set is returned perfectly but Fatally fails on
chartPivot() and Series()
Both of these fail at the same place.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start up an angular project with

[2021-07-21 08:53] PieterVanZyl-Dev commented on #3139
I have also just tried this with latest client ngx = 28.0 core = 28.1

[2021-07-21 09:22] #3078 closed

[2021-07-21 11:30] adnanrahic opened #3141 "docs(schema): Markdown not rendered"
**Describe the bug**
Seems like parts of the Markdown was rendered inside of the code block element.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Pre-Aggregations in the docs](https://cube.dev/docs/schema/reference/pre-aggregations#incremental-refresh)
2. Click on [Incremental Refresh](https://cube.dev/docs/schema/reference/pre-aggregations#incremental-refresh)
3. Scroll down to th

[2021-07-21 12:15] hassankhan commented on #3141
Closed in 7bc3c53b08c94de22a6b4ab3bd49fc61b36fd80c

[2021-07-21 12:15] #3141 closed

[2021-07-21 12:20] rdwoodring commented on #1927
I've got a couple of use cases where this would be really helpful:

- When paginating through tabular report data, it'd be great to show users that we are `Showing x-y of n`
- When first loading a particular report, some of our users would like to see the total count of rows as part of the report title/header
- Building pagination for tabular report data. In the current state, it's extremely chall

[2021-07-21 13:46] GideonCS opened #3143 "Set SQL value in Meta field of a Dimension"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to display a link on the frontend of my application with the text being the name of the data I'm linking. For example I want to link to a resource like `<a href={link}>{nameOfResource}</a>`. This would be much easier if I could fetch both the name and the link at the same time as a singular dimension, rather tha

[2021-07-22 13:46] #1992 closed

[2021-07-22 14:39] joshhubers commented on #3110
Is there any sort of update on this?

[2021-07-22 17:12] acham1 commented on #3125
Thanks Pavel; I'll give this a try and report back here : )

[2021-07-22 19:21] shadidchowdhury commented on #3129
@ovr actually changing db type to `awselasticsearch` helps little bit. It uses `date_format` in generated sql. In our cube schema we have a field with `time` as field type, but for in generated sql that field is formatted as yyyy-MM-dd'T'HH:mm:ss  which causes the next parse exception.

`ElasticsearchParseException[failed to parse date field [2021-07-01T00:00:00Z] with format [epoch_second]: [fail

[2021-07-24 06:47] vasilev-alex commented on #3111
@danidal is it still an issue in `0.28`?

[2021-07-26 10:56] #2550 closed

[2021-07-26 12:21] #2948 closed

[2021-07-26 14:22] adnanrahic opened #3154 "cubestore(Type coercion error): Error during planning: 'Int64 = Boolean' can't be evaluated because there isn't a common type to coerce the types to"
**Describe the bug**
Cubestore error is displayed when running pre-aggregation.

Cubestore stacktrace:
[code]

Cube-api stack trace:
[code]

**To Reproduce**

Steps to reproduce the behavior:

**1. Docker Compose config**

[code]

**2. Cube**

[code]

**3. Query API**

[code]

**4. API returns error**

[code]

**5. Console shows errors as shown above**

**Expected behavior**
Pre-aggregation should

[2021-07-26 15:11] ilya-biryukov commented on #3154
@adnanrahic could you post the SQL for the failing query from the playground page?

[2021-07-26 18:51] acham1 commented on #3125
I added explicit definitions for `buildRangeStart` and `buildRangeEnd` as advised; that solves it! Thanks!

[2021-07-26 18:51] #3125 closed

[2021-07-27 05:09] #3094 closed

[2021-07-27 07:14] loremaps opened #3158 "Cubestore on K8s panics w/o setting CUBESTORE_PORT"
**Describe the bug**
A clear and concise description of what the bug is.

Cubestore panics if deployed on K8s without explicitly setting `CUBESTORE_PORT` to `3306`.
Please note that a service must also be deployed to surface the error (which is weird).

**To Reproduce**
Steps to reproduce the behavior:
1. Start a minikube cluster (or any cluster/playground e.g. [katacoda](https://www.katacoda.com/

[2021-07-27 08:03] adnanrahic commented on #3154
Sure thing.

SQL from Playground:
[code]

JSON Query from Playground:
[code]

Here are the logs from the refresh worker running the pre-aggregation script:
[code]

Seems the `WHERE` clause in the generated SQL is a bit weird. Or?

[2021-07-27 08:22] ilya-biryukov commented on #3154
@ovr could you confirm the comparison between boolean and int is intentional and CubeJS is not at fault here?

[2021-07-27 09:15] danidal commented on #3111
HI @vasilev-alex, sorry for the delay. I tested using these dependencies and the result is the same as before:
[code]

[2021-07-27 14:09] nNabakhteveli opened #3160 "Error connecting to MySQL"
**Not able to connect local MySQL database**
I got stuck at setting up a connection to the MySQL database and I've been trying to solve it for the past 5-6 hours. I don't have much experience with databases, and instructions in the documentation are a little unclear for me. I'm writing everything right on /connection page but I'm getting this error:
[code]

 Can you help me to set up a local MySQL

[2021-07-28 06:03] #3139 closed

[2021-07-28 11:52] #3160 closed

[2021-07-28 12:25] ovr commented on #3154
It looks like that it's a bug in Cube.js because It strange that we are trying to filter (with segment) the rollup that we specially created for the segment.

[2021-07-28 14:09] sergeylemekhov opened #3163 "Running total on a count in time bounds"
I'm trying to create a chart which displays events count grouped by day but all of them happened during one week.
It works fine and I can see how many events happened on each weekday.
I defined a time dimension:
[code]
and a count measure:
[code]

But when I'm trying to create a running total for all events during a week I see running total for all events from the beginning of time. This is what I

[2021-07-29 03:51] #1014 closed

[2021-07-29 04:10] paveltiunov commented on #1032
@ricmatsui PR would be much appreciated here!

[2021-07-29 04:15] paveltiunov commented on #1564
Fixed with migration to Cube Store.

[2021-07-29 04:15] #1564 closed

[2021-07-29 04:20] paveltiunov commented on #1254
The workaround is to remove `conversionsPerDay` from the rollup definition. `conversions` and `days` are enough to resolve `conversionsPerDay` measure.

[2021-07-29 04:27] paveltiunov commented on #3051
@rongfengliang What query engine do you use for your data lake?

[2021-07-29 05:52] rongfengliang commented on #3051
dremio

[2021-07-29 08:24] rongfengliang opened #3168 "Provide How to Write cube.js driver test or cube.js driver framework"
**Is your feature request related to a problem? Please describe.**

I need to do some tests for cube.js driver but current I  can't found any docs about how to write a better tests for cube.js driver

**Describe the solution you'd like**

maybe provide some docs or  cube.js  driver test framework

[2021-07-29 09:46] cassie-ying commented on #2955
Hi @hassankhan,  I'm experiencing the same issue here. When I have FILTER_PARAM  in cube sql definition, preaggregation sql generated by cubejs Refresher Worker doesnt pick up values from FILTER_PARAM, instead it always return 1=1 for some reason.

A minimum version to repoduce (took directly from the documentation)
[code]
Refresh Worker outputs:
[code]

It seems like that cubejs loves to just cap

[2021-07-29 12:04] sourav-jha commented on #1212
Getting the same issue. I haven't added `CUBEJS_DB_SSL ` env.
cubejs version:0.26.99

[2021-08-01 11:20] amigold opened #3175 "AWS Serverless limit - ResponseSizeTooLarge"
**Describe the bug**
We are running CubeJS on AWS Serverless and so far it has been running perfectly. We now added the ability to export some query and it seems like its going over the AWS Lambda limit for response sizes.

{
    "errorMessage": "Response payload size exceeded maximum allowed payload size (6291556 bytes).",
    "errorType": "Function.ResponseSizeTooLarge"
}

6MB is rather low so p

[2021-08-02 15:23] sergeylemekhov commented on #3163
I've managed to solve this by adding a fake column to the dataset like this: `select creator_id, state, 1 as counter`.
And then just used regular running total over it.

[2021-08-02 15:23] #3163 closed

[2021-08-02 19:38] jaipgit opened #3181 "Error when make request to oracle database with dates in condition"
**Describe the bug**
When make request to oracle database with dates in condition - got error

**To Reproduce**
Make request to oracle database with date in condition

**Expected behavior**
Corect result

**Screenshots**
![image](https://user-images.githubusercontent.com/31743288/127914000-d44dd3ff-f139-4a84-9121-12185b1cee84.png)
![image](https://user-images.githubusercontent.com/31743288/1279142

[2021-08-02 20:53] jaipgit opened #3182 "error when use 'contains' with oracle database"
**Describe the bug**
I make request with 'contains' condition and got error

**To Reproduce**
Make request with 'contains condition' to oracle database/

**Screenshots**
![image](https://user-images.githubusercontent.com/31743288/127922421-4599a3c3-5b84-4330-9218-d5e1029086d3.png)
**Version:**
0.28.11

[2021-08-03 04:13] paveltiunov commented on #3182
Hey @jaipgit ! Could you please share generated by Cube.js SQL?

[2021-08-03 04:14] paveltiunov commented on #3181
@jaipgit Thanks for posting it! Generated by Cube.js SQL would be much appreciated!

[2021-08-03 04:16] paveltiunov commented on #3175
@amigold Hey Ami! I guess having a separate lambda job that exports to S3 is the only viable way here.

[2021-08-03 05:09] amigold commented on #3175
Thanks @paveltiunov. Could you please point me out to where in the code we receive the response from the background process so I can check for size and handle accordingly?

Btw, I must say that we are loving cubejs and this project definitely took our dashboard to next level! Thank you so much!!

[2021-08-04 04:44] jkvgo commented on #2955
@cassie-ying I got this to work. Same as the solution mentioned above your FILTER_PARAMS should use the Cube name and then should use the dimension name. That worked for me. So what you can do is something like
`FILTER_PARAMS.Orders.createdAt.filter('created_at')` assuming your dimension for column/field created_at is `createdAt`

[2021-08-04 04:57] jkvgo commented on #2955
That being said, the refresh worker does not seem to be updating my partitioned pre-aggregations though. I'm using the normal `refreshKey` and not the incremental refresh. Strangely in my local it seemed to work fine and immediately generated the partitioned but when deployed in other environments. It doesn't seem to work.

[2021-08-04 06:31] uncvrd opened #3190 "Prevent redundant auth token server requests when initially loading a page with server Cube queries"
**Is your feature request related to a problem? Please describe.**
Per my conversion with @vasilev-alex on Slack here https://cube-js.slack.com/archives/CC0403RRR/p1627945309042800

Is there an optimal way of preventing several redundant requests to my `jwt` endpoint for authorization on an initial page load when a token does not exist or is expired? For example, I have a page with 7 different gra

[2021-08-05 07:08] cassie-ying commented on #2955
@jkvgo, my FILTER_PARAMS works fine outside of preaggregation. It is only when it's inside preaggregation, it was interpreting as "1 = 1".

[2021-08-05 07:56] sourav-jha opened #3196 "How to use logical operators in timeDimension filter"
**Problem**

We have two date fields start and end date, we want to use the time dimension for filtering the date which matches the condition on the start date or end date.

We have tried this:

` "timeDimensions": [{
				"dimension": "Test.startDate",
				"dateRange": [
					"2020-08-02",
					"2021-08-02"
				]
			},
			{
				"dimension": "Test.endDate",
				"dateRange": [
					"2022-08-04",

[2021-08-05 08:35] thellimist opened #3198 "Bug where week scope does't show any data"
**Describe the bug**
When selecting "week" frequency, the data shows nothing if the start and end dates are not Monday and Sunday respectively.

**To Reproduce**
Steps to reproduce the behavior fail:
1. Go to CubeCloud Playground
2. Select any Measure and Time. Select for `Last Quarter` and `Week`
3. Run
4. See no data is shown

--

Steps to reproduce the behavior succeed:
1. Go to CubeCloud Playg

[2021-08-05 09:37] ilya-biryukov commented on #3158
Thanks for the report. We improved the error messages, they know mention environment variable names.

I could not reproduce your errors even on `v0.28.8`, though. If I don't mention `CUBESTORE_PORT` in the yaml file, the deployment works just fine. If I set it to invalid value, e.g. `value: "'3306'"` it starts producing the error.

[2021-08-05 13:26] loremaps commented on #3158
Hi @ilya-biryukov and thank you for looking into this. Did you create the service **before** applying the deployment?

without the service.yaml it works fine (which is truly weird).

I was able to reproduce it again for `v0.28.13` in this [katacoda](https://www.katacoda.com/courses/kubernetes/creating-kubernetes-yaml-definitions) environment

[2021-08-05 14:56] vasilev-alex commented on #3198
hi @thellimist! Are you running this query on Cube Cloud or your local machine?

[2021-08-05 15:36] thellimist commented on #3198
We are using `import { QueryBuilder } from '@cubejs-client/playground';` for the page using Cube Cloud.

[2021-08-05 15:45] vasilev-alex commented on #3198
Ok, got it. You should update the Playground to the latest version, and also, update the chart renderers as shown here https://www.npmjs.com/package/@cubejs-client/playground

P.S. please keep in mind the `QueryBuilder` API is not guaranteed to be stable. In the future, parts of the API may be deprecated.

[2021-08-05 15:45] #3198 closed

[2021-08-05 18:50] jaipgit commented on #3182
[code]

[2021-08-05 18:51] jaipgit commented on #3181
[code]

[2021-08-06 06:45] olejeglejeg opened #3204 "Add functionality to use other S3 vendors than AWS and GCP"
**Is your feature request related to a problem? Please describe.**
We are hosted on another cloud vendor that has S3 contract compatible with AWS S3. But since currently can't override S3 endpoint, we can't use cube-store in a cloud storage mode.

**Describe the solution you'd like**
The way that would solve our problems at this stage is to add the ability to assign the S3 endpoint URL in the conf

[2021-08-06 17:14] thellimist commented on #3198
Hi @vasilev-alex , I've updated the dependencies to

[code]

the weekly scope still fails to work.

[2021-08-06 22:45] imrishabh18 commented on #2866
@vasilev-alex Can I take up this issue?

[2021-08-07 07:13] rsxdalv opened #3209 "Sqlite driver error - no such function: FLOOR"
**Describe the bug**
Internal Cube.js queries fail due to SQLite not supporting FLOOR function:
[code]

Console output:
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo & locate https://github.com/cube-js/cube.js/tree/master/examples/slack-vibe
2. Run locally https://github.com/cube-js/cube.js/tree/master/examples/slack-vibe#running-locally
3. Import Slack Data.z

[2021-08-07 07:32] vasilev-alex commented on #3198
@thellimist did you also run the command to update chart renderers?

[2021-08-07 07:59] thellimist commented on #3198
I don't know what that command is. I just ran `npm install`

[2021-08-07 08:01] vasilev-alex commented on #3198
you can find it in the Readme file at https://www.npmjs.com/package/@cubejs-client/playground

[code]

[2021-08-07 21:10] jaipgit opened #3210 "Incorrect port in OracleDriver.js"
File `OracleDrive.js` has the code (incorrect `port` definition):
[code]

Should be:
[code]

[2021-08-08 18:30] ecolara3 commented on #1879
haha, just ran into this and yeah if I want to use preAgg the measures are converted to a string and it breaks all of our charts since calculations need to be done. Only way around it is to parse everything to a number in the UI.

[2021-08-09 13:12] rchkv commented on #3196
Hi @sourav-jha 👋

You can use `or` logical operator in your query: https://cube.dev/docs/query-format#boolean-logical-operators

[2021-08-09 14:52] ovr commented on #3209
Hello @rsxdalv,

This issue was already fixed https://github.com/cube-js/cube.js/commit/fe64febd1b970c4b8396d05a859f16b3d9e5a8a8 in Cube.js >= `v0.26.6`.

Thanks

[2021-08-09 22:35] patioleary opened #3215 "Failure to compile SQL for rollingWindow queries"
**Describe the bug**
When using a measure that utilises a rollingWindow the SQL fails to compile (in particular when using Snowflake).

**To Reproduce**
I have set up a measure to calculate the total revenue and used a rolling window, as such:

[code]

And I have the following timeDimension:

[code]

And am running the following in my cube.js playground:

[code]

And I am getting the following err

[2021-08-09 22:54] hassankhan commented on #3204
Duplicate of https://github.com/cube-js/cube.js/issues/2642

[2021-08-09 22:54] #3204 closed

[2021-08-09 22:56] hassankhan commented on #365
Added in https://github.com/cube-js/cube.js/pull/3054

[2021-08-09 22:56] #365 closed

[2021-08-10 13:01] SF97 opened #3217 "Emoji in container label causes orchestrator to not function correctly"
**Describe the bug**
When trying to deploy cube js stack to a rancher 1 environment I noticed that cube services were stuck in "Upgrading" state

![image](https://user-images.githubusercontent.com/10375710/128870536-17530202-d700-4359-92de-285770eeb96d.png)

All the containers associated with the service were stuck in "Starting" although the containers were running in the machine and the service w

[2021-08-10 15:30] ilya-biryukov commented on #3158
You're right, it does reproduce. I must have messed up the sequence.
No-one sets `CUBESTORE_PORT`, so obviously we shouldn't even try to parse it. That's weird indeed.

[2021-08-11 08:42] shlok97 opened #3225 "Support for ts_query on postgressql"
**Is your feature request related to a problem? Please describe.**
The list of available filters does not include postgresql full text search.

**Describe the solution you'd like**
Add a filter option called tsQuery to BaseFilter.js:

`tsQueryWhere(column) {
        return `${column} @@ to_tsquery(${this.firstParameter()})`;
}`

add the option to operators in query.js
`const operators = [
    'equ

[2021-08-11 14:28] CarnivorousJoe opened #3230 "Include return statement in Security-Context.md queryRewrite example"
**Is your feature request related to a problem? Please describe.**
I was having a difficult time implementing the queryRewrite module by following the examples laid out in `Security-Context.md`

**Describe the solution you'd like**
Include the line `return query;` in the example provided.

**Describe alternatives you've considered**
None, it will solve the documentation issue

[2021-08-11 14:37] CarnivorousJoe commented on #3230
Fixed in https://github.com/cube-js/cube.js/pull/3231

[2021-08-11 15:06] furkandoganktf opened #3232 "Tab change doesn't update URL search params"
**Describe the bug**
QueryBuilder component doesn't update URL search params on tab change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the playground page
2. Click on another query tab
3. See that the URL search param is still the same as the previous tab

**Expected behavior**
URL search param should change when we are moving between tabs.

**Screenshots**
![Screen Shot 2021-08-1

[2021-08-11 16:15] paveltiunov commented on #2105
Implemented in #2960

[2021-08-11 16:15] #2105 closed

[2021-08-11 17:27] JoshMentzer commented on #2866
@imrishabh18 Hey, I apologize - I worked this locally to fix an issue internally at my company and then came to do a PR up and noticed you had requested to work this issue; sorry for not checking ahead of time!

[2021-08-11 17:32] imrishabh18 commented on #669
Can I take up this issue?

[2021-08-11 19:31] #3230 closed

[2021-08-11 20:53] tomasrb opened #3235 "Node client hangs when loading big responses"
**Describe the bug**
Similar to: https://github.com/cube-js/cube.js/pull/3216.  When a payload size is large enough in our case 78KB, the node cube client hangs (promise remains idle indefinitely without resolving/rejecting/throwing errors).

**To Reproduce**
Use the Node cube client to load a payload that is 78KB in size.  In debug level trace the cube server logs will look like the request was s

[2021-08-11 22:01] vieira commented on #3235
@tomasrb this seems exactly the same problem we were having but in our case #3216 fixed it.

Just to be sure, did you redeploy the nodejs application that is calling the cubejs server after updating? The fix was in the client library, not in the cube server.

[2021-08-11 23:54] tomasrb commented on #3235
@vieira ah must have been an issue on our side, to be sure i re-deployed/restarted our cluster and everything works well, closing this issue, thanks again!

[2021-08-11 23:54] #3235 closed

[2021-08-12 03:34] rawpixel-vincent opened #3236 "is there a way to provide cube schema declaration types / jsdocs hints?"
**Problem**

When creating a cube I constantly have to jump into the documentation to check if the keys are correctly named, options are what I remember.
Is there a way to type the cube function so the IDE can show hint on the available keys / options?

example:
[code]

or

[code]

best,

[2021-08-12 03:40] rawpixel-vincent opened #3237 "PreAggregation for rollingWindow return an error in the scheduler"
**Describe the bug**
with the following cube schema:
[code]

the scheduler throw the following error:
`time series queries without dateRange aren't supported\n at BaseTimeDimension.timeSeries`

**Version:**
0.28.15

**Additional context**
the problem happen in a cube.js `CUBEJS_REFRESH_WORKER=true` worker.

best,

[2021-08-12 06:45] Mozzarella123 opened #3238 "Playground member search doesn't support cyrillic letters"
![cube-1](https://user-images.githubusercontent.com/22841455/129150258-31aa86fa-4d25-4f8c-8524-6644a126042d.png)
![cube](https://user-images.githubusercontent.com/22841455/129150256-02af0030-a5f7-487f-b0cb-75159ef17754.png)

[2021-08-12 10:06] #3232 closed

[2021-08-12 18:02] #3154 closed

[2021-08-12 19:05] tchell opened #3247 "CLI create command fails"
**Describe the bug**
Running the CLI create command fails to create a project:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install the cli via: `npm install -g cubejs-cli` (I'm assuming this is the intended way? I couldn't spot the intended method in the docs...)
2. run the cli as described in the docs: `cubejs create hello-world -d postgres` OR `npx cubejs-cli create hello-world

[2021-08-13 03:56] rchkv commented on #3238
Hey @Mozzarella123 👋

I'm afraid that at the moment we only support the English language. We are watching the growth of users from other regions and will add support for other languages, like Cyrillic, Chinese, Japanese, etc, as Cube.js becomes more popular in those regions.

Also, you can try to implement Cyrillic support and send a PR. It would be awesome!

[2021-08-13 12:46] #3217 closed

[2021-08-13 12:53] #3109 closed

[2021-08-13 13:52] jaipgit opened #3252 "Incorrect alias in generated sql (ORACLE, ORA-00904)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1.Make request to cube with parametres in different tables:
[code]
2. If generated SQL have two `select`:
```"SELECT \"keys\".\"dm_portfolio__c6_month\", sum(\"dm_clients_key___dm_clients\".age) \"dm_clients__m3__sum\" FROM (SELECT DISTINCT TRUNC(\"dm_clients_key___dm_portfolio\".report_month, 'MM') \"dm_por

[2021-08-13 14:37] jaipgit commented on #3210
I want to make Pull Request. How can I do this?

[2021-08-13 17:49] vine1993 commented on #177
I think we may use the cube queryRewrite / queryTransformer to implement our own definition of week range, but the problem now is that cube gives the query already translated, and we need the original or a new column to figure out how to do it.

Example:

[code]

But for now, it's not possible because cube transform the query before that, so the **DateRange** it's no longer equals to **This Week**

[2021-08-15 09:07] vainkop opened #3256 "Okta support?"
We are using Okta & I wonder if Cube.js has any support for it? I saw an example with auth0 & but I'm looking for Okta support specifically.

[2021-08-15 10:57] kikyous opened #3258 "vue line, area and table charts doesn't use cube scheme title in playground"
**Describe the bug**
vue line and area charts  doesn't use cube scheme title in playground and also generated code.

**To Reproduce**
Steps to reproduce the behavior:
1. set title for a cube
2. select vue,  line, area or table chart in playground

**Expected behavior**
chart should use title defineded in cube scheme

**Screenshots**
this change can fix for generated vue code.
<img width="617" alt=

[2021-08-16 04:53] #3196 closed

[2021-08-16 13:44] rchkv commented on #3256
Hi @vainkop!
I'll leave the answer from the [Cube Slack thread](https://cube-js.slack.com/archives/CC0403RRR/p1629018810469100):

Thanks for the question!

[2021-08-16 13:44] #3256 closed

[2021-08-16 14:07] lokeshwer opened #3260 "Contains operator becomes case sensitive after query acceleration with pre-aggregations"
**Describe the bug**
I connected to Postgres Db and I see ILIKE (in generated SQL query) for contains operator, which works as expected (case insensitive) until query is accelerated with pre-aggregations. After pre-aggregation, the query turns case sensitive. Please find attached the two queries and let me know if there's something that I can do to make the query case insensitive across the schema

[2021-08-17 02:09] paveltiunov commented on #3260
Hey @lokeshwer ! Thanks for posting it! I can confirm that it wasn't implemented yet.

[2021-08-17 02:33] paveltiunov commented on #3225
Hey @shlok97 ! Thanks for posting this! I guess we'd need to define a spec here as we support operators across various databases and they should work pretty the same at least in databases where it's possible.

[2021-08-17 02:35] paveltiunov commented on #3237
Hey @rawpixel-vincent ! Thanks for posting this one! This part of rolling window rollups isn't fully implemented yet. We're working on it.

[2021-08-17 02:43] paveltiunov commented on #3247
Hey @tchell ! Unfortunately, we can't reproduce it. Could you please try again and see if it still persists? If it's still persists can you share the contents of your node_modules in the hello-world directory?

[2021-08-17 02:45] paveltiunov commented on #3252
Hey @jaipgit ! Thanks for posting this! We're looking for volunteers to fix that!

[2021-08-17 02:48] paveltiunov commented on #3236
I guess it's a duplicate of #307.

[2021-08-17 02:48] #3236 closed

[2021-08-17 02:51] paveltiunov commented on #3181
@jaipgit I guess it's some special Oracle coercion syntax that isn't supported as of right now. You probably would like to use https://cube.dev/docs/query-format#time-dimensions-format instead.

[2021-08-17 02:57] paveltiunov commented on #3051
@rongfengliang Do you know if Dremio supports parquet export? Or do you mean you want Cube Store to access raw parquet files directly from the bucket?

[2021-08-17 03:03] paveltiunov commented on #3110
@joshhubers Thanks! Using `countDistinctApprox` as a subquery dimension that won't be aggregated isn't supported right now. Could you please elaborate on your use case a little bit?

[2021-08-17 03:07] paveltiunov commented on #3175
@amigold I guess you're looking for this place https://github.com/cube-js/cube.js/blob/4decb2b980261fe8948b3caf7b8cd4499277091b/packages/cubejs-api-gateway/src/gateway.ts#L282. It's the method that handles load requests.

[2021-08-17 03:21] #2866 closed

[2021-08-17 07:53] qianxuanyon commented on #1744
Hope there is a similar realization
https://github.com/DataBrewery/cubes

[2021-08-17 08:04] qianxuanyon commented on #1744
Data processing is generally done by back-end personnel, and back-end personnel may not be too familiar with js

The simplest solution to support different languages should be a wrapper for REST API

At present, in the data field, python is suitable for data scientists, data analysts, developers, etc. It is more popular, so if cubrs can enter this ecology, it would be better.

[2021-08-17 08:09] vainkop commented on #3256
@rchkv How come it is not supported if Okta is just another oidc provider?
My colleague reported that he actually managed to use Okta with Node.js during a POC he did with Cube.js in docker so it doesn't look like "it's not supported", it's just not documented yet?

[2021-08-17 14:51] rchkv commented on #3256
@vainkop sorry, I mean Cube.js has no support Okta out of the box. But we have basic JWT/JWK mechanics in place, which should be enough for Okta. So far, this is all the [authorization documentation](https://cube.dev/docs/security) that we have. You're probably right, and we should document this.

It would be awesome if you'd open a PR to the [documentation](https://github.com/cube-js/cube.js/tree

[2021-08-17 15:01] rdwoodring commented on #1927
Would you guys be willing to accept and merge a PR that partially implements this (i.e. for just one database backend)?

I can probably arrange some time for myself or another resource to look at implementing it for Postgres (which is what we'll be using at work), but I don't think I've got time or expertise to attack this across the board for every backend.

[2021-08-18 01:03] rongfengliang commented on #3051
dremio can using create table into external storge (like s3. with parquet format) maybe cube store can load this file

[2021-08-18 12:25] joshhubers opened #3270 "PreAggregation for sql containing CTE/with generating sql sytnax error"
**Describe the bug**
I have recently upgraded:
Cube Server version from: 0.27.53  to 0.28.22
Big query driver from 0.27.53 to 0.28.22

I'm seeing a "Error: Syntax error: Unexpected keyword SELECT at [{line}:{col}]" for a handful of cubes that I have defined that utilze CTE's / with in the sql definition with a pre-aggregate defined. When I comment out the pre-aggregate I no longer get the syntax e

[2021-08-18 12:28] joshhubers commented on #3110
Thanks for your answers @paveltiunov . I have reworked my data model to avoid this issue.

[2021-08-18 14:59] root-io opened #3272 "Cannot read property 'endsWith' of undefined"
**Describe the bug**

I run CubeJS with node 14 and ExpressJS

[code]
**Version:**
@cubejs-backend/cubestore-driver 0.28.22
@cubejs-backend/postgres-driver 0.28.22
@cubejs-backend/server-core 0.28.22
@cubejs-backend/snowflake-driver 0.28.22

Cubestore Docker v0.28.22

[2021-08-18 15:01] #3272 closed

[2021-08-18 16:16] ovr commented on #3270
Hello @joshhubers,

I think you forget about `,` after `)` for WITH.

[code]

Thanks

[2021-08-18 16:41] #3258 closed

[2021-08-18 16:53] joshhubers commented on #3270
Thanks for the response @ovr . Unless I'm missing something I know get the following:

[code]

[2021-08-18 17:25] mfulop opened #3275 "Cube Store Redis prefix to be used as real prefix"
Configured prefix for cube store is currently used in the middle of redis keys generated by cube store eg.:

SQL_PRE_AGGREGATIONS&lt;prefix&gt;...

This is polluting our redis namespace when we are using tools to browse hierarchical keys.

An option to add the prefix at the beginning of generated Redis keys would be awesome!

[2021-08-18 17:35] tchell commented on #3247
I also can't reproduce after trying again. Not sure what happened, I must have had something else going on...

[2021-08-18 17:35] #3247 closed

[2021-08-18 18:33] joshhubers commented on #3270
Additionally, when I have the comma present, and comment out the pre-aggregation I get `"Error: Syntax error: Trailing comma after the WITH clause before the SELECT clause is not allowed at [10:7]"`

[2021-08-18 21:31] tchell opened #3278 "Cannot query a cube with custom `sql` and a dimension based on a One-to-Many relationship"
**Describe the bug**
When querying a cube with a dimension filter that is based on a one-to-many relationship with another cube it seems like the wrong SQL is being generated. The query that is generated references an aliased table in the statement that creates the alias, and therefore the following error occurs: `missing FROM-clause entry for table "purchase_key___purchase"`

**To Reproduce**
You

[2021-08-19 10:58] #3210 closed

[2021-08-19 13:55] PieterVanZyl-Dev commented on #177
For anyone watching this thread

Quarterly support should be added within the next two releases after adding #3244 & #3285
Expect to see quarter in a playground near you soon
@sebastiancyndx
@TRManderson
@barakcoh

[2021-08-19 16:36] starsuit opened #3286 "Skip preaggregation option in query options"
**Is your feature request related to a problem? Please describe.**
There doesn't seem to be an easy way to skip a query that has a pre-aggregation if there's an issue with that pre-aggregation. E.g. sometimes a pre-aggregation will be extremely slow to build, or an issue with cubestore, and I'd rather query my source database directly as this can be faster. If there's a bug or issue with the pre-a

[2021-08-19 21:09] ianschmitz opened #3290 "Security context based schema access"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to selectively show or hide certain aspects of the schema such as measures and dimensions based on the `SECURITY_CONTEXT`.

**Describe the solution you'd like**
Both [measures](https://cube.dev/docs/schema/reference/measures#parameters-shown) and [dimensions](https://cube.dev/docs/schema/reference/dimensions#par

[2021-08-20 02:16] JasperSui opened #3291 "How to pass multi-value (IN clause) to filters dynamically?"
I've asked the same question on Slack, but I think there might be someone who will face the same question because it's a typical scenario on reporting.

**Problem**

How to pass multi-value (IN clause) to filters dynamically?

[code]

`(1, 2, 3, 4, 5)` will be passed from API or somewhere, so it's mutable.

**Description**

As @rchkv said on Slack, we can write the multi-value in `Cube.sql` or `Cu

[2021-08-20 02:51] JasperSui commented on #3291
I just read the [API Doc](https://cube.dev/docs/rest-api#api-reference-v-1-load),
and I realize that what I exactly need is an `IN` operator for filters (which supports both string type and number type).

Demo:
[code]

`"filters":[{"users":"users.age","operator":"in","values":[23,24,25]}]` will be useful if we can pass the value from somewhere than pre-defining the value in .js file.

[2021-08-20 03:27] JasperSui commented on #3291
I tried this on cube.js develop playground and the frontend filter won't satisfy my need.

Because the playground filter won't auto-split my value when using equals operator,  if I type `1,2,3` , it will treat it like `= "1,2,3"` while generating it to SQL, so I tried another way which is calling the /load API with customized query by myself,
[code]
It works now, so the main problem is the filter

[2021-08-20 03:27] #3291 closed

[2021-08-20 07:03] PieterVanZyl-Dev opened #3293 "Refreshing measures/dimensions when they are updated on cube server."
**Is your feature request related to a problem? Please describe.**

When I update my cube code, I need to
1) refresh the playground in the browser
2) Click the Schema tab and then back to the Build Tab
To get the playground to refresh it's measures/dimensions with the new changes

**Describe the solution you'd like**
I would like a refresh button that updates the measures/dimensions without needin

[2021-08-20 10:28] #3190 closed

[2021-08-20 10:42] #2972 closed

[2021-08-20 11:43] CNimmo16 opened #3294 "Support variable partition granularity for pre-aggregations"
EDIT: issue initially raised as a bug, however the problem was actually misuse of the buildRange feature, as a workaround to the lack of support for variable partition granularity. See details in thread.

**Describe the bug**
After issuing a query with a timeDimension, Cube does not seem to check the buildRangeStart and buildRangeEnd when choosing a pre-aggregation: if an available pre-aggregation

[2021-08-20 12:24] amigold commented on #3175
Thanks @paveltiunov

[2021-08-20 20:50] tchell commented on #2579
Hey @paveltiunov I looked around a bit and didn't see anything else about supporting multi-querying so I'll ask here. Is there a specific reason multi-querying is not supported? Or has it just not been implemented yet? To me the decision to have an array of queries _not_ be a multi query is strange. I'm actually not sure what the purpose is of calling it 'Data Blending' in the client libraries sin

[2021-08-20 20:58] paveltiunov commented on #3278
@tchell Hey Tanner! Thanks for posting this one! This is an interesting use case. Referencing dimensions or measures inside of cube SQL definitions isn't supported as of right now. We need to throw an explicit error in this case. As a workaround, you can introduce a JavaScript function that can be reused both in dimension definition and cube SQL.

[2021-08-20 21:42] paveltiunov commented on #1188
Merging this one to #2145.

[2021-08-20 21:42] #1188 closed

[2021-08-20 21:44] paveltiunov commented on #3290
@ianschmitz Hey Ian! Thanks for posting this! Most likely it should be handled by #2145. Please let me know if you think this can solve your problem.

[2021-08-20 21:49] paveltiunov commented on #3294
@CNimmo16 Hey Cameron! Thanks for posting this! It's actually intended behavior. So `buildRange` should span all the data you have.

Could you please elaborate a little bit on your use case? Do you have data in the future such as predictions?

[2021-08-20 23:05] ianschmitz commented on #3290
I think so? Assuming in the OP by `context` this would mean the security context? (sorry i'm new to cube.js). Basically being able to inspect the claims from the JWT to make schema decisions.

[2021-08-23 23:59] patioleary commented on #3215
@hassankhan  Has there been any progress on this? Let me know if there is any more info you need.

[2021-08-24 03:37] rchkv commented on #3215
@ovr could you take a look at this?

[2021-08-24 17:23] yuriploc commented on #2145
Same here. We also have users with location-based access.

[2021-08-25 09:21] CNimmo16 commented on #3294
Hi @paveltiunov, thanks for the reply. No, we don't have predictions - the use case is that I want to have multiple pre-aggregations for the same source data, as follows:

a) A pre-aggregation containing historic data (and "month" granularity). This should be fully refreshed once per week.
b) Another pre-aggregation **containing only data from the last 30 days with a "day" granularity - because we

[2021-08-25 09:32] thellimist opened #3317 "Week granularity has issues with `WHERE` statements"
**Describe the bug**
When I have a WHERE filter on month granularity it works as expected. When I change only the granularity to week it shows incorrect results.

**To Reproduce**
Steps to reproduce the behavior:
Screenshots has the queries

**Expected behavior**
We expect the week granularity to show similar to month granularity

**Screenshots**
If applicable, add screenshots to help explain your

[2021-08-25 11:19] SebastianAlexandersson opened #3320 "Adding multiple segments to query gives wrong results."
**Problem:**
I expected to be able to use segments to filter my cube. I expected adding segments to a query would mean results belong to one of these segments. The more segments you add to a query the more results you get. But instead adding multiple segments to a query in Cube.js means every results needs to belong to every segment.

I guess it's a philosophical question. Does adding multiple seg

[2021-08-25 11:48] vasilev-alex commented on #3317
Hi @thellimist! I remember we had this discussion in the issue #3198. I'm not sure if you were able to update the chart renderers?

Also, does the same query work if you run it in the Playground on Cube Cloud?

[2021-08-25 19:01] sterlinm opened #3323 "Website examples do not load data"
**Describe the bug**
The [examples in the documentation](https://cube.dev/docs/examples) are not loading the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [compareDateRange example](https://compare-date-range-demo.cube.dev/)
2. See if the data loads.
3. Open dev tools and go to network.
4. Reload and see errors

**Expected behavior**
The data would load.

**Screenshots**

![Scr

[2021-08-25 20:28] JamesClearyATX opened #3324 "Joining cubes with long names creates a query with aliases that are longer than Postgresql supports"
**Describe the bug**
When joining multiple cubes with long names, cube can generate identifiers in queries that exceed the default maximum identifier length in Postgres (63 bytes). When that happens, Postgres silently truncates those identifiers and executes the query as normal. The result is that truncated identifiers can clash and cause query errors. The suggested way of getting around similar i

[2021-08-26 09:12] root-io opened #3329 "Cubestore Heroku Add-ons"
I would love to have the Cubestore available as an Heroku Add-on: https://www.heroku.com/elements/addons

[2021-08-26 12:35] root-io opened #3330 "Error: column "typcategory" does not exist in pg_type"
Introduced in 0.28.18: https://github.com/cube-js/cube.js/commit/b88d30cfceb66682fbd0508352d441ba930f9e7c#diff-d86515a2ea3cfc2cecae8482ac95e84bc7e94f87ba28cac62d2ff66163da26b3

[2021-08-27 12:57] egorovd opened #3336 "cubestored : Core dumped"
**Describe the bug**

Core dumped in kubernetes (v1.18.8)

**To Reproduce**
I can prepare helm-chart for reproduce. (If necessary, let me know.)

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/6965699/131130156-55a60810-6d8e-4e3e-99de-65492cb185f3.png)

**Version:**
[v0.28.28]

**Additional context**
What other information can help?

[2021-08-27 14:22] adnanrahic opened #3337 "Add Cube Stack Helm Chart in `examples/helm-charts`"
**Is your feature request related to a problem? Please describe.**
The `examples/helm-chart` folder contains Helm Charts for Cube Server and Cube Store, but not for Redis.

**Describe the solution you'd like**
As Redis is required for running in K8s prod, it would be great to have an umbrella Chart called Cube Stack that will have dependencies for `cubejs`, `cubestore` and `bitnami/redis`. This wo

[2021-08-28 10:30] root-io commented on #3330
PostgreSQL 13.2

[2021-08-30 01:02] TRManderson opened #3340 "Redis pool options not passed through to underlying connection pool."
Several options under `orchestratorOptions.redisPoolOptions` never get passed to the underlying connection pool, and are thus unused. Rather than just PRing the very short fix myself I've created this issue for some discussion around the issue, because I'd also like to take this opportunity to discuss exposing additional options from the underlying pool.,

Points of consideration
- `generic-pool`

[2021-08-30 10:41] rchkv commented on #3320
@SebastianAlexandersson I don't think that there is any big performance gain. The differences are rather [ideological](https://cube.dev/docs/schema/reference/segments#segments-vs-dimension-filters) 🙂

[2021-08-30 10:41] #3320 closed

[2021-08-31 02:58] #3106 closed

[2021-08-31 03:40] paveltiunov commented on #3329
@root-io Hey David! Thanks for sharing feedback! I guess you may want to try https://cube.dev/cloud if you're looking for a managed Cube Store solution.

[2021-08-31 14:50] pieterverheyden opened #3358 "Driver for Couchbase Server"
Cube.js is currently not supporting Couchbase Server, hence the implementation of a compliant driver is required.

[2021-09-01 14:34] #3317 closed

[2021-09-01 17:13] rpaik commented on #3286
@ovr @ilya-biryukov could you take a look at this?

[2021-09-02 09:17] markunsworth opened #3366 "Full AWS Key and Secret being written to logs"
**Describe the bug**
Full AWS Key and Secret being output to logs when no existing current-metastore is found.

`2021-09-02 09:05:51,857 TRACE [cubestore::metastore] <pid:1> Can't find metastore-current in S3RemoteFs { dir: "/cube/.cubestore/data", bucket: RwLock { data: Bucket { name: "**redacted-cubestore-bucket-name**", region: EuWest2, credentials: Credentials { access_key: Some("**AWS_ACCESS_

[2021-09-02 09:58] dodgex opened #3367 "Sorting is lost in tableColumns when value is a "numeric" string"
**Describe the bug**
I'm using cube.js to build a small internal reporting tool and found an issue when trying to sort by tenant number. In the current case the tenant number is a text/string field with simple values as '1', '2', '3', etc. When I try to sort by this value it descending and then use `tableColumns` with the tenant number member in the `y` part of the `pivotConfig` the result loses t

[2021-09-02 10:56] dodgex opened #3369 "Additional Filter Operators"
**Is your feature request related to a problem? Please describe.**
I'm working on an internal reporting tool and wondered about the filter operators. First of all we would like to have a `inNumberRange`/`notInNumberRange` to allow an easy filter like "invoices with a gross value between x and y" similar to the `inDateRange` variants. Also we would like to have a `afterOrEqualDate` (`>=`) as a vari

[2021-09-02 11:10] assembler opened #3370 "Filtering by dimension in rollupJoin does not work with cubestore"
Given two tables (e.g. reports and accounts), where 1 account can have multiple daily reports (1:N), when filtering by dimension property (e.g. account.name), the filter is completely ignored.

Schemas:

[code]

Query:
[code]

Generated SQL:

[code]

**Expected behavior**

The query should return yearly data for all accounts whose name contains the "Test" keyword. However, cubejs ignores the filte

[2021-09-02 14:37] artusmok91 opened #3372 "Pre-aggregations with S3 export bucket"
**Problem**

Hi,

I am trying to use pre-aggregations with S3 export bucket, but I am seeing quite a few issues. I am sourcing the data from Snowflake.

I am getting the following errors:
- “Create table failed: Internal: Invalid gzip header”
- “Create table failed: Internal: invalid digit found in string”
- “Create table failed: Internal: invalid float literal”

What may be causing them and how c

[2021-09-03 07:45] ghost opened #3375 "Error running @cubejs-backend/cubestore@0.28.31 postinstall using npx cubejs-cli create hello-world on linux Debian 10"
**Describe the bug**
Running npx cubejs-cli create hello-world on Linux Debian 10 and node v12.22.6 got

npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! @cubejs-backend/cubestore@0.28.31 postinstall: `node bin/post-install`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the @cubejs-backend/cubestore@0.28.31 postinstall script.
npm ERR! This is pro

[2021-09-03 16:47] #3366 closed

[2021-09-06 08:42] igorlukanin commented on #2955
@jmadan IDK if this question was resolved or answered anywhere else but let me answer it anyway.

In the example that you're showing in the original post, it would help to remove `FILTER_PARAMS` from your cube's `sql` definition while still having an `inDateRange` filter specified in your queries. This will allow the pre-aggregations to build.

The issue is that a refresh worker is run asynchronou

[2021-09-06 08:43] igorlukanin commented on #2955
@cassie-ying The approach with removing `FILTER_PARAMS` from your cube's `sql` definition should work for you as well. Please feel free to reopen this issue if you need any further assistance.

[2021-09-06 08:43] #2955 closed

[2021-09-06 10:27] cassie-ying commented on #2955
Many thanks for the detailed explanation, that is very helpful.

[2021-09-06 11:03] thellimist opened #3386 "Playground doesn't load on 0.28.31"
**Describe the bug**
A clear and concise description of what the bug is.

I get white screen and
```Could not load content for http://localhost:3000/PlaygroundQueryBuilder/QueryBuilderContainer.tsx (HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE)```

**Expected behavior**
A clear and concise description of what you expected to happen.

The playground should work

**Screenshots**

[2021-09-07 10:51] #3337 closed

[2021-09-07 15:50] cassie-ying opened #3393 "When using cubestore in OCP getting errors: Invalid function NOW() and Invalid function UNIX_TIMESTAMP()"
**Describe the bug**
When using cubestore in OCP (Openshift Container Platform), we are getting the error ` Invalid function NOW() `

**To Reproduce**
Steps to reproduce the behavior:
1. In OCP set up cubestore in a separate instance from main cubejs, to be more specific, we have
    - 1 pod for cubestore router
    - 2 pods for 2 cubestore workers
    - 1 pod for main cubejs
    - 1 pod for cubej

[2021-09-08 02:39] paveltiunov commented on #3386
@thellimist Hey Kan! Are you building a playground yourself?

[2021-09-08 02:42] paveltiunov commented on #3369
Hey @dodgex ! I believe it's a great idea. Thanks for posting this one!

[2021-09-08 03:29] #3340 closed

[2021-09-08 03:33] paveltiunov commented on #3286
@starsuit Hey Sam! Thanks for posting this one! I believe the way to go here is using multiple environments with different configurations. Either with different env or even different sources. In Cube Cloud we're going to support multiple environments per deployment soon. You would be able to swap between them transparently in production. You can also create multiple deployments for the same app wi

[2021-09-08 08:46] CNimmo16 commented on #3294
@paveltiunov sorry to follow up, but could I please get some advice on this? I have currently implemented the pre-aggregations as discussed above, and they are performing well, but I am quite concerned about the potential for datasets to be returned with missing values - with no way of capturing these query "errors", they could go unnoticed for months. If there is a better approach I would like to

[2021-09-08 09:54] MuBeiSAMA opened #3396 "The time zone passed in was not used when converting the time"
**Describe the bug**

The time zone of the data in my database is Asia/Shanghai.

![image](https://user-images.githubusercontent.com/30261823/132486896-e18db0b1-a22a-43de-9b2b-c53f5e0443cb.png)

My query also specified the time zone as Asia/Shanghai.
[code]

But the time conversion in the query result does not use the passed time zone.

![image](https://user-images.githubusercontent.com/30261823/1

[2021-09-08 10:57] cassie-ying commented on #3393
A similar error we have seen is `invalid function UNIX_TIMESTAMP()`, with same error trace, and also found in cubestore router pod
[code]

I'm guessing this error is from the default refreshKey for the cube, and the error above comes from the pre-aggregation refreshKey.

[2021-09-08 12:14] artusmok91 commented on #3372
I have managed to isolate and fix the underlying issue - there were null values in numeric columns.

I have now set up pre-aggregations, however they are a bit "moody" - they work for short date ranges, but when I pre-aggregated a year, my local instance usually shows the following error:
`Internal: Execution error: Internal: File not found: ...\foo\.cubestore\data\38.parquet`
Deleting .cubestore

[2021-09-08 15:39] thellimist commented on #3386
Yes, we use the playground package internally inside our application.

[2021-09-09 10:10] fastcode-inc commented on #1179
Hi,

Has this feature been included in any of the current releases?

[2021-09-09 16:15] smshuja opened #3405 "Multiple queries in a single request"
**Is your feature request related to a problem? Please describe.**
We are evaluating cube.js to offload all our reporting queries. Each report can contain more than 100 queries. Ability to make a post request with multiple queries would help us optimise the data fetching.

**Describe the solution you'd like**
Would be great if query could be an array.
[code]

Similarly response can be returned as

[2021-09-10 06:20] paveltiunov commented on #3405
@smshuja Hey Shuja! How do you think it can optimize the data fetch process? Do you think it can help by minimizing the count of HTTP round trips?

[2021-09-10 06:32] paveltiunov commented on #3393
@cassie-ying Which version do you use?

[2021-09-10 06:56] paveltiunov commented on #3386
@thellimist According to the error it fails due to an undefined history object. I guess at that point you'd need to debug to figure out what's causing it. It might be it interferes with other parts of your project which use location also. Embedding the playground isn't something we fully support currently but we're open to PRs fixing embedding edge cases.

[2021-09-10 09:05] cassie-ying commented on #3393
We are on  0.28.32 for both cubejs and cubestore, which is the latest version afaik ?

[2021-09-10 11:30] smshuja commented on #3405
@paveltiunov Yes. Exactly. Also, I think this would help with fetching some related data. Like if I fetch some measures grouped by a `related_id`, but also want the `Related` record to display some details about each `Related` record. So, instead of showing the IDs on the graph, `Related.name` can be shown. One would be a normal grouped query and another ungrouped query without any aggregations.

[2021-09-10 12:47] PieterVanZyl-Dev opened #3411 "Preaggregations for quarter fails with compile error"
**Describe the bug**
When attempting to add the granularity: 'quarter' to a preaggregation object cube gets a compile error

**To Reproduce**
Steps to reproduce the behavior:
1. Add a preaggregation with granularity: 'quarter'
2. Run npm run rev

**Expected behavior**
Don't throw a compile error and pre aggregate.

**Screenshots**
If applicable, add screenshots to help explain your problem.

The b

[2021-09-10 12:55] PieterVanZyl-Dev commented on #3411
I'm almost 99% sure it's here

https://github.com/cube-js/cube.js/blob/57559e7841657e1900a30522ce5a178d091b6474/packages/cubejs-schema-compiler/src/compiler/CubeValidator.js

line 11 and line 8

[2021-09-10 20:47] Blakewell opened #3412 "Variable Length Decimal Support to Handle Cube Store Parquet Data Type Issues"
**Describe the bug**
When leveraging a MySQL decimal field that is defined as DECIMAL(65,30), the pre-aggregated results cannot be stored within Cube Store.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MySQL table (likely any database will do as its a Parquet conversion issue) with DECIMAL(65,30).
2.  Insert extremely large values in this field.
3. Perform an aggregate query usin

[2021-09-13 00:46] patioleary commented on #3215
@rchkv This is becoming more and more of a blocker in our end for some features we are really want to get out for our clients. Is there any update as to when we might expect a fix to be implemented?

[2021-09-13 01:42] zzhang-infoblox opened #3413 "Cubejs CONTAINS operator incompatible with Dremio ILIKE syntax"
**Describe the bug**
Dremio doesn’t support the Cubejs generated query using the [CONTAINS](https://cube.dev/docs/query-format#filters-operators-contains) operator. The CONTAINS operator in Cubejs uses ILIKE operator on the backend, but this conflicts with the Dremio [ILIKE ](https://docs.dremio.com/sql-reference/sql-functions/functions/ILIKE/?parent=binary)operator, which causes the Cubejs query

[2021-09-13 11:32] vignesh-123 commented on #3413
There is a file called cube.js\packages\cubejs-dremio-driver\driver\DremioQuery.js
You will find likeIgnoreCase function within this file
You can change that function to suit the needs of the specific database

[2021-09-13 13:59] vasilev-alex commented on #3411
@PieterVanZyl-Dev thanks! I can see you've fixed it, could you please open a PR then?

[2021-09-13 15:58] rongfengliang commented on #3413
@zzhang-infoblox i think you use one old dremio driver . it has fixed for a long time
please upgrade to latest version

[2021-09-13 20:49] #2923 closed

[2021-09-13 23:04] zzhang-infoblox commented on #3413
Tested with the latest version 0.26.63 and worked as expected now.

Thanks for the help. Closing this issue now.

[2021-09-13 23:04] #3413 closed

[2021-09-14 08:13] #3025 closed

[2021-09-15 03:05] inventionlabsSydney commented on #1927
@rdwoodring what backend have you implemented?

I will review and possible extend so we can make this for all available backends.

Thanks,
Karl.

[2021-09-15 10:53] rdwoodring commented on #1927
Well, I haven't done anything yet since I hadn't heard anything back. I'm using postgres, so I'd be implementing that, were I to contribute here.

[2021-09-15 10:57] loaded02 opened #3428 "Using Multiple Data Sources with Custom checkAuth not working"
**Describe the bug**
I followed this [example for multiple data sources](https://cube.dev/docs/recipes/multiple-sources-same-schema) to switch between multiple data sources. The differences as far as I can tell are, that I implemented a custom checkAuth() method. Schemas are created from Playground. DriverFactory is called correctly. CubeJS calls only the default DB as configured in environment va

[2021-09-15 11:01] inventionlabsSydney commented on #1927
We’re also using Postgres but I could manage a few more RDBMs

Has anyone actually mapped out the implementation, or should we discuss a
design?

Thanks,
Karl.

On Wed, 15 Sep 2021 at 20:53, Ryan Woodring ***@***.***>
wrote:

[2021-09-15 11:36] loaded02 commented on #3428
Ok I see an error in my config here:
[code]

But if I change this, I get an `Error: connect ETIMEDOUT`

[2021-09-15 12:24] #3428 closed

[2021-09-15 19:00] ryanpei opened #3432 "rollupJoins on multiple DBs of different types"
**Is your feature request related to a problem? Please describe.**
When performing a `rollupJoin` on two different databases, this is not possible currently with different DB types, such as Mongo and Snowflake.

**Describe the solution you'd like**
Cube Store can do a `rollupJoin` on databases from two different DB types.

**Describe alternatives you've considered**
Consolidating all my data on on

[2021-09-15 21:06] lvauvillier opened #3433 "GraphQL query Support"
## Context

**Is your feature request related to a problem? Please describe.**
A previous issue was opened on this topic (#1765) but was closed due to query format design and ResultSet issue.

As we already run a working graphql API on top of cubeJS REST API on production, I wanted to share here the design API we choosed and how we solved it.

I hope this will start an official support of graphQL

[2021-09-15 23:19] paveltiunov commented on #3405
@smshuja If your goal is to reduce roundtrip time then using a web socket would be the way to go here. It does packet batching transparently for users.

[2021-09-15 23:34] #1123 closed

[2021-09-15 23:35] paveltiunov commented on #669
Hey @imrishabh18 ! Yep. Sure!

[2021-09-16 00:40] inventionlabsSydney opened #3434 "Better change-log for removal of deprecated features"
G'day team,

I am concerned with the lack of "breaking change" notices in the change log.

when client-core PR's #3118 and #3135 removed the "category" from pivot this caused a breaking change that was undocumented in the change log and also wouldn't comply with the new version tag.
When upgrading from 0.28.0 to 0.28.1, we reviewed the change-log and deemed nothing of importance to worry about, ne

[2021-09-16 04:55] hhaidar commented on #597
@tromika this might not be exactly what you're looking for but our company has been building a testing framework to catch issues like this and a bit more. We created a tool  called [flan](https://github.com/sdelements/flan) to rapidly load/save snapshots of different sample databases and then run some jest tests against them. I know some other people had concerns about things like the order of joi

[2021-09-16 10:52] sravikiran opened #3437 "Cube.js container stopped as connection to Redis got interrupted"
**Problem**

The cube.js server in one of our environments got crashed and from the log we found that it happened because of the connection to Redis. I saw the following error in the log:

_Error: Redis connection to path-to-redis failed - getaddrinfo ENOTFOUND path-to-redis_

We restarted the server and it is working fine now. But this issue can happen again and will cause an outage of our produc

[2021-09-16 11:41] smshuja commented on #3405
@paveltiunov web socket approach looks great. Thank you. 👍

[2021-09-16 11:41] #3405 closed

[2021-09-16 16:42] yatesdev opened #3440 "Documentation Page Sidebar not scrolling fully"
**Describe the bug**
The sidebar scroll prevents seeing the last option when an announcement banner is present.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cube.dev/docs/
2. Expand `Examples & Tutorials`
3. Scroll down sidebar to bottom
4. See that `Code Reusablility` has a section header but unable to scroll to options to view.
5. Delete purple banner element (currently `T

[2021-09-16 18:25] joshk0 commented on #2012
Also or alternatively, for the `manyToMany` workaround, I would appreciate some code snippet that helps me understand how this works, as my team haven't been able to make something work with that hint yet.

[2021-09-17 02:26] EzraTsai opened #3442 "How to connect to specific redis"
If i want to connect cube.js to my own built redis, what should I do.
I use `CUBEJS_REDIS_URL` which is claimed by [official  document](https://cube.dev/docs/deployment/overview#redis). So, for example, if my own redis port is 31.71.195.218.
Should I use write `CUBEJS_REDIS_URL=redis://31.71.195.218:6379/0` in my backend .env file? I use many combination like, `redis://31.71.195.218:6379`, `redis:

[2021-09-17 04:08] ZheweiZhong opened #3443 "React dashboard cannot get error"
When I create a dashboard-app, and try to start it in localhost:3000, it shows "Cannot GET /" error.
Last time I did the same thing it works, but now it doesn't work.
Very appreciative if someone can fix it.

[2021-09-17 04:27] paveltiunov commented on #2858
This one should be resolved. If you think it isn't please create a new issue.

[2021-09-17 04:27] #2858 closed

[2021-09-17 15:18] igorlukanin opened #3447 "It is not possible to have a dimension called "dimensions""
**Describe the bug**
If there's a dimension called "dimensions", Cube throws this error when parsing data schema:

[code]

**To Reproduce**
See above.

**Expected behavior**
"dimensions" is a totally legit name for a dimension. For example, in a cube that describes museum's artworks, "dimensions" would provide access to artworks' widths and heights.

**Screenshots**
—

**Version:**
0.28.16 and abo

[2021-09-17 15:23] PieterVanZyl-Dev opened #3448 "Pre Aggregations on Dev fails with Internal: Execution error: Internal: File not found"
**Describe the bug**
When I add a pre aggregation to my local cube setup
It throws an error when I query results for that pre aggregation

Internal: Execution error: Internal: File not found: C:\Users\UserName\cube-be\.cubestore\data\449.chunk.parquet

This doesn't happen on Staging where we are running the docker container only with node on all the dev machines

**To Reproduce**
Steps to reproduc

[2021-09-17 16:38] ntma opened #3449 "NuxtJs/Vue `query-builder` fails to catch errors on mount"
**Describe the bug**
Using a query configuration with a measure/dimension that isn't valid, breaks the render of the `query-builder` component in [NuxtJS](https://nuxtjs.org/). This only happens in the first instance of the component (`mount`), since this section of code is exposed to errors returned by this [`dryRun`](https://github.com/cube-js/cube.js/blob/958fad1661d75fa7f387d837c209e5494ca94af

[2021-09-17 16:55] ntma commented on #3449
To test the PR proposed above, uncomment the two blocks of code found here (same CodeSandbox example):
* https://codesandbox.io/s/nuxt-cube-mount-error-xwyet?file=/plugins/vue-cube.js

This plugin basically overrides the default method `mount` of the `query-builder` component to add a `catch` promise. This promise will contain errors returned by the `dryRun`.

[2021-09-17 17:25] datananda opened #3451 ""last n" timeDimension range short by 1 day for n > 1"
**Describe the bug**
Running a "last n months" timeDimension query returns a dateRange that is short by 1 date when n > 1.

**To Reproduce**
1. Queries are tested against a DimDates Cube schema (1 row per date, no missing dates).
2. Run 'last month' query:
[code]
3. Observe the dateRange in the response as expected:
[code]
4. Run 'last 2 months' query:
[code]
5. Observe the dateRange in the respon

[2021-09-17 21:38] leogodin217 opened #3452 "Time dimension on a runningTotal measure on Snowflake mixes quoted and unquoted columns"
**Describe the bug**
Using a time dimension on a runningTotal measure on Snowflake mixes quoted and unquoted columns in the query. This fails the query, because Snowflake has specific rules about quoted columns. Specifically:

- All unquoted column names are treated as upper case
- Quoted column names are case sensitive.

So "date_from" <> date_from

**To Reproduce**
Steps to reproduce the behavio

[2021-09-20 05:08] paveltiunov commented on #3448
Hey @PieterVanZyl-Dev ! Could you please share `CUBESTORE_LOG_LEVEL=debug` logs? Also are you using distributed file systems or just testing locally?

[2021-09-20 05:12] paveltiunov commented on #3396
Hey @MuBeiSAMA ! This is not obvious but correct behavior. Let's move this conversation to #2965.

[2021-09-20 05:12] #3396 closed

[2021-09-20 05:29] paveltiunov commented on #3433
@lvauvillier Hey Luc! Thanks for posting this one! I'm curious if you have any ideas on how to handle long polling over some long periods of time? I see you propose to handle it server-side. What if the load balancer has a timeout for HTTP requests?

Mentioning @MattGson @tomsej here as participants of #1765.

[2021-09-20 05:33] paveltiunov commented on #3452
@leogodin217 Hey Leo! Thanks for posting it! As a workaround, you can use rolling window rollup.

[2021-09-20 06:35] rchkv commented on #3443
Hi @ZheweiZhong 👋

What dashboard type do you create? What OS and Cube version are you using?
Thanks in advance :)

[2021-09-20 08:59] lvauvillier commented on #3433
@paveltiunov this is a good question. For my current usage we assume that queries takes a reasonable time (our pre-aggregations covers 100% of possible dashboard queries).

We just handle the "continue wait" response using promises and delays.

This is the getCubeResults function we used in our resolvers:

[code]

[2021-09-20 11:04] anuragphadnis opened #3455 "Compile error on auto generated schema having hyphen (-) in their name"
When I auto generate schmea from any source which is having hyphen in the name, the schema gets generated with same name (includes hyphen) but server gives a compile error stating that `child "name" fails because ["name" with value "something-something" fails to match the identifier pattern]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a mongo server with a collection named test-c

[2021-09-20 12:14] ThomasKientz opened #3456 "Add joins in /meta"
I am building a data table editor for the end user. I want the end user to be able to pick the desired columns he wants to see in the table.

To do so, I want the user to select a cube first, then to pick from the related dimensions, as well as join dimensions, he wants to see as columns.

I can get the cubes and related dimensions with `/v1/meta` but it is missing the `joins`.

**The solution**
`

[2021-09-20 14:31] ntma opened #3458 "Vue `query-builder` removes any granularity when adding dimensions"
**Describe the bug**
Starting a query config without dimensions and then adding a dimension will cause the `granularity` of the time dimensions to vanish.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an app with a query-builder component;
2. Feed the query-builder with a query configuration without dimensions;
3. Change the query configuration to add a new dimension;
4. See the `gr

[2021-09-20 14:51] ntma commented on #3458
After some digging, it seems that the culprit is [this](https://github.com/cube-js/cube.js/blob/2be8636260c06bc353aa41327b095ae612d6196a/packages/cubejs-client-vue/src/QueryBuilder.js#L353) heuristics function.

Looking deeper into the definition of `defaultHeuristics` ([this section of code](https://github.com/cube-js/cube.js/blob/2be8636260c06bc353aa41327b095ae612d6196a/packages/cubejs-client-co

[2021-09-20 16:15] ZheweiZhong commented on #3443
Well, I've solved it by switching from windows to ubuntu OS, many thanks.

[2021-09-20 18:42] leogodin217 commented on #3452
Rolling window is a good workaround. Unfortunately, I'm more of a Python programmer, so I will not be able to fix this myself.

[2021-09-21 04:17] #3443 closed

[2021-09-21 05:44] sravikiran commented on #3437
@paveltiunov Can you please respond me on this? Let me know if there is a way to handle such errors and point me to the documentation as I couldn't find it.

[2021-09-21 06:08] ramuece09 opened #3464 "Error: unexpected response Forbidden Issue with "cubejs create d3-dashboard -d postgres""
I am running the above command to create the service, but its giving below error. Please guide me

npm WARN deprecated @hapi/joi@17.1.1: Switch to 'npm install joi'
npm ERR! code 1
npm ERR! path C:\Upwork\d3-dashboard\node_modules\@cubejs-backend\cubestore
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node bin/post-install
npm ERR! Cube.js Cube Store Installer -----

[2021-09-21 10:55] PieterVanZyl-Dev commented on #3448
I have sanitized the logs but otherwise it's identical to the errors we are getting

I am going to try this with a higher refresh key to see if it takes longer before through the internal error.

[2021-09-21 12:57] joshhubers opened #3469 "Clarify pre-aggregation build error messages"
**Describe the bug**
I've started testing out `ROLLUP_ONLY` mode for a staging environment and a handful of my queries get a `Error: No pre-aggregation exists for that query`. And some get `"Error: Your configuration restricts query requests to only be served from pre-aggregations, and no pre-aggregation was found matching this query. Either update your pre-aggregations or disable rollup only mode

[2021-09-21 13:13] HardRock4Life opened #3470 "EPERM: operation not permitted, mkdir 'C:\Users\Double Space'"
I'm trying to create CubeJS project with `npx cubejs-cli create real-time-dashboard -d clickhouse` command. However, I get this error:
[code]

I already tried to change lines in `.npmrc` file into `Nikita~1` since I'm having a space in the username, but the file overwrites my changes back to default.

How can I solve this issue?

NPM version: 6.14.13
Node.JS version: 14.17.3

[2021-09-21 13:17] markunsworth opened #3471 "Expose freshness of preaggregation used in query"
When displaying data to end users there's often a discrepancy between the different time frames of data due to how often those preaggregations get generated, specifically larger historical datasets.

It would be useful to be able to know how fresh the preaggregation used in a query is so that we are able to advise our users when that data was last generated.