[2021-09-21 15:56] ArunrajAdlee opened #3473 "Duplicate requests aren't caught with useCubeQuery when making POST requests"
**Describe the bug**
With the useCubeQuery hook, there exists a function `useDeepCompareMemoize` which compares the queries to determine if the `useEffect` within the hook to make a request is trigged.

This works well to avoid unnecessary `GET` requests on component re-renders where the query doesn't change.

However, for `POST` requests, the following condition always evaluates to false because

[2021-09-22 04:11] rchkv commented on #3464
Hi @ramuece09 👋

The recommended way is to use [Docker-based setup](https://cube.dev/docs/getting-started/docker/). Your issue may be related to GitHub limits. We use releases to store binaries for Cube Store, when npm/yarn runs post-install script we send a request to Github's API to fetch the release’s assets. It works now.

[2021-09-22 04:11] #3464 closed

[2021-09-22 07:01] thellimist commented on #3386
This was solved by updating playground versions

[2021-09-22 07:01] #3386 closed

[2021-09-22 07:02] thellimist commented on #3386
Do you have a todo list/project definition for this?

[2021-09-22 10:28] HardRock4Life commented on #3470
I found the answer myself at https://stackoverflow.com/questions/46871452/spaces-in-path-npm

I've changed the cache path using this command:

`npm config set cache "C:\Users\FirstName~1\AppData\Roaming\npm-cache" --global`

Here FirstName is path name which includes spaces between them.

Ask questions if something is still not working

[2021-09-22 10:28] #3470 closed

[2021-09-22 12:27] PieterVanZyl-Dev commented on #3448
Changing refresh keys made no difference
current work around

Delete the .cubestore file and rerunning the npm run dev

it works for about an hour and then throws these internal errors

[2021-09-22 19:55] tchell opened #3476 "SECURITY_CONTEXT filters don't support namespaced attributes?"
**Problem**
When trying to use SECURITY_CONTEXT to filter a cube it doesn't seem possible to provide an arbitrary string to represent the attribute that needs to be taken from the SECURITY_CONTEXT. Auth0 for example only allows setting custom data for an access token on namespaced attributes eg `'http://auth/domain/claims'`. These attributes do not seem to be accessable when trying to filter by SE

[2021-09-22 20:11] tchell opened #3477 "Using FILTER_PARAMS causes filters to be duplicated in WHERE clauses"
**Describe the bug**
When using FILTER_PARAMS to filter a cube, the attribute that is being filtered gets added to the SQL twice.

**To Reproduce**
[code]
Generates the following sql:
[code]

**Expected behavior**
[code]
OR (at least)
[code]

**Version:**
"@cubejs-backend/postgres-driver": "^0.28.19",
"@cubejs-backend/server": "^0.28.18",
"@cubejs-backend/server-core": "^0.28.18"

[2021-09-23 07:24] ThomasKientz opened #3479 "Docs : menu is truncated on mobile"
The bottom of the menu is hidden and some links are not reachable :

<img width="318" alt="Capture d’écran 2021-09-23 à 09 22 03" src="https://user-images.githubusercontent.com/10157845/134468856-f2645594-a51b-40bd-827c-2be5f8173374.png">

[2021-09-23 09:57] aobzor commented on #342
@paveltiunov Are there any news about this issue? We need to support connection to Postgres cluster with cube.js, but it seems still impossible.

Or may be there is a deadline when it will be done.

Thanks.

[2021-09-23 12:13] hassankhan commented on #3479
Hi @ThomasKientz :wave:

Thanks for reporting this issue, investigating now

[2021-09-23 14:31] PieterVanZyl-Dev commented on #3448
[code]

Today I also noticed this error which I'm wondering if it's related ?

[2021-09-23 14:58] #3479 closed

[2021-09-23 14:58] hassankhan commented on #3479
Should be fixed now, thanks again for reporting @ThomasKientz 👍

[2021-09-23 15:05] dodgex commented on #3367
As the related PR is merged and the changes even have been released, i think this issue can be closed.

[2021-09-23 15:05] #3367 closed

[2021-09-24 11:27] igorlukanin opened #3485 "Cube Store readily ingests CSV files with non-unique columns"
**Describe the bug**
Cube Store loads a CSV file with pre-aggregated data and stores it without errors even if it contains non-unique columns (e.g., two columns with identical names).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pre-aggregation where a single dimension is references twice
2. Execute a query and trigger pre-aggregations build
3. The query will yield this error:

*

[2021-09-24 11:32] igorlukanin opened #3486 "Cube allows to define a pre-aggregation with non-unique member references"
**Describe the bug**
Cube allows to define and build a pre-aggregation with non-unique member references (e.g., one dimension referenced twice in the pre-aggregation definition).

**To Reproduce**
1. Create a cube with at least one dimension
2. Add a `rollup` pre-aggregation that references this dimension twice and stores pre-aggregation data in CUbe Store
3. Execute a query (Cube will build a pre

[2021-09-24 11:33] igorlukanin commented on #3486
Related: https://github.com/cube-js/cube.js/issues/3485

[2021-09-24 16:37] onhate opened #3489 "countDistinctApprox on field containing undefined values returns always 1"
I’m facing an issue  when having a property configured as `countDistinctApprox` on a field that contains records with a undefined/null value.

In this scenario the `countDistinctApprox` is always returning `1` no matter how many other records are on databaes.

![image](https://user-images.githubusercontent.com/980905/134710256-5c436e6b-b3e8-4878-b74a-296436d01a35.png)

After I dropped the whole pr

[2021-09-24 16:38] onhate commented on #3489
![image](https://user-images.githubusercontent.com/980905/134710531-ed230bf0-4254-4679-ad03-3c595ea55b3a.png)

[2021-09-24 18:04] kmclaugh opened #3491 "add year granularity"
**Is your feature request related to a problem? Please describe.**
For very long run data it's helpful to have a granularity of a year

**Describe the solution you'd like**
In [query format](https://cube.dev/docs/query-format) add support for a year granularity

[2021-09-25 05:38] paveltiunov commented on #3491
@kmclaugh Hey Kevin! Nice catch! It's supported however somehow missing in this place of a doc. cc @hassankhan

[2021-09-25 06:33] paveltiunov commented on #3455
Hey @anuragphadnis ! Thanks for posting this! As a workaround, you can fix these identifiers by editing the schema file manually.

[2021-09-25 06:35] paveltiunov commented on #3456
Hey @ThomasKientz ! There's `connectedComponent` field which you can use for that. Basically, cubes with the same connected component are interconnected. Please let me know if it solves your problem.

[2021-09-25 06:37] paveltiunov commented on #3469
@joshhubers Hey Josh! Thanks for the feedback! It's helpful. cc @keydunov

[2021-09-25 06:40] paveltiunov commented on #3477
@tchell Hey Tanner! Could you please elaborate on your use case? It seems the example is oversimplified here.

[2021-09-25 06:45] paveltiunov commented on #3437
Hey @sravikiran ! Thanks for pointing this out! While it's beneficial to have Redis network failover in Cube.js itself it isn't always possible to recover from these errors while Cube.js process is running. The best practice would be to check live probes https://cube.dev/docs/rest-api#livez and restart Cube.js whenever an instance is dead. Also do auto restarts on these crashes. For example, Kuber

[2021-09-25 12:38] kmclaugh commented on #3491
@paveltiunov oh great. Thanks. While we're at it I get this error when using the quarter granularity

"Can't find common parent for 'quarter' and 'year'"

Any ideas?

[2021-09-25 13:25] anuragphadnis commented on #3455
I would like to work on it, if you can guide me with the current flow of the feature.

[2021-09-25 13:25] anuragphadnis commented on #3455
I would like to work on it, if you can guide me with the current flow of the feature.

[2021-09-27 08:40] HardRock4Life opened #3492 "Your dashboard app does not support adding of static charts"
![image](https://user-images.githubusercontent.com/21273349/134874279-3e7a9a6e-2383-4800-bfb7-12206d70d350.png)

Hello! What could be the reason for this error to appear?

I use Clickhouse and trying to create a dashboard app using Angular template.

[2021-09-27 08:51] PieterVanZyl-Dev commented on #3491
Hey @kmclaugh

We recently added quarterly to cube js, there is still a few bugs and issues we need to catch.

Such as the quarterly doesn't currently pre aggregate

Although on myside it does work and display (Angular Front-end)

and I'm currently working on quarterly pre-aggregations not working.

[2021-09-27 09:04] HardRock4Life commented on #3492
Alright, we've got the `Build` tab where I tried to build the chart using Angular->ng2 configuration and it caused the error.
On the other hand, when I tried to create the same chart in the `Dashboard App` app, then it added all fine.

![image](https://user-images.githubusercontent.com/21273349/134878166-e3339603-ed51-49b5-831e-4fd2b52afe32.png)

But why is it so?

[2021-09-27 11:58] rongfengliang opened #3493 "cube.js client core with http poll will not running if cube.js api server stop and then recovery"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

write one web app with subscribe
insert some datas in db and view change
stop cube.js backend
wait for seconds then restart cube.js backend

**Version:**
[e.g. 0.28.39]

[2021-09-27 18:05] tchell commented on #3477
OK. I'm not totally sure what more there is to expand on. I'm pretty sure my example is following almost exactly [how the docs indicates](https://cube.dev/docs/schema/reference/cube#context-variables-filter-params). And it seems like the sql generation is incorrect, since the filter is being done twice. Although the example provided is not exactly my use case I think it is sufficient to explain th

[2021-09-28 01:02] paveltiunov commented on #3477
@tchell Hey Tanner! This join detail makes much more sense. And why this outer filter bothers you? Is it because of performance concerns?

[2021-09-28 02:56] paveltiunov commented on #3493
Hey @rongfengliang ! Is it HTTP transport subscribe or web socket one? It seems HTTP but just wanted to double check.

[2021-09-28 11:01] sys-auditing opened #3496 "Empty DB Schema Please check connection settings"
**Problem**

I got this message error when using  http://localhost:4000/#/schema url:
`Empty DB Schema
Please check connection settings
`

I have mariadb version *10.3.22-MariaDB-1ubuntu1* installed in my system .

**Related .env parameters**
[code]

Thank you

[2021-09-28 14:50] sys-auditing commented on #3496
The issue is due to my database name `sys`, so when using another name works perfectly.
Is it a bug?

[2021-09-28 18:21] vasilev-alex commented on #3492
Hi @HardRock4Life! Adding charts from the Playground is supported only for `static` dashboards. The only Angular dashboard we have is dynamic (it has a query builder, so you can add charts directly from there), thus you don't need the Playground to add charts.

[2021-09-28 19:26] tchell commented on #3477
Yeah, realistically it shouldn't have any different results. Likely the only problem would be performance related (if that even). But to me it just seems like an odd thing that would ideally be removed since it's unnecessary and confusing when you see it.

[2021-09-29 14:01] JoshMentzer commented on #3451
hey @datananda ,
I believe this was fixed in #2824

[2021-09-29 14:55] #932 closed

[2021-09-29 14:56] #2141 closed

[2021-09-29 14:57] tanvi-cota opened #3499 "Regex Support in Filter"
Is your feature request related to a problem? Please describe.
It would be great to have Regex operator in filter.  Consider following example -
I have a strings
"A, A B, B, B C"  ,  "A" ,  "A B, C"
I want to get all the strings that have "A".  Expected Result : "A, A B, B, B C"  ,  "A"
If we use `contains`, because of wildcards ('%A%'), it will give "A, A B, B, B C"  ,  "A" ,  "A B, C" which is i

[2021-09-30 02:48] long1208 opened #3501 "cargo build cube store find two version itertools"
**Describe the bug**

when i build cube.js/rust use cargo build ,it failed ,throw    multiple applicable items in scope
in "/prost-derive-0.7.0/src/lib.rs:109:14"

when i see it , i found the have two version itertools （0.9.0 and 0.10.1）
what can i do ?

**To Reproduce**

**Expected behavior**
it sucess;

**Screenshots**
![image](https://user-images.githubusercontent.com/28726747/135377680-626b951

[2021-09-30 03:10] paveltiunov commented on #3499
@tanvi-cota Hey Tanvi! Thanks for posting this! As a workaround filter cube can be used here. So you can introduce a cube that will be joined to the cube of interest and as a dimension value would have all permutated sorted values so you can filter them using equals filter. I'll let @igorlukanin prepare a recipe for that.

[2021-09-30 15:37] dmitrika commented on #669
Looks like it's done already within https://github.com/cube-js/cube.js/commit/6f40847f5e825bc92a8ee74b1ec40db911dd5513

[2021-10-01 17:45] paveltiunov commented on #3496
@sys-auditing Are you using `test` or `sys` as a `CUBEJS_DB_NAME`?

[2021-10-03 17:34] ganeshmani commented on #2618
@hassankhan I would like to work on this issue if it's available :-)

[2021-10-04 17:23] sys-auditing commented on #3496
@paveltiunov i'm using ```sys``` .

Thanks

[2021-10-05 14:12] vincent-benbria opened #3509 "Multi-tenancy aware Time Zones"
**Is your feature request related to a problem? Please describe.**
I need to pre-aggregate on each timezone that my clients want reporting on, but I have a diversified group of clients and they are each mostly only interested in their own timezones.

The impact is pretty simple; I have ~500 clients, about 250 are interested in EST, 200 in PST, 5 in BST, 3 in BT (china) and the rest in basically al

[2021-10-05 14:30] vincent-benbria opened #3510 "Cubestore: Error during create table: No such file or directory (os error 2)"
**Describe the bug**
When a new pre-aggregation is added, but before the refresh worker has time to fully finish creating it, all queries that trigger this preaggregation will return this error. This is also seen when querying on a timezone that is not in the preaggregation list (requerying on that timezone does seem to work). I have also seen that on normal, fully precalculated pre-aggregation wh

[2021-10-05 15:43] JoshMentzer commented on #3456
Hey @paveltiunov,
Appreciating the connectedComponent possibility, I think there is value in having the joins available.
I say this from the view point that enabling 'citizen developers', the biggest learning curve isn't on how to setup queries or setup visualizations, its always them understanding the underlying data source(s).
If the joins were available, it could enable the front end app a bunc

[2021-10-06 20:08] JoshMentzer commented on #3252
@paveltiunov I'll take a pass at this.. I assume this is going to be a problem in any data source that doesn't support index based group by clause?

[2021-10-07 09:22] xylesoft opened #3517 "Importing from Redshift to cubestore throws error "Internal: panic" & "Unsupported value"."
**Describe the bug**
Importing data from Reshift into the cubestore always throws internal panic and various Unsupported value errors. Does not seem to be limited to a single data type, I've recorded:
- `Unsupported value: Int(1)`
- `Unsupported value: String("no")`
- `Unsupported value: String("<removed>.com")`

in a Slack discussion, @paveltiunov suggested the issue possibly relates to a Redshif

[2021-10-07 10:10] gabri94 opened #3520 "cubejs-elasticsearch-driver not compatible with v7.x"
**Describe the bug**
The backend package works with elasticsearch up to v6.8. With v7.x it causes the following error:

[code]

I've tested this behaviour both with elastic.io and a local vanilla elasticsearch v7.15 image.
On the other hand, the library works correctly with elasticsearch v.6.8.18

**To Reproduce**
Steps to reproduce the behavior:
- Deploy elasticsearch v7.15 using docker.
- Try to

[2021-10-07 21:45] maxacarvalho opened #3525 "I can't connect to MySQL 8 - ER_NOT_SUPPORTED_AUTH_MODE"
I'm trying to load the project locally using the Docker command, when trying to connect to my local MySQL 8 database I get the following error:

[code]

It seems to me that the client used by Cube does not support MySQL 8 authentication method.

<img width="549" alt="CleanShot 2021-10-07 at 22 45 17@2x" src="https://user-images.githubusercontent.com/45166618/136466666-7e121256-f513-4f19-9917-ae55c

[2021-10-08 22:25] rpaik commented on #3105
Splitting refresh worker is mostly not relevant for Cube.js.

[2021-10-08 22:52] rpaik opened #3528 "Epic: Provide connectors for BI tools"
Provide SQL connectors for leading BI tools.

Work items include:

- [x] Start with a connector for Superset
- [x] Prioritize other BI tools based on community feedback

[2021-10-08 23:00] rpaik opened #3529 "Epic: Support real-time pre-aggregations from streams"
Start supporting streaming data sources.

Work items include:

- [ ] First iteration: ksqlDB (Kafka Streams)
- [ ] Real-time databases stream updates directly to Cube Store

[2021-10-08 23:08] rpaik opened #3530 "Epic: Improve rollupJoins in pre-aggregations"
Continue with rollupJoin improvements (e.g. multiple sources).

Work items include:

- [ ] Enable rollupJoins across multiple data sources (e.g. Mongo DB & Snowflake): https://github.com/cube-js/cube.js/issues/3432
- [ ] Make rollupJoins easier to use with better error messages and improving documentation

[2021-10-09 01:54] long1208 commented on #3501
tks ,it work ,

[2021-10-09 04:33] surajlifeean commented on #76
I am facing the same issue? Any resolution?

[2021-10-11 06:52] #3501 closed

[2021-10-12 13:05] antnmxmv opened #3534 "cubejs-schema-compiler BaseQuery.dimensionsJoinCondition not working in Clickhouse"
**Describe the bug**
Clickhouse not supports OR conditions in JOIN ON statements ([link to docs](https://clickhouse.com/docs/en/sql-reference/statements/select/join/#on-section-conditions)). So when [BaseQuery.dimensionsJoinCondition](https://github.com/cube-js/cube.js/blob/269c20bf9749ec95c0a6dfe4c1932c079bfa0ea0/packages/cubejs-schema-compiler/src/adapter/BaseQuery.js#L680) method used clickhous

[2021-10-13 13:38] polyaha opened #3538 "Filter on oracle driver"
**Describe the bug**
when using playground react app, with oracle 18c DB, i got errors on request ' Illegal variable name/number'

**To Reproduce**
install the cubejs playground with oracle DB

**Expected behavior**
return request

**Additional info**
1- when using filter "contains", i've got || ? || unstead of || :"?" ||
2- the alias generated it got used ` caracter that also generated errors
3-

[2021-10-13 15:45] HsienWeiWang opened #3539 "rollup pre-aggregation alias bug"
**Describe the bug**
When using rollup type pre-aggregation, the alias name of the measure is the same before and after aggregation. So, when adding a filter on the measure, BigQuery is not able to distinguish in the "having" clause, causing `Aggregations of aggregations are not allowed` error.

**To Reproduce**
(I am using BigQuery, not sure whether any other DW has the same issue)
1. Define any

[2021-10-13 16:18] JaySunSyn opened #3540 "Make "latest updated" pre-aggregation timestamp available to client"
**Is your feature request related to a problem? Please describe.**
As an app user, I want to be able to see how fresh the data is I'm seeing so that I can make sense of it with a time context.

As a developer, I want an easy way to show a "Latest Updated" timestamp in my dashboard.

**Describe the solution you'd like**
A standard field in the API response that describes the latest pre-aggregation

[2021-10-14 17:16] maxacarvalho commented on #3525
Hi @keydunov, thanks for your reply.

Although the proposed solution should work, it forces the downgrade to a less secure way to handle MySQL authentication, you can read about that following the same link you shared with me and checking out the second most voted answer, there's even a proposed solution for that.

I can downgrade the security on my local and staging environments but that will not

[2021-10-15 22:04] ryanpei opened #3546 "[bug] Oracle driver doesn't work on Docker"
**Describe the bug**
Oracle driver doesn't work on Docker

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Docker instance of Cube to Oracle DB

**Expected behavior**
Oracle DB connection works

**Screenshots**
<img width="902" alt="Screen Shot 2021-10-15 at 3 03 14 PM" src="https://user-images.githubusercontent.com/4312641/137558362-37ee0893-cc7a-483e-9978-1e687f90f5ba.png">

**Versi

[2021-10-18 13:44] john-nexkey opened #3552 "`shouldFetchDryRun` should consider changes made to filters"
**Describe the bug**
When I modify filters using `updateFilters` methods within `QueryBuilder`, a dry run does not occur as expected.  Adding `filters` to the  existing `shouldFetchDryRun` array (['measures', 'dimensions', 'timeDimensions']) fixes the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `updateFilters.add` `QueryBuilder` (`@cubejs-client/react`) to modify filters
2. A

[2021-10-18 20:45] lvauvillier commented on #3433
A first implementation is available (see #3555). All feedbacks are welcomed

[2021-10-20 14:32] zpencerq opened #3561 "[bug] SQL generation issues with rollingWindow and Calculated Measures"
**Describe the bug**
When querying a calculated measure that references a `rollingWindow` measure, the field is completely missing from result data (though it is listed in the query information as a selected measure).
There's some other oddities related to it where the referenced measure is inferred as a shown: false field even when it isn't if the calculated measure is selected alone.

**To Repro

[2021-10-21 06:40] paveltiunov commented on #3372
Hey @artusmok91 ! Are you using `CUBESTORE_REMOTE_DIR` setting?

[2021-10-21 06:58] paveltiunov commented on #3290
@ianschmitz Yep. Correct. I'd suggest continuing the discussion in #2145 then.

[2021-10-21 06:58] #3290 closed

[2021-10-21 07:06] paveltiunov commented on #3294
@CNimmo16 It's a little bit more complicated than that. In fact, allowing two pre-aggregations with different build ranges to be selected at query time based on build range may seem to solve the problem but it introduces consistency issues with a refresh. Also, cases where data range span a border of a build range aren't covered.

We're considering having variable partition granularity for pre-agg

[2021-10-21 07:47] ilya-biryukov commented on #3510
@paveltiunov I agree with the suggestion to use `S3` and avoid the use `REMOTE_DIR` in production.
However, there is a real bug in our code. It can sometimes affect testing instances too, even when running multiple instances on the local filesystem. It's a race condition and it does not happen very often.

[2021-10-21 11:09] PieterVanZyl-Dev commented on #3510
We can reproduce this error on our kuberenetes cluster and we have a similar setup

    Create a massive dataset (to give a time windows where all pre-aggregation are not built yet)  ✔️
    Setup cube with multi-tenancy (not sure if relevant) ❌
    Setup multiple pre-aggregations (to give more of a window as well)  :white_check_mark: ✔️
    Query some measure/dimension that would hit a pre-aggrega

[2021-10-21 14:01] vincent-benbria commented on #3509
Yes, I do realize that there are half-hour timezones and such.

I am asking for the ability to specify which timezones is aggregated PER tenant, so that my Chinese tenant data is not also preaggregated for EST simply because I also have EST tenants.

[2021-10-22 02:53] #3529 closed

[2021-10-23 19:50] sudhirj opened #3575 "IPv6 / Bind Address Configuration Support for Metastore and Workers"
**Is your feature request related to a problem? Please describe.**
We seem to be unable to get the metastore and workers to bind on IPv6 - the `CUBESTORE_WORKER_PORT` and `CUBESTORE_META_PORT` configuration both assume IPv4.

https://github.com/cube-js/cube.js/blob/b7128d43d2aaffdd7273555779176b3efe4e2aa6/rust/cubestore/src/config/mod.rs#L567
https://github.com/cube-js/cube.js/blob/b7128d43d2aaffd

[2021-10-25 05:39] zda opened #3577 "Update docs to say single-element boolean arrays are allowed as query filters"
**Is your feature request related to a problem? Please describe.**
The docs say boolean filters should have at least two children, but this is an awkward requirement, and not currently true in the backend implementation.

**Describe the solution you'd like**
Endorsing the point of view that boolean filters should be able to take less than two children, and updating the docs to reflect this.

**Des

[2021-10-26 08:31] System-Glitch opened #3583 "Bigquery EXTERNAL_QUERY filters"
**Problem**

First of all, thank you for making Cube.js, it is a powerful and useful tool!

We are using Google BigQuery, PostgreSQL on Google Cloud SQL and Cube.js. We have a pre-aggregated BigQuery table that Cube will query on. This table is however missing some information that we are getting from a PostgreSQL table using a [federated query](https://cloud.google.com/bigquery/docs/cloud-sql-fed

[2021-10-26 14:33] #3575 closed, assigned to nobody

[2021-10-26 15:56] bgiles28 opened #3585 "When using a custom SQL refreshKey with an updateWindow, schema fails to compile"
**Describe the Problem**
We have a custom SQL refreshKey ( SELECT DATEDIFF(SECOND, '19700101', sysutcdatetime()) / (60*60*24) ) and when I try to add an updateWindow, I get the following compile errors which aren't very clear:

Error: Compile errors:
Main cube: (preAggregations.monthlyAggregation.refreshKey.updateWindow = ) is not allowed
    at ErrorReporter.throwIfAny (/home/bgiles/main.cubejs/n

[2021-10-26 17:42] bgiles28 opened #3586 "Rollup Designer & Documentation Don't Match CubeValidator updateWindow Options"
**Describe the bug**
When I use the Rollup Designer or look at the documentation, it seems to indicate that we can use "month", "quarter", or "year" as an updateWindow time interval, however I get a compile error when I try to run this:

Error: Compile errors:
Main cube: (preAggregations.monthlyAggregation.refreshKey.updateWindow = 1 quarter) does not match regexp: /^(\d+) (second|minute|hour|day|

[2021-10-27 02:28] thiennhan2310 opened #3588 "Support filter array of value in cube playground"
Look like cube playground can not demonstrate filter by array of value yet.
For ex:  `id equals 1,2,3`
Do we have plan to support it soon?

[2021-10-27 22:06] pranav-loops opened #3595 "Multi tenancy best practices"
Here are the following 2 approaches for multi tenancy I have in mind.

**Approach 1: Multi tenancy via the Cube SQL**
[code]
**Approach 2: Multi tenancy via the Cube config**

[code]

**Questions**

1. Which are the pros/cons of defining the config + schema in the above approaches. Is one approach always better than the other?
2. How does the environment variable CUBEJS_DB_MAX_POOL behave in each

[2021-10-29 10:15] a2x opened #3602 "Broken Web Analytics Demo"
Your demo https://web-analytics-demo.cube.dev/
is broken. UI disappears after initial loading.
Console shows TypeError: undefined is not an object (evaluating 't.seriesNames()[0].key')

[2021-10-29 18:07] kmclaugh commented on #1927
Just wanted to second this. True pagination is not possible without this. The documentation's [example](https://cube.dev/docs/recipes/pagination) only works if the dimension variable (Order Number) is unique to each order. If you add a different dimension, like Order City, then the `count` measure will be wrong.

For instance, suppose you have a schema like this:

[code]

And a query like this:

[

[2021-11-01 06:26] Vladislav-Lukyanuk commented on #342
Hey there! Can it be implemented by cube.js it self, as a temporary solution?
If just taking a postgres driver source code as a basis.
It seems to be work as follow:
1. We can to not create a pool inside a constructor, instead create a async function to get a pool from available hosts.
2. When a function called next time and a host is alive just return a cached pool.

[2021-11-01 10:44] igorlukanin commented on #3595
I think your config would work for MySQL. Thanks for your note about pre-aggregations. I hope your database will be able to handle all connections. I guess the default value is ~100 for MySQL.

(Closing this issue now, but feel free to follow up if you have any questions.)

[2021-11-01 10:44] #3595 closed

[2021-11-01 13:58] klose4711 commented on #251
Is it possible to override the hard limit of 50.000?

[2021-11-02 01:11] ethanve opened #3611 "DBT as the source of truth for cube definitions"
Note: dbt hasn't fully fleshed out this feature, so the outcome is unclear and this issue to track.

**Is your feature request related to a problem? Please describe.**
My organization heavily uses dbt to transform our raw data coming from third-party sources. Now that dbt has added metric definitions to their roadmap (https://github.com/dbt-labs/dbt-core/issues/4071) it would be ideal to have dbt

[2021-11-02 04:36] paveltiunov commented on #3583
Hey @System-Glitch ! You can pass a function to `FILTER_PARAMS`. Please see https://cube.dev/docs/schema/reference/cube#filter-params.

[2021-11-02 06:55] ifokeev commented on #3611
useful feature

[2021-11-02 08:38] System-Glitch commented on #3583
Hello @paveltiunov and thank you for your response. I tried with a function as well but it doesn't work neither unfortunately. The function receives "$0$" as a value (not the actual value) and by digging in Cube's code I found out that it is still converted to "?" afterwards. There is no way I can get the real filter value from the function, as far as I know.

[2021-11-02 10:09] lvauvillier commented on #3433
New spec is available in PR #3555.
I close this issue

[2021-11-02 10:09] #3433 closed

[2021-11-03 03:53] paveltiunov commented on #3611
@ethanve Hey Ethan! Thanks for kicking off this discussion! From design spec, it seems dimensions will be defined per metric. At that point, we'd need some sort of projection to cubes. How do you envision this conversion? Create cube per metric or merge all metrics with all dimensions to a single cube for the same model?

[2021-11-03 04:00] paveltiunov commented on #3583
@System-Glitch I guess you can't but you can `CONCAT` filter place holder on a BigQuery side with other parts of your query string in order to get a final one.

[2021-11-03 04:05] paveltiunov commented on #3585
Hey @bgiles28 ! Yep. Currently you can't use `updateWindow` and `sql` in `refreshKey` together but if you redefine `sql` you have power of `FILTER_PARAMS` to achieve the same result as `updateWindow` does.

[2021-11-03 06:06] rksh1997 opened #3618 "v0.28.42 release is incomplete"
**Describe the bug**

Regarding this release https://github.com/cube-js/cube.js/releases/tag/v0.28.42
It's incomplete. The reason is https://github.com/cube-js/cubejs-playground-templates were not rebuilt for `cubejs-playground` package.
the `public` folder of `cubejs-playground`  package is 2 months old.
the scripts inside `charts-gen`  folder in `cubejs-playground` package must be ran to update

[2021-11-03 06:08] rksh1997 commented on #3618
Hey, @vasilev-alex
I was told by Igor to assign you for this, but I don't have permission to do so.

Could you please handle it ?

[2021-11-03 06:47] vasilev-alex commented on #3618
@rksh1997 good catch! we'll fix that

[2021-11-03 09:01] System-Glitch commented on #3583
Bigquery needs that value to be a string literal or a query parameter. I cannot use `CONCAT` on bigquery's side. My only option is to include the real filter value during SQL generation.

[code]

It looks like there is no solution to this problem yet, so I will leave this issue open for now.

[2021-11-03 18:15] bgiles28 commented on #3585
Got it, thanks for clarifying!

[2021-11-03 18:15] #3585 closed

[2021-11-04 18:11] vasilev-alex commented on #3618
@rksh1997 I rebuilt it, will be available in the next release

[2021-11-04 21:04] bgiles28 opened #3629 "Default Refresh Key SQL Seems to Generate Incorrectly for MSSQL"
**Describe the bug**
When I don't specify a sql parameter in my preaggregation refreshKey, the the default refresh key that seems to be generated is invalid for MSSQL.

**To Reproduce**
Steps to reproduce the behavior:
1. In the .env file, specify CUBEJS_DB_TYPE=mssql
2. Setup a preaggregation with the following configuration:
myAggregation: {
      refreshKey: {
        every: `1 minute`,

[2021-11-05 13:06] kirill-morozov-bidstack opened #3632 "Filters with multiple values miss pre-aggregation matching"
**Describe the bug**
I have just a regular pre-aggregation, and when I set more than 1 value in filter it fails to match it, falling over to BigQuery query

**To Reproduce**
Steps to reproduce the behavior:
1. Create pre-aggregation with measure and dimension
2. Go to playground
3. Select measure and select dimension from pre-aggregation as a filter with setting any value (but just one)
3a. Click

[2021-11-05 14:12] webfrank opened #3633 "Postgres Driver SET TIMEZONE"
**Describe the bug**
I'm using CrateDB with Postgres wire protocol. I've found the current implementation of `prepareConnection` inside PostgresDriver uses this line:
`await conn.query(`SET TIME ZONE '${this.config.storeTimezone || 'UTC'}'`);`
which for sure works for Postgres but not with compatible ones which needs this one:
`await conn.query(`SET TIMEZONE = '${this.config.storeTimezone || 'UTC'

[2021-11-05 23:27] rpaik commented on #3632
@ovr @paveltiunov can you take a look 👆?

[2021-11-07 09:40] vincentwinkel opened #3637 "Playground: Cannot read property 'dataSource' of undefined"
**Describe the bug**
[code]

After investigation, I see the playground sends the request `http://localhost:4000/playground/db-schema` without any payload. If I change in the source:
[code]
by
[code]
Then it works. But I guess it's not a correct fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/#/schema
2. See error on the sidebar

**Expected behavior**
The sche

[2021-11-08 01:10] paveltiunov commented on #3637
Hey @vincentwinkel ! Could you please share how do you launch your cube.js server? Is it docker or npx?

[2021-11-08 06:56] webfrank commented on #3633
Hi, I will try to create the new driver for CrateDB, I got another issue inside BaseDriver which tries to create a new schema but on CrateDB this is not necessary so it should be override inside the driver.

[2021-11-08 08:28] vincentwinkel commented on #3637
Sorry, here is my init:
[code]
No docker for now, just as an Express middleware.

[2021-11-08 11:49] abhischekt commented on #3528
We'd love to see support for a Tableau connector

[2021-11-08 13:19] ovr commented on #3633
Hello @webfrank ,

Looks like it's better to do a new driver, and there is a good example:

https://github.com/cube-js/cube.js/tree/master/packages/cubejs-redshift-driver

Redshift driver is based on top of PostgreSQL driver. You should use the same approach for the CrateDB driver, and in this case, you will be able to override `prepareConnection`.

https://github.com/cube-js/cube.js/blob/v0.28.53

[2021-11-09 14:11] rongfengliang commented on #3633
@webfrank i had write one cratedb driver you can try it
 https://github.com/rongfengliang/cubejs-cratedb-driver

[2021-11-09 14:39] loremaps commented on #3048
In case someone lands here, this can be solved by using the `CUBESTORE_DATA_DIR` environmental variable. e.g.

[code]
Thanks again for the support 😄

[2021-11-09 14:39] #3048 closed

[2021-11-10 05:38] paveltiunov commented on #3632
@kirill-morozov-bidstack Hey Kirill! This is expected behavior however I believe it isn't described in docs yet. The problem here is `totalUniqueUsers` is most probably a non-additive measure and you can apply two filter values only if you have selected this dimension as part of the query. Otherwise, there's just no way to derive the result you want to get because the sum of two distinct counts is

[2021-11-10 08:51] kirill-morozov-bidstack commented on #3632
@paveltiunov Hey Pavel! Oh, I see, okay, it does make sense, thanks!

[2021-11-10 08:51] #3632 closed

[2021-11-10 13:20] AntonioEduardo1998 opened #3645 "How can I use Databricks with Cube.js?"
**Problem**
I've already noticed that the Databricks `Simba` driver is compatible even though it wasn't shown in the Cube.js interface, but I can't find a way to use it. I'm trying with Cube.js CLI with `npx cubejs-cli create project name databricks-jdbc` and the installation goes fine but after running npm run dev It asks me for a `.env `parameter called `CUBEJS_DB_DATABRICKS_URL`, so I pass my d

[2021-11-11 11:34] #3577 closed

[2021-11-11 11:34] hassankhan commented on #3577
Thanks for reporting this, @zda! 💯

[2021-11-12 07:12] sourav-jha opened #3653 "continueWaitTimeout flag not working"
We have updated the values of "continueWaitTimeout" option to 120,  still we are getting following error after 5 sec.
`{"error":"Continue wait","stage":{"stage":"Executing query","timeElapsed":5002}}`

Steps to reproduce the behavior:
1. Update the "continueWaitTimeout" config options of queryCacheOptions to 120.
2. execute the cubejs query.
**Expected behavior**
The expected behavior was this wil

[2021-11-12 23:48] paveltiunov commented on #3653
Hey @sourav-jha ! There's also global `continueWaitTimeout` in orchestratorOptions. You can define it like
[code]
It seems to be missing in the doc @hassankhan.

[2021-11-12 23:52] paveltiunov commented on #3510
@PieterVanZyl-Dev Do you have S3 or GCS set up?

[2021-11-13 09:33] PieterVanZyl-Dev commented on #3510
We were using remote dir

This is no longer reproducible after we reduced the size of our database from 4 million records to less than half a million.

This also resolves #3448

Our client doesn't have S3 nor GCP in their kubernetes cluster, so we need remote dir to work.

I suspect this and #3448 is directly related to database/table size

[2021-11-13 19:16] PieterVanZyl-Dev commented on #3448
This has gone away after reducing the size of our table, and it was only happening on Windows

[2021-11-14 00:43] benjamine commented on #3528
Google DataStudio?

[2021-11-14 19:34] jaharnum opened #3660 "cubejs-client: Following the cube.dev guide and connecting to own data source causes type errors on TimeDimensions"
**Describe the bug**
I followed [this guide](https://cube.dev/blog/cubejs-open-source-dashboard-framework-ultimate-guide/) and was able to successfully stand up the dashboard from the example. However, when I changed to connect to my own local API at 127.0.0.1:4000 and replaced query values with successful ones from the playground, this error was thrown on the front end:

[code]
I am running cube.

[2021-11-14 20:11] jaharnum commented on #3660
Closing because I figured out what I did wrong - tl;dr: I didn't update the URL correctly in my react app's .env file.

Sorry for the inconvenience, but hopefully if anyone else searches this they can figure it out here as well :)

I went to the 'code' tab in the playground for my Rows.count query and found `const cubejsApi` - when I looked at the values, I realized I had put the wrong URL in my r

[2021-11-14 20:11] #3660 closed

[2021-11-14 21:45] lvauvillier opened #3661 "Cubestore issue with Decimal Types"
**Describe the bug**
Cubestore  Job `PartitionCompaction` fails when Decimal Types are used:

[code]
[code]
**Version:**
issue appears on v0.28.53 and v0.28.56

**Additional context**
I has no issue in v0.28.40, but i can't roll back :(
This commit may be the origin of the issue : https://github.com/cube-js/cube.js/commit/a5f4111418181362e73b60a49f8039764f97c552

**Other remarks**
The whole cluste

[2021-11-15 06:52] sourav-jha commented on #3653
thanks @paveltiunov

[2021-11-15 06:52] #3653 closed

[2021-11-15 23:34] paveltiunov commented on #3611
@ethanve We're starting to work on it. To follow up on the previous question I guess we're going to merge all metrics within a model by default and then optionally provide metric cubes.

[2021-11-16 10:24] terrierscript opened #3668 "How can I set maximumBytesBilled on BigQuery?"
**Problem**

I want set maximumBytesBilled when query call.
https://cloud.google.com/bigquery/docs/best-practices-costs#api_1

Can I set maximumBytesBilled option on cubejs-bigquery-driver?
I can't found how to set query job options.

**Related Cube.js schema**

**Related Cube.js generated SQL**

[2021-11-16 14:01] #3661 closed

[2021-11-16 18:02] ethanve commented on #3611
@paveltiunov the above API looks really clean! I'm not an expert in dbt to know exactly how to make this mapping but the above design looks strong. The one thing that I'm unsure about is the ability to define metrics per model. It seems that dbt doesn't support this yet for metrics but it is an open question in their docs:

https://next.docs.getdbt.com/docs/building-a-dbt-project/metrics

[2021-11-16 18:13] deekshith-elear opened #3671 "Unable to unsubscribe a query from realtime data fetch"
Hi,
I was using cubejs to get the realtime data of a measure using example provided in https://cube.dev/docs/real-time-data-fetch#vanilla-java-script I'm getting continuous updates for the query. How can I stop the updates?

[2021-11-16 19:25] #3534 closed

[2021-11-16 19:45] lvauvillier opened #3672 "Cubestore: Router memory leak"
**Describe the bug**
See issue #3661 for context. After deploying the fix I still have a memory leak in the router.
(docker image version `build-1553` => commit  https://github.com/cube-js/cube.js/commit/d8dcbfd20946a927982e51919ede014c1ffab994)

<img width="840" alt="Capture d’écran 2021-11-16 à 20 31 55" src="https://user-images.githubusercontent.com/134909/142054145-7f3ac280-e82d-48fc-800d-54

[2021-11-17 00:42] air-rick commented on #3611
@ethanve It looks like one of the fields required by dbt to create a metric is the model "that powers this metric". I know the metrics are experimental in dbt at this point, but it looks like they are requiring a metric to point to a particular model.

I'm guessing the configuration inheritance you mentioned is more about metrics inheriting how they should be persisted in the data warehouse, shoul

[2021-11-17 07:55] StinsonZhao opened #3676 "wrong query result"
**Describe the bug**
Use cube.js to query `count`, the result returned by query is wrong. Then I copy the SQL (from the playground or the log) and exec it. The result SQL returned is correct.

Result from SQL（It‘s Right）：
![image](https://user-images.githubusercontent.com/6703905/142158262-f897c8c9-42db-4691-887f-7eb6ff36a0fe.png)

Result from query (Wrong)：
![image](https://user-images.githubuser

[2021-11-17 11:36] rongfengliang opened #3678 "No matching version found for @cubejs-backend/cloud@^0.28.55."
**Describe the bug**

run with `npx cubejs-cli create hello-world -d mysql`
then

[code]

**Version:**
[e.g. 0.28.57]

[2021-11-17 12:35] ThomasKientz opened #3680 "[Feature Request] Eslint rules to assist writing schemas"
Some assistance would be great when writing schemas. Since schemas are js files, eslint and/or typescript would help avoid typos and inform about mandatory keys.

[2021-11-17 14:26] System-Glitch opened #3682 "Typescript TCubeMember missing meta"
**Is your feature request related to a problem? Please describe.**
The type `TCubeMember` is missing a field for the meta:
[code]

**Describe the solution you'd like**
Add `meta: any` to this type.

[code]

[2021-11-17 15:07] Pavel-Deryagin opened #3690 "What is the best approach for handling two (or more) dimension cubes and two (or more) separate fact cubes for the reporting?"
**Problem**

Hi! In terms of cube joins what would be the best approach for handling two dimension cubes and two separate fact cubes  ?
For example we have:
- cube named Campaigns that has information on all of the campaigns. this cube is a dimension cube, because it has mostly descriptive fields.
- cube named Games that has information on all of the games. this cube is a dimension cube, because i

[2021-11-17 16:04] wenerme opened #3692 "How to join same table twice ?"
**Problem**

Want to join same table twice, but the key must be the cube name

**Related Cube.js schema**
[code]

New to cubejs, don't know if there is a way to handle join same table twice.

[2021-11-17 16:57] lvauvillier opened #3693 "Cubestore: Issue with alias and IN operator in where clause"
**Describe the bug**
with the latest version of cubestore I get panic errors for a specific preaggregation:

[code]

It works If I remove the following where clause:
[code]

I get more info with a minimal query:

[code]

I can see @ilya-biryukov made a recent change for the IN operator (https://github.com/cube-js/cube.js/commit/e0d50d33bb797b97203d5f2b01b5cc42974a4aae). It may be related

[2021-11-17 21:43] sonizef opened #3694 "Cubejs query builder playground props onVizStateChanged (and other props) not working"
Hi 👋

I'm trying to integrate the Query Builder from your playground package on my React app, but some props doesn't seem to work.

[code]

When I changed a tab it's work, but if I change my viz nothing happened.
Also, some props like **defaultQuery** or **initialVizState** doesn't seem to work too.

Somebody can help me ? :)
Or a full query builder already exist for React ?

My goal is to save th

[2021-11-18 03:45] rongfengliang commented on #3678
close it.   it caused by npm cache

[2021-11-18 03:45] #3678 closed

[2021-11-18 05:11] #3693 closed

[2021-11-18 05:13] paveltiunov commented on #3676
Hey @StinsonZhao ! Could you please share your cube.js schema?

[2021-11-18 06:46] paveltiunov commented on #3611
@ethanve @air-rick Would love to hear if you're leaning towards using metric cubes or merged cubes per model?

[2021-11-18 13:39] igorlukanin commented on #3672
@lvauvillier Do you still observe this behavior?

[2021-11-18 14:09] lvauvillier commented on #3672
@igorlukanin no, after a fresh install and rebuilding all preaggregations from scratch it is now working, but even if the data were corrupted (by #3661 issue), the rust program should not leak... Thanks again for the quick fix, I let you decide if this issue should be closed.

BTW, a dump / restore tooling for cubestore can be valuable, especially if the source database is huge and has a cost to q

[2021-11-18 18:55] BenjaminWFox commented on #422
For anyone else encountering the same issue relating to Windows Authentication trying to connect to an Azure SQL you can also add the config from @kbraiden directly into `cube.js` like:

[code]

[2021-11-19 07:00] StinsonZhao commented on #3676
Schema is very easy.

I have found inconsistent data items. It seems that the timezone caused the problem. My table in this case is a view. It will select and convert `DateTime` into `Int`, and `cubejs` will not exec it with timezone info. But my MySQL client will exec it with the correct timezone.

So, some data items in the inconsistent time zone will cause the problem.

[code]

And I set the co

[2021-11-19 07:59] StinsonZhao commented on #3676
Finally, I got it from the code: https://github.com/cube-js/cube.js/blob/135bc3feeb3db8dc0547954a50d1c3ec27195d40/packages/cubejs-mysql-driver/src/MySqlDriver.ts?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L186

The database driver has a config item called `storeTimezone`, and before executing any

[2021-11-19 11:06] dimitriirybakovparsable opened #3707 "Passing full response to error"
**Is your feature request related to a problem? Please describe.**
Is it possible to pass full response (or maybe just more info) [here](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-client-core/src/index.js#L149)? In my case I need it for handling 401 error and refreshing token.

**Describe the solution you'd like**
Passing down whole response would be great

[2021-11-20 22:12] paveltiunov commented on #3676
@StinsonZhao Do you store timestamps in the local timezone in your database?

[2021-11-21 14:44] StinsonZhao commented on #3676
In this case, the type of the time-col is `DATETIME`. And I can't control whether the time type is `TIMESTAMP` or `DATETIME`. I'm just a consumer of an existing database.

What I want to talk about is for every query, cubejs will set time_zone into `+00:00` as session time_zone (if `storeTimezone` is not specified), but we probably do not realize this point. Because we can not find the documentati

[2021-11-21 16:12] niramsellem commented on #177
This issue is a major problem for our project, since the week start for our customers is Sunday, it affects both the query (which as written here before can be manipulated from the frontend),but also the granularity - for example, range of month with granularity of weeks - the resulted weeks are calculated Monday to Sunday, which also causes problems with the data analysis and cannot be manipulate

[2021-11-21 18:09] enzo-pellegrini opened #3713 "Unable to load @cubejs-backend/native, probably your system (x64-darwin) is not supported. when trying to use the sql api."
**Describe the bug**
I have a working cubejs project, with some schemas, in dev mode, installed with npx without a docker.
I'm using mac os monterey, but I tried the same thing on an ubuntu machine (64 bit) and I got the same error, with a different architecture in the error message: `Error: Unable to load @cubejs-backend/native, probably your system (x64-darwin) is not supported.` I also tried in

[2021-11-22 01:36] #3618 closed

[2021-11-22 08:12] wenerme opened #3715 "docker build remove yarn cache"
**Describe the bug**

yarn cache waste 300MB

**To Reproduce**

https://diving.npmtrend.com/?image=cubejs%2Fcube%3Av0.28.59-alpine

![image](https://user-images.githubusercontent.com/1777211/142825735-36ee9a23-5003-4cf6-bcdc-0a436cadf8b1.png)

**Expected behavior**

**Screenshots**

**Version:**

v0.28.59-alpine

**Additional context**

[2021-11-22 09:35] sourav-jha opened #3716 "How to write custom sql in filter"
**Problem**

We want to write a custom SQL filter with 2 columns(lat ,long).

**Related Cube.js generated SQL**

[code]

[2021-11-22 13:12] ovr commented on #3713
Hello @enzo-pellegrini ,

What version of Node.js do you use?

Thanks

[2021-11-22 13:15] ovr commented on #3715
Hello @wenerme ,

Good catch 👍

I've created a PR with a fix for that!

Thanks

[2021-11-22 13:41] enzo-pellegrini commented on #3713
version 17.0.1 on Mac
v. 12.22.5 on Linux

[2021-11-22 14:35] #3715 closed

[2021-11-22 19:54] topched commented on #1927
Anyone have a solution to this? We are running into this exact same problem. We are using multiple different cubes to aggregate and group the data so there is not one cube where we can add a measure to get the count properly

[2021-11-23 10:14] ninode97 opened #3723 "Is there a way to connect Cube.js with MongoDB Community Edition?"
**Problem**

In order to use MongoDB with Cube.js there is a need to have BI connector.

Currently MongoDB BI connector is available for Atlas or Enterprise edition.

The question would be if there is a way to use Cube.js with MongoDB Community Edition?

[2021-11-23 12:32] #3713 closed

[2021-11-23 12:51] enzo-pellegrini commented on #3713
Can I ask what version of node I should use to try this feature? Node 16?
Also can this info be added in the docs? I found no mention of this

[2021-11-23 13:08] enzo-pellegrini commented on #3713
I am probably doing something wrong, but I used nvm to change node version, opening node shell shows version 16.13.0, I deleted the node_modules directory, installed @cubejs/native when asked, but it still crashes with the same system not supported error

[2021-11-24 11:48] sourav-jha commented on #3716
@paveltiunov kindly reply

[2021-11-24 16:35] igorlukanin commented on #3723
Hi @ninode97 👋

Indeed, BI Connector is mandatory for connecting to MongoDB because Cube uses SQL to query databases. SQL support for MongoDB is provided via its BI Connector.

As a workaround, you might want to replicate data from MongoDB to another database using a ETL tool, e.g., something like [Airbyte](http://airbyte.io). However, IDK how practical that is for your use case.

[2021-11-24 16:35] #3723 closed

[2021-11-24 16:43] igorlukanin opened #3727 "Dashboard app generation is broken"
**Describe the bug**
The dashboard app fails when navigating to the "Build" tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Cube app
2. Create a new dashboard app by selecting "Dynamic Dashboard with React, AntD, and Recharts"
3. Run it and navigate to the "Build" tab
4. See the error in the browser and in the console

**Expected behavior**
The "Build" tab works.

**Screens

[2021-11-25 09:30] ovr commented on #3715
https://diving.npmtrend.com/?image=cubejs%2Fcube%3Av0.28.60-alpine

Fixed in `v0.28.60`

876.83MB -> 509.62MB

🚀

[2021-11-25 13:56] wenerme opened #3731 "export QueryType and ResultSet.queryType"
**Is your feature request related to a problem? Please describe.**

https://github.com/cube-js/cube.js/blob/master/packages/cubejs-client-core/index.d.ts#L131

need a way to check ResultSet content type, non regular result set have to decompose first, use different chart

[2021-11-25 19:39] ovr commented on #3713
Support for Node.js 17 was released in `v0.28.60`,

@enzo-pellegrini can you try with the latest version?

Thanks

[2021-11-25 20:03] enzo-pellegrini commented on #3713
I tried with the latest version but I got the same results,
[code]

[2021-11-25 22:23] paveltiunov commented on #3716
Hey @sourav-jha ! It can be achieved by introducing dimension as following:
[code]

[2021-11-25 22:29] paveltiunov commented on #3707
Hey @dimitriirybakovparsable ! I guess we're open to providing a full response as part of the error instance however it isn't the right place to do it. If your token has an expiration set you probably want to do it in `apiToken` hook: https://cube.dev/docs/@cubejs-client-core#cubejs.

[2021-11-25 22:42] paveltiunov commented on #3694
Hey @sonizef ! I guess this is something that isn't supported at this point but we'd be happy if someone contributes it!

[2021-11-25 22:50] paveltiunov commented on #3676
@StinsonZhao Cube always expects the time dimension to be a timestamp. Please see https://cube.dev/docs/schema/reference/types-and-formats#time and https://cube.dev/docs/schema/fundamentals/additional-concepts#string-time-dimensions. You just need to convert DATETIME to TIMESTAMP before passing it to Cube.

[2021-11-25 23:01] paveltiunov commented on #3645
Hey @AntonioEduardo1998 ! Databricks driver is a work in progress. We're looking for contributors who'll be to finish it.

[2021-11-25 23:04] paveltiunov commented on #3588
@thiennhan2310 It's indeed only working for strings as of now. Looking forward for contributions here!

[2021-11-25 23:12] paveltiunov commented on #3509
@vincent-benbria I see what you're saying. Yeah. It makes sense to have an option to control it on a per-tenant level. I guess it should be done here:
https://github.com/cube-js/cube.js/blob/d143d4dda87a9fac4139fdf47f70b3cdc0b0009b/packages/cubejs-server-core/src/core/server.ts#L783

Looking forward for contributions here!

[2021-11-25 23:14] paveltiunov commented on #3372
@artusmok91 You might want to upgrade to the latest version and see if problem still persists.

[2021-11-25 23:54] paveltiunov commented on #3517
Fixed in the latest version

[2021-11-25 23:54] #3517 closed

[2021-11-25 23:58] paveltiunov commented on #3496
@sys-auditing `sys` schema is indeed hidden during schema loading as its system. Could you please elaborate on your use case using it?

[2021-11-26 00:06] #3469 closed

[2021-11-26 00:22] paveltiunov commented on #3393
@cassie-ying It seems your Cube Store cluster isn't updated. We have a test for `UNIX_TIMESTAMP()` and it seems to be passing. Could you please double-check?

[2021-11-26 00:26] paveltiunov commented on #3731
@wenerme Could you please elaborate on your use case a little bit? Do you want to have some type of generic result set handler in place?

[2021-11-26 04:38] sourav-jha commented on #3716
@paveltiunov these values are (-122.4194, 37.7749) dynamic, it will change per query.

[2021-11-26 07:15] wenerme commented on #3731
Tring to build a dashboard based on json, choose the panel based on resultset type

[code]

[2021-11-26 07:34] dimitriirybakovparsable commented on #3707
Hey @paveltiunov. Our auth is not really connected to cubejs token, so that's why we can't use apiToken hook. We use http only cookie for that. So I need to handle error in each request (or if cubejs had some one place for error handling - that would be great!)

[2021-11-26 14:31] vasilev-alex commented on #3727
Should be fixed now

[2021-11-26 14:31] #3727 closed

[2021-11-27 19:05] #3510 closed

[2021-11-27 19:07] paveltiunov commented on #3510
Minio support was contributed by @PieterVanZyl-Dev and should be used instead of `CUBESTORE_REMOTE_DIR` for production purposes when S3 and GCS are not an option.

[2021-11-27 19:13] paveltiunov commented on #3731
@wenerme I see. Yeah. Makes sense to add that. Looking forward for contributions here!

[2021-11-27 19:31] paveltiunov commented on #3672
It seems the problem occurs when there's mass panic in place. I'll close this issue for now as it isn't a valid mode of operation but we'll try to make it more fault-tolerant during panics.

[2021-11-27 19:31] #3672 closed

[2021-11-28 12:21] vk99 opened #3741 "Different SQL Clients not working"
When connecting with Excel and KNIME with MySQL driver to Cube.js SQL API not able to get the data with various errors. Successfully connected with Dbeaver.

Excel error:
Details: "MySQL: Internal("Initial planning error: Error during planning: Invalid function 'timediff'")
disabled backtrace"

KNIME error:
Unsupported("table factor: Derived { lateral: false, subquery: Query { with: None, body: Se

[2021-11-28 21:14] JaySunSyn opened #3742 "Support underscore escaping in cube store"
**Describe the bug**
Filtering a value that contains an underscore gives unexpected results.

Cube Store doesn't support underscore escaping yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the playground
2 A. Filter by "contains" "abc_11" => no results
2 B. Filter by "equals" "abc_11" => results

**Expected behavior**
Underscore values should be supported.

**Screenshots**
If appl

[2021-11-29 01:23] #3742 closed

[2021-11-29 16:36] HardRock4Life opened #3746 "PostGIS/Clickhouse geofunctions support?"
Hello everyone!

Is it possible to build a dashboard based on geospatial functions, e.g. to count the amount of points inside of each polygon?

Thank you!

[2021-11-29 19:42] ovr commented on #3741
Hello @vk99 ,

Right now, We don't support it. There is an issue/epic https://github.com/cube-js/cube.js/issues/3528 where you can write down a comment which will be helpful for us to make the decision to support/prioritize it.

Thanks

[2021-11-29 19:42] #3741 closed

[2021-11-29 22:57] kmgreen2 opened #3747 "Update Docker Image to Use Newer Node Image"
**Is your feature request related to a problem? Please describe.**
We currently deploy CubeJS in our own infrastructure and have been alerted to a set of CVEs specific to the cubejs Docker image.  It looks like the root cause is due to the Node 12 base image, which relies on a pretty old version of Debian (stretch).

**Describe the solution you'd like**
Update the CubeJS Docker image to use a newe

[2021-11-30 07:44] ovr commented on #3747
Hello @kmgreen2,

I've upgraded the base image to `node:12.22.7` in https://github.com/cube-js/cube.js/commit/b9e57d8ad60581f808c750fa89817ebdea588cb8

We are going to upgrade Node.js to 14 (at least) and Debian from stretch to buster, but there is no ETA.

Thanks

[2021-11-30 15:33] kmgreen2 commented on #3747
@ovr Thank you for the prompt response!  I create a ticket on our end to upgrade Cubejs when you guys cut another release.

[2021-11-30 15:33] #3747 closed

[2021-11-30 18:07] vincent-benbria commented on #3510
This PR should close https://github.com/cube-js/cube.js/issues/2642 and not this one.

[2021-11-30 21:14] carla-fera opened #3752 "SQL API connection to Excel"
Our team is trying to connect Cube.js to Excel, given a project that’s going on currently in our company. I know that the SQL API does not have the ability as of now, of connecting to Excel. But, by any chance, is anyone developing a solution for that or has encountered the same use case and was able to solve it? Additionally, I am including a link to a video from a platform called “AtScale” which

[2021-12-01 05:26] paveltiunov commented on #3260
Fixed in latest version.

[2021-12-01 05:26] #3260 closed

[2021-12-01 09:13] sourav-jha commented on #3716
@paveltiunov is this possible?

[2021-12-01 09:42] velimato opened #3754 "npm audit fix breaks cubejs-server"
Doing npm audit fix breaks cubejs-server. I have tried this on cubejs-server versions 0.28.58 and 0.28.61. Error message when starting cubejs-server

/Users/<name>/Documents/<project-name>/cubejs/node_modules/cli-ux/lib/styled/table.js:314
})(table = exports.table || (exports.table = {}));
 ^
TypeError: Cannot read properties of undefined (reading 'string')
  at /Users/<name>/Documents/<project-na

[2021-12-01 09:49] igorlukanin commented on #3754
@velimato Thanks for filing this!

[2021-12-01 14:49] olejeglejeg opened #3756 "ClickHouse pre-aggregations index construction sql issue"
**Describe the bug**
We are facing a strange issue with Clickhouse cube and their pre-aggregations. Currently, we are working on adding Clickhouse as a second data source to our cube-js self-deployed setup. We already configured ClickhouseDriver and test it with cube which presents at the bottom, and all was fine. But when we started to add pre-aggregations to this cube, we found an issue with ind

[2021-12-01 15:06] ThomasKientz opened #3757 "How to add a run button similar to the playground with Vue ?"
Hi !

I am building a query builder (with Vue) and I am trying to add a "run query" button similar to the one on the playground. What's the trick to update measures, dimensions without actually running the query ? I have used https://github.com/cube-js/cube.js/tree/master/examples/vue-query-builder as a starting point. I have taken a look at [the actual source code of the playground](https://githu

[2021-12-01 15:20] olejeglejeg opened #3758 "Add additional filters to measures which will be passed in where clause in generated SQL"
**Is your feature request related to a problem? Please describe.**
For some databases the approach to pass measure.filters inside aggregation function, like `count(CASE ... WHEN ... END)`, might be inefficient, the example of such database is ClickHouse. In ClickHouse case the database scheduler can't optimize such query format and just goes across all table rows that leading to query performance

[2021-12-01 20:40] paveltiunov commented on #3758
@olejeglejeg Hey Oleg! Thanks for posting this! Could you please elaborate on how do you expect Cube to behave if two measures are selected one of which is filtered and one of which isn't?

[2021-12-01 22:26] paveltiunov commented on #3754
I guess it'd require an update of `@oclif/dev-cli`.

[2021-12-02 00:09] paveltiunov commented on #3756
@olejeglejeg Hey Oleg! Thanks for posting this one! Generally speaking, this use case is no longer supported. You should use Cube Store instead. However, we're open to community contributions here!

[2021-12-02 02:09] paveltiunov commented on #3752
Hey @carla-fera ! Excel is in our BI support pipeline. Please stay tuned.

[2021-12-02 06:41] olejeglejeg commented on #3756
@paveltiunov Hmmm, it's strange, since we already have cube platform setup with Cube Store. Should we add some additional configuration to enable Cube Store for ClickHouse?
At the moment we added Clickhouse to dbType and driverFactory inside cube.js file.

[2021-12-02 06:57] olejeglejeg commented on #3758
Hello @paveltiunov! We understand that passing filter inside aggregation function is a design solution to allow making multiple measures call in one SQL.
Currently, I don't have an elegant solution for this problem, potentially subselecting might be helpful in this case, but always inefficient compared to agg(CASE ... END)

[2021-12-02 09:17] igorlukanin commented on #3757
@ThomasKientz Thanks for the question. Let's continue our conversation in Slack (https://cube-js.slack.com/archives/CC0403RRR/p1638364226415300). We'll post the solution here when it's resolved.

[2021-12-02 12:18] vasilev-alex commented on #3757
@ThomasKientz looks like it's not possible to achieve this in Vue as `QueryBuilder` always uses `QueryRenderer` behind the scenes which loads the query on every change.

https://github.com/cube-js/cube.js/blob/1bafff4f79a37acd67460afe78df4305c43a9638/packages/cubejs-client-vue/src/QueryBuilder.js#L237

We may need to refactor the client-vue a bit, to allow use QueryBuilder on it's own.

Please, le

[2021-12-02 12:30] rongfengliang opened #3759 "Remove cube.js jdbc driver outside core or Make it as optional"
**Is your feature request related to a problem? Please describe.**

current if we  want to build cube.js npm  package from source code is too  difficult  (should use node with java devel )

**Describe the solution you'd like**

Remove  JDBC driver outside core or Make it as optional

[2021-12-02 17:50] sourav-jha commented on #3716
@paveltiunov kindly reply

[2021-12-02 18:16] MarkGStacey commented on #3752
This would be fantastic. Implementing an ODBO connector that allows Excel to connect as if to a traditional OLAP or SSAS source would be wonderful.
I had on my radar possibly re-implementing an open source Mondrian ODBO connector to connect to cube, but hasn't made it to the top of my list yet

https://github.com/zhifac/xmlaconnect

[2021-12-03 08:00] igorlukanin commented on #3448
@paveltiunov It seems like two more users reported the same issue on our Slack recently: https://cube-js.slack.com/archives/CC0403RRR/p1638384980423100

[2021-12-03 13:15] slemekhov opened #3764 "Funnels: add sorting by steps order"
Currently funnels return results in unspecified order. Clients generally prefer to show results in accordance with steps order defined in the data schema. This is not currently possible without workarounds.

It would be nice to have a way to define sorting as 'steps ordering' and may be 'steps backwards ordering'.
Funnels are most useful with natural steps ordering so this option should probably b

[2021-12-03 14:05] ivan-vdovin commented on #3692
Hi, @wenerme !
Actually, what you are looking for looks like [one of our examples.](https://cube.dev/docs/schema/advanced/polymorphic-cubes). Try to add CalleeUsers and CallerUser with your conditions instead of ones from example.
Take a look there and let me know if it's helpful.

[2021-12-03 16:27] ThomasKientz commented on #3757
@vasilev-alex I will submit a PR

[2021-12-03 16:44] wenerme commented on #3692
Hi, @ivan-vdovin

Join table twice I mean

[code]

Both of caller_object_id, callee_object_id are reference the user, no polymorphic and condition here, both id maybe the same.

[2021-12-04 05:46] paveltiunov commented on #3716
@sourav-jha There's no straightforward way to support geo-filters. The workaround is to have `longitude` and `latitude` dimensions and use `gt` `lt` filters and `FILTER_PARAMS` to extract information about the center as following:
[code]

[2021-12-04 05:51] paveltiunov commented on #3746
Let's move this thread to #3716.

[2021-12-04 05:51] #3746 closed

[2021-12-04 15:27] ivan-vdovin commented on #3692
@wenerme
If you just want to know if you can join a table with several other ones then it's definitely possible. Take a look at the example below:

`cube(`Products`, {
  sql: `SELECT * FROM public.products`,
  preAggregations: {
    ...
  },
  joins: {
    ProductCategories: {
      sql: `${CUBE}.product_category_id = ${ProductCategories}.id`,
      relationship: `belongsTo`
    },
    Suppliers:

[2021-12-06 09:50] igorlukanin commented on #3764
Hey @slemekhov 👋 Thanks for this proposal. I think it would be really nice to have such a feature, and I'd love to see a community contribution.

IMO, one way to implement ordering for funnels is to add support for `meta` params in funnels. This way, you’ll be able to provide arbitrary info, e.g., step ordering, in the [meta payload](https://cube.dev/docs/schema/reference/dimensions#meta).

[2021-12-06 09:53] igorlukanin commented on #3759
Hey @rongfengliang 👋 Thanks for the suggestion. Let me tag @paveltiunov to explore his perspective on this.

[2021-12-06 11:13] ivan-vdovin commented on #3692
@wenerme
You should create two cubes from the same one to be able to do that. Here is an example:
`cube(`Users`, {
  sql: `
    SELECT 1 AS id, 'Alice' AS name UNION
    SELECT 2 AS id, 'Bob'   AS name UNION
    SELECT 3 AS id, 'Eva'   AS name UNION
    SELECT 4 AS id, 'Mike'  AS name
  `,

  dimensions: {
    id: {
      sql: `id`,
      type: `number`,
      primaryKey: true
    },

    name: {

[2021-12-06 21:22] antoninkrotky opened #3777 "CubeStore: wrong query result when filtering two left-joined tables"
**Describe the bug**
CubeStore returns wrong result set when filtering on two left-joined tables.

**To Reproduce**
[code]

The example above is enough to reproduce this bug. To give a full picture - we found this bug when joining 3 tables but then were able to simplify the scenario. Add this code to see our original scenario:
[code]

**Expected behavior**
0 rows returned

**Screenshots**
None

**

[2021-12-07 09:31] wenerme commented on #3692
@ivan-vdovin Thanks, this is what I do

[code]

But looking for a better solution, because one table may join same table four or five times, hope support something like this

[code]

[2021-12-07 10:41] igorlukanin commented on #3586
@bgiles28 Thanks for reporting this! It definitely looks like a defect in the implementation. I've assigned this to @paveltiunov, so let's expect this to be fixed sometime soon.

[2021-12-07 10:54] igorlukanin commented on #3586
@bgiles28 The current workaround is to use `days` or `weeks` instead of `months` or `years`. It's confirmed to work.

[2021-12-07 11:47] sourav-jha commented on #3716
@paveltiunov this worked can you point me to documentation of "FILTER_PARAMS"

[2021-12-07 12:11] sourav-jha commented on #3716
@paveltiunov is this below sql possible:
`select c1, c2 * user_input from t1` where c1 and c2 are columns of the table t1 and use_input is some dynamic value provided by user

[2021-12-08 07:52] kaja78 commented on #3777
See this comment in arrow-datafusion: https://github.com/apache/arrow-datafusion/pull/1339#issuecomment-982930856

[2021-12-09 04:10] paveltiunov commented on #3777
Hey @kaja78 ! Thanks for posting this comment! This is helpful. Yeah. It can be related to this optimization.

[2021-12-09 04:24] paveltiunov commented on #3764
Another way would be to add the Step Order dimension and sort on it in the query.

[2021-12-09 07:57] Pavel-Deryagin commented on #3690
@igorlukanin can you please help ?

[2021-12-09 11:36] igorlukanin commented on #3692
@wenerme It's a really interesting and clever idea to tell Cube the join target with an option, thank you! However, I'm not sure if this will allow to simplify the code, because you'll still need several join defintions, won't you?

[2021-12-09 13:27] anandbhaskaran opened #3792 "Sandbox in frontend documentation page not working as expected"
**Describe the bug**
The sandbox code on the frontend documentation page results in an error instead of visualizing the data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Frontend Documentation](https://cube.dev/docs/frontend-introduction/vue)
2. Scroll down to any of the examples built with Sandbox
4. See error -> `Could not find/install babel preset '@vue/app': Cannot find plugin

[2021-12-09 15:08] ethanve commented on #3611
@paveltiunov apologies for the late reply. I would initially test out merged cubes per model. That seems the most logical

[2021-12-09 15:48] wenerme commented on #3692
workaround

[code]

vs.

[code]

This is only for one entity, but there is more, different entity different relationship, cube like PhoneCallActivityCallerUsers, PhoneCallActivityCalleeUsers will not be reused.

Also, using different cube seems generate different rollup, waste storage.

[2021-12-09 17:46] kaja78 opened #3795 "Issues with countDistinct measures & segments in rollup pre-aggregations"
**Describe the bug**
External rollup pre-aggregations in CubeStore are used for count distinct measures & segments only when:
1) there is no dimension in rollup
2) there is only one segment in rollup

It fails in following cases:
1) Multiple segments are defined in rollup => rollup is not used for CubeJS query
2) One segment and one dimension is defined  in rollup => CubeJS query fails with "Error

[2021-12-10 09:35] ivan-vdovin commented on #3792
Hey @anandbhaskaran ! Thanks for posting this one! We know that some of them are not working. Will fix this soon.

[2021-12-10 11:55] igorlukanin commented on #3795
@kaja78 Would you mind doing a small experiment? I suggest removing segments from your cube definition and removing them from rollup definitions as well. You can replace them with "filters with a dimension that equals some value". Does this allow you to use the rollup?

[2021-12-10 13:26] anilb0stanci commented on #329
I can't create pre-aggregation tables for rollingwindow measure types using cube 0.28.64
Any updates regarding this?

[2021-12-10 17:00] kaja78 commented on #3795
With schema:
[code]
{
  "measures": [
    "Columns.distinctColumnNames"
  ],
  "timeDimensions": [],
  "segments": [],
  "filters": [
    {
      "member": "Columns.schema",
      "operator": "equals",
      "values": [
        "information_schema"
      ]
    }
  ],
  "order": {},
  "dimensions": []
}
[code]
{
  "measures": [
    "Columns.distinctColumnNames"
  ],
  "timeDimensions": [],
  "segme

[2021-12-10 17:12] louis-vincent1 opened #3799 "Post-process result-set result"
**Is your feature request related to a problem? Please describe.**
This issue has been opened in the past (Post processing results on server side #1286)
But the initial issuer rapidly changed is approach.

As for me, as a backend developer I would like to enhance/enrich ResultSet return by CubeJS (or by the cache).

I need to do more complex linear algebra operation over my ResultSet which require

[2021-12-12 19:41] #3757 closed

[2021-12-14 13:33] #2780 closed

[2021-12-14 14:02] ivan-vdovin commented on #3795
@kaja78

Yes, you definitely can do that.

As for the error, it looks weird. Could you, please, double-check and confirm that your schema is exactly the same as what you've posted here?

[2021-12-14 14:22] ivan-vdovin commented on #3799
@louis-vincent1
Thank you for your suggestion!
At the moment the best way to achieve that will be moving algorithms on the frontend side or adding a separate service. Also, you should better call your additional service directly which call cube so you don't have to resend unusable data.
Could you add some more details on your data and what operations you are interested in?

Adding @paveltiunov to

[2021-12-14 14:42] kaja78 commented on #3795
Confirming. You can easily test with Postgres. I intentionally demonstrated the issue on data dictionary table, so no extra DDL is needed to execute on Postgres...

It seems, that if external pre-aggregation can be used and we are filtering on column which is not included in resultset, CubeJS decides correctly to issue query against cubestore, but the SQL is generated like for source DB (source ta

[2021-12-14 15:17] louis-vincent1 commented on #3799
I actually call my service fine, I simply want my frontend to call cube and get the desired result, but with the lack of customizability in cube it forces me to complexifies my architecture.

IMO, the amount of work needed to create a service, test it and create the entire CI/CD makes no sense where I simply want to call a math library over my result set.

Looking in the source code of Cube I foun

[2021-12-14 22:56] rccoe commented on #640
Seconding this request - there should be an ability to pass filters into the query that are not also added to the WHERE clause.

[2021-12-15 14:07] System-Glitch commented on #3682
I will open a PR soon.

[2021-12-16 12:19] userashad commented on #177
I also need this feature.

[2021-12-17 08:00] #2799 closed

[2021-12-17 11:57] AndreasTA-AW commented on #3528
The SQL API looks really promising! I'm currently looking at different metric stores and this sounds promising. We are also using DBT and I saw that you had an issue to support DBT Metrics as well.

One question, if it's supposed to be a MySQL interface, why is it necessary to implement specific BI Tools? Is it because they all use some different specifics from the interface? So eventually the SQL

[2021-12-19 07:01] niramsellem opened #3827 "Missing Mapping of MSSQL for CubeStore"
**Is your feature request related to a problem? Please describe.**
i am getting this error on CubeCloud when trying to create pre-aggregation:
[code]
i am connected to mssql database and date columns are defined with datetime2.
after consulting on Slack it has been suggested that the mapping is missing on CubeStore

[2021-12-20 07:16] ivan-vdovin commented on #3827
Hi @niramsellem !
Thanks for posting this. Adding @ovr so he can take a look.

[2021-12-20 14:28] lrichomme opened #3831 "Adding session tokens and more flexibility to the AthenaDriver constructor"
**Is your feature request related to a problem? Please describe.**
I'm doing a project where I must use AWS session tokens and change the s3 output location per query (using driverFactory in the config file). And the current state of the Athena Driver doesn't support session tokens and uses only the env value CUBEJS_AWS_S3_OUTPUT_LOCATION for the output location.

**Describe the solution you'd lik

[2021-12-20 16:14] ivan-vdovin commented on #3831
@lrichomme
Thank you!
Let me add @ovr so he can take a look.

[2021-12-20 22:32] brian-petersen opened #3832 "Refreshed pre-aggregation table immediately deletes itself"
**Describe the bug**

Refreshed pre-aggregation table immediately deletes itself.

**To Reproduce**

I have not been able to reproduce the issue locally. The issue occurs in production on occasion. It seems to be sporadic and unpredictable.

**Expected behavior**

When a pre-aggregation table is refreshed, deprecate the old one and do not immediately orphan and delete the newly created pre-aggrega

[2021-12-21 02:46] paveltiunov commented on #3528
Hey @AndreasTA-AW ! It's a great question. It's indeed at the first sight we should be having the support of all tools once we implement it for the first one. The reality is we actually trying to mimic a subset of MySQL protocol, introspection queries, and SQL to pretend a MySQL database for BI tools being OLAP querying engine. And while we can do protocol and introspection mostly by spec, the SQL

[2021-12-21 03:05] paveltiunov commented on #3832
Hey @brian-petersen ! This is #1564. Please use Cube Store instead to avoid this issue.

[2021-12-21 03:05] #3832 closed

[2021-12-21 03:15] #3682 closed

[2021-12-21 04:03] brian-petersen commented on #1564
Perfect! We'll likely roll with using a `sqlAlias` for the time being. We have upgrading to Cube Store in our backlog.

[2021-12-21 04:03] brian-petersen commented on #3832
Perfect! We'll likely roll with using a sqlAlias for the time being. We have upgrading to Cube Store in our backlog.

[2021-12-21 04:07] paveltiunov commented on #3827
Hey @niramsellem ! It's indeed missing mapping. Looking forward to contributions here. Here's an example for MySQL https://github.com/cube-js/cube.js/blob/2124c5fafceb6875ff94402d9560f93593a487dc/packages/cubejs-mysql-driver/src/MySqlDriver.ts#L42.

[2021-12-21 10:24] lrichomme commented on #3831
I would like to work on this issue.

[2021-12-21 15:13] zaracooper opened #3834 "Compilation fails after adding CubejsClientModule to AppModule"
**Describe the bug**
When I try to add `CubejsClientModule` to the `AppModule` of a newly created bare Angular 12 app, I get this error:
[code]

**To Reproduce**
I followed the instructions exactly on the [ `@cubejs-client/ngx` documentation page.](https://cube.dev/docs/@cubejs-client-ngx#api)

**Expected behavior**
I expected the app to compile successfully after adding the `CubejsClientModule` i

[2021-12-22 09:29] ivan-vdovin commented on #3834
Hi @zaracooper !
Thanks for posting this. Let me add @hassankhan to take a look there.

[2021-12-22 11:10] wgalecki opened #3839 "Add option to set CUBEJS_ROLLUP_ONLY based on securityContext"
**Is your feature request related to a problem? Please describe.**
I have users with different permission levels accessing the cube.js API and would like to be able to let some of them query raw data while restricting others to only use preaggregated data.

**Describe the solution you'd like**
This would ideally happen in the `queryRewrite` method or some other hook that would have access to the `

[2021-12-22 12:15] ivan-vdovin commented on #3839
Hi @wgalecki !
Thanks for your feedback!

Right now it's hard for me to understand the whole situation.
Could you tell me a little more about your use case, please? What permission levels do you have? Why it's important for you to ignore preaggs for some of the users?

[2021-12-22 14:11] wgalecki commented on #3839
Hi 👋

The idea is not to skip preaggregations but to enable some users to query data whether it was preaggregated or not. While, at the same time prohibiting some users from querying data that has not been preaggregated. As an example, we have a database table that contains the last 12 months of data but querying it is expensive. We create a cube.js schema and use it to preaggregate the last 90 da

[2021-12-22 14:27] wgalecki commented on #3839
I think the solution that would require least effort and still enable query validation based on cube definition would be passing the cube metadata to `queryRewrite`, like so:
[code]
I can submit a PR if you're interested in this.

[2021-12-22 19:24] hassankhan commented on #3834
Hi @zaracooper :wave:

As a temporary workaround, could you set `skipLibCheck: true` in your `tsconfig.json`? I appreciate it's not ideal, but it should at least get you up and running for the meantime 👍

[2021-12-23 04:07] zaracooper commented on #3834
Thanks for the reply @hassankhan . I'll use the Cube REST API with a service instead. Thank you though.

[2021-12-23 09:24] shamil opened #3842 "`NODE_ENV` usage conflict when embedding into existing application"
**Problem**

We are embedding `cubejs` into our application using `@cubejs-backend/server-core`

Our application uses `NODE_ENV` to set the running env, and we have several environments. Currently `cubejs` requires `NODE_ENV` to be set to `production` in order to run in production mode. Our environments have different names than `production` which means we can't make `cubejs` run in production mod

[2021-12-23 10:51] ivan-vdovin commented on #3842
Hi @shamil!
As I know, the best practice for NODE_ENV var usage in Node apps is only to have production or development values:
https://nodejs.dev/learn/nodejs-the-difference-between-development-and-production
https://stackoverflow.com/questions/16978256/what-is-node-env-and-how-to-use-it-in-express

Then maybe it makes sense to use some other var for your multiple envs. Something like APP_ENV:
htt

[2021-12-24 13:03] andrew-musoke opened #3848 "Connecting cubestore to s3 storage failing for af-south-1 region"
**Describe the bug**
Followed [this](https://cube.dev/docs/caching/running-in-production) tutorial to deploy production CubeJS. When running cubestore as docker image and  the `CUBESTORE_S3_REGION` is set to `af-south-1`, the application will fail to start with below DNS error.

![image](https://user-images.githubusercontent.com/25344830/147354075-5771d793-b3fe-4aed-8ed4-9440be106566.png)

**To Re

[2021-12-24 13:53] ivan-vdovin commented on #3792
Fixed with [PR #3847](https://github.com/cube-js/cube.js/pull/3847)

[2021-12-24 13:53] #3792 closed

[2021-12-24 19:39] benswinburne commented on #1879
We just had the opposite here whereby if we query a cube and a preaggregation is hit, the numbers are numbers but if it hits Athena instead of a preaggregation it comes back as a string.

[2021-12-26 16:37] Korg95 commented on #690
Hi @klausb thanks for posting about this. I'm curious to implement my own Vertica driver as well and the fact you have attempted to do so gives me some confidence about giving it a go.

Are there any particular gotchas that you experienced that you would care to share?

[2021-12-27 05:59] krishna-fenixwork opened #3852 "@mapbox/node-pre-gyp not accessible from @cubejs-backend/native\n\nnpm ERR!"
So, I'm getting this error while deploying my project on firebase using firebase deploy command

[code]

As, I search and got the information that this mapbox package is internaly used by cube js. I tried deleting my package-lock.json file and re-installed the npm packages but still facing this issue. Can anyone help me reagarding that?

[2021-12-27 08:30] ivan-vdovin commented on #3852
Hi @krishna-fenixwork !
What's your node version?

[2021-12-27 08:47] danieka commented on #251
@paveltiunov Being able to override the 50000 limit on queries would be very useful for my use case. It's a sensible default, but it would be great to be able to configure it. Are you working on this, if not, would you consider merging a PR from me, if I find time to do it?

[2021-12-27 22:42] paveltiunov commented on #3848
Hey @andrew-musoke ! `af-south-1` isn't indeed on the list of regions https://github.com/durch/rust-s3/blob/75e2eb3dd9acfa5c1add4893ce64569dbac6d4f0/aws-region/src/region.rs#L98. However you can use `s3.af-south-1.amazonaws.com` as `CUBESTORE_S3_REGION` instead.

[2021-12-28 04:48] krishna-fenixwork commented on #3852
Node version - latest lts - 16
Npm version - 8.3.0

[2021-12-28 08:49] igorlukanin commented on #3602
Thanks @a2x. The demo is fixed now.

[2021-12-28 08:49] #3602 closed

[2021-12-29 11:52] igorlukanin commented on #3839
@wgalecki Could you please elaborate on this part?

What is the difference between user and admin permissions? Is it correct to assume that you'd like your users to have access to the last 90 days of data only?

[2021-12-29 17:54] benswinburne commented on #764
@hassankhan this no longer appears to be described in the pre-aggregations docs

[2021-12-29 20:24] StinsonZhao opened #3862 "How can I add callback for 'token issue'?"
If the token is expired, I will get an error with HTML message filled: `<span data-ansi-line="true"><span>Not authorized</span></span>`. I use `WebSocketTransport` and `QueryRenderer` in my react app.

The problem is: I need to handle the token-expired(or invalid) situation (maybe to renew a token or logout user). But I can not find any way except to use `error.toString().math(/Not\sauthorized/)`.

[2021-12-30 02:10] benswinburne commented on #764
Having also just tried to actually use this I got the below using  `image: cubejs/cube:v0.29.5-alpine`

[code]

[2021-12-30 03:17] manickaws opened #3863 "Timezone conversion not working for all the timezone which have minutes ( eg: Asia/Kolkata : +5:30)"
There is time conversion issue when you use SQL_UTILS.convertTz() to convert a datetime to a different time zone. The issue arises only when there are minutes in the GMT. Eg: When the datetime is converted to Asia/Kolkata time zone (+05:30) there is a mistake in the calculation where as if the GMT doesn't have any minutes as in Asia/Dubai(+04:00) or Asia/Singapore( +08:00)

To reproduce declare tw

[2021-12-30 13:03] openpim opened #3866 "Failed to create Vue dashboard app from playground"
**Describe the bug**
I was trying to create VUE dashboard app from playground and received an error.
I am using docker version cubejs/cube:latest with CUBEJS_CACHE_AND_QUEUE_DRIVER=memory

**To Reproduce**
Steps to reproduce the behavior:
1. Start docker image and try to create Vue dashboard app from playground

**Expected behavior**
Dashboard app must be created

**Screenshots**
I have such error

[2021-12-30 13:05] yosi-codefresh opened #3867 "Fallback when PreAggregation cache is not available"
**Problem**
My current architecture is BigQuery as a source database and postgres as pre aggregation database.
I'm trying to understand what happens when pre aggregations database is not available for any reason(e.g connection issues / database is down and so on).
will it give results from source database? will it return an error?
Currently i get an error when trying to run queries
**The Error fro

[2021-12-30 14:52] ivan-vdovin commented on #3862
Hi @StinsonZhao !
As far as I know, a good pattern is to refresh the token before it expires.
I mean usually, an application tracks the expiry time of the token on its own (e.g. JWT should have an exp timestamp). If the application detects the access token is about to be expired, it fetches as a new one from the server exchanging the refresh token.

Something like this:
1. Check the expiry timesta

[2022-01-03 07:43] wgalecki commented on #3839
@igorlukanin Exactly, I want users to be able to only query the last 90 days of data, which is preaggregated by cube.js. Admins should be able to query the full 12 months of data.

[2022-01-04 02:30] StinsonZhao commented on #3862
Hi @ivan-vdovin

Refreshing the token is a good practice. But sometimes we can't do this, for example,  if a user uses a token that expires in   24H, then he leaves away and returns back the next day (over 24h). So I should tell him his token is expired and redirect the page to the login page.

So if we can get a certain error or error code for token-expired(invalid) from the cubejs client, we can

[2022-01-04 05:32] paveltiunov commented on #3863
Hey @manickaws ! `SQL_UTILS.convertTz()` should not be used within the time dime dimension definition. Please see https://cube.dev/docs/schema/reference/cube#convert-tz.

[2022-01-04 05:55] meskill opened #3870 "Failed to create React dashboard app from template"
**Describe the bug**
Creating a new dashboard app generates a broken app inside `cubejs/cube:latest` image

**To Reproduce**
Steps to reproduce the behavior:
1. Start cubejs image in dev mode
2. Go to `localhost:4000` and try to create a new dashboard-app
3. After some time page will show the button `Start dashboard app` which in not loading

**Expected behavior**

**Screenshots**
I get this in lo

[2022-01-04 06:05] paveltiunov commented on #3862
Hey @StinsonZhao ! You can use `apiToken` function (https://cube.dev/docs/@cubejs-client-core#top) to check if it's expired and redirect the user or do any other action if necessary. You'd need to throw an error within this function which is probably not ideal. Another way would be to provide a special error class or properties which marks error as unauthorized. Curious what do you envision as an

[2022-01-04 06:12] manickaws commented on #3863
Hi @paveltiunov  , I didnt add the SQL_UTILS.convertTz() in the time dimension. I added in the dimension definition of the cube. Please see the attached screenshot below:
![image](https://user-images.githubusercontent.com/61773643/148016912-49f0744d-1acd-4b11-95aa-746125454626.png)

[2022-01-04 06:56] StinsonZhao commented on #3862
Hi @paveltiunov, if I use the `apiToken` function, I need to check it on the client-side(browser)  and I need some extra effort to prevent the token from being detected before each request (I do not want to parse jwt and check it every time). Now I use `error.toString().match(/Not\sauthorized/)`. It's not robust but efficient.

I think providing an error class or properties which marks error is a

[2022-01-04 19:39] emmanuel commented on #3032
Instead of using a temp table, what about using [the column information provided in the metadata outputted with `UNLOAD MANIFEST VERBOSE`](https://docs.aws.amazon.com/redshift/latest/dg/r_UNLOAD.html#unload-parameters)? I believe that will give equivalent (or at least sufficient) type information, without relying on a temp table (and `information_schema` query).

Side question: how would the temp

[2022-01-04 19:43] emmanuel commented on #3033
Also related to (possible duplicate of) #306

[2022-01-04 20:32] paveltiunov commented on #1624
`refreshKey` `every` checks were moved to Cube Store for evaluation.

[2022-01-04 20:32] #1624 closed

[2022-01-05 06:35] emmanuel opened #3876 "Use Redshift-appropriate query for information schema discovery"
**Describe the bug**

The `RedshiftDriver` class inherits `createSchemaIfNotExists()` from the `BaseDriver` class, by way of the `PostgresDriver` class.  The implementation of that method doesn't error on Redshift, but [it only returns results for schemas owned by the querying user](https://stackoverflow.com/a/49280051). This results in breakage when Cube.js accesses Redshift with credentials that

[2022-01-05 17:34] paveltiunov commented on #3876
Hey @emmanuel ! Thanks for posting this one! Do you think there's a SQL query that allows seeing schema is in place without ownership permission?

[2022-01-05 22:31] Saul-rec opened #3878 "Retrieve data from json document stored in mongoDB"
Hello everyone. I am currently developing an API that connects to cube.js to retrieve data from a java entity stored in mongodb in json format. The structure with which it is stored in mongo is as follows.
![image](https://user-images.githubusercontent.com/28061008/148295597-475f4e49-c484-4a19-a302-92175eca061c.png)

The mongo json representation:
[mongodb data.txt](https://github.com/cube-js/cube

[2022-01-05 23:57] paveltiunov commented on #3876
Nvm. I didn't notice the link to the PR.

[2022-01-06 10:11] FJancsi opened #3882 "Support subscriptions in the GraphQL API"
First of all big shout-out for the new GraphQL API support in Cube, with this we now have a single layer for both transactional and analytics APIs. (REST in peace).

But it would be really cool if we had a support for real-time queries with streaming results over GraphQL + websocket transport.

Possible solution would be to use:
[express graphql subscription support](https://github.com/graphql/exp

[2022-01-06 11:05] Hindls opened #3883 "filter returns "Invalid query format" error"
**Problem**

Hello,

Requesting the following filter throws this error :
`{"error":"Invalid query format: child \"filters\" fails because [\"filters\" at position 0 does not match any of the allowed types]"}
`
**Related Cube.js schema**
[code]
Please help 🙏

[2022-01-06 15:35] yosi-codefresh opened #3884 "BigQuery integer type is mapped to int4 in postgres rollup database"
**Describe the bug**
Using postgres as an external database
When creating a cube from source database BigQuery with a measure on column with type INTEGER a int column is
created in corresponding pre-aggregation table in postgres causing the refresh method to fail when measure is reaching behind INT32_MAX_VALUE (2,147,483,647) causing errors and making pre-aggregation unusable.

**To Reproduce**
St

[2022-01-06 16:21] parisholley opened #3885 "Misleading QueryBuilder documentation"
**Describe the bug**
https://cube.dev/docs/@cubejs-client-react#query-builder-props

The documentation states that the `query` prop is the "Default" query, implying that after the component has rendered, it will manage the state (eg: calling `updateMeasures.add()`), however, setting that prop actually turns it into an uncontrolled component and will only execute dryRuns. The documentation should s

[2022-01-06 22:02] paveltiunov commented on #3870
Hey @meskill ! It seems it's still unresolved here https://github.com/facebook/create-react-app/issues/11816. We depend on 4.0.3 of create-react-app and they broke the backward compatibility of the whole installation flow. Ideally, create-react-app should fix this as I believe releasing new versions shouldn't break old ones. Alternatively, we can upgrade create-react-app but it'll require all reac

[2022-01-06 22:05] paveltiunov commented on #3884
Hey @yosi-codefresh ! Postgres as an external database is no longer supported. Please consider using Cube Store.

[2022-01-06 22:14] mkherlakian opened #3887 "Hybrid view feeding from pre-aggregations and live data -- Lambda view"
**Is your feature request related to a problem? Please describe.**
Right now when querying for pre-aggregated data, we have to choose between performance and slightly stale data, or a slow query (no pre-aggregation) and live data. In some of our applications at Hoodkeck, we'd like to  have as up to date data as possible with no impact on performance since our webhook count is an important metric f

[2022-01-06 22:14] paveltiunov commented on #3878
Hey @Saul-rec ! Do you mean you want dynamically define schema based on the contents of your table?

[2022-01-07 02:46] #3883 closed

[2022-01-07 17:07] Saul-rec commented on #3878
Hello @paveltiunov !
Not really, I mean we have these three cubes: cube1 --> (`Data`, { ...}); // cube2 --> (`DataInvoicedocuments`, { ...}); and cube3 --> (`DataInvoicedocumentsMetadata`, { ...}); and we are able to get some data when we call a measure or dimension, but here is the thing. From cube2, cubejs can only access the id and accountNumber fields defined in invoicesDocuments node; from cu

[2022-01-07 19:43] stueccles commented on #3520
Any chance of getting this merged in? @gabri94 fix seems to work with Elastic Cloud which is running on 7.16

[2022-01-08 19:17] dlawrences opened #3892 "Support Power BI as an underlying Cube.js data source"
**Is your feature request related to a problem? Please describe.**
Cube.js supports a nice set of data sources thus far (traditional RDBMS systems, cloud data warehouses, MPP analytical services etc.), however I have been part of organisations trying to leverage Azure Analysis Services Tabular/Power BI Premium semantic models to create and extend much of the analytical logic that would be exposed

[2022-01-09 06:09] olejeglejeg commented on #3758
@paveltiunov What do you think about the suggestion above?

[2022-01-09 06:10] olejeglejeg commented on #3756
@paveltiunov Can somebody from Cube team give us advice on what we do wrong?

[2022-01-10 08:10] ranrao opened #3899 "Installation Error: Cube Store v0.29.18 Artifact for darwin is not found. Most probably it is still building."
As per documentation, when I execute the `cubejs-cli create` command, running into `@cubejs-backend/native` error. Please share any ideas on how to overcome the issue. Highly appreciate. Thank you.

[code]

Node version: v14.17.5

[2022-01-10 08:13] ranrao commented on #3713
I'm running into the same issue. Any ideas @enzo-pellegrini or @ovr? Thank you

[2022-01-10 08:16] ovr commented on #3713
@ranrao can you post an error message? Probably, it's not supported.  Thanks

[2022-01-10 08:19] ranrao commented on #3713
@ovr, thank you for your prompt response. Here is what my output. Appreciate any alternatives. Thanks so much

` ~w/Cube/ npx cubejs-cli create hello-world -d postgres
npx: installed 209 in 14.302s
- Creating project structure
- Installing server dependencies
npm WARN deprecated @hapi/joi@17.1.1: Switch to 'npm install joi'
npm WARN deprecated @hapi/address@4.1.0: Moved to 'npm install @sideway/a

[2022-01-10 08:21] #3899 closed

[2022-01-10 08:21] ranrao commented on #3899
Duplicate issue.

[2022-01-10 08:28] ovr commented on #3713
@ranrao Should be fixed now, can you try again? Thanks

[2022-01-10 08:32] ranrao commented on #3713
@ovr: It works now! Excellent! Thanks so much for the quick update. 🎉

[2022-01-10 11:25] leymytel opened #3901 "validatedQuery returns empty filters array"
**Describe the bug**
Using the QueryBuilder in a React project, the `validatedQuery` returns an empty filters array, even when the filters are valid.

**Expected behavior**
`validatedQuery` should return the filters as well.
**Screenshots**
![Screenshot from 2022-01-10 11-21-28](https://user-images.githubusercontent.com/38193378/148758294-bbcf403f-df35-4ff2-89b5-4bd6813e45f3.png)

**Version:**
"@c

[2022-01-10 13:36] Pavel-Deryagin opened #3903 "What is the best approach for handling two (or more) dimension cubes and two (or more) separate fact cubes for the reporting?"
Duplicate to https://github.com/cube-js/cube.js/issues/3690 because nobody answered/helped for almost 2 months.
**The problem**

Hi! In terms of cube joins what would be the best approach for handling two dimension cubes and two separate fact cubes ?
For example we have:

cube named Campaigns that has information on all of the campaigns. this cube is a dimension cube, because it has mostly descrip

[2022-01-10 14:15] vieira opened #3904 "CubeJS Server crashes with "terminating connection due to conflict with recovery" (PG read replica)"
**Describe the bug**
When using a PostgreSQL read replica as datasource, the Cube Server crashes when a running query is interrupted because there are pending WAL entries that conflict with the query for more than `max_standby_archive_delay` (or `max_standby_streaming_delay`) (both are 30s by default).

As per the documentation: "Note that `max_standby_archive_delay` is not the same as the maximum

[2022-01-10 17:11] rpaik opened #3906 "Epic: Connectors for additional BI tools"
Continue to provide SQL connectors for leading BI tools.

Work items include:

- [x] Add a connector for Metabase
- [x] Add a connector for Tableau
- [x] Add a connector for PowerBI
- [x] Add a connector for Excel
- [x] Add a connector for Google Datastudio
- [x] Add a connector for Google Sheets
- [x] Explore/prioritize opportunities for other BI tools

[2022-01-10 17:19] rpaik opened #3907 "Epic: Enable dbt integration"
Many Cube community members use [dbt](https://www.getdbt.com/) to transform their raw data and it would help to have dbt as a source of truth for Cube definitions.

- Relevant issue and discussions: https://github.com/cube-js/cube.js/issues/3611

[2022-01-11 00:51] paveltiunov commented on #3904
@vieira Hey Joao! Thanks for posting it! You should also try `hot_standby_feedback = on` or just avoid using standby replicas. Another way is to pre-aggregate these queries. Refresh scheduler has the retry logic built-in.

[2022-01-11 02:06] ranrao commented on #3870
@paveltiunov, any temporary workaround to resolve this issue? Problem still exists. Thank you

[2022-01-11 08:32] squidsoup opened #3908 "schemas ingested via repositoryFactory do not appear in the playground schemas tab"
**Describe the bug**
When implementing a custom `repositoryFactory` (e.g. my [s3 implementation](https://gist.github.com/squidsoup/e1b72eee20bfe92484f7f4b98db518da)), files ingested by cubejs do not appear under the schemas tab in the playground, although `measures` and `dimensions` appear as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement a custom `repositoryFactory` in

[2022-01-11 12:20] vieira commented on #3904
@paveltiunov: Hello Pavel! Thanks for the reply. We would like to avoid `hot_standby_feedback` because of the potential of delaying vacuum for some tuples and accumulating bloat in the master. I can try increasing the `max_standby_*_delay` further or even setting it to -1 as replication delays are not a big problem for this workload.

In any case, shouldn't cube handle this error (even if it is ju

[2022-01-11 14:17] nacmonad commented on #3028
Is there an alternative way to do this?
Running into reverse-proxy issue as a result of not being able to set a url path prefix.

Best

[2022-01-11 15:36] ovr commented on #3908
Hello @squidsoup ,

Can you verify that you've implemented the `dataSchemaFiles` method for your own repository class?

Thanks

[2022-01-12 01:20] #3540 closed

[2022-01-12 01:21] paveltiunov commented on #3471
Fixed in #3890

[2022-01-12 01:21] #3471 closed

[2022-01-12 07:35] squidsoup commented on #3908
@ovr yes, you can see that here https://gist.github.com/squidsoup/e1b72eee20bfe92484f7f4b98db518da#file-s3-repofactory-js-L61

[2022-01-13 08:00] saggarsunil commented on #3645
@paveltiunov Thanks for the update. Is the databricks-jdbc available for use now ?

[2022-01-13 08:42] peak-c opened #3926 "refresh schema"
**Problem**

Hello, how to modify the schema in the production environment, but do not need to restart

[2022-01-13 08:44] peak-c commented on #3926
@paveltiunov

[2022-01-14 02:54] peak-c opened #3935 "UpdateSchema But Do not Compile All Files"
**Problem**

Hello, my application needs to update the schema every query, but I find it very slow.

I found that the reason is that compile schema takes a long time. I found the source code compilerapi js -> PrepareCompiler. ts ->
DataSchemaCompiler. JS.
In the compile method, const toCompile is the entire schema.

From what angle should I solve this slow problem? How can I just compile the chang

[2022-01-14 07:32] paveltiunov commented on #3863
@manickaws Could you please share the query you send to the Cube API?

[2022-01-14 13:30] ivan-vdovin commented on #3926
Hi @peak-c !
You seem to be interested in a schemaVersion that you can use for dynamic schema generation:
[https://cube.dev/docs/schema/advanced/dynamic-schema-creation#usage-with-schema-version](https://cube.dev/docs/schema/advanced/dynamic-schema-creation#usage-with-schema-version)
You can update the schemaVersion from your endpoint to modify your schema on-the-fly.

[2022-01-14 14:16] klose4711 opened #3939 "count/sum measures with numeric filters not working"
**Describe the bug**
If filters are set with numerical values, then count and sum measures no longer return a value.
On the other hand, when filtering on string values, it works fine and the count and sum measures return the correct values.

**To Reproduce**
See example Cube schema: [cubeschema.json.txt](https://github.com/cube-js/cube.js/files/7870833/cubeschema.json.txt)

Running this query (e.g

[2022-01-14 19:13] ivan-vdovin commented on #3866
Hi @openpim !
Could you confirm that it is still relevant? We've fixed the dashboards couple of days ago.

[2022-01-17 02:32] peak-c commented on #3926
Hello, in fact, I didn't ask this question well. My real needs are like this. Can you help me have a look，Thank you very much .
And I don't know whether dynamic-schema-creation will trigger recompile schema, resulting in very slow

#3935

[2022-01-17 09:09] ivan-vdovin commented on #3935
@peak-c

What exactly do you mean by this? How much time does it take in your case?

[2022-01-17 09:10] ivan-vdovin commented on #3926
Ok, let's continue in the #3935 then.

[2022-01-17 09:20] peak-c commented on #3935
![image](https://user-images.githubusercontent.com/16895558/149741659-94cd312a-adf7-4d60-a995-70977c694481.png)

Compiling schema cost 10 seconds

DataSchemaCompiler. JS.

[2022-01-17 10:42] ivan-vdovin commented on #3892
Hi @dlawrences !
Thanks for posting this. Let me check the dev team's plans here.

[2022-01-17 12:15] ivan-vdovin commented on #3903
Hi @Pavel-Deryagin !
I'm sorry for that. The dev team was too busy working on new features and Cube Cloud lately. Let me close #3690 and continue here.

I think that it's a configuration issue. Are you sure that game_id and creative_id exist for all joined cubes?
Could you add a minimum working example so we can find what exactly goes wrong? E.g. define join between Campaigns and DailyEvents only

[2022-01-17 12:16] ivan-vdovin commented on #3690
Moved to #3903

[2022-01-17 12:16] #3690 closed

[2022-01-17 12:38] Pavel-Deryagin commented on #3903
Hi, @ivan-vdovin!
Thanks for reaching out. I am not sure that this is a configuration issue, because as I said we have a fact table (DailyEvents cube) with foreign keys to dimensions - in our case its campaigns and games. I want to analyze data from DailyEvents cube by Campaign and Game. I can't do it right now because there is no join between Campaigns and Games, which is logical because they are

[2022-01-17 12:48] Pavel-Deryagin commented on #3903
@ivan-vdovin:
"I think that it's a configuration issue. Are you sure that game_id and creative_id exist for all joined cubes?" - yes. we have two separate fact tables (two separate cubes with measures) that have different measures and different source tables. both of them have some of the same dimensions (e.g game and campaign).

[2022-01-17 13:12] ivan-vdovin commented on #3901
Hi @leymytel and thanks for the issue!
How did you manage to find this? How do you use validatedQuery in your app?

As far as I know, validatedQuery is for internal use only.
That could be confusing so we're going to add more details about this one in docs.

[2022-01-17 15:19] ivan-vdovin commented on #3882
Hi @FJancsi!
The dev team confirmed that it may be one of the upcoming features. Added to the backlog to keep it easier for them to track.
Thank you!

[2022-01-17 15:34] #3842 closed

[2022-01-17 23:26] tchell opened #3946 "pre-aggregations don't work with postgres enum types"
**Describe the bug**
I have a table where a column is restricted to a postgres enum type where the values are strings. In the Cube definition it works to define that column as a string dimension. However, when adding that dimension to a pre-aggregation cubejs complains with the error: `Unable to detect type for field "credential__status_type" with dataTypeID: 12345` (where 12345 is the enum ID).

[2022-01-18 08:02] FJancsi commented on #3882
Thank you @ivan-vdovin

[2022-01-19 10:12] amiya-elear opened #3954 "comparedaterange is not working in cubejs SDK API"
cubejs version: v0.29.20

 Comparedaterange is not working in cubejs SDK API

When I am using comparedaterange in cubejs query by doing postman call with  "queryType: multi" its working fine and able to get the appropriate data.

Postman API :

[code]

But when i am using qubejs SDK then I am not getting any option to pass "queryType: multi" can you guys help me how can I pass this option in cubej

[2022-01-20 13:52] #3946 closed

[2022-01-20 15:07] springyboy commented on #3035
I don't know if this is still an issue, but one solution is to provide the CubeJs config using a factory function.  So what we did (may not be correct) is rather than calling CubejsClientModule.forRoot(yourconfighere) which just return a module with providers, is to replace it with the following;

[code]

Our token is provided by an auth service, so that's a dependancy for the config provider.  Ou

[2022-01-20 15:55] springyboy opened #3961 "No way to handle cubejs.watch() errors in Angular"
**Describe the bug**
Errors are not propagated through the Observable returned via cubejs.watch()

**To Reproduce**
- Configure an Angular client that consumes the CubeJs client module
- Handle errors on the observable returned from watch() with an error handler (via pipe(catchError(...)) or subscribe({error:...}))
- Invoke a query on watch that causes an error in cubejs api (invalid join, etc)

*

[2022-01-20 17:19] javiramos1 opened #3962 "Cube.js with Redis IO library returns error during fail over."
**Describe the bug**

Cube.js with Redis IO library returns error during fail over.

**To Reproduce**
Steps to reproduce the behavior:

- Deploy Redis as a stateful set using sentinel, see: https://github.com/bitnami/charts/tree/master/bitnami/redis
- Connect Cube.js to redis using sentinel.
- Kill Master Pod.
- Wait few seconds for Sentinel to elect a new master.

**Expected behavior**

Expected

[2022-01-20 21:46] bong-sc opened #3964 "Couldn't query data by Quarter"
**Describe the bug**

Whenever, I’m trying to query data by “Quarter” in a time dimension with CubeJS Playground and I receive this error:

And per @ivan-vdovin , it's supposed to work. Slack: https://cube-js.slack.com/archives/CK1K6LWTF/p1642651434007500

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CubeJS Playground'
2. Select any measure, time dimension
3. Select by Quarter
4. Cl

[2022-01-21 07:57] peak-c commented on #3935
@ivan-vdovin
Hello, I have bypassed this problem in other ways (for example, controlling the number of compile files). I will close the problem.

Thank you.

[2022-01-21 07:57] #3935 closed

[2022-01-21 10:17] ivan-vdovin commented on #3939
Hi @klose4711 !
Actually what you see here is not a difference between num and string filtering but a diff between filters for measures and dimensions (sumOfTransferCostsBelowZero is a measure and assetCategory is a dimension):
https://cube.dev/docs/query-format#filtering-dimensions-vs-filtering-measures

it means that second example just showing that there is no data for your query:
<img width="1

[2022-01-21 11:30] shaikwasef opened #3970 "Pre-aggregations throws error with api request using time granularity "quarter""
I'm currently getting the following error while using pre-aggregations for my schemas when I use the quarter granularity in my CUBE-JS query .

`Error: Error: Internal: Execution error: Internal: Arrow error: External error: Arrow error: External error: Execution error: Unsupported date_trunc granularity: quarter`

P.S As discussed with the dev team on slack , this feature is currently not a part

[2022-01-22 15:19] PieterVanZyl-Dev commented on #3961
Currently the cubejs.load() returns errors with a catchError/Subscribe
This is probably just a missing implementation on the cubejs.watch() function

I've created a fix, please have a look and see if it's appropriate.

[2022-01-22 15:29] PieterVanZyl-Dev commented on #3848
Hey Andrew !
Great to see more adoptions of cube in the African Continent.

Have you tried pavel's suggestion, this bug seems to be in [ rust-s3](https://github.com/durch/rust-s3)

I created a [bug ](https://github.com/durch/rust-s3/issues/245)in rust-s3's repo

We can probably close this.

[2022-01-23 01:54] paveltiunov commented on #3964
Hey @bong-sc ! It's WIP #3285.

[2022-01-24 10:59] mklishevych opened #3976 "Extending default checkAuth"
**Problem**

I'm looking for an easy way to extend the default implementation of `checkAuth`. The idea is that on frontend side I'm passing an additional header param and on the backend side I need to validate this param against the JWT payload but only if the JWT validation succeeds. I don't see a way to do so without duplicating all the code that is there for validating of the JWT. Am I missing

[2022-01-24 12:41] matthieuCarlini commented on #3870
Hi, is there a way to bypass this issue ? Do you think this issue could be added at the roadmap ?
Tanks.

[2022-01-24 15:59] MarkGStacey commented on #3906
I'd heavily push for PowerBI, and then I'd also really like to see a cube Pivot table driver for Excel

[2022-01-24 16:10] ifokeev commented on #3906
+1 powerbi and tableau

[2022-01-24 20:57] hassankhan commented on #3682
Hi @System-Glitch :wave:

Thanks for reporting this - the issue seems to now have been resolved 👍

[2022-01-25 05:15] amiya-elear commented on #3954
Any update on this guys ?

[2022-01-25 11:41] revuwem opened #3981 "SQl generation regression"
**Describe the bug**
`Error: column "orders__amount" does not exist` at [react-dashboard](https://examples.cubecloud.dev/deployments/107) running on Cube Cloud

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [react-dashboard](https://examples.cubecloud.dev/deployments/107) playground
2. Select measures from Orders schema
3. Run query
4. See error

**Expected behavior**
A chart should b

[2022-01-25 13:50] JoeMoggridge opened #3982 "end dateRange time makes cube confused about preaggregations"
**Summary**
If I make a request for `{ ... , "dateRange": ["2022-01-26 10:00" , "2022-01-26"]}` then that works totally fine, it finds the relevant pre-aggregation no problem.
However, `{ ... , "dateRange": ["2022-01-26 10:00" , "2022-01-26 12:00"]}`  does not work. `{"error":"Error: No pre-aggregation exists for that query"}`.

This seems wrong: the preaggregation evidently does exist for the who

[2022-01-26 09:40] ivan-vdovin commented on #3982
Hi @JoeMoggridge and thanks for sharing!

I wonder what happens if you add buildRangeEnd like the following:
[code]

[2022-01-26 10:29] andrew-musoke commented on #3848
Hi @PieterVanZyl-Dev If we are successful with cube in prod, shall definitely start evangelizing it here :)

Just got a chance to try @paveltiunov work around but brings a different error. FYI upgraded to `v0.29.23`.

![image](https://user-images.githubusercontent.com/25344830/151146791-4e8aa81a-90e4-44a1-9a52-56890315bae6.png)

Thanks for raising the rust issue. Will follow up there.

[2022-01-26 15:36] JoeMoggridge commented on #3982
Hi @ivan-vdovin

Just tried that, unfortunately it makes no difference, I still receive the same error.

[2022-01-26 18:13] igorlukanin commented on #3982
@JoeMoggridge Could you please try moving this SQL expression for your time dimension (`(date + ((sp-1) * (INTERVAL '30 min')))`) to SELECT, aliasing it with AS, and referencing only the alias in the dimension definition?

[2022-01-26 19:13] rccoe opened #3992 "GraphQL - Authenticate without JWT for Introspection"
**Is your feature request related to a problem? Please describe.**
Problem: Want to enable machine-to-machine introspection of the CubeJS GraphQL generated API. Currently you must authenticate via JWT

**Describe the solution you'd like**
Allow for another way to authenticate with cubeJS to get the /meta data for the API

**Describe alternatives you've considered**
checkAuth() or checkSqlAuth() lo

[2022-01-27 11:24] JoeMoggridge commented on #3982
Hi @igorlukanin

Ok, so my cube schema now looks like this:

[code]

Unfortunately, that doesn't help, I still have the same error.

[2022-01-27 12:08] JoeMoggridge commented on #3982
Ahah, I think I have found a solution to this problem.

1. I set `CUBEJS_ROLLUP_ONLY=false`, in order to investigate.
2. I go to the cube playground, and request a range of days; this request (of course) succeeds.
3. I edit  the URL, so that its now requesting a range of times: `http://localhost:4000/#/build?query={%22measures%22:[%22Solar.forecast%22],%22timeDimensions%22:[{%22dimension%22:%22Sol

[2022-01-28 18:26] zsvoboda opened #3997 "CubeSQL date() function in WHERE clause"
Hi, I’m playing with the CubeSQL and Metabase. Everything works great except the Metabase Field Filters. Metabase generates the SQL below that works perfectly fine in MySQL but not in Cube:

[code]

Internal: User(“Wrong type of argument (date), must be DateLiteral, actual: Function { name: ObjectName([Ident { value: \“date\“, quote_style: None }]), args: [Unnamed(CompoundIdentifier([Ident { value

[2022-01-29 01:00] cristipp opened #3998 "run-scheduled-refresh REST endpoint returns error"
**Describe the bug**
On a fresh cubejs project, run-scheduled-refresh REST endpoint returns error

**To Reproduce**

[code]

**Expected behavior**

[code]

**Version:**

[code]

[2022-01-29 01:30] cristipp commented on #3998
Stack trace:

[code]

[2022-01-31 11:38] saggarsunil opened #4003 "Readonly build strategy for Snowflake database"
**Is your feature request related to a problem? Please describe.**
We have readonly access to snowflake database. While running pre-aggregations, we realised that it is failing to create a staging table on snowflake and it is because of access permission.

We only have read only database and can't create tables on snowflake. Please enable/support snowflake with readonly access

**Describe the solu

[2022-01-31 14:55] DraftProducts commented on #3866
Hi @ivan-vdovin, I confirm that it is still relevant.

I was trying to create the Vue dashboard app from playground too.
I am using docker version `cubejs/cube:latest` in docker-compose with no extra options.

[2022-02-01 07:23] ivan-vdovin commented on #3970
Hey @shaikwasef !
We have open PR for this one #3415 .

[2022-02-01 07:56] barkadron opened #4007 "TypeScript type for filters in Query are incorrect (cubejs-backend)"
**Describe the bug**
The [documentation](https://cube.dev/docs/query-format#boolean-logical-operators) says that Filters can contain `or` and `and` logical operators.
But the [QueryFilter](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-api-gateway/src/interfaces.ts#L7) interface used in the [Query](https://github.com/cube-js/cube.js/blob/054843533b2421d87874fa25adf3a94892f24bd4/pac

[2022-02-01 08:43] atishayjain opened #4008 "Inefficient Regular Expression Complexity in chalk/ansi-regex"
This is blocking.
https://github.com/advisories/GHSA-93q8-gq69-wqmw

[2022-02-01 17:20] #3970 closed

[2022-02-01 21:32] SimplyAtun opened #4015 "Ability to monitor the websocket status & last message"
Context: https://cube-js.slack.com/archives/CC0403RRR/p1642620249094800

When using the real-time websocket, there is no error handling available when the socket disconnects after the visual has been rendered. While the socket is disconnected, no new messages are published so rendered views will become stale without any error or update. Would like the ability to access the socket state (connected/

[2022-02-02 03:18] paveltiunov commented on #3611
We've merged the very first version of dbt integration. We ended up with a schema extension approach which can be used as follows:
[code]

With dbt cloud:
[code]

Looking forward to community feedback regarding API here! Work to be done is filters support and `schemaVersion` utils to support dynamic schema updates.

[2022-02-02 07:22] paveltiunov commented on #3981
Fixed in 0.29.23.

[2022-02-02 07:22] #3981 closed

[2022-02-02 07:24] paveltiunov commented on #3964
Fixed in #4011

[2022-02-02 07:24] #3964 closed

[2022-02-02 07:25] paveltiunov commented on #4015
Hey @SimplyAtun ! Thanks for posting this! I think it'd be indeed beneficial. I'm curious what API do you propose?

[2022-02-02 15:06] buntarb opened #4019 "Auto aliasing for generated SQL"
While generating the final SQL for the request to some cube, we are using SQL alias property to produce different types of SQL aliases (keys, joins, etc.), if specified, and underscored cube's name otherwise. In some cases, it could be a reason for such bugs: https://github.com/cube-js/cube.js/issues/3324.

Promoted solution: apply auto alias like "C1", "C2", ... "Cn" on each cube if its SQL alias

[2022-02-03 03:38] #3961 closed

[2022-02-03 03:39] #4007 closed

[2022-02-03 03:49] paveltiunov commented on #3982
Hey @JoeMoggridge! Please see this doc section, the item which describes date ranges https://cube.dev/docs/caching/pre-aggregations/getting-started#ensuring-pre-aggregations-are-targeted-by-queries-selecting-the-pre-aggregation. All Cube ranges are inclusive so you should always pass minus one millisecond.

It's indeed a tricky thing. We're considering supporting open date ranges and maybe even ma

[2022-02-03 10:24] #1348 closed

[2022-02-03 16:58] JoeMoggridge opened #4027 "Preaggregation changes the result"
**Describe the bug**
Without preaggreaggregation, the values match those from the database. With preaggregation, they are slightly off.

**To reproduce**
Cube schema:
[code]

In both cases, I make the following query:
[code]

With the preaggregation commented out, this query works correctly, it returns numbers which match with those in the database.

With the preaggregation, the numbers returned t

[2022-02-03 17:26] JoeMoggridge commented on #3982
Thanks for your input Pavel.
I agree that this is now more of a question than a bug.

**Documentation**
I do think that the current docs could be clearer. For example this line on the page you linked:

I read that, and I conclude:
_So, the time granularity has to be one step finer than the time range. Therefore, if I want to request a time range between say `today at noon` and `tomorrow at noon`,

[2022-02-03 18:44] ivan-vdovin opened #4038 "Improve rollup matching rules"
**Describe the bug**
Cube fails to recognize AggregatedPenalties as an additive measure because it has a quite complicated SQL expression in SQL.

**Schema example**

[code]

**Additional context**
https://cube-js.slack.com/archives/CC0403RRR/p1642769348139600

[2022-02-04 05:03] ArthurBaudry opened #4041 "Switch to official AWS SDK for S3 to support IMDSv2"
**Is your feature request related to a problem? Please describe.**
The dependency used for connecting to S3 in cube.js is https://github.com/durch/rust-s3. It only supports IMDSv1 which is insecure and sometimes banned globally for some organisation. IMDSv2 is the secure replacement and isn't supported by `rust-s3`. As a result, cube.js running in AWS on EC2 (the problem may extend to anything AWS

[2022-02-07 05:10] paveltiunov commented on #4027
Hey @JoeMoggridge ! Could you please enable `CUBESTORE_LOG_LEVEL=trace` and share create table statement used to create a table in cube store?

[2022-02-07 15:43] Eywek opened #4051 "question: subquery aggregation"
**Problem**

I'm currently trying to do an average of the number of times an event is done by a user, which could translate in the following SQL:

[code]

And I have found a way (an easy one at least) to do this with CubeJS, I’m able to generate the subquery with CubeJS but I can’t figure how to do the AVG() on it. I’m using BigQuery if it matters.

Do you have any idea / lead on this?

Thank you

[2022-02-07 16:07] JoeMoggridge commented on #4027
So I've captured some logging, but I'm not sure whether I've succeeded in capturing the line you want.
Here's what I did:

1. Add the line `CUBESTORE_LOG_LEVEL=trace` to my docker-compose file.
2. Navigate to my local .cubestore directory. Delete that directory.
3. Start cube using `docker-compose up --build > MyFile.txt`
4. Go to the developer playground and make the same request as before.

[MyF

[2022-02-07 19:15] squidsoup opened #4053 "Support Suspense in cubejs-client-react"
It would be very useful for cubejs-client-react to support [suspense for data fetching](https://reactjs.org/docs/concurrent-mode-suspense.html). When building a dashboard, of multiple charts, instead of having to manage the loading of state of each distinct component, suspense support would allow the parent component to suspend with a loading indicator until all of the promises from children had r

[2022-02-08 04:42] shaikwasef opened #4055 "Pre-aggregations do not support bulky SQL expressions [MongoDB]"
I’m currently using CUBE-JS pre-aggregations for my data and I notice the following problem . When I do not use the filters in my CUBE-JS query , the pre aggregations work , however on using the filter with operator “set” on my two dimensions the pre aggregations are skipped .

The cited problem for this by @igorlukanin was this _"I think that Cube fails to recognize `AggregatedPenalties` as an ad

[2022-02-09 03:26] paveltiunov commented on #4038
Duplicate of #4055

[2022-02-09 03:26] #4038 closed

[2022-02-09 03:32] paveltiunov commented on #4027
@JoeMoggridge log level wasn't applied. What database do you use as a source of data? Also data schema, cube query, imported csv files and actual example of a discrepancy would be helpful here.

[2022-02-09 03:42] paveltiunov commented on #3982
@JoeMoggridge Trick is it's actually always `nextPeriod - 1 millisecond`. When I refer to open date ranges I mean half-open intervals https://en.wikipedia.org/wiki/Interval_(mathematics).

[2022-02-09 03:46] paveltiunov commented on #3904
@vieira What do you mean by crashes? Is the process exiting due to an unhandled error?

[2022-02-09 04:24] paveltiunov commented on #3878
@Saul-rec I guess you're looking for https://stackoverflow.com/questions/59826986/cube-js-how-to-join-two-tables-created-from-mongodb-arrays

[2022-02-09 04:29] paveltiunov commented on #2642
Implemented in #3738

[2022-02-09 04:29] #2642 closed

[2022-02-09 04:29] paveltiunov commented on #3372
Please see https://github.com/cube-js/cube.js/issues/3510#issuecomment-980786498 for related conversation.

[2022-02-09 04:30] #3372 closed

[2022-02-09 04:30] #3393 closed

[2022-02-09 04:33] #3496 closed

[2022-02-09 05:51] vieira commented on #3904
@paveltiunov yes, exactly.

[2022-02-09 11:45] johanjvrens commented on #3713
I get the exact same issue when I use npm _v16.13.2_ and add `CUBEJS_SQL_PORT=3306` to **.env** when I remove the aforementioned from the **.env** it works again.

`CUBEJS_SQL_PORT=3306` in **.env** works fine with  _v14.19.0_

Any ideas?

[2022-02-09 13:05] JoeMoggridge commented on #4027
I use a postgres database. Here is the table structure:
[code]
The data in the table contains the most recent 2 hours. A cron job updates it with new data, and deletes the old data.
[bmrs_freq_202202091303.csv](https://github.com/cube-js/cube.js/files/8032925/bmrs_freq_202202091303.csv)

Here is my docker compose file:
[code]
I don't understand why the log level wasn't applied, as you can see, its

[2022-02-10 10:57] JoeMoggridge commented on #4027
Ok, removed the `external: true` line from the cube, and hence I have been able to see the `create table` line in the log:

[code]

[2022-02-10 12:33] JoeMoggridge commented on #4027
Ok, I have another clue.
Without external preaggregation, (so with the preaggregation being stored in the source db) it all works correctly. It is only once I set `external:true`, that I start to see the problem.
That seems very wrong, surely where the preaggregation is stored should not affect its result?

[2022-02-12 12:51] frimuchkov opened #4079 "REGEXP_CONTAINS filter for BigQuery"
BigQuery provides a very useful feature: REGEXP_CONTAINS.
It can cover a lot of use cases for BigQuery users starting from RegExp-based dimensions to RegExp-based complicated filters.

[2022-02-14 10:06] Eywek commented on #4051
Using the `avg` measure leads to the following query:
[code]

Which isn't supported by bigquery (`aggregations of aggregations are not allowed`) and doesn't do what I expect (having an average of a count per user)

[2022-02-14 14:21] adnanrahic opened #4086 "Add FusionCharts code/config generation in Developer Playground"
**Is your feature request related to a problem? Please describe.**
When I use [FusionCharts](https://www.fusioncharts.com/), I need to write the code and config manually. The Developer Playground supports other charts like Chart.js, Recharts, etc, out of the box, but not FusionCharts.

<img width="500" alt="Screen Shot 2022-02-14 at 15 19 01" src="https://user-images.githubusercontent.com/15029531

[2022-02-14 20:51] shulmaneyal commented on #4051
Maybe by skipping the sub query you can get it to work? Calculating the below directly

count(events)/count(distinct user)

[2022-02-15 09:26] Eywek commented on #4051
Lgtm, thank you.

But out of curiosity, is my original query doable with Cube?

[2022-02-15 15:22] JaySunSyn opened #4091 "Hook to manipulate the response before it gets sent"
As a developer, I want to be able to control the API response of Cube before it gets sent to the frontend.
Especially, when it comes down to error messages, I want to be able to sanitize them.

Given a `400` error response:

[code]

leaks schema info from the DB to the frontend.

I'd like to sanitize those response messages without running Cube as an express app.

**Describe the solution you'd lik

[2022-02-15 16:24] ivan-vdovin commented on #3852
Have you tried with 14 version?

[2022-02-15 17:33] joealden commented on #960
@vasilev-alex do you have any thoughts regarding the initial mention of included polyfills (in this case, `cross-fetch`, `core-js` and `url-search-params-polyfill`)? In my personal opinion, this should be left up to the user (but likely noted in the relevant piece of documentation), as for example, my project only runs in the browser and has evergreen targets, so doesn't need either `cross-fetch`

[2022-02-16 07:06] paveltiunov commented on #3756
@olejeglejeg Please make sure `CUBEJS_EXTERNAL_DEFAULT` is set to `true`.

[2022-02-16 07:08] paveltiunov commented on #4091
Hey @JaySunSyn ! Do you want to rewrite errors coming from the database?

[2022-02-16 09:22] JaySunSyn commented on #4091
@paveltiunov

- I want to rewrite errors from coming from DB
- I want to rewrite response status codes coming from cube.js. E.g. What to do if a custom auth (via checkAuth()) failed. Right now, I can only throw an error which leads to a 500 instead of a 403/401 response.

[2022-02-17 12:57] pierre-H opened #4105 "tablePivot doesn't respect order"
I have a query with :
- a measure (a sum)
- a time dimension with a granularity (month)

Setting the order in the measure have an impact in the `rawData()` function of `resultSet` but not in the `tablePivot` with or without a `pivotConfig`.

[2022-02-17 15:26] JaySunSyn commented on #4091
Would maybe also solve this: https://github.com/cube-js/cube.js/issues/2368

[2022-02-17 19:10] JaySunSyn opened #4117 "BUG: Funnel generates wrong SQL when filtered by Cube query filter"
**Describe the bug**
In a given Cube funnel, I get different results for Conversions and Percentage measures.

Measure: Conversions
Dimension: Step

| Funnel Step Clicked | Funnel Step Logged in |
|---------------------|-----------------------|
| Funnel Conversions  | Funnel Conversions    |
| 1                   | 3                     |

Measure: Percentage
Dimension: Step

| Funnel Step Clicked

[2022-02-17 21:21] rccoe opened #4118 "Add ability to look at cube meta during queryRewrite"
**Is your feature request related to a problem? Please describe.**
When setting up row-level permissions, I want to make sure that any query on a cube with a tenant id dimension is re-written to filter for that tenant ID

**Describe the solution you'd like**
The queryRewrite function should be passed a parameter that lists out all cubes and allows to inspect the dimensions + measures on those cube

[2022-02-17 23:33] rccoe opened #4119 "Abstract Cube - DrillMembers Not Defined"
**Describe the bug**
When using abstract cubes
https://cube.dev/docs/schema/reference/cube#abstract-cubes
Getting an error that all drillMembers are "not defined"

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an abstract cube with a drillMember
2. Set up a cube that extends the abstract cube

You should get the compile error
<img width="1145" alt="Screen Shot 2022-02-17 at 6 31 56 P

[2022-02-18 08:19] ivan-vdovin commented on #4119
As I can see it can't work with a short-form reference and the cube name is required. Let me add these details to the docs.

[2022-02-18 20:58] reify-jeremy-fine opened #4124 "Query returning zero results returns one result when filter is added"
Given the schema in the first [join example here](https://cube.dev/docs/schema/fundamentals/joins). i'm trying to find out the best way to deal with a query that would just list order ids for a given user. eg:
[code]
This works fine except for the case of a user with no orders. instead of getting an empty list of results, i get a result that contains one element like {"Oder.id": null}. Looking at

[2022-02-20 17:21] asiri123 commented on #3496
@paveltiunov could you please suggest a working solution for this issue.

[2022-02-21 07:06] ivan-vdovin commented on #3903
@Pavel-Deryagin
There is typo in ${DailyEvents}.creative_d = ${Campaigns}.creative_id`
creative_d --> creative_id
Could you confirm it's correct in your schema?

[2022-02-21 07:10] Pavel-Deryagin commented on #3903
The typo is because I wrote it by hand here (not copy paste).

Yes, it is correct in our schema.

[2022-02-21 15:30] wenerme opened #4129 "Multi tenancy return other's data"
**Describe the bug**

setup cube multi tenancy like below, but seem's cube will return data for other datasource in first few request.

event, throw error in driverFactory, cube still return data for last request datasource.

1. request tenant A - return tenant A data
2. request tenant B - return tenant A data
3. request tenant B - return tenant B data - after several request
4. request tenant C -

[2022-02-21 16:41] #3901 closed

[2022-02-21 18:59] ivan-vdovin commented on #4129
Hi @wenerme !
What getTenantName(ctx) looks like here?

[2022-02-22 03:24] bong-sc opened #4131 "CubeStore couldn't delete metastore- files when subpath is empty"
**Describe the bug**
When `CUBESTORE_S3_SUB_PATH` is empty, CubeStore isn't able to list old `metastore-` directories. Therefore, it couldn't remove them from S3 or the local copy. This issue causes storage usage to grow constantly.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use S3 as the remote directory for CubeStore
2. Do not set value for `CUBESTORE_S3_SUB_PATH`
3. Notice that Cube

[2022-02-22 10:22] JaySunSyn opened #4133 "Dev server does not respect the CUBESTORE_DATA_DIR variable"
**Describe the bug**

It would be great if we could define the data path of where `cubejs-server` stores the pre-aggregation files.

[code]

does not work as `CUBESTORE_DATA_DIR` is a cube store env var I guess.

The pre-aggregation data is stored in `.cubestore/data` no matter the value of CUBESTORE_DATA_DIR.

**To Reproduce**
Steps to reproduce the behavior:
1. Run CUBESTORE_DATA_DIR=.cubestore/

[2022-02-22 10:57] wenerme commented on #4129
@ivan-vdovin

something like this

[code]

the tenant is detected from issuer host.

[2022-02-23 22:31] jsbrain opened #4136 "Make dashboard app port configurable"
https://github.com/cube-js/cube.js/blob/7d2cf5469ea62fe20f18fc60044e0fd88d233ecd/packages/cubejs-server-core/src/core/server.ts#L414

Apparently, the dashboard app port is hardcoded which is a bummer if one already has an app running on port `3000`.

Manually "hacking" the port in the `package.json` to `"react scripts start --port 3111"` does start the dashboard on the other port but the start com

[2022-02-23 22:32] jsbrain commented on #4136
Having `CUBEJS_DASHBOARD_APP_PORT` would be amazing and easy to implement (I think)?

[2022-02-23 22:57] jsbrain opened #4137 "Explicitly register Chart.js charts with react-chartjs-2 v4"
Generation of Chart.js dashboard from playground doesn't compile properly due to changes in `react-chartjs-2`.
As can be seen [here](https://github.com/reactchartjs/react-chartjs-2/releases/tag/v4.0.0), re-exports have been removed with v4 so moving forward charts must be registered explicitly.

**To Reproduce**
Start any example, create a dashboard with React and Chart.js from the playground and

[2022-02-24 21:06] louis-vincent1 opened #4138 "Support for self-join"
**Describe the solution you'd like**

I would like to be able to self join over a my cube

**Describe alternatives you've considered**

Aggregate everything inside an array_agg and call a custom SQL function:

“SELECT my_logic(array_agg(fields i need ...)) from my_table"

[2022-02-24 21:07] mlilius opened #4139 "Dremio driver does not accept CUBEJS_DB_NAME"
**Describe the bug**
The value of CUBEJS_DB_NAME is ignored. It defaults to 'default'. This causes an error if you don't have a default space defined in Dremio.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup dremio driver
2. Use a dremio server without a default space
3. Set the CUBEJS_DB_NAME environment variable to a space that does exist.
4. Error happens

**Expected behavior**
It

[2022-02-25 07:38] johanjvrens opened #4142 "Provide a way to set timezone via Cube SQL API call"
Thank you so much for the wonderful Cube product!
I know the Cube SQL API is currently in Preview and I really find it useful.

**Is your feature request related to a problem? Please describe.**
When running a query through Cube SQL API via MySQL-compatible SQL the generated REST API query is only run in UTC instead of my time zone

**Describe the solution you'd like**
A solution would be to have

[2022-02-25 11:16] johanjvrens commented on #3906
+1 Metabase

[2022-02-27 10:53] zemuldo commented on #2734
For me, was solved by mounting the same local path to the cube store instances running in my setup.

[2022-02-28 13:04] JaySunSyn commented on #4117
Hey @paveltiunov, any update on this?

[2022-02-28 13:42] kapilt commented on #2920
it would be nice to have some builtin in metrics exposed by cubejs components, ala prometheus or open telemetry support, rather than having to do direct code integrations/modifications to get observability.

[2022-03-01 04:09] paveltiunov commented on #4138
Hey @louis-vincent1 ! Self-joins are possible by introducing cubes with the same fact tables but different names. Could you please elaborate on your use case so we can guide you more precisely?

[2022-03-01 04:14] paveltiunov commented on #4139
Hey @mlilius ! Could you please provide an example of what configuration is provided and what doesn't work as expected?

[2022-03-01 04:22] paveltiunov commented on #4142
Hey @johanjvrens ! Thanks for the feedback! We're considering the support of time zones for Cube SQL API. Could you please elaborate on what tool do you use to connect to Cube SQL API and what is the use case for different time zones?

[2022-03-01 04:26] igorlukanin commented on #4137
@dangreen, could you please work with @vasilev-alex to fix this on Cube's side? I think we should update the code generation to Chart.js v3 and react-chartjs-2 v4. Possibly, fix the package versions, too.

[2022-03-01 04:47] paveltiunov commented on #4117
@JaySunSyn Hey Jalal! Could you please share a minimally reproducible Cube.js schema? You can use selects without tables for that as follows
[code]

[2022-03-01 04:54] paveltiunov commented on #3520
@stueccles @gabri94 We just need a PR here.

[2022-03-01 04:56] paveltiunov commented on #345
@SriSivaC Supported in Cube Store right now.

[2022-03-01 04:56] #345 closed

[2022-03-01 05:02] paveltiunov commented on #1022
@baldurgaldur This place for pre-aggregations was substantially reworked in the latest versions. Please let us know if it's still persists for you.

[2022-03-01 05:02] #1022 closed

[2022-03-01 05:04] paveltiunov commented on #1331
Should be fixed in the latest release.

[2022-03-01 05:04] #1331 closed

[2022-03-01 05:27] paveltiunov commented on #3583
@System-Glitch `COMPILE_CONTEXT` can be a workaround here in this case.

[2022-03-01 05:29] paveltiunov commented on #3336
@egorovd Please use non-avx docker image: https://hub.docker.com/r/cubejs/cubestore/tags?page=1&name=non-avx

[2022-03-01 05:29] #3336 closed

[2022-03-01 05:31] #3375 closed

[2022-03-01 07:18] johanjvrens commented on #4142
@paveltiunov Thank you for your prompt response.

I'm using Metabase and DBeaver locally to connect to cubejs via the SQL API we have Athena And Postgres Drivers setup.
We have some real-time queries like the Number of orders today these are run via Postgres and the number of orders for last year is run on Athena. Our timezone in South Africa is UTC + 2 so when data is binned per day the numbers a

[2022-03-01 13:36] hawkEye-01 opened #4156 "Casting Error while querying data through REST API"
Just started using Cube.JS and already enjoying it.
**Overview**:

      Querying Cube Js backend from an existing React app using REST Api.
      Data Source is Google Big Query
      the purpose is to run multiple queries at once Hence trying to use Data blending which requires granulaity.
      (Not very clear on Data blending concept and use)

Data Snippet:
![image](https://user-images.githubu

[2022-03-02 11:02] hawkEye-01 opened #4158 "How to send multiple queries at once to Cube.Js Backend through Rest Api??"
Hi,
Question:
I  need 40 calculated values for a graph I am creating in my current react app. what is am doing is reading queries from a file then sending those queries to  Cube.Js through REST API one by one ,then merging those values together in order to use them.
Is there any better way to achieve this in Cube.Js backend?

**Note**: kindly ignore the shortcomings since I am relatively new to JS

[2022-03-02 16:13] reify-thomas-smith opened #4160 "Mark Query type as deeply readonly"
**Is your feature request related to a problem? Please describe.**

I'm declaring queries `as const` to allow better type inference. However, this makes the query deeply `readonly`, and since the Query type doesn't specify `readonly`, it expects the query to be mutable. I assume that `useCubeQuery` and company don't actually mutate the query, and that they could be marked `readonly`.

Example:

[c

[2022-03-04 12:01] patelpriyankab opened #4171 "CubeJS timezone setting not working as expected"
Cube converts all time fields to UTC. How can we prevent this default setting or set timezone?
We are facing this issue when querying to snowflake and it works fine for redshift while using multitenancy.

Timezone conversion to UTC works fine with redshift. With snowflake it gives error.
So, when we try to use the generated query in snowflake, it shows synatx error as below:

```SQL compilation er

[2022-03-04 18:29] pranay317 opened #4173 "Throttle polling in cubejs - affecting the aws lambda costs due to limitation on athena concurrent query executions"
I am facing an issue regarding continuous polling by the cubejs-client. The full description of the issue is as follows -

We are using serverless flavour of cubejs with athena driver. Athena has a concurrent query execution limit it seems. So, while the athena queue is being processed, all the subsequent requests by other users are getting queued and getting continue wait responses. So the cubejs

[2022-03-05 03:49] shanewho commented on #4158
If it is time based you can potentially use data blending and send the queries as an array:
https://cube.dev/docs/schema/advanced/data-blending

[2022-03-07 13:59] hawkEye-01 commented on #4158
tried that! thanks! Although i am using dummy dates since i dont need to filter data on dates like so :
[code]
Any better way than this?

[2022-03-07 14:00] hawkEye-01 commented on #4156
https://github.com/cube-js/cube.js/issues/4158

[2022-03-07 14:00] #4156 closed

[2022-03-08 17:20] louis-vincent1 commented on #4138
@paveltiunov

Well the things is, I have to **filter** of a cubejs which is made of multiple joins.

Given the resulted **filtered** cube, I need to do further processing on it, for example do statistics over some column within the filtered cube columns.

What I need to is to do some sort of self-join over the cube with all its where clause in it.

Do you have any doc that shows an example of how

[2022-03-08 22:36] geastham commented on #3611
This is absolutely fantastic and very timely. Will be checking this out over the next few days!

[2022-03-09 20:54] reify-thomas-smith commented on #349
Currently, it doesn't look like it's possible to specify that a dimension or measure is an integer (versus a floating point number). As a result, it's not clear how `tablePivot()` would choose whether to produce a `Number` or a `BigInt`.

[2022-03-10 02:48] yudain commented on #3756
@paveltiunov We are facing the same error when Cube creates pre-aggregation. Also, I tried to set `CUBEJS_EXTERNAL_DEFAULT=true`  or `external: true` but it seems Cube doesn't recognize them. Cube continues to try creating a table on CH.

[2022-03-10 03:14] MRobertEvers opened #4198 "Leaking Promise In LocalQueueDriver"
**Describe the bug**
The LocalQueueDriver leaks `setTimeout` in a `Promise.race`.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `continueWaitTimeout` to a high number, 20+ seconds or so.
2. Make a `load` request to Cubejs
3. Call `shutdown` on the server.
4. Process runs until timeout ends.

**Expected behavior**
Timeout should be canceled if nothing is awaiting it.

In `LocalQueueDriv

[2022-03-10 08:37] roccamassi opened #4199 "Error The multi-part identifier "fact__X_key__dim__Y.Field" could not be bound."
When i create one complex query, i don t know because cubejs create one query and one another subquery in left join with first query, and after group by clausole is not correct and i receive this particular error.
Shema is:
![image](https://user-images.githubusercontent.com/17701523/157832762-3c318115-e1b2-4355-8eb6-6a887f677f2b.png)
i want to do one Sum of Amount in Fact_TaxMunicipality group by

[2022-03-10 15:29] reify-thomas-smith opened #4200 "Add a way to specify that a dimension/measure is an integer"
**Is your feature request related to a problem? Please describe.**
When I get results from `useCubeQuery`, I would like to automatically convert them to the proper data types — `number` or `bigint`. I would like to do this based on the defined schema. However, the schema does not provide that information.

**Describe the solution you'd like**
Either new values for `type` or (perhaps more practical

[2022-03-10 17:22] mrksoftware opened #4201 "Does cubejs support nested filters with and/or logic inside?"
**Problem**

Apparently, it is not possible to have such filter as described in this section of the docs: [Boolean logical operators](https://cube.dev/docs/query-format#boolean-logical-operators)
If we try to do that, on `Vue`, the result returned by the `query-builder` component totally delete the nested `and` section

**Object passed to the `setFilters` method**
[code]
As you can see, the struct

[2022-03-10 17:27] reify-thomas-smith opened #4202 "TypeScript type inference for query results"
**Is your feature request related to a problem? Please describe.**
Motivating example (which actually won't work due to #4160):

[code]

We can infer that the type of `results` is:

[code]

But `api.load()` is declared as returning `ResultSet<any>`.

**Describe the solution you'd like**

In the above example, `api.load` should return the more specific type. This would require some moderately cleve

[2022-03-11 06:34] nightbear1009 opened #4204 "how to pass securityContext with SQL API"
**Problem**

I am using mysql to connect to my cube, I am also using securityContext to manage multi-tenant, I would like to know is there anyway to pass securityConntext when using sql api?

**Related Cube.js schema**
[code]

[2022-03-11 17:41] ivan-vdovin commented on #4204
Hi @nightbear1009 !
You can use checkSqlAuth to do that:
https://cube.dev/docs/backend/sql#custom-authentication

[2022-03-13 15:27] abdel-87 commented on #3906
+1 google datastudio
+1 google sheets

[2022-03-14 12:41] myself7890 opened #4214 "ResultSet.totalRow returns the first row instead of total"
**Describe the bug**
When calling ResultSet.totalRow, I get the first data row instead of a row containing the totals.

**To Reproduce**
Call ResultSet.totalRow().

**Expected behavior**
Considering the name of the method, I expect the result to be a row containing the totals of each measure.

**Screenshots**
![image](https://user-images.githubusercontent.com/16654482/158173357-aa8c576e-0f87-4dfa-

[2022-03-14 16:03] lrichomme opened #4216 "Unable to override the credentials in AthenaDriver constructor to use session tokens"
**Describe the bug**
I must use session tokens for aws athena but since pr #4183 the credentials aren't overridden by the "...config" in the AthenaDriver.ts file. So if I try to use the driverFactory using custom credentials depending on which database I want to query I will have an aws error telling me that the session token is invalid.

**To Reproduce**
Use driverFactory in cube.js file to get a

[2022-03-14 22:50] apzeb opened #4221 "Athena pre-aggregations refresh uses incompatible date format"
**Describe the bug**
Incremental pre-aggregations with an update window generates errors due to the timestampz string.

**To Reproduce**
Steps to reproduce the behavior:
Create a cube with a partitioned incremental pre-aggregation that has an update window.

**Expected behavior**
Timestamp in refresh key is parsed using `from_iso8601_timestamp` instead of `CAST(? as timestamp)` or timestamp is sen

[2022-03-15 13:06] MasaNahti commented on #3546
Hello!

After getting to know Cube.js through Docker, dev mode and playground, connected to this dummy Postgres DB I have in a Docker dontainer as well, I wanted to start experimenting on data we keep in an Oracle database. I got the error above as well. I first thought that I perhaps needed the Oracle client installed or something but could not find it as a prerequisite with Cube.js. According to

[2022-03-16 08:39] HardRock4Life opened #4227 "Disable allowUngroupedWithoutPrimaryKey"
Error: Ungrouped query requires primary keys to be present in dimensions: 'column1.id'. Pass allowUngroupedWithoutPrimaryKey option to disable this check.

Excuse me if the question sounds silly, but where can I pass this option to disable the check?
Thank you!

[2022-03-17 07:59] iamvjperumal commented on #3645
s the databricks-jdbc available for use now ? @paveltiunov

[2022-03-19 02:16] AxiomaAbsurdo commented on #3496
Same issue with a MySQL database on AWS RDS instances.

[2022-03-20 00:04] manan-sc opened #4243 "Custom type `ltree` is not supported"
**Describe the bug**
The Postgress `ltree` type is not supported. I get the following error when trying to create pre-aggregations for a table that contains a column with the `ltree` type.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a schema with a dimension that maps to a `ltree` column in a Postgres database.
2. Start cubejs server
4. See aforementioned `Custom type 'ltr

[2022-03-21 04:24] shaikwasef opened #4245 "Join operation delivers null values - MongoDB"
I’m currently working on MongoDB and have the following issue w.r.t joins .
I have a collection ( say A) which has an array of grpIds , which can also be empty . On the other hand I have one more collection ( say B) which has documents containing grpId and grpName .
I created a join b/w these two schemas , Although , CUBE.Js does not throw any error , I receive null values  for the grpName and the

[2022-03-21 04:29] rcaught commented on #1013
@mkwatson thank you for this, invaluable.

[2022-03-21 09:45] HardRock4Life commented on #3448
I'm running into the same issue when building a query with a table that also contains 100k rows, just like at @PieterVanZyl-Dev.
First, the query runs fine, but when I refresh the page and try to build the same query once again, the error appears. The workaround with deleting `.cubestore` folder works, but lasts even less that an hour. Is it possible to increase a memory pool or add some function

[2022-03-21 13:10] HardRock4Life commented on #4227
In `cube.js` file in the project's instance.

[2022-03-21 13:10] #4227 closed

[2022-03-21 15:15] rongfengliang opened #4250 "Add odbc Driver support"
**Is your feature request related to a problem? Please describe.**

some database or query engine  (dremio) support queries with odbc  and has good performance

**Describe the solution you'd like**

maybe we can add one common odbc Driver .and  we can use it to write more  good  performance drivers

**Describe alternatives you've considered**

with can use [node-odbc ](https://github.com/markdiris

[2022-03-21 16:13] chuski1212 opened #4251 "There is any way to get data schemas in Cube.js config file?"
Just as the title says.

Thank you!

[2022-03-21 16:33] adnanrahic opened #4252 "Store pre-aggregations in a directory within an export bucket with the BigQuery driver"
**Is your feature request related to a problem? Please describe.**
I want to store pre-aggregations for different tenants in separate folders within the same export bucket.

**Describe the solution you'd like**
Maybe to have `CUBEJS_DB_EXPORT_BUCKET` changed to `CUBEJS_DB_EXPORT_PATH`, or at least have the semantic changes to support both plain buckets and `s3://...` or `gs://...` paths like boto/

[2022-03-22 06:54] PieterVanZyl-Dev commented on #3448
@HardRock4Life
I do have one alternative which does work better
Removing the preaggregations in your dev environment resolves this issue

If you don't want to delete .cubestore constantly I suggest removing pre aggregations on your dev enviroment.

[2022-03-22 12:43] ivan-vdovin commented on #4251
Hi @chuski1212 !
Could you describe your use case, please? I don't think it's a common question.

[2022-03-22 14:05] ShinyCoconut opened #4254 "Cube result is different than the SQL's one"
Hi, I have noticed a weird fact:
I have implemented a new Cube schema, according to the data below:

[code]

[code]

The filter function is horrible but it was the only way I found to be able to reference my PostgreSQL enum type "ETicketStatus" and it works.

The point is: every measure I use, with every time dimension, always returns 0 (zero), however, the own SQL query generated by Cube (verifie

[2022-03-23 16:24] paveltiunov commented on #4243
Hey @manan-sc ! `ltree` is indeed not supported by Cube Store. You can just cast `ltree` to `text`.

[2022-03-23 19:35] eawooten commented on #3442
Hi @EzraTsai. Were you ever able to get this issue resolved? I have had a similar issue recently.

[2022-03-23 19:54] brhelwig commented on #3442
I didn't dig into the issue enough to confirm this is the cause, but it seemed like when you're running in dev mode you can _only_ use the in-process memory store so configuring redis causes things to break.

[2022-03-23 21:58] eawooten commented on #3442
I was able to resolve my particular issue with process described in this other issue.
https://github.com/cube-js/cube.js/issues/2737

[2022-03-24 05:54] nightbear1009 commented on #4204
thanks,  but I have noticed that CUBEJS_SQL_USER can only allow one user, how can I config multiple user?

[2022-03-24 09:10] nightbear1009 commented on #4204
hi, seems that checkSqlAuth can also solve this problem. I have no further question. thanks~

[2022-03-24 09:10] #4204 closed

[2022-03-24 16:48] gabri94 opened #4263 "Recycle preaggregations for different timezone when granularity is <= 1h"
In order to use preaggregations with timezones we now need to specify in the configurations files a list of timezones for which cubejs generate the aggregations periodically. This makes sense when the granularity is larger than one hour, since the data might be different. However, when the granularity is one hour or less the UTC preaggregations could be used, just by shiftings the key by n-hours.

[2022-03-24 18:36] icebob opened #4264 "Enable personal token usage for CubeStore download script"
**Is your feature request related to a problem? Please describe.**
We have an issue on our CI pipeline when executing `yarn install` and randomly the installation failed due to Github API rate limit being exceeded. The octokit lib suggests using a personal token but we can't set it into download script.

**Describe the solution you'd like**
It would be good, if `download.ts` checks an (e.g.) `CUBE

[2022-03-25 09:27] AlbanCrepel commented on #3520
Any update on the PR @gabri94 ?

[2022-03-25 10:31] gabri94 commented on #3520
The fix is only partially working, so It doesn't make sense to merge it.

[2022-03-25 14:12] astorrs commented on #3906
An Excel pivot table driver would truly be next level. Almost nothing in the modern data stack is directly accessible from Excel (while being easy to use like a cube), yet Excel is the most common analytics tool in the world. If we want a headless BI tool that everything flows through  this is a must.

[2022-03-25 14:13] ack210 commented on #4171
We had a similar issue where date fields stored as UTC in the database were being converted to the local timezone, resulting in dates being off by 1 when running locally.  A workaround that helped us was setting the node environment variable `TZ` to UTC prior to server start, e.g.
[code]

Even easier, you can include this in your `.env` file with the other cube.js server settings.

[2022-03-25 19:49] tchell commented on #3477
Just wanted to follow up with something new that might make this a bit more important. If are joining the cube with another this will cause potentially undesirable behaviour. Every join in cubejs is done with a left join to allow null values to be included in the results. However, this behaviour does not allow that to happen because the second added clause will remove any null values. I'd argue th

[2022-03-26 07:05] prattcmp commented on #3525
+1

[2022-03-28 01:34] paveltiunov commented on #4173
@pranay317 I believe the only viable option is to use Cube Store pre-aggregations. You can indeed increase `continueWaitTimeout`, however, I wonder if it just worsens the situation.

[2022-03-28 01:51] paveltiunov commented on #4263
Hey @gabri94 ! Thanks for posting this one! Yeah, it's definitely a great feature to have not so easy to implement though. The thing is there're also half-hour timezones like India Standard Time. If we'll go further there're also different daylight-saving time advance clock dates. So it'll definitely be some accuracy trade-offs here.

Would love to hear community opinions and proposals on what opt

[2022-03-28 03:46] paveltiunov commented on #4214
@myself7890 Yep. It's indeed not ideal naming. Originally it was designed to access rows of single-row queries like total queries. So is your issue more around bad naming or rather totals row evaluation?

[2022-03-28 03:51] paveltiunov commented on #4254
@ShinyCoconut It'd be beneficial if you can share SQL that returns the correct result for you then it'd be much simpler advice on how to achieve the same result in Cube.

[2022-03-28 03:54] paveltiunov commented on #4202
Hey @reify-thomas-smith ! Do you mean some type of code generation that can provide result set types based on Cube Data Schema?

[2022-03-28 03:56] paveltiunov commented on #4199
Hey @roccamassi ! Cube Data schema and query would be really helpful here.

[2022-03-28 03:59] paveltiunov commented on #4129
@wenerme Queries you use would be really helpful here.

[2022-03-28 04:28] paveltiunov commented on #1828
`CUBEJS_ROLLUP_ONLY=true` should be used in order to solve this problem. Learn more here https://cube.dev/docs/caching/using-pre-aggregations#rollup-only-mode

[2022-03-28 04:28] #1828 closed

[2022-03-28 06:46] roccamassi commented on #4199
Ciao @paveltiunov , these are a cube in cubejs:

`
cube(`Dim_Campaign`, {
  sql: `SELECT * FROM dbo."Dim_Campaign"`,

  preAggregations: {
    // Pre-Aggregations definitions go here
    // Learn more here: https://cube.dev/docs/caching/pre-aggregations/getting-started
  },

  joins: {
  },

  measures: {},

  dimensions: {
    id: {
      sql: `${CUBE}."Id"`,
      type: `string`,
      primaryKe

[2022-03-28 06:59] icebob commented on #4264
I will work on a PR.

[2022-03-28 08:40] AMMJ93 commented on #3525
Downgrading security to make an app work is not a solution in my opinion. Has this been picked up? +1

[2022-03-28 12:38] myself7890 commented on #4214
There is no explanation in the documentation about what that method is doing, so I thought it was doing what it seems to be saying: returning a row containing the totals of all the measures.

Do you know another way to easily do that without having to resort to another query?

[2022-03-28 14:16] reify-thomas-smith commented on #4202
I mean declaring a more complex type for e.g. `useCubeQuery` so that TypeScript does all the work. Here's a slightly stripped-down version of the wrapper I'm currently using:

[code]

If you call one of these wrappers with a richly-typed query (e.g. defined using `as const`), then the `ResultSet` will have a type with a property for each dimension and measure in the query:

[code]

This definitely

[2022-03-28 23:09] paveltiunov commented on #4214
@myself7890 The only reliable way to do it is to do a separate query. Do you have any issues with that?

[2022-03-29 03:19] sambowenhughes opened #4277 "Is it possible to query the current year up until the current date"
**Problem**
We are trying to query using the Cube.js dateRange filter. We are able to use the following:

[code]

This gives us the current year but we don't want any dates in the future. What we seem to be getting back is the complete year.

**Question**
Is there a date range option that lets us query this year up until the current date?

e.g.

[code]

[2022-03-29 07:23] ivan-vdovin commented on #4138
Hi @louis-vincent1 !
Looks like `extends` feature can be helpful here:
[](https://cube.dev/docs/schema/advanced/extending-cubes#top)
[](https://cube.dev/docs/schema/advanced/polymorphic-cubes)

[2022-03-29 09:40] Pavel-Deryagin commented on #3903
Hi.
This is turning into a joke, honestly :D I've waited for a month on a response which pointed to a typo that wouldn't generate the error I was talking about. Now it has been way over a month since the last comment and still no resolution.

Any comments on that?

[2022-03-29 10:28] gabri94 commented on #4263
Hi @paveltiunov I wasn't aware of half-hour timezones. However, this could be implemented only on a subset of 'well-defined' timezones through the configuration files. I believe that most of the users are working on a small subset of TZs (UTC, CET, EST, PST, etc)

[2022-03-29 17:21] #4254 closed

[2022-03-29 17:26] ShinyCoconut commented on #4254
The SQL generated by Cube itself and shown in its terminal achieves the right result. It is present in the first message here.

[2022-03-30 13:12] louis-vincent1 commented on #4138
@ivan-vdovin
Well `extends` seems to copy the same exact same cube definition, but it does solve my problem where I need to do further processing over the ResultSet produce by the client's query.

Anyway I just gave up with this, Ill use my workaround...

[2022-03-31 09:09] mhd-adam opened #4293 "compareDateRange returns the data of only one range"
Cube version 0.29.31

**Problem**

We can use `compareDateRange` parameter in `timeDimension` to compare the measures in different date ranges. When I try it, the response has only one date range.

**Related Cube.js schema**
[code]

[code]

**HTTP request to cube API**
`/cubejs-api/v1/load?query={ "measures": [ "mycube.impressions"], "timeDimensions": [{ "dimension": "DimDate.date", "granularity":

[2022-03-31 09:22] mhd-adam commented on #3954
Hi @amiya-elear, I have just posted another question #4293. On my side, I see only the data of one date range, not both date ranges. I used exactly your query configuration but no luck. Am I missing something here? I expect to receive the data of the two date ranges in the `data` array

[2022-03-31 10:02] #4293 closed

[2022-03-31 10:37] JaySunSyn opened #4294 "Postgres `Array[]` fields in Cube"
**Problem**

How to deal with Postgres `Array[]` fields in Cube?

As Cube does not support array-type fields, unnesting seems to be the closest option. However, measures may get "wrong" values if not taking care of how pre-aggregations are defined and **ordered** within the schema.

**Right amount**

Below schema and query results in **1700** as a `totalAmount`

[code]

[code]

**Wrong amount**

B

[2022-03-31 17:57] ivan-vdovin commented on #4277
Hi @sambowenhughes !
Have you tried something like `from 12 months ago to now`:
[https://cube.dev/docs/query-format#time-dimensions-format](https://cube.dev/docs/query-format#time-dimensions-format)

[2022-03-31 19:46] rccoe commented on #4118
For example, 50% of my cubes have a field `tenantId` dimension that needs to always be filtered by the security context. Not all cubes have `tenantId`.

What I would like is to be able to, at query time, determine if any cubes being queried have a `tenantId` dimension and, if so, add a filter for it to match the `tenant-id` coming from the JWT/headers.

Example cubes
[code]

[code]

[code]

For th

[2022-04-01 04:34] sambowenhughes commented on #4277
That would work but it wouldn't give us the right result.

What we want is the start of the current year, up until today. What we have is a set of charts that need to be filtered by year this year, last year etc. The problem with filtering this year we only want the dates from the 1st of January 2022 up until the current date.

[2022-04-01 09:40] Eywek opened #4300 "question: join only first match"
**Problem**

Hello, I'm trying to use Cube.js to join 2 table, my issue is that when I do the join, we can have duplicated row. I probably need to use `ROW_NUMBER()` to ensure I get only 1 row, but I don't found how I can use it with cube.

**Related Cube.js schema**
[code]

I want to keep the WorkflowEvents join to use some dimensions from `WorkflowEvents` to filter on (and some from `Workflows`

[2022-04-01 09:54] MasaNahti commented on #3546
Hi,

I fixed this issue by adding the following lines to the [dockerfile](https://github.com/cube-js/cube.js/blob/master/packages/cubejs-docker/latest.Dockerfile) (on appropriate location) and building my own Cube.js image:

`WORKDIR /opt/oracle`

`RUN wget https://download.oracle.com/otn_software/linux/instantclient/instantclient-basiclite-linuxx64.zip && \
    unzip instantclient-basiclite-linux

[2022-04-01 17:15] ivan-vdovin commented on #4158
Hi @hawkEye-01,
Does it work for you?
Sending separate queries one by one and combining them on the front is totally fine and should not take a lot of time if you use pre-aggregations. The approach from the first comment is also great if applicable for your use case. As for the time dimensions they are optional so you can skip them if you don't need that. Please, let me know if I didn't get your q

[2022-04-01 17:26] #525 closed

[2022-04-02 17:29] paveltiunov commented on #4294
@JaySunSyn Hey Jalal! The solution is to have joined cube where unnesting is done which is joined to the same table using the primary key as follows:
[code]

[2022-04-02 17:37] paveltiunov commented on #4300
Hey @Eywek ! You get this duplication due to you actually have many-to-many relationship instead of belongs to from `PurchaseEvents` to `WorkflowEvents`. Please see https://cube.dev/docs/schema/fundamentals/joins#many-to-many-joins.

[2022-04-02 18:49] frimuchkov opened #4308 "Never resolved promises create memory leaks"
[code]
https://github.com/cube-js/cube.js/blob/e74d73c140f56e71a24c35a5f03e9af63022bced/packages/cubejs-client-core/src/index.js#L27

[2022-04-03 03:54] paveltiunov commented on #4263
@gabri94 Sounds good! That's however only one surface of that question. Another one is the clock's advance date. How do you propose to deal with differences in those? For example, it's March 27 for CET and March 13 for PST this year.

[2022-04-03 03:57] paveltiunov commented on #4202
@reify-thomas-smith I see. Yep. I think it'd be a great addition to the ResultSet types!

[2022-04-03 04:32] paveltiunov commented on #3903
Hey @Pavel-Deryagin ! I'm sorry to hear you've waited for so long. Our team tries to answer every community question as much as possible however it isn't always feasible to do it on time given the growing number of questions.

As far as I understand `SSPEvents` can belong to either game or campaign. Not to two of them for the same row? If it's the case you'd need to use data blending to make one s

[2022-04-04 05:53] Pavel-Deryagin commented on #3903
Hi, @paveltiunov.
Thanks for the info, however:
"As far as I understand SSPEvents can belong to either game or campaign. Not to two of them for the same row?" - It **can** belong to both of them for the same row (as in dimensional models where one fact table may reference multiple dimension tables).

Provided example of data blending is not a good solution for us as we have a lot of rows in each t

[2022-04-04 09:30] Eywek commented on #4300
I've tried to update `relationship` between `PurchaseEvents` and `PurchaseEvents` to `hasOne` and it didn't change anything. Did I miss something?

[2022-04-04 17:53] MekLoops opened #4317 "How can I monitor Cube.js with Datadog"
My company is looking to monitor Cube.js with Datadog. However, we can find documentation on how to configure it. Can you point me to the right direction?

[2022-04-04 20:29] ivan-vdovin commented on #4277
Got it, thanks! It makes sense but for now, an additional filter for your query (date < today's date) looks like the easiest workaround.

[2022-04-04 20:44] reify-thomas-smith commented on #4160
I would be interested in working on this issue (if/when Compliance gets back to me).

One thing I discovered when digging into the implementation is that both `load` and `subscribe` call `patchQueryInternal`, which modifies the passed query/queries in place. This behavior is not consistent with those functions accepting immutable Query objects. This could be easily fixed by creating a modified que

[2022-04-05 08:11] ivan-vdovin commented on #4317
Hi @MekLoops !
We don't have such an example for now. Would you be so kind to share additional details on what you would like to monitor except Cube API state and logs?
Perhaps you'd be interested in Cube Cloud as it provides some additional features such as email alerts, query tracing, performance monitoring for API instances and source database.

[2022-04-05 09:18] ivan-vdovin commented on #4137
@jsbrain could you confirm it's still relevant, please?

[2022-04-06 04:51] #4264 closed

[2022-04-06 07:46] fulmicoton opened #4331 "Documentation on implementing support for a new backend?"
Is there documentation somewhere on implementing a new backend?

I see SQL is used both for mongo, elastic and druid.
Is the use of SQL a necessity or would it have been possible to use a non-SQL API by implementing some kind of query builder?

If the latter is possible is there an example backend that does not rely on SQL?

[2022-04-06 12:28] hawkEye-01 commented on #4158
Hi @ivan-vdovin ,
data blending approach did work for me. and thankfully it s fast. I am able to get results for 60 queries or so in less than 5 seconds.
as for the dimensions:  I can't get data blending to work without mentioning granularity and for that i need to use time dimensions

[2022-04-06 12:28] #4158 closed

[2022-04-06 13:06] Eywek commented on #4300
So, I've updated to hasMany but I have the following dimension in my `PurchaseEvents` cube:

[code]

But I'm having the following error:

[code]

But from what I've seen on the documentation I can't use subqueries here since I don't use a measure from another cube

[2022-04-06 18:09] nholmes3 opened #4334 "Cube API and Refresh Worker use Instance Metadata for AWS Credentials like Cube Store does"
Right now it doesn't appear that the Cube API or Refresh Worker is capable of using AWS Instance Metadata to authenticate with AWS. However, the Cube Store containers already have this capability.

From a security and configuration management perspective, Role Based Access is greatly preferred over passing in long-term access credentials to the containers with environment variables. Is this alread

[2022-04-07 08:24] Eywek commented on #4300
So, I'm not having duplicated rows anymore when using `count` or `avg` thank you.

But, I have the following dimension on `WorkflowEvents`:
[code]

and when I use the following query:

[code]

I'm having events duplicated, because we have:

workflow_events__is_individualized | eventId
-- | --
true | cl1ep8frz00003k5mk41vexmz
true | cl1ep6y7k0000395mdmylvtmt
false | cl1ep3xju00003p645ks0ps74
true |

[2022-04-07 09:21] jsbrain commented on #4137
@ivan-vdovin have there been changes to the code generation?
If not, this will still be an issue I guess.

[2022-04-07 17:45] gedaaaa opened #4339 "Query result not cached."
**Problem**

I'm using cubejs with cube store, and I found that item count in Redis is not increasing.
If I change store to database internal, this count will increase very fast.
Is this intended or bug?

[2022-04-08 02:31] edy-enumo commented on #3954
I am getting the same problem. When I try multiple queries using compareDateRange I get all the data from my database instead of the selected date ranges.

[2022-04-08 11:20] ivan-vdovin commented on #4339
Hi @gedaaaa !
Could you please share your setup and steps to reproduce that?

[2022-04-08 13:31] mhd-adam commented on #2314
@igorlukanin I found the issue, you have to use REDIS_URL instead of CUBEJS_REDIS_URL in older versions

[2022-04-09 19:51] paveltiunov commented on #4339
Hey @gedaaaa ! This is correct behavior. Cube Store has its own query cache.

[2022-04-10 19:04] tacastillo opened #4358 "Metrics defined via dbt integration fail due to capitalization"
**Describe the bug**

_Environment_
* on the Cube.js playground, hosted locally in a Docker container
* Snowflake
* dbt

When using metrics defined in dbt and imported into Cube.js, Cube ingests and maps dbt's metrics to Cube's format well. However, when trying to fetch a metric in Cube, the query receives an invalid identifier error because Cube uses quoted identifiers to resolve database entitie

[2022-04-11 04:26] paveltiunov commented on #4358
@tacastillo Hey Tim! Thanks for posting this one! Would you mind sharing your `manifest.json`?

[2022-04-11 04:34] paveltiunov commented on #4277
@sambowenhughes Hey Sam! Have you tried `from jan 1 to now`?

[2022-04-11 04:35] #4243 closed

[2022-04-11 10:01] manan-sc opened #4359 "Join not working as expected in CubeStore"
**Describe the bug**
While joining across two different cubes and using filters, the CubeStore returns results that should not be part of the response. In essence, the JSON query and the SQL query that is seen in the playground are correct, but the results don't live up to that expectation.

FWIW, the `countryId` and `siteId` in `SiteMappings` cube follow a parent-child relationship.

**To Reprodu

[2022-04-11 22:43] bong-sc commented on #4359
Related to this https://github.com/cube-js/cube.js/issues/3777?

[2022-04-12 12:29] rccoe opened #4364 "Performance: Support Compound Primary Keys"
My use case has tables with natural compound primary keys, but cube only supports a single primary key. The recommendation is to concatenate the columns that make up the primary key into a single string. This kills performance especially when the SQL generated does a self-join of a cube back to its DISTINCT primary key. Performance can easily be 2-5x worse in that case in BigQuery, and 10-100x wor

[2022-04-12 13:08] rccoe opened #4365 "Ability to Reuse Join Code"
I would like to reuse code in cube via composition instead of inheritance, particularly around joins. If I have 5 different fact tables with `product_id` as a foreign key to 10 dimensions tables with `product_id`, the current state of cube requires that I write the code for all 50 joins, I can't reuse anything to just write the 10 dimensions joins and reuse them across the 5 fact tables.

For exam

[2022-04-12 17:55] reify-thomas-smith commented on #4202
I am interested in working on this issue, and it can be assigned to me.

[2022-04-12 18:03] reify-thomas-smith opened #4369 "Use tsd for type testing"
Issues #4160 (PR #4366) and #4202 involve changing some of the declared types in the API. To minimize the risk of regressions (i.e. type errors in code that previously did not produce them), it would be helpful to explicitly test API types. I'm testing out [tsd](https://github.com/SamVerschueren/tsd), and it seems to work quite well, but unfortunately I ran into dependency conflicts, and someone m

[2022-04-13 12:24] Eywek commented on #4300
Any idea @paveltiunov?

Thank you

[2022-04-13 12:33] MasaNahti opened #4373 "Date filter and time dimension not working in Oracle"
**Describe the bug**

I am using Cube.js with Docker in dev mode and testing it with our Oracle 12c database.
In Cube.js Playground, I can filter data with any dimension but the dimension of type _time_.
If I try filtering my data on time either through Time dimension (in the TIME section of the Playground's menu) or by adding date filter (in the FILTER section of the Playground's menu), I get two

[2022-04-13 14:46] MasaNahti opened #4374 "PreAggregations not working in Oracle"
**Describe the bug**
I am using Cube.js with Docker in dev mode and testing it with our Oracle 12g database.
In Cube.js Playground, I use "Add Rollup to Schema" to use PreAggregations.
After defining a PreAggregation like this, I run a query in the Playground that should hit PreAggregations. According to Cube logs, it does, but then it breaks with this issue which is also displayed in Playground:

[2022-04-13 17:14] JohnMwashuma opened #4376 "Athena Driver does not cast to float"
**Describe the bug**

Am getting an `unknown float type` error when I create the following measure and try querying a csv on amazon s3 using the Athena Driver. I tried updating the athena driver and cube js backend packages to recent versions and it's still failling.

**Dimensions**

[code]

**Measures**

[code]

**Generated SQL**

**NB:** I have replaced the actual values for `cube name` and `tab

[2022-04-13 17:33] mercer2000 opened #4377 "Directly edit query by editing Json query field."
In the playground area, I would like to be able to edit the Json query directly and then use the drop-down fields to make changes.

Sometimes I need to make changes to a query and often find myself having to rebuild the query using the drop downs. I would like to be able to paste the Json query and then make changes.

[2022-04-13 17:35] mercer2000 opened #4378 "Add support to rename the query tabs"
I would like to be able to edit the query tabs to make it easier to find the queries I am working on.

Currently, the query names are Query 1, Query 2, Query 3, etc. Being able to rename the query would make it easier to use the playground area when developing multiple queries.

[2022-04-13 21:49] #4364 closed

[2022-04-14 00:34] paveltiunov commented on #4376
Hey @JohnMwashuma ! It'd be beneficial if you can provide a full cube schema.

[2022-04-14 08:27] JohnMwashuma commented on #4376
@paveltiunov I have updated the issue with all the cube dimensions and measures

[2022-04-14 16:11] varun27896 opened #4384 "401 Status code for authentication"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Whenever I make a request with a stale token to any of the cubejs endpoints, the response is returned only as a message stating the following {'error' : 'Request failed with status code 401'}. This makes the error handling on the client sid

[2022-04-14 17:22] bryceredd opened #4387 "Graphql does not generate the same sql as an equivalent JSON query"
**Describe the bug**
We can build a query in the playground, and when we execute the query through the JSON API we can observe the generated sql (and it's correct), but when we click GraphiQL and execute it there the SQL is different and missing the time dimension in the WHERE clause.

**To Reproduce**
1. We build this query in playground:
[code]
The corresponding SQL output that executes looks li

[2022-04-15 04:20] paveltiunov commented on #4376
@JohnMwashuma `CAST(AS FLOAT)` indeed doesn't work in Athena. You may want to try `double` instead.

[2022-04-15 04:20] #4376 closed

[2022-04-15 05:44] paveltiunov commented on #4300
@Eywek For many-to-many relationships, you need 3 cubes instead of 2. Please see example in https://cube.dev/docs/schema/fundamentals/joins#many-to-many-joins.

[2022-04-15 17:09] emir-jdv opened #4397 "Limits on the Number of Cached Queries"
Is there any adverse impact on performance of scaling the number of cached queries? Assume that infrastructure scales accordingly.

I am trying to gauge a use case of serving potentially millions of cached queries. Cube seems to be ticking a lot of the boxes.

[2022-04-15 17:40] MarkLyck opened #4398 "graphQL does not use variables correctly"
**Describe the bug**
The cubejs graphQL endpoint does not seem to parse graphQL variables correctly?

If I make a hardcoded query to our cubejs graphQL endpoint like this:

[code]

It works with no issues and filters my data on `device_id` and returns 1 result (correct).

However, hardcoding filters like this is generally not best practice in GraphQL so naturally I want to make use of variables to

[2022-04-15 19:46] MarkLyck opened #4399 "graphQL schema does not let fields be nullable"
**Describe the bug**
While trying to switch from cubejs react client to using the graphQL endpoint instead I'm running into some issues with nullable fields.

In our cubejs schema we are setting the fields as "string" like this:

[code]

In our data source this can either be a String or null (empty).

and that works fine in the Cubejs React client. It does not complain if the response ends up bein

[2022-04-17 20:15] ivan-vdovin commented on #4124
Hi @reify-jeremy-fine ,
I can't reproduce that. Here is what I get:
`"data":[]`
Could you share the full response and your cube version, please?

[2022-04-18 14:42] ganeshmani commented on #4378
@paveltiunov can I work on this issue?

[2022-04-18 17:47] Lin-Aurora opened #4404 "Is there any development progress of add a connector for Metabase?"
Hello,
I would like to know whether add a connector for metabase is in development progress?
Thanks!

[2022-04-18 22:05] robd003 opened #4407 "Support arm64 Docker images"
I'd like to use Cube.js Docker images on my M1 Mac and also on AWS Graviton2 machines. Unfortunately it looks like only x86_64 images are available at the moment.

[2022-04-19 00:20] robd003 commented on #4407
If you guys are using GitHub actions to build your Docker images this is an easy way to do it:

[code]

[2022-04-19 00:37] #4407 closed

[2022-04-19 13:29] JaySunSyn commented on #4117
@paveltiunov

I have trouble getting correct values even without the join.

Below query results in 1 conversion even with a different user_id (1 vs. 5). It should be 0 conversions. What am I doing wrong?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/5872432/164014652-9923e1da-c66c-4e81-b976-a9562dc77285.png">

[code]

[2022-04-19 13:40] andrekiba commented on #438
Hello, any news about this? Is there a plan to support the possibility to influence the join path when more than one is possible?

[2022-04-19 13:45] JaySunSyn commented on #4117
[code]

**Correct**
<img width="1132" alt="image" src="https://user-images.githubusercontent.com/5872432/164017077-0399238c-f770-4691-9a8d-db5583451da1.png">

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/5872432/164017179-9c712efa-e4cf-4f23-bb72-17d4ba157651.png">

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/5872432/164017850-9eba64f

[2022-04-20 03:59] paveltiunov commented on #4398
@MarkLyck Hey Mark! I can confirm this one just wasn't implemented yet.

[2022-04-20 04:04] mr-m0nst3r opened #4414 "can't install cubejs with sqlite"
I'm new to cubejs, but attracted by the idea.

I have a sqlite database which is from one of my projects, but I'm just following the tutorial by issuing the following command:
[code]

and got the following error:
[code]

*
**Version:**
Don't know, because haven't got into the process of installing cubejs.

**Additional context**
apple silicon m1 mac.

[2022-04-20 09:46] ThomasKientz commented on #4201
Currently the Vue QueryBuilder components doesn't support nested boolean logical operators. I have submited a PR https://github.com/cube-js/cube.js/pull/4314 to fix this.

[2022-04-21 02:58] bong-sc opened #4418 "AthenaDriver returns an error when data result is empty"
**Describe the bug**

When we use `AthenaDriver` to build pre-aggregation data and one of the partitions has an empty data set, `AthenaDriver` will return an error:
[code]

Instead, `AthenaDriver` should skip unloading data if the data set is empty. The issue doesn't happen with `Redshift` as it's covered here https://github.com/cube-js/cube.js/blob/master/packages/cubejs-redshift-driver/src/Redsh

[2022-04-21 11:38] mr-m0nst3r commented on #4414
it's sqlite driver issue. closed

[2022-04-21 11:38] #4414 closed

[2022-04-22 10:24] Ranjith1022 opened #4429 "Cube.js Error"
Cube.js Error ---------------------------------------

Error: EEXIST: file already exists, mkdir '/root/.cubecloud'

[2022-04-22 12:54] ovr commented on #4404
Hello @Lin-Aurora ,

It worked with some limitations with [SQL API](https://cube.dev/docs/backend/sql) via MySQL protocol. Right now we are working on two big things for SQL API which should unblock it: A new query engine & PostgreSQL protocol support.

Thanks

[2022-04-22 15:25] ivan-vdovin commented on #4384
Hi @varun27896 !
It seems to be a duplicate of this one: [#833](https://github.com/cube-js/cube.js/issues/833)

[2022-04-22 15:28] ivan-vdovin commented on #4429
Hi @Ranjith1022 !
Could you add steps to reproduce that? A full error log should help, also.

[2022-04-22 15:36] MarkLyck commented on #4399
@paveltiunov I would probably argue this a `bug` and not just an "enhancement" given it's completely blocking being able to use the graphQL endpoint and it's not "intended" to block people from using it?

The simple short term fix here, is just to change the default from `String!` to `String` in the graphQL schema generator. That should be backwards compatible too.

Then you can call it an enhance

[2022-04-22 19:07] brhelwig opened #4434 "Add support for Google Workload Identity to Cube Store"
**Is your feature request related to a problem? Please describe.**
Cube Store currently supports only using a JSON service account credential for authenticating to Google Cloud Storage. Google [recommends against](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#workload_identity) using this method when possible for security hardening purposes.

**Describe the solution

[2022-04-22 19:47] Lin-Aurora commented on #4404
Thanks for your reply @ovr ,
Does this mean Metabase can only use REST API connections at present?
I refer to the [metabase-cubejs-driver](https://github.com/lili-data/metabase-cubejs-driver)

[2022-04-23 09:49] abdel-87 commented on #4404
@ovr why did Cubejs chose to mimic some SQL protocol instead of building connectors that generate JSON queries instead of SQL? IMO it would be much cleaner, then trying to mimic a SQL protocol

[2022-04-23 09:53] abdel-87 commented on #4404
By mimicing a SQL protocol, Cube JS would retrieve the SQL from the BI Tool, translate it to JSON and then translating it back to SQL? That naturally sounds as a big unnecessary workaround.

In the end Cube will anyway need to create and update all supported connectors, based on the updates of BI tools.

[2022-04-25 03:09] robd003 opened #4437 "Upgrade Docker image from Node 14 to Node 16"
**Problem**

I've had trouble building Cube.js on arm64 using the Docker image, but was able to build after upgrading the image from node14 to node16.

Is there any reason to use a soon to be out of date Node release? It'd be great to move to Node 16 which will be supported till Apr 2024.

[2022-04-25 15:23] #3939 closed

[2022-04-26 03:47] paveltiunov commented on #4404
@abdel-87 This is a great question! The reason for it is we're aiming for support of most downstream data tools out there. There're hundreds of those if not thousands. It'd be not feasible for us to implement integration with each of those however supporting a subset of Postgres Analytical SQL is doable and it can be done in a centralized manner for all tools altogether.

[2022-04-26 03:48] paveltiunov commented on #4397
@emir-jdv If you're looking to cache million of queries you most likely need to use pre-aggregations at that point.

[2022-04-26 03:51] paveltiunov commented on #4378
@ganeshmani Yep. Sure! It'd be great!

[2022-04-26 03:52] paveltiunov commented on #4399
@MarkLyck I agree it's a bug. Changed label.

[2022-04-26 03:52] #4339 closed

[2022-04-26 04:01] paveltiunov commented on #4365
Hey @rccoe ! It should work exactly as you described. Please find another one working example for your reference.
[code]

[2022-04-26 04:42] #4160 closed

[2022-04-26 07:55] #4429 closed

[2022-04-26 20:08] frimuchkov opened #4445 "BigQuery error with multiple primaryKeys: Error: Type not found: TEXT"
We found this error on v0.29.52 (tried to upgrade from v0.29.41), we use BQ driver

[code]

[2022-04-27 00:16] rccoe commented on #4118
Another example: I'd like to look at the `dataSource` field for cubes for the dimensions, measures, and filters that are passed at query time to manipulate the query

[2022-04-27 07:26] userashad opened #4449 "Case sensitive "contains" filter operator"
**Is your feature request related to a problem? Please describe.**
I let user search for words in his records and preview what has matched. So for example if he has a record with title of "Hello World" and he writes "world", Cubejs will return the record as it's case insensitive. However, after the user reviews returned records he can confirm selecting them, and this happens on my backend. By defi

[2022-04-28 13:02] chiragsrvstv opened #4454 "Incorrect results when querying a higher order granularity from pre-aggregations for a formula based additive measure"
**Describe the bug**
We’ve a pre-aggregation defined for a formula based additive measure that has granularity set to `hour`. When we query for a higher order granularity e.g., `day` cubejs seems to return incorrect additive measure results.

**To Reproduce**
1. Use the cube schema and pre-aggregations definition from **Minimally reproducible Cube Schema** section.
2. Consider using this mock data

[2022-04-28 21:14] paveltiunov commented on #4445
@rccoe You most probably have this issue as well.

[2022-04-29 10:40] ivan-vdovin commented on #4171
Hi @patelpriyankab !
Timezone usage in your schema file is incorrect. Shared docs page describe how this can be used in the query not in the cube definition.

[2022-04-29 10:44] ivan-vdovin commented on #4454
Hi @chiragsrvstv and thanks for posting this one!
Let me know if you were able to reproduce it Cloud. Sharing deployment where we can check that will be really helpful. Thanks!

[2022-04-29 10:45] #4384 closed

[2022-04-29 11:14] ivan-vdovin commented on #4245
Hi @shaikwasef !
Could you [sign up to Cube Cloud](https://cubecloud.dev/auth/signup) with a free plan and try to reproduce that, please? This can help us to look into it and get more details.

[2022-04-29 11:46] Ranjith1022 opened #4461 "I want to add one more tables in cube.js...?"
![image](https://user-images.githubusercontent.com/103019099/165938190-dc487356-fd40-408e-aa4e-4315ab6c4412.png)

[2022-04-29 11:48] ivan-vdovin commented on #4201
@ThomasKientz Should be fixed, right?

[2022-04-29 11:51] ThomasKientz commented on #4201
@ivan-vdovin PR https://github.com/cube-js/cube.js/pull/4314 has been merged, so it will be available in  in [next release](https://github.com/cube-js/cube.js/releases).

[2022-04-29 15:49] hobojoe commented on #663
No plans on this? Thanks!

[2022-04-29 16:03] ivan-vdovin commented on #4461
Hi @Ranjith1022 !
We don't have a handy way to do that for now but you should be able to add a new file to the schema folder and define your cubes there manually.

[2022-04-29 19:35] #4202 closed

[2022-04-29 19:38] #4221 closed

[2022-04-29 20:25] PieterVanZyl-Dev commented on #4214
We have a few places in frontend applications where we need something similar to this

We just take the cube resultSet data and use a util function that we create to do this for us.

We don't sum the totals of measures but it would be similar

[2022-04-29 20:35] reify-thomas-smith opened #4468 "Helper function to rename the keys in a record from Foo.bar → fooBar"
The data returned from Cube is an array of objects, whose keys are dimension and measure names. However, these keys are not JavaScript identifiers, which makes them awkward to work with:

[code]

To make this easier, I've written a helper function, `camelizeRecord`, that rewrites the key names:

[code]

The function is type safe, so if the type of `record` is inferred to be `{ "Site.name": string

[2022-04-29 21:29] reify-thomas-smith opened #4469 "An approach for automatic member type conversion"
Cube record values are often returned as strings. However, they often represent other data types, such as numbers, and in order to work with them it's usually necessary to convert them. But the Cube schema already contains information about the types of cube members — the `type` property, which is `"string" | "number" | "boolean" | "time"`.

#349 suggests accessing the Cube metadata in order to pe

[2022-05-01 05:52] tekumara opened #4472 "examples/github-commits-stats: Error: dbType is required option(s)"
**Describe the bug**

docker compose in [examples/github-commits-stats](https://github.com/cube-js/cube.js/tree/14715d2/examples/github-commits-stats) fails to start.

**To Reproduce**
[code]

**Version:**
Commit [14715d2](https://github.com/cube-js/cube.js/commit/14715d28d42355361b56eaec34aea13e1eb4df69)

[2022-05-02 00:30] bong-sc commented on #4131
The issue is fixed.

[2022-05-02 00:30] #4131 closed

[2022-05-02 00:35] bongnv opened #4473 "Randomly receive S3 error from CubeStore when building pre-aggregation data"
**Describe the bug**

When the refresh worker builds pre-aggregation data from source Athena and store them to CubeStore. We randomly receive the below error:

[code]

**To Reproduce**
1. Use Athena as the data source
2. Enable pre-aggregation & scheduled refresh workers
3. Receive AWS S3 error from CubeStore randomly

**Expected behavior**
There should be no error from CubeStore.

**Screenshots**

[2022-05-02 17:06] Perlence opened #4474 "Cube Store segfaults on M1"
The Cube Store executable bundled with the cubejs/cube image doesn't run on an Apple M1 machine. I'd like to run Cube in the development mode as a Docker container.

Steps to reproduce the behavior:

[code]

However, unpacking the executable fixes the issue:

[code]

**Version:**

- macOS v12.3.1
- Docker Desktop v4.6.1 with the new virtualization framework and VirtioFS
- Cube v0.29.53

[2022-05-02 18:57] #4397 closed

[2022-05-02 18:58] #4300 closed

[2022-05-02 18:58] #4294 closed

[2022-05-02 18:59] #4277 closed

[2022-05-02 19:01] paveltiunov commented on #4331
Hey @fulmicoton ! I guess https://github.com/cube-js/cube.js/blob/master/CONTRIBUTING.md#implementing-a-driver would be the right starting point.

[2022-05-02 19:01] #4331 closed

[2022-05-02 20:11] Perlence commented on #4474
Many thanks!

[2022-05-02 22:21] ryanpei opened #4480 "(feat) `sumTopX` / `countTopX` measures"
**Is your feature request related to a problem? Please describe.**

When there is a need to visualize something like the “top 10 accounts sales $ + all other accounts aggregated”, something like this could be handy.

For example, let’s say I have 10,000 customers, and I want to see sales revenue per month across all 10,000 customers for 3-5 years. This would lead to (10k*5*12) records in the resul

[2022-05-02 22:55] #4399 closed

[2022-05-03 12:53] ovr commented on #4474
Thank you @Perlence for bug reporting! You are right, something went wrong with UPX. It started to break the ELF binary format. As a Quick solution, I disabled it for now.

This fix will be in the next upcoming release.

[2022-05-03 16:29] ovr commented on #4474
Ok, I see. The latest release didn't bump the version of cubestore.

[2022-05-03 20:32] igorlukanin commented on #4480
Interesting suggestion!

I guess it's only true for the "single dimension with a single time dimension" case. What if we have more dimensions in the query? What would be the meaning of `topX` in that case and what would be the formula for the total number of rows in the result set?

Having said that, I wonder if the "alternative" way should be considered an "idiomatic" and recommended way for Cube

[2022-05-04 16:49] rccoe opened #4492 "Add renewQuery to GraphQL API"
**Is your feature request related to a problem? Please describe.**
Ability to use the `renewQuery` flag from the REST API in GraphQL

cube(renewQuery: Boolean)

[2022-05-04 18:40] rpaik opened #4493 "Epic: SQL API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad